<div class="events-list-container">
  <h3 class="text-center">
    Events
    <div class="border-underline"></div>
  </h3>


  <div class="text-center">
    <div id="event-categories-carousel" class="carousel slide event-categories-carousel">
      <app-horizontal-carousel>
      <div class="category-card d-inline-block mb-3" *ngFor="let category of eventsCategoryList">
        <a target="_self" [href]="baseUrl + '/events/' + city + '/' + category.name">
        <img class="category-img-top" src="{{ category.image_url}}" alt="Store image" />
        <div class="category-card-body p-1 text-center">
          <span class="category-card-txt category">{{ category.display_name }} </span>
        </div>
        <div *ngIf="category.name == activeTab" id="selected-category" class="underline"></div>
        </a>
      </div>
      </app-horizontal-carousel>
    </div>
  </div>

  <div class="events-cards">
    <div class="row">
      <!--div class="col-6 col-md-3">

        <form [formGroup]="form" (ngSubmit)="submit()">
            <label formArrayName="orders" *ngFor="let order of form.controls.orders.controls; let i = index">
              <input type="checkbox" [formControlName]="i">
              {{orders[i].name}}
            </label>
          
            <div *ngIf="!form.valid">At least one order must be selected</div>
            <button>submit</button>
          </form>
      </div-->
      <div class="col-md-12">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-4 mb-3" *ngFor="let events of eventsList">
            <a target="_self"
              [href]="baseUrl + '/event/' + events.target_audience_city + '/' + events.event_type + '/' + events.event_id + '/' + events.urlTitleName">
              <div class="card shadow" >
                <img class="card-img-top" [src]="events.primary_image_url" [alt]="events.title" style="background-image: url(https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/Ballari%2Fbg_mage.png?alt=media&token=1f2c0dab-ea87-4071-aa31-293b67427d19);width: 100%;
                  height: 200px; object-fit: initial" />
                <div class="card-body">
                  <div class="property_name">{{events.title}}</div>
                  <div class="property_desc">{{events.description}}</div>
                  <br />
                  <div class="property_locality">{{events.venue_name}}</div>
                </div>
              </div>
            </a>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="no-results-view" class="no-results" style="display: none;">
    No results to show ..
  </div>
</div>