@import "../../../variables.scss";
.events-list-container {
  margin: 16px;
  .event-categories-carousel {
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
    .category-card {
      cursor: pointer;
      margin-right: 32px;
      
      .category-card-body {
        .category-card-txt {
          font-size: 0.8rem;
          color: #333333;
        }
     }
  }
  .category-img-top {
    width: 40px;
    height: 40px;
  }

    .underline {
      width: 30px;
      height: 3px;
      padding: 0px;
      margin: 0px;
      background-color: $color-red;
    }
}
    .events-cards {
        margin-top: 25px;
    .card {
      cursor: pointer;
        font-size: 0.8rem;
        .card-body, .card-footer, .card-sub-body {
          padding: 0.6rem 0.75rem;
        }
        .property_name {
          font-size: 1rem;
          white-space: nowrap; 
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .property_desc {
          color:#616161;
          font-weight: 400;
          white-space: nowrap; 
          overflow: hidden;
          text-overflow: ellipsis;
        }
        
        .property_locality {
          color:#009788;
          font-size: 14px;
          font-weight: 500;
        }
        
        .card-sub-body {
          border-top: 1px solid $color-lite-grey;
          .offer {
            color: goldenrod;
            margin-right: 5px;
          }
        }
        .card-body {
          .status {
            color: $color-teal;
          }
        }
        .card-footer {
          background-color: $color-lite-grey;
          .subscriber {
            color: $color-teal;
          }
        }
      }
    }
      .no-results {
        text-align: center;
      }
}