<div class="stores-list-container mb-md-4 mb-3 main-container-width">

  <section class="row mb-2">
    <nav aria-label="breadcrumb" class="my-1">
      <ol class="breadcrumb bg-white py-0 mb-0 small-mob">
        <li class="breadcrumb-item">
          <i class="fa fa-caret-right" aria-hidden="true"></i>
          <a mat-button target="_self" [href]="baseUrl + '/' + city" class="bredcrumb-text">&nbsp;Home&nbsp;</a>
        </li>
        <li class="breadcrumb-item">
          <i class="fa fa-caret-right" aria-hidden="true"></i>
          <a class="bredcrumb-text" mat-button target="_self" [href]=prevPageUrl>
            &nbsp;{{prevPageName}}&nbsp;
          </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          <i class="fa fa-caret-right" aria-hidden="true"></i>
          <a mat-button class="bredcrumb-text">&nbsp;{{ displayName }}</a>
        </li>
      </ol>
    </nav>
  </section>

  <div class="row" *ngIf="showData">
    <div class="d-none d-sm-block col-sm-2 filter-container">
      <div class="filter-container__header py-2">
        <span>Filters</span>
        <a class="float-right clear-all" *ngIf="isAnyFilterSelected()" (click)="clearAllFilters()">Clear all</a>
      </div>
      <div class="filter-container__body">
        <div class="filter-container__body--filter-option">
          <h6>Market</h6>
          <ul class="list-unstyled text-truncate">
            <li *ngFor="let option of marketTypeFilterOptions">
              <mat-checkbox [(ngModel)]="option.value" (click)="filterChange.next()" color="warn"> {{option.label}} </mat-checkbox>
            </li>
          </ul>
        </div>
        <div class="filter-container__body--filter-option">
          <h6>Distance</h6>
          <ul class="list-unstyled text-truncate">
            <li *ngFor="let option of distanceFilterOptions">
              <mat-checkbox [(ngModel)]="option.value" (click)="filterChange.next()" color="warn"> {{option.label}} </mat-checkbox>
            </li>
          </ul>
        </div>
        <div class="filter-container__body--filter-option" *ngIf="showLocationFilter()">
          <h6>Location</h6>
          <ul class="list-unstyled text-truncate">
            <li *ngFor="let option of locationFilterOptions">
              <mat-checkbox [(ngModel)]="option.value" (click)="filterChange.next()" color="warn"> {{option.label}} </mat-checkbox>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-10">
      <div class="d-none d-sm-block col-sm-4 offset-sm-8 sorting-list-category">
        <mat-form-field>
          <mat-select [(ngModel)]="selectedSortOption" (selectionChange)="onSortOptionsChange($event)">
            <mat-option *ngFor="let option of storeSortOptions" [value]="option.value">
              <span>{{option.displayText}}</span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-12 small-mob">
        <p>(showing {{pageStart}} - {{pageEnd}} of {{totalItems}})</p>
        <div class="row" *ngIf="storeCompleteList && config">
          <div class="col-12 col-md-6 col-lg-4 mb-3 advertisement" *ngFor="let item of listAdvItems | paginate: config">
            <div class="card shadow">
              <a target="_self"
                [href]="baseUrl + '/business/' + item.business_city + '/' + item.business_id + '/'+ item.business_name">
                <img class="card-img-top" src="{{item.primary_image_url}}" style="background-image: url(https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/Ballari%2Fbg_mage.png?alt=media&token=1f2c0dab-ea87-4071-aa31-293b67427d19);width: 100%;
                    height: 200px; object-fit: cover" />
                <div class="card-body">
                  <h6 class="card-title mb-1 ellipsis">{{item.business_name}}</h6>
                  <p class="card-text mb-0">{{item.business_area}}</p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 mb-3 storeList" *ngFor="let store of storeCompleteList">
            <div class="card shadow h_1"  [ngClass]="{'offlineSet':store.show_offline==true}" (click)="onStoreClicked(store)">
                <div class="card-img-wrapper">
                  <img class="card-img-top" src="{{store.primary_image_url}}" />
                  <div class="deal mobile-view" (click)="showDealTemplate(dealDetails,store, $event)">
                    <span>Get Best Deal</span>
                  </div>
                  <!-- <div class="offline-wrapper m-0 p-1" *ngIf="store.show_offline">
                    <span class="text-center">Currently not accepting orders</span>
                  </div> -->
                </div>
                <div class="card-body">
                  <h6 class="card-title m-0 p-0 ellipsis" [ngClass]="{'c_set':store.show_offline==true}">{{store.business_name}}</h6>
                  <p class="card-text m-0 p-0 location">
                    {{store.business_area}}
                  </p>
                  <div class="text-center d-sm-inline-block offer-wrapper mobile-hide" *ngIf="store.number_of_offers > 0">
                    <img src="../../../assets/images/offer_listing_icon.png" class="loc-time mr-1" />
                    <span class="data text-center" >{{store.number_of_offers}}&nbsp;Offers available</span>
                  </div>
                  <div class="text-center d-sm-inline-block offer-wrapper mobile-hide" *ngIf="store.number_of_offers == 0">
                    <span class="data text-center">&nbsp;</span>
                  </div>
                  <div class="d-block mobile-custom-view">
                    <div class="icons d-flex">
                      <div class="text-center icon-option">
                        <img src="../../../assets/star.png" class="loc-time text-center" />
                        <span class="data" [ngClass]="{'c_set':store.show_offline==true}">{{store.rating_display_number}}</span>
                        <span class="description">{{store.rating_display_description}}</span>
                      </div>

                      <div class="text-center icon-option">
                        <img src="../../../assets/images/ic_time.png" class="loc-time" />
                        <span class="data" [ngClass]="{'c_set':store.show_offline==true}" [ngClass]="store.is_open === 'Closed' ? 'closed':'open'">{{store.is_open}}</span>
                        <span class="description" *ngIf="store.is_open === 'Open'">{{store.timings}}</span>
                        <span class="description" *ngIf="store.is_open === 'Closed'">&nbsp;</span>
                      </div>

                      <div class="text-center icon-option" *ngIf="store.approx_delivery_time">
                        <img src="../../../assets/images/ic_delivery.png" class="loc-time" />
                        <span class="data" [ngClass]="{'c_set':store.show_offline==true}">{{store.approx_delivery_time}}</span>
                        <span class="description">(delivery time)</span>
                      </div>

                      <div class="text-center icon-option" *ngIf="!store.approx_delivery_time && store.number_of_products > 0">
                        <img src="../../../assets/product.png" class="loc-time" />
                        <span class="data" [ngClass]="{'c_set':store.show_offline==true}">{{store.number_of_products}}</span>
                        <span class="description">Products</span>
                      </div>

                      <div class="text-center icon-option"
                        *ngIf="!store.approx_delivery_time && store.number_of_products == 0 && store.number_of_services > 0">
                        <img src="../../../assets/feedback.png" class="loc-time" />
                        <span class="data" [ngClass]="{'c_set':store.show_offline==true}">{{store.number_of_services}}</span>
                        <span class="description">Services</span>
                      </div>
                    </div>
                  </div>

                  <div class="text-center d-inline-block offer-wrapper mobile-view" *ngIf="store.number_of_offers > 0">
                    <img src="../../../assets/images/offer_listing_icon.png" class="loc-time mr-1" />
                    <span class="data text-center" >{{store.number_of_offers}}&nbsp;Offers available</span>
                  </div>
                  <div class="text-center d-inline-block offer-wrapper mobile-veiw" *ngIf="store.number_of_offers == 0">
                    <span class="data text-center">&nbsp;</span>
                  </div>

                </div>
              <div class="deal mobile-hide" (click)="showDealTemplate(dealDetails,store, $event)">
                <span>Get Best Deal</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 text-center">
        <pagination-controls (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls>
      </div>
    </div>
  </div>
  <mat-progress-spinner *ngIf="!showData" class="loading-indicator mt-16" mode="indeterminate" color="warn">
  </mat-progress-spinner>

  <div class="d-block d-sm-none sort-filter__in-mobile">
    <button (click)="openPopup(sortPopupTemplate)" class="sort-filter__in-mobile--btn">
      Sort
    </button>
    <button (click)="openPopup(filterPopupTemplate)" class="sort-filter__in-mobile--btn">
      Filter
    </button>
  </div>
</div>

<ng-template #dealDetails>
    <div class="modal-header">
      <h5><strong>Details</strong></h5>
      <button type="button" class="close" aria-label="Close" (click)="hideDealTemplate()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form class="form" #myform = "ngForm" (ngSubmit) = "onSubmit(myform)" >
    <div class="modal-body">
        <p>Provide your details to receive call back from Business</p>
        <label class="d-block deal-required">Name</label>
        <input class="d-block" type="text" placeholder="Name" name="name" ngModel required>
        <label class="d-block deal-required mt-4">Phone Number</label>
        <input class="d-block" type="text" placeholder="Mobile number" name="number" ngModel required>
        <span *ngIf="showDealError" class="deal-error mt-2">Please provide all the required fields!</span>
    </div>
    <div class="modal-footer">
      <button class="ct-sb-btn" type="submit">SUBMIT</button>
    </div>
  </form>
</ng-template>

<ng-template #confirmDealDetailsShare>
    <div class="modal-header">
      <h5><strong>Alert</strong></h5>
      <button type="button" class="close" aria-label="Close" (click)="hideShareDealTemplate()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
        <p>Are you sure you want to share your Name and Phone Number details to receive call back from Business?</p>
    </div>
    <div class="modal-footer">
      <button class="ct-sb-btn" (click)="onShareAlertClicked()">OK</button>
    </div>

</ng-template>


<ng-template #filterPopupTemplate>
  <div class="modal-header filter__header">
    Filters
  </div>
  <div class="modal-body p-0 filter__body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-3 p-0">
          <ul class="list-unstyled filter__body--types">
            <li (click)="filterDetailsInMobile.selected = filterType.market"
                [ngClass]="{'selected-filter': filterDetailsInMobile.selected === filterType.market}">Market</li>
            <li (click)="filterDetailsInMobile.selected = filterType.distance"
                [ngClass]="{'selected-filter': filterDetailsInMobile.selected === filterType.distance}">Distance</li>
            <li (click)="filterDetailsInMobile.selected = filterType.location" *ngIf="showLocationFilter()"
                [ngClass]="{'selected-filter': filterDetailsInMobile.selected === filterType.location}">Location</li>
          </ul>
        </div>
        <div class="col-9 pt-2">
          <ul class="list-unstyled filter__body--details">
            <li *ngFor="let option of currentActiveFilterType">
              <mat-checkbox [(ngModel)]="option.value" color="warn"> {{option.label}} </mat-checkbox>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button (click)="clearAllFilters(); currentActiveModalRef.hide();" class="btn btn-grey">Reset</button>
    <button (click)="filterChange.next();  currentActiveModalRef.hide();" class="btn btn-red">Apply</button>
  </div>
</ng-template>

<ng-template #sortPopupTemplate>
  <div class="modal-header sort__header">
    Sort By
  </div>
  <div class="modal-body sort__body">
    <mat-radio-group [(ngModel)]="selectedSortOption" (change)="onSortOptionsChange($event); currentActiveModalRef.hide();">
      <div *ngFor="let sortType of storeSortOptions" class="sort__body--options">
        <mat-radio-button color="warn" [value]="sortType.value">
          {{ sortType.displayText }}
        </mat-radio-button>
      </div>
    </mat-radio-group>
  </div>
</ng-template>
