@import "../../../variables";
@import "../../../css/common/buttons";

@font-face {
  font-family: nunito sans;
  src: url("../../../css/fonts/Nunito_Sans/NunitoSans-Regular.ttf");
}

.offlineSet{
  filter:grayscale(100%);
}
.h_1{
  height: 92%;
}
.c_set{
  color: grey;
}


.main-container-width {
  width: 95%;
}
.stores-list-container {
  .bredcrumb-text {
    font-size: 1rem;
  }
  .advertisement {
    .card {
      cursor: pointer;
      .card-img-top {
        height: 250px;
      }
      .card-body {
        height: 90px;
      }
    }
  }
  .storeList {
    .card {
      cursor: pointer;
      .card-img-top {
        background-image: url(https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/Ballari%2Fbg_mage.png?alt=media&token=1f2c0dab-ea87-4071-aa31-293b67427d19);
        height: 150px;
        object-fit: cover;
      }
    }
  }
  .card {
    cursor: pointer;
    font-size: 0.8rem;
    .card-img-wrapper {
      position: relative;
      .offline-wrapper {
        position: absolute;
        top: 0;
        background: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
          color: white;
          font-size: 24px;
        }
      }
    }
    .card-body, .card-footer, .card-sub-body {
      padding: 0.6rem 0.75rem;
    }
    .card-sub-body {
      border-top: 1px solid $color-lite-grey;
      .offer {
        color: $offer-gold;
        margin-right: 5px;
      }
    }
    .card-body {
      .status {
        color: $color-teal;
      }
      .location {
        color: $color-red;
        font-size: 0.8rem;
      }
      .offer-wrapper {
        .loc-time {
          width: 15px;
          height: 15px;
        }
        .data {
          font-size: 0.8rem;
          font-weight: 400;
        }
      }
      .mobile-custom-view {
        padding-left: 4px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: 1px solid $header-search-border;
        margin-top: 10px;
        justify-content: space-around;

        .icons {
          // justify-content: space-between;
          .text-center.icon-option {
            width: 50%;
          }

        .loc-time {
          width: 15px;
          height: 15px;
          margin-left: auto;
          margin-right: auto;
        }



        img,
          span {
            display: block;
          }

          span {
            line-height: 1.3;
            font-size: 13px;
          }
        }

        .deal {
          width: 100px;
          height: 30px;
          float: right;
        }

        .data {
          font-size: 1rem;
        }

        .description {
          color: #666666;
          font-size: 0.5rem;
        }
      }
      .offline-wrapper {
        background-color: $color-red;
        color: white;
        font-size: 1rem;
        font-weight: 500;
        padding: 10px;
        text-align: center;
      }
    }
    .card-footer {
      background-color: $color-lite-grey;
      .subscriber {
        color: $color-teal;
      }
    }

    .deal {
      background-color: #4fc3f7;
      color: white;
      text-align: center;
      cursor: pointer;
      padding: 8px;
    }

  }

  
  .filter-container {
    border: 0.5px solid #e1e1e1;
    &__header {
      border-bottom: 0.5px solid #e1e1e1;
      span {
        font-size: 16px;
        font-weight: 600;
        color: #333;
      }
      .clear-all {
        color: $color-red !important;
      }
    }
    &__body {
      margin-top: 15px;
      &--filter-option {
        h6 {
          font-weight: 600;
          color: #333;
        }
        .list-unstyled li {
          color: #666;
        }
      }
    }
  }
  .sorting-list-category {
    ::ng-deep {
      mat-form-field {
        width: 100%;
        &.mat-form-field-appearance-legacy {
          .mat-form-field-infix {
            padding: 8px;
            border: 1px solid #bbb;
            .mat-select-trigger::before {
              content: "Sort By:";
              width: 50px;
              display: block;
              color: #666;
            }
          }
          .mat-form-field-underline {
            background-color: transparent;
          }
        }
      }
    }
  }
  .sort-filter {
    &__in-mobile {
      position: fixed;
      bottom: 0;
      left: 0;
      background: white;
      width: 100%;
      padding: 10px;
      z-index: 9;
      border-top: 1px solid $color-red;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      display: flex !important;
      align-items: center;
      justify-content: center;
      @media screen and (min-width: 576px) {
        display: none !important;
      }
      &--btn {
        flex: 1 1 50%;
        background-color: transparent;
        border: none;
        color: $color-red;
        &:first-child {
          border-right: 1px solid $color-red;
        }
      }
    }
  }
}
pagination-controls  {
  display: inline-block;
  margin-top: 25px;

}

pagination-controls ::ng-deep .ngx-pagination .current {
   padding: 0.1875rem 0.625rem;
   background: #ef5350;
   border: transparent;
   border-radius: 25px;
   color: #fefefe;
   cursor: default;
}
.loading-indicator {
  width: 25px;
  height: 25px;
  margin-left: auto;
  margin-right: auto;
}
.deal-required:after{
  color: red;
  content: " *";
}
.filter {
  &__header {
    color: #333;
    font-weight: 600;
  }
  &__body {
    &--types {
      padding-left: 0;
      margin-bottom: 0;
      border-right: 1px solid $lightGeryColor;
      height: 73vh;

      li {
        padding: 6px 12px;
        color: $card-grey-content;

        &.selected-filter {
          background-color: $color-red;
          color: white;
        }
      }
    }

    &--details {
      li {
        color: $card-grey-content;
      }
    }
  }
}
.sort {
  &__header {
    font-weight: 600;
    color: $card-grey-content;
  }
  &__body {
    color: $card-grey-content;
    &--options {
      color: #333;
      font-weight: normal;
      ::ng-deep {
        mat-radio-button {
          font-family: nunito sans;
        }
      }
    }
  }
}
::ng-deep {
  .mat-checkbox {
    .mat-checkbox-frame {
      border-color: $checkBoxBorderColor;
    }
    &.mat-checkbox-checked.mat-warn .mat-checkbox-background {
      background-color: $color-red;
    }
  }
}

.filter-container__body {

  @media screen and (min-width: 576px) {
    position: sticky;
    top: 122px;
  }

  @media screen and (min-width: 768px) {
    top: 85px;
  }

  @media screen and (min-width: 1080px) {
    top: 60px;
  }

}

.stores-list-container{

  .storeList {
    @media screen and (max-width: 575px) {
      .card {
        display: flex;
        flex-direction: row;
        background: transparent;
        box-shadow: none !important;
        border: 0;
        .mobile-hide{
          display: none;
        }
        .card-img-wrapper {
          max-width: 25%;
          min-width: 85px;
          img {
            object-fit: cover;
            height: 80px;
            border-radius: 5px;
            width: 85px;
          }
        }
        .card-body {
          padding-top: 0;
          max-width: 75%;
          .mobile-custom-view {
            border-top: 0;
            border-bottom: 0px solid #ebebeb;
            padding-top: 8px;
            padding-bottom: 8px;
            margin-top: 4px;
            .icon-option {
              text-align: left !important;
            }
            .icons {
              .loc-time {
                text-align: left !important;
                display: inline-block;
                margin-left: 5px;
                margin-right: 5px;
              }
              .data {
                display: inline-block;
                font-weight: 600;
                &.closed {
                  color: #ef5350;
                }
                &.open {
                  color: #009900;
                }
              }

              .description {
                display: none !important;
              }
            }
          }
          .offer-wrapper.mobile-view {
            padding: 8px 0px;
            width: 100%;
            text-align: left !important;
            border-top: 1px solid #ebebeb;
          }
        }
        .deal {
          border-radius: 5px;
          margin-top: 2px;
          margin-bottom: 5px;
          padding: 5px;
          @media screen and (max-width: 430px){
            font-size: 11px;
          }
        }
        .offer-wrapper .data, .location {
          color: #8A8C99;
          padding-top: 2px !important;
        }
        .offline-wrapper {
          max-width: 85px;
          max-height: 80px;
          .text-center {
            font-size: 12px;
          }
        }
      }
      .small-mob {
        padding: 0 !important;
      }
    }

    @media screen and (min-width: 576px) {
      .mobile-view {
        display: none !important;
      }
    }


  }

  }


  @media screen and (max-width: 575px) {
    .small-mob {
      padding: 0 !important;
    }
  }
