<div class="product-list-container mb-md-4 mb-3 main-container-width">

  <section class="row mb-2">
    <nav aria-label="breadcrumb" class="col-sm-7 my-1" *ngIf="showBreadcrumb()">
      <ol class="breadcrumb bg-white py-0 mb-0">
        <li class="breadcrumb-item">
          <i class="fa fa-caret-right" aria-hidden="true"></i>
          <a class="bredcrumb-text" mat-button target="_self" [href]="baseUrl + '/' + currentCity">Home&nbsp;</a>
        </li>
        <li class="breadcrumb-item" *ngIf="businessName">
          <i class="fa fa-caret-right" aria-hidden="true"></i>
          <a class="bredcrumb-text" mat-button target="_self"
            [href]="[baseUrl, 'business', businessCity, businessId, businessName || 'default'].join('/')">
            {{ businessName }}&nbsp;
          </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          <i class="fa fa-caret-right" aria-hidden="true"></i>
          <a class="bredcrumb-text" mat-button>{{ currentBreadCrumbDisplayName }}&nbsp;</a>
        </li>
      </ol>
    </nav>

    <div class="col-sm-5 d-flex justify-content-end align-items-center" *ngIf="businessName">
      <div class="options">
        <div class="search-box">
          <input type="text" [(ngModel)]="searchTxt" id="txtSearch" (keyup)="handleSearchChange($event)"
            placeholder="Search In-Store Products" class="header-input" />
          <i class="fa fa-search" aria-hidden="true"></i>
          <div class="search-results" *ngIf="searchResultsList?.length > 0">
            <ul class="results-list">
              <li class="search-result-record" *ngFor="let result of searchResultsList">
                <a class="browse-wrapper products-wrapper"
                  [href]="baseUrl + '/products/' + currentCity + '/' + 'Business Search' + '/' + businessId + '/' + businessName + '/' + result.product_category + '/' + result.keyword + '/' + '1'"
                  target="_self">
                  {{result.keyword}}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="cart-wrapper" *ngIf="oneShellHomeDelivery">
        <store-cart-button class="cart-btn" [businessId]="businessId" [businessCity]="businessCity">
        </store-cart-button>
        <span class="cart-text">In-Store Cart</span>
      </div>
    </div>
  </section>

  <hr>

  <p *ngIf="isPaginationEnabled">(showing {{pageStart}} - {{pageEnd}} of {{totalItems}})</p>


  <div class="text-center mb-4 d-block d-sm-none" *ngIf="showCategories">
    <app-horizontal-carousel [slideIdPrefix]="categorySlideIdPrefix" [defaultIndex]="index">
      <div class="product-category-btn-grp">
        <a *ngFor="let categoryDetail of levelCategories; let i=index" mat-raised-button
          class="btn product-category-button mr-3 text-center" [ngClass]="{ 'default-active': index === i}"
          [id]="categorySlideIdPrefix + i" [href]=categoryDetail.href_link target="_self">
          <span>{{ categoryDetail.display_name }}</span>
        </a>
      </div>
    </app-horizontal-carousel>
  </div>

  <div class="row" *ngIf="showData">
    <div class="d-none d-sm-block col-sm-2 filter-container" *ngIf="showFilters">
      <ng-container *ngIf="type !== productListType.Trending">
        <div class="filter-container__header py-2">
          <span>Filters</span>
          <a class="float-right clear-all" *ngIf="isAnyFilterSelected()" (click)="clearAllFilters()">Clear all</a>
        </div>
        <div class="filter-container__body">
          <div *ngIf="type === productListType.businessCategoryProducts">
            <h6>Categories</h6>
            <ul class="filter-container__body__filter-list list-unstyled text-truncate" *ngIf="showCategories">
              <li class="filter-container__body__filter-list--item"
                  *ngFor="let categoryDetail of levelCategories; let i=index" [ngClass]="{ 'active-item': index === i}">
                <a [id]="categorySlideIdPrefix + i" [href]=categoryDetail.href_link target="_self">
                  {{ categoryDetail.display_name }}
                </a>
              </li>
            </ul>
          </div>
          <div class="filter-container__body--filter-option" *ngIf="offerFilterOptions?.length">
            <h6>Offers</h6>
            <ul class="list-unstyled text-truncate">
              <li *ngFor="let option of offerFilterOptions">
                <mat-checkbox [(ngModel)]="option.value" (click)="filterChange.next()" color="warn"> {{option.label}} </mat-checkbox>
              </li>
            </ul>
          </div>
          <div class="filter-container__body--filter-option" *ngIf="brandsFilterOptions?.length">
            <h6>Brands</h6>
            <ul class="list-unstyled text-truncate">
              <li *ngFor="let option of brandsFilterOptions">
                <mat-checkbox [(ngModel)]="option.value" (click)="filterChange.next()" color="warn"> {{option.label}} </mat-checkbox>
              </li>
            </ul>
          </div>
          <div class="filter-container__body--filter-option" *ngIf="showLocationFilter()">
            <h6>Location</h6>
            <ul class="list-unstyled text-truncate">
              <li *ngFor="let option of locationFilterOptions">
                <mat-checkbox [(ngModel)]="option.value" (click)="filterChange.next()" color="warn"> {{option.label}} </mat-checkbox>
              </li>
            </ul>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="type == productListType.Trending">
        <div class="filter-container__header py-2">
          <span>Filters</span>
        </div>
        <div class="filter-container__body">
            <h6>Categories</h6>
            <ul class="filter-container__body__filter-list list-unstyled text-truncate" *ngIf="showCategories">
              <li class="filter-container__body__filter-list--item"
                  *ngFor="let categoryDetail of levelCategories; let i=index" [ngClass]="{ 'active-item': index === i}">
                <a [id]="categorySlideIdPrefix + i" [href]=categoryDetail.href_link target="_self">
                  {{ categoryDetail.display_name }}
                </a>
              </li>
            </ul>
        </div>
      </ng-container>
    </div>
    <div class="col-sm-10">
      <ng-container *ngIf="showSort">
        <div class="row">
          <div class="d-none d-sm-block col-sm-4 offset-sm-8 sorting-list-category">
            <mat-form-field>
              <mat-select [(ngModel)]="selectedSortOption" (selectionChange)="onSortOptionsChange()">
                <mat-option *ngFor="let option of productSortOptions" [value]="option.value">
                  <span>{{option.displayText}}</span>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </ng-container>
      <div class="row" *ngIf="productList && config">
        <div class="col-6 col-sm-6 col-md-4 col-lg-3 product-card mb-4" [@fadeIn]="productList?.length"
          *ngFor="let product of productList | paginate: config">
          <div class="prod-card border-0 mr-1 pb-3">
            <a target="_self" [href]="product.productNavigationUrl">
              <div class="parent">
                <img class="card-img-top" mat-card-image [src]="product.image_url" alt="Product image">
                <div class="overlay" *ngIf="product.is_out_of_stock">
                  <img class="sold-out-card-img-top" src="assets/images/sold_out.png">
                </div>
              </div>
              <div *ngIf="showBusinessName">
                <div class="card-text text-truncate bizz-name mb-0">
                  {{ product.business_name }}
                </div>
              </div>
              <div *ngIf="!showBusinessName">
                <div class="card-text text-truncate bizz-name mb-0">
                  {{ product.brand_name }}
                </div>
              </div>
              <div class="prod-name text-truncate m-0 p-0">{{ product.name }}</div>
              <mat-card-content class="m-0 p-0">
                <div
                  *ngIf="product.actual_price > 0 && product.offer_price > 0 &&  product.actual_discount != 0">
                 <span class="price-text">&#8377;{{ product.offer_price }}</span>
                  <span class="ml-1 offer mr-1">&#8377;{{ product.actual_price }}</span>
                  <span class="offer-per text-truncate">({{ product.actual_discount }}% off)</span>
                </div>
                <div class="price-text" *ngIf="product.actual_price > 0 && product.offer_price == 0">
                  &#8377;{{ product.actual_price }}
                </div>
                <div class="price-text" *ngIf="product.actual_price == 0 && product.offer_price == 0 && product.minimum_quantity == 0">
                  NA
                </div>
                <div *ngIf="product.minimum_quantity > 0">
                  <b>Min Qty:</b> {{ product.minimum_quantity }} @ Wholesale
                </div>
              </mat-card-content>

              <div class="card-text text-truncate delivery-txt"
                *ngIf="showAvailableForDeliveryTxt && product?.oneshell_home_delivery">
                Available for Home Delivery
              </div>
            </a>
            <div class="mt-2"></div>
            <mat-card-footer>
              <add-to-cart-control
                *ngIf="showAddToCart() && product?.oneshell_home_delivery"
                [product]="product" (quantityChanged)="onQuantityChange($event)" [isDisabled]="isOffline || product.is_out_of_stock">
              </add-to-cart-control>
            </mat-card-footer>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center pagination" *ngIf="isPaginationEnabled && showData">
    <pagination-controls (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls>
  </div>
  <mat-progress-spinner *ngIf="!showData" class="loading-indicator mt-16" mode="indeterminate" color="warn">
  </mat-progress-spinner>

  <div class="d-block d-sm-none sort-filter__in-mobile"
       *ngIf="type!==productListType.Trending">
    <button (click)="openPopup(sortPopupTemplate)" class="sort-filter__in-mobile--btn">
      Sort
    </button>
    <button (click)="openPopup(filterPopupTemplate)" class="sort-filter__in-mobile--btn">
      Filter
    </button>
  </div>
</div>

<ng-template #filterPopupTemplate>
  <div class="modal-header filter__header">
    Filters
  </div>
  <div class="modal-body p-0 filter__body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-3 p-0">
          <ul class="list-unstyled filter__body--types">
            <li (click)="filterDetailsInMobile.selected = filterType.offer"
                [ngClass]="{'selected-filter': filterDetailsInMobile.selected === filterType.offer}">Offers</li>
            <li (click)="filterDetailsInMobile.selected = filterType.brand"
                [ngClass]="{'selected-filter': filterDetailsInMobile.selected === filterType.brand}">Brands</li>
            <li (click)="filterDetailsInMobile.selected = filterType.location" *ngIf="showLocationFilter()"
                [ngClass]="{'selected-filter': filterDetailsInMobile.selected === filterType.location}">Locations</li>
          </ul>
        </div>
        <div class="col-9 pt-2">
          <ul class="list-unstyled filter__body--details">
            <li *ngFor="let option of currentActiveFilterType">
              <mat-checkbox [(ngModel)]="option.value" color="warn"> {{option.label}} </mat-checkbox>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button (click)="clearAllFilters(); currentActiveModalRef.hide();" class="btn btn-grey">Reset</button>
    <button (click)="filterChange.next();  currentActiveModalRef.hide();" class="btn btn-red">Apply</button>
  </div>
</ng-template>


<ng-template #sortPopupTemplate>
  <div class="modal-header sort__header">
    Sort By
  </div>
  <div class="modal-body sort__body">
    <mat-radio-group [(ngModel)]="selectedSortOption" (change)="onSortOptionsChange(); currentActiveModalRef.hide();">
      <div *ngFor="let sortType of productSortOptions" class="sort__body--options">
        <mat-radio-button color="warn" [value]="sortType.value">
          {{ sortType.displayText }}
        </mat-radio-button>
      </div>
    </mat-radio-group>
  </div>
</ng-template>

