@import "../../../variables";
@import "../../../css/common/buttons";

@font-face {
  font-family: nunito sans;
  src: url("../../../css/fonts/Nunito_Sans/NunitoSans-Regular.ttf");
}

.product-list-container {
  .bredcrumb-text {
    font-size: 1rem;
  }
  .breadcrumb-item+.breadcrumb-item {
    padding-left: 0;
  }

  .options {
    margin-right: 15px;
    .search-box {
      display: inline-block;
      color: black;
      position: relative;

      .fa-search {
        color: black;
      }

      input {
        padding: 12px;
        border: none;
        width: 220px;
        height: 30px;
        border-radius: 4px;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
      }
      i {
        position: absolute;
        top: 7px;
        right: 10px;
        @media (max-width: 578px) {
          margin-left: -8.5%;
        }
      }

      .search-results {
        position: absolute;
        width: 100%;
        border-top: none;
        background: #fff;
        top: 30px;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
        z-index: 1;

        .results-list {
          cursor: pointer;
          list-style: none;
          padding-left: 0;
          max-height: 260px;
          overflow: auto;
          .search-result-record {
            padding: 8px;
            padding-left: 12px;

            &:hover {
              background: $header-search-border;
            }
          }
        }
      }
    }
  }
  .cart-wrapper {
    .cart-btn {
      margin-right: 15px;
    }
    .cart-text {
      font-size: 0.8rem;
      color: $color-red;
    }
  }
  .default-active
  {
    background-color: $color-red;
    color: $color-white;
    box-shadow: none;
    border: 1px solid $color-red;
    a{
      color: $color-white !important;
    }
  }

  .product-category-button {
    &:focus {
      background-color: $color-red;
      color: $color-white;
      box-shadow: none;
      border: 1px solid $color-red;
    }
  }
  .delivery-txt {
    color: $color-red;
    font-weight: thick;
    font-size: 0.8rem
  }
  .bizz-name {
    color: #4fc3f7;
    font-size: 14px;
    margin-top: 4px;
  }
  .prod-name {
    color: #212121;
    font-size: 16px;
  }
  .prod-card {
    border: none;
    &.shop {
      color: #666666;
    }
    .offer {
      font-size: 14px;
      color: $product-offer;
      text-decoration: line-through;
    }
    .offer-per {
      font-size: 14px;
      color: $color-teal;
    }
    .price-text {
      color: #212121;
      font-weight: 700;
      font-size: 18px;
      margin-top: 5px;
    }

    .mat-card-footer {
      margin: 0 auto;
    }
  }
  .prod-card :hover{
    border-radius: 4px;
  }
  .parent {
    .overlay {
      z-index: 0;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.5);
      top: 0;
      right: 0;
    }
    .sold-out-card-img-top {
      width: 100%;
      height: 30px;
      top: 45%;
      position: relative;
      object-fit: contain;
    }
}
  @media (min-width: 300px) and (max-width: 568px) {
    .card-img-top {
      height: 180px;
      object-fit: contain;
    }
    .overlay {
      height: 180px;
    }
  }
  @media (min-width: 569px) {
    .card-img-top {
      height: 200px;
      object-fit: contain;
    }
    .overlay {
      height: 200px;
    }
  }
  @media (min-width: 768px) {
    .card-img-top {
      height: 250px;
      object-fit: contain;
    }
    .overlay {
      height: 250px;
    }
  }
  @media (min-width: 992px) {
    .card-img-top {
      transform: scale(0.85);
    }
  }
  .product-card {
    .mat-card {
      min-height: 312px;
      @media screen and (min-width: 768px) {
        min-height: 362px;
      }
    }
    @media screen and (min-width: 576px) {
      &:hover {
        box-shadow: 0px 0px 8px rgba(0,0,0,.2);
        transition: all 0.3s ease;
      }
    }
  }
}

pagination-controls {
  display:inline-block;
  margin-top: 25px;
}

pagination-controls ::ng-deep .ngx-pagination .current {
  padding: 0.1875rem 0.625rem;
  background: #ef5350;
  border: transparent;
  border-radius: 25px;
  color: #fefefe;
  cursor: default;
}
.loading-indicator {
  width: 25px;
  height: 25px;
  margin-left: auto;
  margin-right: auto;
}

.filter-container {
  border: 1px solid #bbb;
  &__header {
    border-bottom: 1px solid #bbb;
    span {
      font-size: 16px;
      font-weight: 600;
      color: #333;
    }
    .clear-all {
      color: $color-red !important;
    }
  }
  &__body {
    margin-top: 15px;
    h6 {
      font-weight: 600;
      color: #333;
    }
    &__filter-list {
      &--item {
        padding: 8px 0;
        margin-bottom: -1px;
        &.active-item {
          a {
            color: $color-red;
          }
        }
        a {
          color: #666;
        }
      }
    }
  }
}
.sorting-list-category {
  ::ng-deep {
    mat-form-field {
      width: 100%;
      &.mat-form-field-appearance-legacy {
        .mat-form-field-infix {
          padding: 8px;
          border: 1px solid #bbb;
          .mat-select-trigger::before {
            content: "Sort By:";
            width: 50px;
            display: block;
            color: #666;
          }
        }
        .mat-form-field-underline {
          background-color: transparent;
        }
      }
    }
  }
}
.sort-filter {
  &__in-mobile {
    position: fixed;
    bottom: 0;
    left: 0;
    background: white;
    width: 100%;
    padding: 10px;
    z-index: 9;
    border-top: 1px solid $color-red;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    display: flex !important;
    align-items: center;
    justify-content: center;
    @media screen and (min-width: 576px) {
      display: none !important;
    }
    &--btn {
      flex: 1 1 50%;
      background-color: transparent;
      border: none;
      color: $color-red;
      &:first-child {
        border-right: 1px solid $color-red;
      }
    }
  }
}

.filter {
  &__header {
    color: #333;
    font-weight: 600;
  }
  &__body {
    &--types {
      padding-left: 0;
      margin-bottom: 0;
      border-right: 1px solid $lightGeryColor;
      height: 100%;

      li {
        padding: 6px 12px;
        color: $card-grey-content;

        &.selected-filter {
          background-color: $color-red;
          color: white;
        }
      }
    }

    &--details {
      height: 73vh;
      overflow: auto;
      li {
        color: $card-grey-content;
      }
    }
  }
}
.sort {
  &__header {
    font-weight: 600;
    color: $card-grey-content;
  }
  &__body {
    color: $card-grey-content;
    &--options {
      color: #333;
      font-weight: normal;
      ::ng-deep {
        mat-radio-button {
          font-family: nunito sans;
        }
      }
    }
  }
}
::ng-deep {
  .mat-checkbox {
    .mat-checkbox-frame {
      border-color: $checkBoxBorderColor;
    }
    &.mat-checkbox-checked.mat-warn .mat-checkbox-background {
      background-color: $color-red;
    }
  }
}
.filter-container__body {

  @media screen and (min-width: 576px) {
    position: sticky;
    top: 122px;
  }

  @media screen and (min-width: 768px) {
    top: 85px;
  }

  @media screen and (min-width: 1080px) {
    top: 60px;
  }

}
