<div class="container pt-2">
  <div class="form-group">
    <label for=""> Please Enter your Location</label>
    <input
      placeholder="search for location"
      autocorrect="off"
      autocapitalize="off"
      spellcheck="off"
      type="text"
      class="form-control"
      #search
      [formControl]="searchControl"
      id="locationSearch"
    />
  </div>
  <agm-map
    [latitude]="latitude"
    [longitude]="longitude"
    [scrollwheel]="false"
    [zoom]="zoom"
    [usePanning]="true"
    (mapReady)="mapReady($event)"
    (mapClick)="mapClicked($event)"
  >
    <agm-marker
      [latitude]="latitude"
      [longitude]="longitude"
      [markerDraggable]="true"
      (dragEnd)="markerDragEnd($event)"
    ></agm-marker>
  </agm-map>
  <div class="row">
    <div class="col-12">
      <div class="form-group pt-3">
        <p class="address">{{ formatedaddress }}</p>
      </div>
    </div>
    <div class="col-12">
      <div class="form-group">
        <label>Enter House No:*</label>
        <input class="form-control mb-1" [ngClass]="{'error': houseNovalue.touched || formdirty}" [(ngModel)]="houseNo" name="houseNo"
        #houseNovalue="ngModel" required />
        <span class="text-danger" *ngIf="formdirty">House No Is Required</span>
      </div>
    </div>
    <div class="col-12">
      <button class="submit" (click)=" sendMessage()">
        Submit
      </button>
    </div>
  </div>
</div>
