agm-map {
    height: 300px;
  }
  .submit {
    width: 100%;
    padding: 5px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #ef5350;
    color: white;
    border: 0;
    border-radius: 5px;
    &[disabled] {
      background: gray;
    }
  }
.form-group {
  z-index: 9999 !important;
  margin-bottom: 5px;
}
label {
  margin-bottom: 2px;
}

.form-control {
  border: 2px solid #ced4da;
  transition: all cubic-bezier(0.65, 0.05, 0.36, 1) 1s;
}
.form-control.error {
  border-color: red;
  border-width: 2px solid;
}
.form-control {
  &:active,&:focus {
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 2px solid;
    border-bottom-color: #33a99f ;
    transition: all cubic-bezier(0.65, 0.05, 0.36, 1) 1s;
    box-shadow: none;
    border-radius: 0px;
  }
  &.error:focus{
    border-bottom-color: red ;
  }
}
