<div class="home-service-listing">
  <div class="row">
    <div class="col-sm-10 offset-sm-1">
      <div class="detail-container">
        <hr />
        <div class="top-header row">
          <div class="col-sm-6">
            <div class="order text-left">
              #{{ orderResponse?.order_id }}
            </div>
            <div>
              <span class="order text-right" *ngIf="'completed' == orderResponse?.order_status">
                Completed on {{orderResponse?.order_delivery_date}}
              </span>
              <span class="order text-right" *ngIf="'completed' != orderResponse?.order_status"> Due on
                {{orderResponse?.order_delivery_date}}
              </span>
            </div>
          </div>
          <div class="col-sm-6 text-right ">
            <button type="button" class="btn call-btn">
              Call
            </button>
            <div class="web-call">
              <div class="loc-img">
                <img src="assets/call.svg" alt="/" class="star-image" />
              </div>
              <div class="loc-add">
                <a href="tel:{{orderResponse?.phone_number}}">
                  {{orderResponse?.phone_number}}</a><br>
              </div>
            </div>
          </div>
        </div>
        <hr />
        <div class="ellipsis text-left mt-1 ml-0 p-0">
          <span class="order-status">Order Status :&nbsp;</span> 
          <!-- web view -->
          <span
            class="status-color order_st">{{ orderResponse?.order_status_formatted }}</span>
            <button class="btn1 warning web-call" *ngIf="cancel_button_show" (click)="cancelOrder()">Cancel</button>
           <!-- Mobile view -->
          
            <div class="cancl_or mbl_butt">
              <span> {{ orderResponse?.order_status_formatted }}</span>
              <button mat-button  *ngIf="cancel_button_show" (click)="cancelOrder()">CANCEL</button>
            </div>
          
           
            <div class="add_inf">* Please contact Store directly on Order Approval Status</div>
          </div>
        <h5 class="mt-3">Summary</h5>
        <div class="summary card-body card border-1">
          <div class="card-sub-title ellipsis text-left m-0 p-0" *ngIf="orderResponse?.number_of_items">
            <span>Order Items :&nbsp;</span> <span
              class="summary-right-item">{{ orderResponse?.number_of_items }}</span>
          </div>
          <div class="card-sub-title ellipsis text-left m-0 p-0" *ngIf="orderResponse?.sub_total">
            <span>Sub Total :&nbsp;</span> <span class="summary-right-item">&#8377;{{ orderResponse?.sub_total }}</span>
          </div>
          <div class="card-sub-title ellipsis text-left m-0 p-0" *ngIf="orderResponse?.additional_property_price">
            <span>Others :&nbsp;</span> <span
              class="summary-right-item">&#8377;{{ orderResponse?.additional_property_price }}</span>
          </div>
          <div class="card-sub-title ellipsis text-left m-0 p-0" *ngIf="orderResponse?.delivery_charge">
            <span>Delivery Charge :&nbsp;</span> <span
              class="summary-right-item">&#8377;{{ orderResponse?.delivery_charge }}</span>
          </div>
          <div class="card-sub-title ellipsis text-left m-0 p-0" *ngIf="orderResponse?.package_charge">
            <span>Package Charge :&nbsp;</span> <span
              class="summary-right-item">&#8377;{{ orderResponse?.package_charge }}</span>
          </div>
          <div class="card-sub-title ellipsis text-left m-0 p-0" *ngIf="orderResponse?.tax">
            <span>Tax :&nbsp;</span> <span class="summary-right-item">&#8377;{{ orderResponse?.tax }}</span>
          </div>
          <div class="card-sub-title ellipsis text-left m-0 p-0" *ngIf="orderResponse?.discount">
            <span>Discount :&nbsp;</span> <span class="summary-right-item">&#8377;{{ orderResponse?.discount }}</span>
          </div>
          <hr />
          <div class="card-sub-title ellipsis text-left m-0 p-0" *ngIf="orderResponse?.total">
            <span>Total :&nbsp;</span> <span
              class="summary-right-item total-item">&#8377;{{ orderResponse?.total }}</span>
          </div>
        </div>

        <div *ngIf="orderResponse?.prescription_image_url.length > 0">
          <h5 class="mt-3">Prescriptions</h5>
          <app-horizontal-carousel class="p-1 mt-1">
            <div class="card border-1 mr-2 d-inline-block" *ngFor="let item of orderResponse?.prescription_image_url">
              <img class="prescription-card-img-top rounded" src="{{item}}" alt="Product image" />
            </div>
          </app-horizontal-carousel>
        </div>

        <h5 class="mt-3">Ordered Products</h5>
        <mat-card class="col-12 card border-1 mb-3" *ngFor="let item of orderResponse?.products_list">
          <div class="row">
            <div class="img-container pr-1 col-4 col-sm-3" *ngIf="item.image_url">
              <img class="card-img-top rounded" src="{{ item.image_url }}" />
            </div>
            <div class="content-container col-8 col-sm-9">
              <div class="card-sub-title ellipsis text-left m-0 p-0">
                {{ item.name }}
              </div>
              <div *ngIf="item.property_value" class="card-sub-title text-left m-0 p-0">
                {{ item.property_value }}
              </div>
              <br>
              <div class="card-sub-title ellipsis text-left mt-0 p-0">
                &#8377;{{ item.actual_price_double }}
              </div>
              <div class="card-sub-title ellipsis text-left mt-0 p-0">
                Qty : {{ item.quantity }}
              </div>
            </div>
          </div>
        </mat-card>
        <a target="_self"
          [href]="baseUrl + '/business/' + orderResponse?.business_city + '/' + orderResponse?.business_id + '/'+ orderResponse?.urlBusinessName">
          <button type="button" class="mt-2 store-web-nav btn view-more-btn">
            {{ orderResponse?.business_name }}
          </button>
        </a>
      </div>
    </div>
  </div>

  <a target="_self"
    [href]="baseUrl + '/business/' + orderResponse?.business_city + '/' + orderResponse?.business_id + '/'+ orderResponse?.urlBusinessName">
    <div class="mt-8 d-block d-sm-none mobile-custom-view mobile-detail-footer d-flex">
      <div class="book-text text-center">{{ orderResponse?.business_name }} &nbsp;&nbsp;>
      </div>
    </div>
  </a>
</div>