@import "../../../../variables.scss";
.btn1 {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
  }
  .add_inf{
    word-break: break-word;
    white-space: break-spaces;
    color: #EF5350;
    margin-top: 10px;
    margin-bottom: -2px;
    font-weight: 600;
  }
  .cancl_or{
    height: 50px;
    line-height: 50px;
    background: #F9E9E9;
    margin-top: 5px;
    span{
        margin: 20px;
        font-weight: 500;
    }
    button{
        float: right;
        margin: 8px;
        text-decoration: underline;
        text-decoration-color: #F05F5D;
        color: #F05F5D;
        text-underline-position: under;
    }
  }
  .warning {
    border-color: #EF5350;
    color: #EF5350;
    float: right;
    width: 108px;
    height: 30px;
    text-align: center;
    padding: 1px;
    border-radius: 20px;
  }
.home-service-listing {
    padding-bottom: 20px;
    .card {
        cursor: pointer;
    }

    .order {
        color: #666666;
    }

    .prescription-card-img-top {
        width: 130px;
        height: 100px;
        object-fit: contain;
      }

    .card-title {
        position: relative;
        font-size: 16px;
        color: #333333;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        // position: absolute;
        left: 0;
    }

    .comment {
        @media (max-width:568px) {
            margin-bottom: 20px;
        }
    }

    .price-title {
        position: relative;
        font-size: 16px;
        font-weight: 600;
        color: #009788;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        // position: absolute;
        left: 0;
    }

    .percent {
        font-size: 18px;
        font-weight: 600;
        color: #009788;
    }

    .card-subtitle {
        font-size: 14px;
        position: relative;
        font-weight: 400;
        color: #333333;
        white-space: nowrap;
        word-break: break-word;
    }

    .mobile-detail-footer {
        cursor: pointer;
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
        height: 40px;
        color: white;
        background-color: $color-red;
        .book-text{
            color: white;
            align-self: center;
            width: 100%;
        }
      }

    .loc-img,
    .loc-add {
        display: inline-block;
        vertical-align: top;
        padding: 10px;
        color: #999;
    }

    .card-bottom {
        // position: absolute;
        position: relative;
        bottom: 0;
        padding: 0 0 10px;
        width: 100%;
    }

    .star-image {
        width: 12px;
        // position: absolute;
        // left: 0;
    }

    .text-green {
        color: #039e03
    }

    .ellipsis {
        // font-weight: 600;
        padding-left: 10px;
    }

    .border {
        border-radius: 10px;
        padding: 0 10px;
    }

    .mr-4{
        margin-right: 0.5px !important;
    }
    .img-container {
        img {
            width: 100px;
            object-fit: contain;
            height: 100px;
        }
    }

    .content-container {
    }

    .card-bottomtitle {
        display: inline-block;
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .summary {
        background-color: #F5F5F5;
    }

    .status-color {
        color: #2E7D32;
        font-size: 1rem;
        font-weight: 600;
    }

    .order-status {
        font-size: 1rem;
    }

    .summary-right-item {
        float: right;
    }

    .total-item {
        font-size: 1.2rem;
        font-weight: 600;
        color: #2E7D32;
    }

    .call-btn {
        width: 100px;
        height: 30px;
        color: $color-white;
        background-color: #009788;
        border-radius: 25px;
        text-align: center;
        font-size: 0.875rem;
        padding: 5px;
        float: right;
        &:focus,
        &:hover {
          color: $color-white;
        }
        margin-left: 20px;
      }

      .price-title {
        position: relative;
        font-size: 16px;
        font-weight: 600;
        color: #009788;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        // position: absolute;
        left: 0;
    }

    .percent {
        font-size: 18px;
        font-weight: 600;
        color: #009788;
    }
  .store-web-nav {
    width: 200px;
    margin: 0 auto;
  }

      @media (max-width: 568px) {
        .web-call {
            display: none;
        }
        .order_st{
            display: none;
        }
        .call-btn {
            display: block;
            float: right;
        }
        .store-web-nav {
            display: none;
        }
        .mobile-detail-footer {
            display: block;
        }
        .mbl_butt{
            display: block;
        }
    }
    @media (min-width: 569px) {
        .web-call {
            display: block;
        }
        .call-btn {
            display: none;
        }
        .mbl_butt{
            display: none;
        }
        .store-web-nav {
            display: block;
        }
        .mobile-detail-footer {
            display: none;
        }
        .order_st{
            display: inline;
        }
    }
}
