<div class="row">
  <div class="col-12 p-0">
    <header class="mb-sm-3 pb-2 mb-2" [ngClass]="{'hide-thick-header':showThinHeader}">
      <div class="home-header background-grey">
        <div class="top-header main-container-width pt-2 pb-2 row d-flex align-items-center  hide-in-mobile">
          <div class="col-sm-2 logo-wrapper d-inline-block p-0">
            <a target="_self" [href]="baseUrl + '/'">
              <img src="assets/oneshell-logo.png" alt="OneShell Logo" />
              <span class="align-middle ml-1">OneShell</span>
            </a>
          </div>
          <div class="col-sm-6 search-header">
            <div class="row">
              <div class="web-header-search">
                <div class="clearfix">
                  <div class="search-dd-menu background-grey" dropdown>
                    <button id="button-basic" dropdownToggle type="button"
                      class="search-dd-btn btn btn-primary dropdown-toggle cat-dropdown" aria-controls="dropdown-basic">
                      <span class="txt">{{ activeSearchMenu }}</span> <span class="caret"></span>
                    </button>
                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                      aria-labelledby="button-basic">
                      <li role="menuitem"><a class="dropdown-item main-item"
                          (click)="handleChangeTab('business')">Business</a>
                      </li>
                      <li role="menuitem"><a class="dropdown-item main-item"
                          (click)="handleChangeTab('product')">Product</a>
                      </li>
                    </ul>
                  </div>
                  <input type="text" class="header-input d-inline-block " id="searchInputTxt1" [(ngModel)]="searchTxt"
                    (keyup)="handleSearchChange($event)" />
                  <button class="btn header-search-button d-inline-block ">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </button>
                </div>
                <div class="search-results" *ngIf="(searchResultsList.length >0)">
                  <ul class="results-list">
                    <a target="_self" *ngFor="let result of searchResultsList" [href]=result.href_link>
                      <li class="search-result-record">
                        {{result.keyword}}</li>
                    </a>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4 login-wrapper p-0">
            <div class="d-inline-block location-wrapper mr-3">
              <a (click)="onCityClick()">
                <div class="city-name">{{ activeCity | titlecase }}</div>
                <div class="area-name">{{citiesService.activeArea | titlecase }} </div>
              </a>
            </div>
            <div class="user-login-wrapper">
              <div class="d-inline-block mr-3 sign-in" *ngIf="!isUserLoggedIn">
                <div class="d-inline-block">
                  <button class="btn btn-primary os-btn-primary auth-btn" (click)="openLoginModal()">
                    Login
                  </button>
                </div>
              </div>
              <div class="profile-wrapper">
                <div class="d-inline-block mr-3" *ngIf="isUserLoggedIn">
                  <a target="_self" [href]="baseUrl + '/profile/options'">
                    <img src="assets/profile.svg" class="login-order-image mr-2" />
                    <span class="name-text text-truncate">Hello, {{customerName | titlecase }} </span>
                  </a>
                </div>
              </div>
            </div>
            <div class="orders-wrapper">
              <div class="d-inline-block mr-3 orders" (click)="onOrdersClicked()">
                  <img src="assets/orders.svg" class="order-image mr-2" />
                  <span class="orders-text">Orders</span>
              </div>
            </div>
            <div class="home-cart-wrapper" (click)="onCartClicked()">
              <div class="d-inline-block orders" [matBadge]="completeCartCount$ | async" matBadgeSize="small" matBadgeColor="warn" matBadgePosition="before">
                  <img src="assets/images/cart.png" class="cart-image mr-2" />
                  <span class="cart-text">Cart</span>
              </div>
            </div>
          </div>
        </div>
        <div class="top-header main-container-width pt-2 pb-2 row d-flex align-items-center show-in-mobile">
          <div class="col-sm-3 logo-wrapper d-inline-block p-0">
            <a target="_self" [href]="baseUrl + '/' + activeCity">
              <img src="assets/oneshell-logo.png" alt="OneShell Logo" />
              <span class="align-middle ml-1">OneShell</span>
            </a>
          </div>
          <div class="col-sm-9 login-wrapper p-0">
            <div class="d-inline-block location-wrapper mr-3">
              <a (click)="onCityClick()">
                <div class="city-name">{{ activeCity | titlecase }}</div>
                <div class="area-name">{{citiesService.activeArea | titlecase }} </div>
              </a>
            </div>
            <div class="user-login-wrapper">
              <div class="d-inline-block mr-3 sign-in" *ngIf="!isUserLoggedIn">
                <div class="d-inline-block">
                  <button class="btn btn-primary os-btn-primary auth-btn" (click)="openLoginModal()">
                    Login
                  </button>
                </div>
              </div>
              <div class="profile-wrapper">
                <div class="d-inline-block mr-3" *ngIf="isUserLoggedIn">
                  <a target="_self" [href]="baseUrl + '/profile/options'">
                    <img src="assets/profile.svg" class="login-order-image mr-2" />
                    <span class="name-text text-truncate">Hello, {{customerName | titlecase }} </span>
                  </a>
                </div>
              </div>
            </div>
            <div class="orders-wrapper">
              <div class="d-inline-block mr-3 orders" (click)="onOrdersClicked()">
                  <img src="assets/orders.svg" alt="Orders" class="order-image mr-2" />
                  <span class="orders-text">Orders</span>
              </div>
            </div>
            <div class="home-cart-wrapper" (click)="onCartClicked()">
              <div class="d-inline-block orders" [matBadge]="completeCartCount$ | async" matBadgeSize="small" matBadgeColor="warn" matBadgePosition="before">
                  <img src="assets/images/cart.png" alt="Cart" class="cart-image mr-0" />
                  <span class="cart-text">Cart</span>
              </div>
            </div>
          </div>
        </div>
        <div class="bottom-header pt-sm-3 pb-sm-3 pb-2 pt-2 background-white shadow-sm">
          <div class="main-container-width">
            <div class="row">
              <div class="col-sm-8 offset-sm-2 pr-0">
                <div class="header-search">
                  <div class="clearfix">
                    <div class="search-dd-menu" dropdown>
                      <button id="button-basic" dropdownToggle type="button"
                        class="search-dd-btn btn btn-primary dropdown-toggle cat-dropdown"
                        aria-controls="dropdown-basic">
                        <span class="txt">{{ activeSearchMenu }}</span> <span class="caret"></span>
                      </button>
                      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                        aria-labelledby="button-basic">
                        <li role="menuitem"><a class="dropdown-item main-item"
                            (click)="handleChangeTab('business')">Business</a>
                        </li>
                        <li role="menuitem"><a class="dropdown-item main-item"
                            (click)="handleChangeTab('product')">Product</a>
                        </li>
                      </ul>
                    </div>
                    <input type="text" class="header-input" id="searchInputTxt2" [(ngModel)]="searchTxt"
                      (keyup)="handleSearchChange($event)" />
                    <button class="btn header-search-button">
                      <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                    <button class="btn header-scanner-button d-block d-sm-none" (click)="openScannerModal()">
                      <img src="../../assets/images/barcode.png" alt="barcode" class="img-fluid icon-barcode">
                    </button>
                  </div>
                  <div class="search-results" *ngIf="(searchResultsList.length >0)">
                    <ul class="results-list">
                      <a target="_self" *ngFor="let result of searchResultsList" [href]=result.href_link>
                        <li class="search-result-record">
                          {{result.keyword}}</li>
                      </a>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <header *ngIf="showThinHeader" class="thin-header background-grey" [ngClass]="{'show-thin-header':showThinHeader}">
      <div class="header-thin ">
        <i class="fa fa-arrow-left" aria-hidden="true" (click)="goBack()"></i>
        <span class="title"> {{  thinHeaderTitle  }} </span>
        <i *ngIf="showShareButton" class="fa fa-share-alt" aria-hidden="true" (click)="doAction('initiate-share')"></i>
        <i *ngIf="showNotifButton" class="fa fa-bell-o" aria-hidden="true" (click)="doAction('show-notif')"></i>
      </div>
    </header>
  </div>
</div>
