@import "../../variables.scss";

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  left: 0;

  &.thin-header {
    display: none;
  }
}

.home-header {

  .bottom-header,
  .top-header {
    a {
      color: initial;
      font-weight: 500;

      .login-order-image {
        vertical-align: sub;
        width: 25px;
        height: 25px;
      }

      &:hover {
        text-decoration: none;
      }
    }
    .logo-wrapper {
      cursor: pointer;

      img {
        width: 33px;
        height: 33px;
      }

      span {
        font-size: 1.3rem;
        font-weight: 500;
      }

      &:focus {
        outline: none;
      }
    }
    .auth-btn {
      padding: 4px 8px;
      font-size: 0.75rem;
    }
    .login-wrapper {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }

  .sign-in {
    cursor: pointer;
  }


  .location-wrapper {
    .city-name {
      font-size: 15px;
    }
    .area-name{

    }
  }

  .orders{
    cursor: pointer;
  }

  .orders-wrapper {
    cursor: pointer;
    .order-image {
      width: 25px;
      height: 25px;
      display: inline-block;
    }
    .orders-text {
      font-size: 0.8rem;
      text-align: center;
      @media (max-width: 768px) {
        display: none;
      }
      @media (min-width: 769px) {
        display: inline-block;
      }
    }
  }

  .profile-wrapper {
    cursor: pointer;
    .login-order-image {
      width: 25px;
      height: 25px;
      display: inline-block;
    }
    .name-text {
      font-size: 0.8rem;
      text-align: center;
      max-width: 200px;
      @media (max-width: 768px) {
        display: none;
      }
      @media (min-width: 769px) {
        display: inline-block;
      }
    }
  }

  .home-cart-wrapper {
    cursor: pointer;
    .cart-image {
      width: 25px;
      height: 25px;
      display: inline-block;
    }
    .cart-text {
      font-size: 0.8rem;
      text-align: center;
      @media (max-width: 768px) {
        display: none;
      }
      @media (min-width: 769px) {
        display: inline-block;
      }
    }
  }

  .bottom-header {
    .logo-wrapper {
      cursor: pointer;

      img {
        width: 33px;
        height: 33px;
      }

      span {
        font-size: 1.3rem;
        font-weight: 500;
      }

      &:focus {
        outline: none;
      }
    }
    .auth-btn {
      padding: 4px 8px;
      font-size: 0.75rem;
    }
  }

  .top-header {
    font-size: 0.6875rem;

    a {
      .login-order-image {
        width: 25px;
        height: 25px;
      }
    }


  }

  .header-search {
    //border: 2px solid $header-search-border;
    border-radius: 30px;
    position: relative;

    .search-dd-btn {
      float: left;
    }

    .main-item {
      cursor: pointer;
    }

    .header-button {
      padding: 4px 15px;
      background-color: $header-search-border;
      border-radius: 30px 0 0 30px;
      font-size: 0.875rem;

      &:focus {
        box-shadow: none;
      }
    }

    .cat-dropdown {
      padding: 4px 15px;
      border-radius: 30px 0px 0px 30px;
      background-color: $color-red;
      color: #fff;
      font-size: 0.875rem;
      border: 1px solid transparent;
      width: 120px;
      text-transform: uppercase
    }

    .cat-dropdown:focus {
      box-shadow: none;
    }

    .dropdown-item.active,
    .dropdown-item:active {
      background-color: $color-red;
    }

    .search-results {
      position: absolute;
      width: calc(100% - 180px);
      left: 120px;
      border: 2px solid $header-search-border;
      border-top: none;
      background: #fff;
      ul {
        list-style: none;
        padding-left: 0;
        max-height: 200px;
        overflow: auto;
        margin-bottom: 0;
        .search-result-record {
          padding: 8px 8px 8px 12px;
          &:hover {
            background: $header-search-border;
          }
        }
      }
    }

    .header-search-button {
      padding: 4px 15px;
      border-radius: 0 30px 30px 0;
      background-color: $header-search-border;
      color: $color-grey-txt;
      font-size: 0.875rem;
      float: left;

      &:focus {
        box-shadow: none;
      }
    }

    .header-scanner-button {
      padding: 4px 15px;
      color: $color-grey-txt;
      font-size: 0.875rem;
      margin-left: 2px;

      &:focus {
        box-shadow: none;
      }
    }

    .header-input {
      border: 2px solid $header-search-border;
      border-radius: 0;
      border-right: 0;
      border-left: none;
      padding: 0 15px;
      margin: 0;
      width: calc(100% - 180px);
      font-size: 14px;
      line-height: 35px;
      height: 31px;
      float: left;
      font-family: sans-serif;

      &:focus {
        box-shadow: none;
      }
    }
  }
}

.search-header {
  .web-header-search {
  border-radius: 30px;
  width: 100%;

  .search-dd-btn {
    float: left;
  }

  .main-item {
    cursor: pointer;
  }

  .header-button {
    padding: 4px 15px;
    background-color: $header-search-border;
    border-radius: 30px 0 0 30px;
    font-size: 0.875rem;

    &:focus {
      box-shadow: none;
    }
  }

  .cat-dropdown {
    padding: 4px 15px;
    border-radius: 30px 0 0 30px;
    background-color: $color-red;
    color: #fff;
    font-size: 0.875rem;
    border: 1px solid transparent;
    width: 120px;
    text-transform: uppercase
  }

  .cat-dropdown:focus {
    box-shadow: none;
  }

  .dropdown-item.active,
  .dropdown-item:active {
    background-color: $color-red;
  }

  .search-results {
    position: absolute;
    width: calc(100% - 180px);
    left: 120px;
    border: 2px solid $header-search-border;
    border-top: none;
    background: #fff;
    ul {
      list-style: none;
      padding-left: 0;
      max-height: 200px;
      overflow: auto;
      margin-bottom: 0;
      .search-result-record {
        padding: 8px 8px 8px 12px;
        &:hover {
          background: $header-search-border;
        }
      }
    }
  }

  .header-search-button {
    padding: 4px 15px;
    border-radius: 0 30px 30px 0;
    background-color: $header-search-border;
    color: $color-grey-txt;
    font-size: 0.875rem;
    float: left;

    &:focus {
      box-shadow: none;
    }
  }

  .header-input {
    border: 2px solid $header-search-border;
    border-radius: 0;
    border-right: 0;
    padding: 0 15px;
    margin: 0;
    width: calc(100% - 210px);
    font-size: 14px;
    line-height: 35px;
    height: 31px;
    float: left;
    font-family: sans-serif;

    &:focus {
      box-shadow: none;
    }
  }

  .bottom-header {
    .logo-wrapper {
      img {
        width: 27px;
        height: 27px;
      }

      span {
        font-size: 1rem;
      }
    }
  }
}
  @media (max-height: 768px) {
    display: none;
  }
  @media (min-width: 769px) {
    display: block;
  }
}

@media (max-width: 575px) {
  .home-header {
    .top-header {
      .hide-mobile {
        display: none;
      }

      .show-mobile,
      .logo-wrapper {
        display: inline-block;
      }
      .show-mobile {
        width: 65%;
      }

      .logo-wrapper {
        width: 35%;
        a {
          img {
            width: 30px;
            height: 30px;
          }
          span {
            font-size: 1rem;
          }
        }
      }
      .login-wrapper {
        width: 65%;
      }
    }
    .bottom-header {
      .logo-wrapper {
        img {
          width: 27px;
          height: 27px;
        }

        span {
          font-size: 1rem;
        }
      }
    }
    .header-search {
      .header-input {
        width: calc(100% - 220px);
      }
    }
  }
}

@media (min-width: 992px) {
  .home-header {
    .show-mobile {
      display: none;
    }

    .hide-mobile {
      display: block;
    }
  }
}

@media (min-width: 768px) {
  .home-header {
    .show-mobile {
      display: none;
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .home-header {
    .hide-mobile {
      display: none;
    }

    .header-search {
      .header-input {
        width: calc(100% - 210px);
      }
    }
  }
}

@media (max-width: 575px) {
  .thin-header {
    padding: 10px;
    text-align: center;

    i {
      cursor: pointer;
    }

    i.fa-arrow-left {
      font-size: 25px;
      float: left;
    }

    i.fa-share-alt {
      font-size: 25px;
      float: right;
      margin-left: 15px;
    }

    i.fa-bell-o {
      font-size: 25px;
      float: right;
      margin-left: 15px;
    }

    .title {
      font-weight: 700;
      font-size: 1.2rem;
    }
  }

  .hide-thick-header {
    display: none;
  }

  .show-thin-header {
    &.thin-header {
      display: block;
    }
  }
}
@media (min-width: 320px) and (max-width: 375px) {
  .home-header {
    .top-header {
      .logo-wrapper {
        width: 35% !important;
        a {
          img {
            width: 24px;
            height: 24px;
          }
          span {
            font-size: .8rem;
          }
        }
      }
      .login-wrapper {
        width: 65% !important;
        .sign-in {
          margin-right: 0.5rem !important;
          .auth-btn {
            margin-left: 0;
          }
        }
        .orders {
          margin-right: 0 !important;
        }
      }
    }
  }
}

.auth-btn {
  margin-left: 20px;

  a {
    color: $color-white !important;
  }
}

.bottom-header {
  @media (max-height: 768px) {
    display: block;
    }
    @media (min-width: 769px) {
    display: none;
    }
}

.home-header {
  .top-header {
    &.show-in-mobile {
      display: none !important;
      @media screen and (max-width: 768px) {
        display: flex !important;
      }

      @media screen and (max-width: 424px) {
        .login-wrapper {
          justify-content: flex-end !important;
        }
      }
      .logo-wrapper {
        width: 30%;
      }
      .login-wrapper {
        width: 70%;
        justify-content: flex-end;
      }

    }
    &.hide-in-mobile {
      display: flex;
      @media screen and (max-width: 768px) {
        display: none !important;
      }
    }
  }
}
