<footer class="container footer-content-0 mt-3">
  <div class="row">
    <div class="col-6 col-md">
      <h5>Company</h5>
      <ul class="list-unstyled text-small">
        <li><a href="/static-page/about.html" target="_self">About Us</a></li>
        <li><a href="/static-page/privacy.html" target="_self">Privacy Policy</a></li>
        <li><a href="/static-page/terms.html" target="_self">Terms & Conditions</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Help</h5>
      <ul class="list-unstyled text-small">
        <li><a href="/contact-us" target="_self">Contact Us</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Quick Links</h5>
      <ul class="list-unstyled text-small">
        <li><a (click)="openQuickLink('stores')">Stores</a></li>
        <li><a (click)="openQuickLink('services')">Services</a></li>
        <li><a (click)="openQuickLink('movies')">Movies</a></li>
        <li><a (click)="openQuickLink('home_services')">Home Services</a></li>
        <li><a (click)="openQuickLink('real_estates')">Real Estates</a></li>
      </ul>
    </div>
    <div class="col-3 col-md">
      <h5>Download App</h5>
      <ul class="list-unstyled text-small">
        <li>
          <a href="https://play.google.com/store/apps/details?id=com.oneshell&hl=en_IN" target="_self">
            <img class="img-fluid" src="assets/Download.png" alt="Download App">
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
<footer class="footer-content-1">
  <small class="d-block text-muted">Copyright © OneShell Private Limited</small>
</footer>


