.footer-content-0 {
  a {
    color: grey;
    font-size: 0.8rem;
  }
  h5 {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.250em;
  }
}

.footer-content-1 {
    width: 100%;
    background-color:#333333;
    color: #ffffff;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
}

a {
  cursor: pointer;
}

