@import "../../../variables";

.stores-list-container {
  .advertisement {
    .card {
      cursor: pointer;
      .card-img-top {
        height: 250px;
      }
      .card-body {
        height: 90px;
      }
    }
  }
  .storeList {
    .card {
      cursor: pointer;
      .card-img-top {
        background-image: url(https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/Ballari%2Fbg_mage.png?alt=media&token=1f2c0dab-ea87-4071-aa31-293b67427d19);
        width: 100%;
        height: 175px;
        object-fit: cover;
      }
    }
    .mobile-custom-view {
      padding: 8px 10px;
      border-top: 1px solid $header-search-border;
      border-bottom: 1px solid $header-search-border;
      margin-top: 10px;
      justify-content: space-around;
  
      img,
      span {
        display: block;
      }
  
      span {
        line-height: 1.3;
        font-size: 13px;
      }
  
      .loc-time {
        width: 15px;
        height: 15px;
      }
  
      .description {
        color: #666666;
      }
  
      .seperator {
        border-right: 1px solid $header-search-border;
        height: 20px;
        position: relative;
        top: 6px;
      }
    }
  }
  .card {
    cursor: pointer;
    font-size: 0.8rem;
    .card-body, .card-footer, .card-sub-body {
      padding: 0.6rem 0.75rem;
    }
    .card-sub-body {
      border-top: 1px solid $color-lite-grey;
      .offer {
        color: $offer-gold;
        margin-right: 5px;
      }
    }
    .card-body {
      .status {
        color: $color-teal;
      }
     
        .location {
          color: $color-red;
          font-size: 0.8rem;
      }
    
    }
    .card-footer {
      background-color: $color-lite-grey;
      .subscriber {
        color: $color-teal;
      }
    }
    .offer-wrapper {
      .loc-time {
        width: 15px;
        height: 15px;
      }
      .data {
        font-size: 0.8rem;
        font-weight: 400;
      }
    }
    .mobile-custom-view {
      padding-left: 4px;
      padding-top: 10px;
      padding-bottom: 10px;
      border-top: 1px solid $header-search-border;
      margin-top: 10px;
      justify-content: space-around;
      
      .icons {
        width : 75%;
        justify-content: space-around;
  
      .loc-time {
        width: 15px;
        height: 15px;
        margin-left: auto;
        margin-right: auto;
      }
  
      
  
      img,
        span {
          display: block;
        }
  
        span {
          line-height: 1.3;
          font-size: 13px;
        }
      }
  
      .deal {
        width: 100px;
        height: 30px;
        float: right;
      }
  
      .data {
        font-size: 1rem;
      }
  
      .description {
        color: #666666;
        font-size: 0.5rem;
      }
    }
    .offline-wrapper {
      background-color: $color-red;
      color: white;
      font-size: 1rem;
      font-weight: 500;
      padding: 10px;
      text-align: center;
    }
  }
}
pagination-controls{
  display:inline-block;
  margin-top: 25px;
}

pagination-controls ::ng-deep .ngx-pagination .current {
  padding: 0.1875rem 0.625rem;
  background: #ef5350;
  border: transparent;
  border-radius: 25px;
  color: #fefefe;
  cursor: default;
}
.loading-indicator {
  width: 25px;
  height: 25px;
  margin-left: auto;
  margin-right: auto;
}
.deal-required:after{
  color: red;
  content: " *";
}