<div class="stores-list-container mb-md-4 mb-3 main-container-width">
  <h3 class="text-center">
    More Recommendations
  </h3>
  <div class="col-md-12" *ngIf="showData">
    <div class="row" *ngIf="storeList && config">
      <p>(showing {{pageStart}} - {{pageEnd}} of {{totalItems}})</p>
      <div class="col-sm-6 col-md-6 col-lg-4 mb-3 storeList" *ngFor="let store of storeList | paginate: config">
        <div class="card shadow" (click)="onStoreClicked(store)">
            <img class="card-img-top" src="{{store.primary_image_url}}" alt="shop image" />
            <div class="card-body">
              <h6 class="card-title m-0 p-0 ellipsis">{{store.business_name}}</h6>
              <p class="card-text m-0 p-0 location">
                {{store.business_area}}
              </p>
              <div class="text-center d-inline-block offer-wrapper" *ngIf="store.number_of_offers > 0">
                <img src="../../../assets/images/offer_listing_icon.png" class="loc-time mr-1" />
                <span class="data text-center">{{store.number_of_offers}}&nbsp;Offers available</span>
              </div>
              <div class="d-block mobile-custom-view d-flex">
               <div class="icons d-inline-block d-flex">
                  <div class="text-center d-inline-block icon-option">
                    <img src="../../../assets/star.png" class="loc-time text-center" />
                    <span class="data">{{store.rating_display_number}}</span>
                    <span class="description">{{store.rating_display_description}}</span>
                  </div>
                 
                  <div class="text-center d-inline-block icon-option">
                    <img src="../../../assets/images/ic_time.png" class="loc-time" />
                    <span class="data">{{store.is_open}}</span>
                    <span class="description" *ngIf="store.is_open === 'Open'">{{store.timings}}</span>
                    <span class="description" *ngIf="store.is_open === 'Closed'">&nbsp;</span>
                  </div>
                  
                  <div class="text-center d-inline-block icon-option" *ngIf="store.approx_delivery_time">
                    <img src="../../../assets/images/ic_delivery.png" class="loc-time" />
                    <span class="data">{{store.approx_delivery_time}}</span>
                    <span class="description">(delivery time)</span>
                  </div>
                 
                  <div class="text-center d-inline-block icon-option" *ngIf="store.number_of_products > 0">
                    <img src="../../../assets/product.png" class="loc-time" />
                    <span class="data">{{store.number_of_products}}</span>
                    <span class="description">Products</span>
                  </div>
                 
                  <div class="text-center d-inline-block icon-option" *ngIf="store.number_of_products == 0 && store.number_of_services > 0">
                    <img src="../../../assets/feedback.png" class="loc-time" />
                    <span class="data">{{store.number_of_services}}</span>
                    <span class="description">Services</span>
                  </div>
                </div>
                  <div class="text-center d-inline-block" (click)="showDealTemplate(dealDetails,store, $event)">
                      <img src="../../../assets/images/get_Best_Deal.png" class="deal" />
                  </div>
                </div>
                <div class="offline-wrapper m-0 p-1" *ngIf="store.show_offline">
                  <span class="text-center">Currently not accepting orders</span>
                </div>
          </div>
        </div>
      </div>
    </div>
      <div class="text-center">
        <pagination-controls (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls>
      </div>
    </div>
    <mat-progress-spinner *ngIf="!showData"
        class="loading-indicator mt-16"
        mode="indeterminate"
        color="warn">
    </mat-progress-spinner>
  </div>

  <ng-template #dealDetails>
    <div class="modal-header">
      <h5><strong>Details</strong></h5>
      <button type="button" class="close" aria-label="Close" (click)="hideDealTemplate()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form class="form" #myform = "ngForm" (ngSubmit) = "onSubmit(myform)" >
    <div class="modal-body">
        <p>Provide your details to receive call back from Business</p>
        <label class="d-block deal-required">Name</label>
        <input class="d-block" type="text" placeholder="Name" name="name" ngModel required>
        <label class="d-block deal-required mt-4">Phone Number</label>
        <input class="d-block" type="text" placeholder="Mobile number" name="number" ngModel required>
        <span *ngIf="showDealError" class="deal-error mt-2">Please provide all the required fields!</span>
    </div>
    <div class="modal-footer">
      <button class="ct-sb-btn" type="submit">SUBMIT</button>
    </div>
  </form>
  </ng-template>
  
  <ng-template #confirmDealDetailsShare>
      <div class="modal-header">
        <h5><strong>Alert</strong></h5>
        <button type="button" class="close" aria-label="Close" (click)="hideShareDealTemplate()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
          <p>Are you sure you want to share your Name and Phone Number details to receive call back from Business?</p>
      </div>
      <div class="modal-footer">
        <button class="ct-sb-btn" (click)="onShareAlertClicked()">OK</button>
      </div>
   
    </ng-template>
