@import "../../../../../variables.scss";

.login-container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.login-container .container .row {
  justify-content: center;
}


.red {
  color: #dc3545
}

.logo-img {
  justify-content: center;
  text-align: center;
  padding: 20px 0px;
}

.login-body {
  min-width: 330px;
  width: 30%;
  top: 25px;
  background-color: #fff;

  .error-msg {
    font-size: 12px;
    color: $error-msg;
  }
}

.logo-wrapper {
  cursor: pointer;
  img {
    width: 70px;
    height: 70px;
    min-width: 35px;
    min-height: 35px;
  }
}

.error-msg-invalid {
  font-size: 12px;
  color: $error-msg;
}

.login-details.container {
  .login-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.recaptcha-verifier {
  margin-top: 15px;
}

@media (max-width: 768px) {

  .logo-wrapper {
    img {
      width: 40px;
      height: 40px;
      min-width: 35px;
      min-height: 35px;
    }

  }
}

.btn-next {
  width: 100%;
  margin: 15px 15px 0 12px;
}

.next-btn-container {
  margin-top: 15px;
}
