<div class="login-container">
  <div class="login-body container custom-scrollbar">

    <div class="logo-img">
      <div class="logo-wrapper d-inline-block" [routerLink]="['/home']">
        <img src="assets/oneshell-logo.png" alt="OneShell Logo" />
      </div>
    </div>

    <ng-container *ngIf="currentFlowStatus === 'getPhoneNumber'">
      <form (ngSubmit)="getPhoneNumberSubmit$.next()" #getPhoneNumberForm="ngForm">
        <div class="container check-user-reg-login-details login-details">
          <div class="row">
            <mat-form-field class="col-12 px-0">
              <mat-label>Phone Number</mat-label>
              <span matPrefix>+91 &nbsp;</span>
              <input matInput [(ngModel)]="username" name="username"
                     autofocus
                     required pattern="[0-9]*" maxlength="10" minlength="10" #phoneNumber="ngModel">
              <mat-error *ngIf="phoneNumber.touched && phoneNumber.invalid">Please enter a valid Phone number</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row recaptcha-verifier">
          <div id="recaptcha-container"></div>
        </div>
        <div class="row">
          <button type="submit" class="btn btn-danger btn-next">Next</button>
        </div>
        <div class="alert alert-danger mt-2" role="alert" *ngIf="sendOtpFailure">
          Something went wrong while sending Otp. Please try again later.
        </div>
      </form>
    </ng-container>

    <ng-container *ngIf="currentFlowStatus === 'otpVerification'">
      <form (ngSubmit)="verifyOTP(otpVerificationForm.valid)" #otpVerificationForm="ngForm">
        <mat-form-field class="col-12 px-0">
          <mat-label>Enter OTP</mat-label>
          <input matInput [(ngModel)]="otpValue" name="otp"
                 autofocus
                 required pattern="[0-9]*" maxlength="6" minlength="6" #otp="ngModel">
          <mat-error *ngIf="(otp.touched && otp.invalid)">
            Invalid OTP
          </mat-error>
        </mat-form-field>
        <div class="row">
          <button type="submit" class="btn btn-danger btn-next">Next</button>
        </div>
        <div class="alert alert-danger mt-2" role="alert" *ngIf="invalidOtp">
          Invalid OTP
        </div>
      </form>
    </ng-container>

    <ng-container *ngIf="currentFlowStatus === 'resetPasswordOrLogin'">
      <div class="container mt-3">
        <h4>Hi, <span>{{ dataForResetPasswordOrLoginContainer?.name | titlecase }}</span></h4>
        <div>There is an account registered against this Phone number.</div>
        <div class="mt-3">
          <button mat-button class="mr-1" (click)="showResetPasswordContainer()">Reset Password</button>
          <button mat-button class="ml-1" (click)="openLoginModal()">Login</button>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="currentFlowStatus === 'resetPassword'">
      <div class="container check-user-reg-login-details login-details">
          <form [formGroup]="passwordForm" (ngSubmit)="updatePassword()">
            <mat-form-field class="col-12 px-0">
              <mat-label>PASSWORD</mat-label>
              <input type="password" matInput formControlName="password" required minlength="6">
              <mat-error *ngIf="isFieldInvalid('password', passwordForm)">Should be minimum six letters long</mat-error>
            </mat-form-field>

            <mat-form-field class="col-12 px-0">
              <mat-label>CONFIRM PASSWORD</mat-label>
              <input type="password" matInput formControlName="passwordConfirm" required minlength="6">
              <mat-error *ngIf="isFieldInvalid('passwordConfirm', passwordForm)">This field is Mandatory</mat-error>
              <mat-error *ngIf="showPasswordError('passwordConfirm', passwordForm)">Passwords doesn't match</mat-error>
            </mat-form-field>
            <div class="row">
              <button type="submit" class="btn btn-danger btn-next mt-3">Next</button>
            </div>
          </form>
      </div>
    </ng-container>

    <ng-container *ngIf="currentFlowStatus === 'getSignUpDetails'">
      <div class="container login-details signup" >
        <div class="row">
          <form [formGroup]="signUpForm" (ngSubmit)="submitSignUpDetails()">
            <div class="form-field">
              <mat-form-field class="col-12 px-0">
                <mat-label>CITY</mat-label>
                <mat-select formControlName="city" required>
                  <mat-option *ngFor="let city of cities" [value]="city">
                    {{city | titlecase}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="isFieldInvalid('city', signUpForm)">This is a required field.</mat-error>
              </mat-form-field>

              <mat-form-field class="col-12 px-0">
                <mat-label>LOCATION</mat-label>
                <mat-select formControlName="location">
                  <mat-option *ngFor="let loc of locations" [value]="loc">
                    {{loc | titlecase}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="col-12 px-0">
                <mat-label>GENDER</mat-label>
                <mat-select formControlName="gender">
                  <mat-option *ngFor="let gender of gendersList" [value]="gender">
                    {{gender | titlecase}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="col-12 px-0">
                <mat-label>NAME</mat-label>
                <input matInput formControlName="name" required>
                <mat-error *ngIf="isFieldInvalid('name', signUpForm)">This is a required field</mat-error>
              </mat-form-field>

              <mat-form-field class="col-12 px-0">
                <mat-label>AGE</mat-label>
                <input matInput formControlName="age" pattern="[0-9]*" maxlength="3">
                <mat-error *ngIf="isFieldInvalid('age', signUpForm)">Please enter valid age</mat-error>
              </mat-form-field>

              <mat-form-field class="col-12 px-0">
                <mat-label>EMAIL</mat-label>
                <input matInput type="email" formControlName="email">
                <mat-error *ngIf="isFieldInvalid('email', signUpForm)">Invalid email</mat-error>
              </mat-form-field>

              <mat-form-field class="col-12 px-0">
                <mat-label>PASSWORD</mat-label>
                <input type="password" matInput formControlName="password" required minlength="6">
                <mat-error *ngIf="isFieldInvalid('password', signUpForm)">Should be minimum six letters long</mat-error>
              </mat-form-field>

              <mat-form-field class="col-12 px-0">
                <mat-label>CONFIRM PASSWORD</mat-label>
                <input type="password" matInput formControlName="passwordConfirm" required minlength="6">
                <mat-error *ngIf="isFieldInvalid('passwordConfirm', signUpForm)">This field is Mandatory</mat-error>
                <mat-error *ngIf="showPasswordError('passwordConfirm', signUpForm)">Passwords doesn't match</mat-error>
              </mat-form-field>

              <mat-form-field class="col-12 px-0">
                <mat-label>REFERRAL CODE</mat-label>
                <input matInput formControlName="referralCode">
              </mat-form-field>
            </div>
            <div class="row next-btn-container">
              <button type="submit" class="btn btn-danger">Next</button>
            </div>
          </form>
        </div>

      </div>
    </ng-container>

  </div>
</div>
