<p>side-panel-filters works!</p>
<ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options" (valueChange)="handleMinValueChanged($event)" (highValueChange)="handleMaxValueChanged($event)"></ng5-slider>
