<div class="wrapper">
    <div class="content">
      <h1>Contact Us</h1>
      <p><br>
          Send us your valuable feedback, to serve you better</p>
    </div>

    <form class="form" #myform = "ngForm" (ngSubmit) = "onSubmit(myform)" >

      <div class="top-form">
        <div class="inner-form">
          <label class="label required">Name</label>
          <input type="text" placeholder="Your Name" name="username" autocomplete="off" ngModel>
        </div>
        <div class="inner-form">
            <label class="label required">email</label>
          <input type="text" placeholder="Example@gmail.com" name="email" autocomplete="off" ngModel>
        </div>
      </div>

      <div class="top-form mt-2">
          <div class="inner-form">
              <label class="label">phone</label>
              <input type="text" placeholder="Mobile number" name="number" autocomplete="off" ngModel>
            </div>
    
            <div class="inner-form">
                <label class="label required">City</label>
              <input type="text" placeholder="City" name="city" autocomplete="off" ngModel>
            </div>
      </div>

      <div class="middle-form mt-2">
        <div class="inner-form">
            <label class="label required">subject</label>
          <input type="text" placeholder="Subject" name="subject" autocomplete="off" ngModel>
        </div>
      </div>

      <div class="bottom-form">
        <div class="inner-form">
            <label class="label required">message</label>
          <textarea placeholder="Your message" name="message" autocomplete="off" ngModel></textarea>
        </div>
      </div>

      <span *ngIf="showErrorText" class="error-txt m-2">Please provide all the required fields!</span>
      <div class="btn">
      <p> <button class="ct-sb-btn" type="submit">SUBMIT</button></p>
      </div>
    </form>
  </div>
