* {
    margin: 0;
    padding: 0;
    user-select: none;
  }
   
  body {
    font-family: nunito sans;
    background: #ffff;
  }
   
  .wrapper {
    margin: 100px auto 0;
    width: 100%;
    max-width: 680px;
    padding: 20px;
    box-sizing: border-box;
  }
   
  /* content */
  .content {
    text-align: center;
  }
   
  .content h1 {
    letter-spacing: 1px;
    display: inline-block;
    border-bottom: #ef5350;
    position: relative;
  }
  .content h1::after {
      content:'';
      height: 4px;
      width:20%;
      background: #ef5350;
      position: absolute;
      left: 40%;
      bottom: 0;
    }
   
  /* form */
  .form {
    width: 100%;
    margin: 25px 0;
  }
   
  .top-form,
  .middle-form,
  .bottom-form {
    width: 100%;
    min-height: 65px;
    margin: 30px 0;
  }
   
  .form input[type="text"],
  .form textarea {
    border: 1px solid #333333;
    padding: 15px 5px;
    outline: none;
    border-radius: 20px;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease;
  }
   
  .form input:focus,
  .form textarea:focus {
    border: 2px solid #ef5350;
    outline: none;
  }
   
  .form .label {
    margin-bottom: 5px;
    text-transform: capitalize;
  }
   
  /* top-contact */
  .top-form .inner-form {
    width: 29.9%;
    float: left;
    margin-right: 5%;
  }
   
  .top-form .inner-form:last-child {
    margin-right: 0;
  }
   
   
  /* middle-form */
  .middle-form {
    clear: both;
  }
   
  /* bottom-form */
  .bottom-form textarea {
    height: 120px;
  }
   
  .btn {
    background: #ef5350;
    width: 200px;
    margin-left: 220px;
    margin-top: 10px;
    padding: 10px 0;
    border-radius: 20px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    cursor: pointer;
  }
   .btn p{
     color: white;
   }
   .ct-sb-btn {
    background-color: transparent; 
    border: 0; 
    color: white;
  }
  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-family: Nunito sans;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    font-family: nunito sans;
  }
  :-ms-input-placeholder {
    /* IE 10+ */
    font-family: Nunito sans;
  }
   
  @media screen and (max-width: 460px) {
    .wrapper {
      margin: 25px auto 0;
    }
    .top-form .inner-form {
      width: 100%;
      margin: 5px 0;
    }
    .top-form,
    .middle-form,
    .bottom-form {
      margin: 5px 0;
    }
    .form {
      margin-top: 10px;
    }
    .btn{
       margin-left: auto;
       margin-right: auto;
    }
  
    .form input[type="text"],
    .form textarea {
       width: 100%;
       box-sizing: border-box;
    }
  }
  .error-txt {
    color: #ef5350;
  }
  .label.required:after{
    color: red;
    content: " *";
  }