@import "../../variables.scss";

.view-cart-container {
    .card-img-top {
        width: 120px;
        height: 100px;
        align-content: center;
        object-fit: contain;
    }
    .cart-value {
        font-size: 1.0rem;
        font-weight: 500;
    }
    .shop-more {
        color: #009788;
        cursor: pointer;
    }
    .view-cart {
        float: right;
        cursor: pointer;
    }
    .delete-cart {
        color: #616161;
        cursor: pointer;
    }
    .prod-name {
        width: 100px;
        padding: 5px;
    }
    .os-link {
        color: $os-primary-color;
        text-decoration: underline !important;
      }
}