<div class="view-cart-container mb-3">
    <h3 class="text-center">
        Review Cart
    </h3>
    <div class="col-md-12">
        <div class="row">
            <div class="col-12" *ngFor="let cartBusiness of cartBusinessesList">
                <div class="card shadow p-3 mb-2">
                    <h5 class="card-title mb-1 ellipsis">{{cartBusiness.business_name}} ( {{cartBusiness.business_products_cart_response.length}} Items )</h5>

                    <app-horizontal-carousel class ="p-1 mt-1">
                            <div class="card border-1 mr-2 d-inline-block" *ngFor="let item of cartBusiness.business_products_cart_response">
                                <img class="card-img-top rounded text-center" src="{{ item.image_url }}" alt="Product image" />
                                <div class="prod-name mb-0 ellipsis text-center" title="{{ item.name }}">
                                    {{ item.name }}
                                </div>
                            </div>

                    </app-horizontal-carousel>
                    <div class="mt-2">
                        <a target="_self"
                            [href]="baseUrl + '/business/' + cartBusiness.business_city + '/' + cartBusiness.business_id + '/'+ cartBusiness.urlBusinessName">
                            <span class="shop-more d-inline-block">Shop More</span></a><span class="d-inline-block">
                            &nbsp;&nbsp;|&nbsp;&nbsp; </span><span class="delete-cart d-inline-block"
                            (click)="onDeleteCartClicked(cartBusiness)">Delete Cart</span>
                    </div>
                    <hr>
                    <div>
                        <p class="cart-value d-inline-block text-center">Cart Value:  &#8377;{{cartBusiness.sub_total}}</p>
                        <a target="_self" [href]="[baseUrl, 'viewCart', cartBusiness.business_city, cartBusiness.business_id].join('/')">
                        <button class="view-cart rounded btn btn-primary os-btn-primary auth-btn d-inline-block" (click)="onViewCart(cartBusiness)">
                            View Cart
                        </button>
                    </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mt-4" *ngIf="!cartBusinessesList?.length">
        <span>Your Shopping Cart is empty. </span>
        <a class="os-link" [href]="baseUrl + '/' + activeCity"
          target="_self">Start Shopping</a>
      </div>
</div>
