@import "src/variables";

.product-details {
  .bredcrumb-text {
    font-size: 1rem;
  }
  .breadcrumb-item+.breadcrumb-item {
    padding-left: 0;
  }
  .back-results {
    cursor: pointer;
    span {
    font-size: 1rem;
    text-decoration: underline;
    font-weight: 500;
    color: black;
    }
  }
  .options-wrapper {
    .options {
      margin-right: 15px;

      .share-btn {
        background: white;
        border-radius: 50%;
        width: 44px;
        height: 44px;
        padding: 11px 0 5px 0;

        i {
          font-size: 20px;
          color: $color-red;
        }
      }

      .wish-btn {
        margin-left: 20px;
        background: white;
        border-radius: 50%;
        width: 44px;
        height: 44px;
        padding: 11px 0 5px 0;

        .wish-image {
          width: 25px;
          height: 25px;
        }
      }

      .cart-wrapper {
        margin-left: 20px;
        display: inline-block;

        .cart-btn {
          display: inline-block;
        }

        .cart-text {
          margin-left: 5px;
          display: inline-block;
          font-size: 0.8rem;
          color: $color-red;
          text-align: center;
        }
      }
    }
  }
  .brand-name {
    color: #4fc3f7;
    font-size: 14px;
  }
  .price-text {
    color: #212121;
    font-weight: 700;
    font-size: 18px;
    margin-top: 5px;
  }
  .prod-name {
    color: black;
    font-size: 16px;
  }
  .property-title {
    color: #616161;
  }
  &__img-preview {
    display: inline-block;
    width: 20%;
    max-height: 320px;
    overflow: auto;
    &__wrapper {
      height: 80px;
      &--img {
        cursor: pointer;
        height: 100%;
        object-fit: contain;
        margin-bottom: 0px;
        width: 100%;
      }
      &.selected-item {
        margin-bottom: 10px !important;
        border: 2px solid #ef5350;
        border-radius: 3px;
      }
    }
  }
  &__main-img-container {
    display: inline-block;
    width: 75%;
    vertical-align: top;
    margin-bottom: 30px;
    margin-left: 10px;
    &--img {
      height: 100%;
      width: 100%;
      max-height: 300px;
      object-fit: contain;
    }
    .products-web-btn-section {
      button,.add-to-wish-list-btn {
        padding: 4px 5px !important;
        height: auto !important;
        button[disabled],button[disabled = 'true'] {
          cursor:not-allowed;
          opacity: 0.5;
        }
      }
      ::ng-deep {
        .web-view-cart {
          .add-to-cart--btn {
            padding: 4px 5px !important;
            height: auto !important;
          }
        }
      }
    }
  }
  &__call-to-action {
    &--link {
      width: 100%;
      margin-left: 2em;
      @media screen and (max-width: 768px){
        margin-left: auto;
      }
      &:hover {
        background-color: transparent;
        color: $color-red;
      }
    }

    .add-to-wish-list-btn {
      margin-right: 7px;
      background-color: transparent;
      color: $color-red;
      border-color: $color-red;
      width: 48%;

      &:hover, &:focus {
        background-color: $color-red;
        color: $color-white;
        border-color: $color-red;
        box-shadow: none;
      }
    }
    ::ng-deep {
      .web-view-cart {
        width: 48%;
        .add-to-cart--btn {
          background-color: $color-red;
          color: $color-white;
          border-color: $color-red;
          width: 100%;
        }
      }
    }
    &--web {
      display: none;
      @media screen and (min-width: 576px) {
        display: block;
      }
    }
    &--mobile {
      display: block;
      box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
      position: fixed;
      bottom: 0;
      left: 0;
      background: white;
      width: 100%;
      padding: 10px;
      z-index: 9;
      @media screen and (min-width: 576px) {
        display: none;
      }
    }
  }
  &__container{
    &__info{
      .actual-price {
        font-size: 0.9rem;
        color: $product-offer;
        text-decoration: line-through;
      }
      .discount {
        font-size: 0.9rem;
        color: $color-teal;
      }
      &--business-name {
        .info-text {
          color: $color-teal;
        }
      }
    }
  }
  .property-img-btn {
    .property-img {
      width: 80px;
      height: 80px;
      object-fit: contain;
      padding: 4px;
        &.not-available {
          border: 0.5px dashed !important;
          color: #616161;
          cursor: default;
        }
        &.selected {
          background-color: $color-red;
          color: $color-red;
        }
    }
  }

  .product-category-button {
    color: #616161;
    background-color: $color-white;
    border: 1px solid #616161 !important;
    &.selected {
      box-shadow: none;
      border: 1px solid $color-red !important;
      color: $color-red;
    }
    &.not-available {
      border: 1px dashed #616161 !important;
      cursor: default;
    }
    padding: 3px 14px;
    font-size: 13px;
  }
  ::ng-deep {
    .cart-div {
      margin-top: 11px;
    }
  }
}
.add-to-cart {
  text-align: center;
  &--btn {
    background-color: transparent;
    border: $cartElementBorder;
    color: $color-red;
    border-radius: 25px;
    cursor: pointer;
    padding: 0 18px;
    height: $cartElementHeight;
  }
}
.deal-error {
  color: $color-red;
}
.deal-required:after{
  color: red;
  content: " *";
}

.mobile-delivery-container {
  position: relative;
  &.available {
    border: 1px solid #DFF0DA;
    padding: 5px;
    background: #DFF0DA;
    padding-right: 80px;
    }
    &.not-available {
      border: 1px solid #FCDDDC;
      padding: 5px;
      background: #FCDDDC;
      padding-right: 80px;
    }
    .loc-name {
      color: #333333;
      font-size: 14px;
    }
    .location-open {
      display: inline-block;
      float: right;
      font-weight: 400;
      color: $color-red;
      font-size: 14px;
      text-decoration: underline;
      position: absolute;
      right: 5px;
      top: 5px;
      padding-left: 2px;
    }
    .icon {
      margin-right: 10px;
      max-width: 20px;
    }

    @media (max-width: 568px) {
      margin-top: 10px;
      display: block;
    }

    @media (min-width: 569px) {
      display: none;
    }
}

.web-delivery-container {
  position: relative;
  &.available {
    border: 1px solid #DFF0DA;
    padding: 5px;
    margin-bottom: 15px;
    background: #DFF0DA;
    padding-right: 80px;
    }
    &.not-available {
      border: 1px solid #FCDDDC;
      padding: 5px;
      margin-bottom: 15px;
      background: #FCDDDC;
      padding-right: 80px;
    }
    .loc-name {
      color: #333333;
      font-size: 14px;
    }
    .location-open {
      display: inline-block;
      float: right;
      font-weight: 400;
      color: $color-red;
      font-size: 14px;
      text-decoration: underline;
      position: absolute;
      right: 5px;
      top: 5px;
      padding-left: 2px;
    }
    .icon {
      margin-right: 10px;
      max-width: 20px;
    }

    @media (max-width: 568px) {
      margin-top: 16px;
      display: none;
    }

    @media (min-width: 569px) {
      display: block;
    }
}
