<div class="product-details mb-md-4 mb-3 main-container-width mx-auto">

  <section class="row mb-2" *ngIf="showBredCrum">
    <nav class="col-sm-7 my-1" aria-label="breadcrumb">
      <ol class="breadcrumb bg-white py-0 mb-0">
        <li class="breadcrumb-item">
          <i class="fa fa-caret-right" aria-hidden="true"></i>
          <a class="bredcrumb-text" mat-button target="_self" [href]="baseUrl + '/' + business_city">Home&nbsp;</a>
        </li>
        <li class="breadcrumb-item" *ngIf="businessName">
          <i class="fa fa-caret-right" aria-hidden="true"></i>
          <a class="bredcrumb-text" mat-button target="_self"
           (click) = "onBusinessNameBreadCrumbClick()">
            {{ businessName }}&nbsp;
        </a>
        </li>
        <li class="breadcrumb-item" *ngIf="type">
          <i class="fa fa-caret-right" aria-hidden="true"></i>
          <a class="bredcrumb-text" mat-button target="_self" [href]="typeUrl">
            {{ type }}&nbsp;
          </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          <i class="fa fa-caret-right" aria-hidden="true"></i>
          <a class="bredcrumb-text" mat-button>{{ product?.name }}</a>
        </li>
      </ol>
    </nav>
    <div class="col-sm-5 d-flex align-items-center justify-content-end options-wrapper">
      <div class="options">
        <button class="btn shadow share-btn text-center" title="Share" [ngbPopover]="sharePopContent"
          [popoverTitle]="sharePopTitle" [autoClose]="'outside'">
          <span><i class="fa fa-share-alt" aria-hidden="true"></i></span>
        </button>
          <button class="btn shadow wish-btn text-center" title="Wish" (click)="onWishIconClicked()">
            <img src="../../../assets/wish_list.png" class="wish-image" />
          </button>
        <div class="row cart-wrapper text-center" *ngIf="isSelfOrderAvailable">
          <self-order-cart-button class="cart-btn"[businessId]="business_id"
            [businessCity]="business_city" [businessName]="business_name" [tableNo]="tableNo">
          </self-order-cart-button>
          <span class="cart-text text-center">In-Store Cart</span>
        </div>
        <div class="row cart-wrapper text-center" *ngIf="product?.oneshell_home_delivery && !isSelfOrderAvailable">
          <store-cart-button class="cart-btn" [businessId]="business_id" [businessCity]="business_city">
          </store-cart-button>
          <span class="cart-text text-center">In-Store Cart</span>
        </div>
      </div>
    </div>
  </section>
  <hr>

  <div class="back-results mb-2 col-sm-7 my-1" (click)="goBack()" *ngIf="!showBredCrum">
    <i class="fa fa-caret-left d-inline-block" aria-hidden="true"></i>
    <span class="mt-1 d-inline-block">&nbsp;Back to Results</span>
  </div>


  <section class="row">
    <div class="col-sm-12">
      <div class="row">

        <div class="mobile-delivery-container mb-2" *ngIf="product?.oneshell_home_delivery"
          [ngClass]="!isOffline && product?.oneshell_home_delivery ? 'available':'not-available'"> <img
            class="notdeliveriimage icon" *ngIf="isOffline" src="../../../assets/images/not%20delivering.png"> <img
            class="deliveriimage icon" *ngIf="!isOffline" src="../../../assets/images/Delivering.png"> <span
            class="loc-name">{{deliverystatus}}<strong>{{userAddress}}</strong></span>
          <a href="javaScript:void(0);" class="location-open" (click)="openLocationModal()">{{deliverstatusaction}}</a>
        </div>

      <div class="col-xs-12 col-sm-6 col-xl-4 col-md-5 text-center">
        <div class="product-details__img-preview" *ngIf="imagesList?.length > 0">
          <div class="product-details__img-preview__wrapper" *ngFor="let item of filteredImagesList"
            [ngClass]="{'selected-item': item.isActive}" (click)="selectedItem(item)">
            <img class="rounded product-details__img-preview__wrapper--img" src="{{item.imgUrl}}"
              (click)="imageChange(item.imgUrl)" />
          </div>
        </div>
        <div class="product-details__main-img-container">
          <img class="rounded product-details__main-img-container--img" src="{{ product?.image_url }}" />
          <div class="product-details__call-to-action product-details__call-to-action--web products-web-btn-section pt-sm-3">
            <button class="add-to-cart--btn add-to-wish-list-btn os-btn-primary d-inline-block"
              (click)="onWishListClicked()" *ngIf="!isWishListed">
              WishList
            </button>
            <a target="_self"
              [href]="baseUrl + '/profile/wishListBusiness/' + product?.business_city + '/' + product?.business_id + '/' + product?.urlBusinessName + '/' + '1'">
              <button class="add-to-cart--btn add-to-wish-list-btn os-btn-primary d-inline-block" *ngIf="isWishListed">
                WishListed
              </button>
            </a>
            <button class="best-deal-btn add-to-cart--btn os-btn-primary d-inline-block"
              *ngIf="!product?.oneshell_home_delivery" (click)="showDealTemplate(dealDetails)">
              Get Best Deal
            </button>
            <div class="web-view-cart d-inline-block"
              *ngIf="!product?.is_out_of_stock && product?.oneshell_home_delivery">
              <add-to-cart-control *ngIf="!product?.is_main_properties_available" [product]="product" [detailPage]="detailPage" [isSelfOrder]="isSelfOrderAvailable" [tableNo]="tableNo"
                [isDisabled]="isOffline" (quantityChanged)="onQuantityChange($event)">
              </add-to-cart-control>
              <div class="add-to-cart" *ngIf="product?.is_main_properties_available">
                <button (click)="addToCartWithProperties(product)" class="add-to-cart--btn os-btn-primary"
                [disabled]="addToCartOngoing || isOffline || product.is_out_of_stock">
                  Add to Cart
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="product-details__call-to-action product-details__call-to-action--mobile">
          <button class="add-to-cart--btn add-to-wish-list-btn os-btn-primary d-inline-block"
            (click)="onWishListClicked()" *ngIf="!isWishListed">
            WishList
          </button>
          <a target="_self"
            [href]="baseUrl + '/profile/wishListBusiness/' + product?.business_city + '/' + product?.business_id + '/' + product?.urlBusinessName + '/' + '1'">
            <button class="add-to-cart--btn add-to-wish-list-btn os-btn-primary d-inline-block" *ngIf="isWishListed">
              WishListed
            </button>
          </a>
          <button class="add-to-cart--btn best-deal-btn os-btn-primary d-inline-block"
            *ngIf="!product?.oneshell_home_delivery" (click)="showDealTemplate(dealDetails)">
            Get Best Deal
          </button>
          <div class="web-view-cart d-inline-block"
            *ngIf="!product?.is_out_of_stock && product?.oneshell_home_delivery">
            <add-to-cart-control *ngIf="!product?.is_main_properties_available" [product]="product" [detailPage]="detailPage" [isSelfOrder]="isSelfOrderAvailable" [tableNo]="tableNo"
             [isDisabled]="isOffline || product.is_out_of_stock" (quantityChanged)="onQuantityChange($event)">
            </add-to-cart-control>
            <div class="add-to-cart" *ngIf="product?.is_main_properties_available">
              <button (click)="addToCartWithProperties(product)" class="add-to-cart--btn os-btn-primary"
                [disabled]="addToCartOngoing || isOffline || product.is_out_of_stock">
                Add to Cart
              </button>
            </div>
          </div>
        </div>

      </div>

      <div class="col-xs-12 col-sm-6 col-xl-8 col-md-7 product-details__container">

        <div class="product-details__container__info">
          <h5 class="card-title brand-name mb-1">{{product?.brand_name}}</h5>
          <h6 class="card-title mt-0 mb-2 prod-name">{{ product?.name }}</h6>
          <hr class="my-1 d-none d-sm-block">
          <div>
            <div *ngIf="product?.oneshell_home_delivery && product?.is_main_properties_available">
              <p class="price-text card-text product-details__container__info--brand-text"
              *ngIf="productPriceRange && !variablePriceResponse">
              <span *ngIf="productPriceRange?.length == 1">&#8377;{{productPriceRange[0]}}</span>
              <span *ngIf="productPriceRange?.length > 1">&#8377;{{productPriceRange[0]}} -
                {{productPriceRange[productPriceRange.length-1]}}</span>
              </p>
              <div *ngIf="variablePriceResponse">
                <p class="card-text product-details__container__info--brand-text"
                  *ngIf="variablePriceResponse?.actual_price > 0 && variablePriceResponse?.offer_price > 0 &&  variablePriceResponse?.actual_discount != 0">
                  <span class="price-text current-price mr-2">&#8377;{{ variablePriceResponse?.offer_price }}</span>
                  <span class="actual-price mr-2">&#8377;{{ variablePriceResponse?.actual_price }}</span>
                  <span class="discount">({{ variablePriceResponse?.actual_discount }}% off)</span>
                </p>
                <p class="price-text card-text product-details__container__info--brand-text"
                  *ngIf="variablePriceResponse?.actual_price > 0 && variablePriceResponse?.offer_price == 0">
                  &#8377;{{ variablePriceResponse?.actual_price }}
                </p>
              </div>
            </div>
              <div class="web-delivery-container mb-2 my-sm-3" *ngIf="product?.oneshell_home_delivery"
                [ngClass]="!isOffline && product?.oneshell_home_delivery ? 'available':'not-available'"> <img
                  class="notdeliveriimage icon" *ngIf="isOffline" src="../../../assets/images/not%20delivering.png"> <img
                  class="deliveriimage icon" *ngIf="!isOffline" src="../../../assets/images/Delivering.png"> <span
                  class="loc-name">{{deliverystatus}}<strong>{{userAddress}}</strong></span>
                <a href="javaScript:void(0);" class="location-open" (click)="openLocationModal()">{{deliverstatusaction}}</a>
              </div>
            <div *ngIf="product?.oneshell_home_delivery && product?.is_main_properties_available">
              <div *ngIf="productMainProperties">
                <div class="card border-0 d-block mt-0 mb-sm-3"
                  *ngFor="let productProperty of productMainProperties; let i = index">
                  <p class="card-text property-title mt-1 mb-0 p-0">{{productProperty?.title}}</p>
                  <div *ngIf="productProperty?.property_values">
                    <div class="d-inline-block mt-2 mr-2" *ngFor="let propertyValue of productProperty?.property_values">
                      <button class="btn product-category-button border text-center"
                        [ngClass]="{'not-available': !propertyValue.is_available, 'selected': isPropertySelected(productProperty.title, propertyValue.value)}"
                        [disabled]="!propertyValue.is_available"
                        (click)="onPropertyClicked(productProperty.title, propertyValue.value, i)">
                        {{propertyValue.value}}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div *ngIf="!product?.is_main_properties_available">
            <p class="card-text product-details__container__info--brand-text"
              *ngIf="product?.actual_price > 0 && product.offer_price > 0 &&  product.actual_discount != 0">
              <span class="price-text current-price mr-2">&#8377;{{ product?.offer_price }}</span>
              <span class="actual-price mr-2">&#8377;{{ product?.actual_price }}</span>
              <span class="discount">({{ product?.actual_discount }}% off)</span>
            </p>
            <p class="price-text card-text product-details__container__info--brand-text"
              *ngIf="product?.actual_price > 0 && product.offer_price == 0">
              &#8377;{{ product?.actual_price }}
            </p>
            <p class="price-text card-text product-details__container__info--brand-text"
              *ngIf="product?.actual_price == 0 && product.offer_price == 0 && product.minimum_quantity == 0">
              NA
            </p>
            <p class="card-text product-details__container__info--brand-text" *ngIf="product?.minimum_quantity > 0">
              <b>Min Qty:</b> {{product?.minimum_quantity}} @ Wholesale
            </p>
          </div>

          <div *ngIf="product?.additional_property_list" class=" mt-3">
            <div class="col-xs-12 mb-2" *ngFor="let additionalProperty of product.additional_property_list">
              <mat-checkbox [(ngModel)]="additionalProperty.selected" color="warn">
                {{additionalProperty?.name}}&nbsp;(&#8377;{{additionalProperty?.price}}&nbsp;{{additionalProperty?.text}})
              </mat-checkbox>
            </div>
          </div>
          <hr>
          <div class="product-details__container__info--brand-description">
            <h6>Description</h6>
            <p class="info-text">{{ product?.description }}</p>
          </div>
          <div class="product-details__container__info--business-name" style="display: none">
            <h6>Available at</h6>
            <p class="info-text">{{ business_name }}</p>
          </div>
        </div>
      </div>
    </div>
</div>
</section>

</div>
<ng-template #sharePopTitle>Share</ng-template>
<ng-template #sharePopContent>
  <share-buttons [theme]="'circles-dark'" [include]="sharableSocialMediaPlatforms" [url]="product.share_link"
    [show]="5">
  </share-buttons>
</ng-template>


<ng-template #selectPropertiesWarning>
  <div class="modal-body">
    <div>
      <span>Please select all required properties before adding to cart.</span>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" mat-raised-button (click)="selectPropertiesWarningPopupRef.hide()">
      OK
    </button>
  </div>
</ng-template>

<ng-template #dealDetails>
  <div class="modal-header">
    <h5><strong>Details</strong></h5>
    <button type="button" class="close" aria-label="Close" (click)="hideDealTemplate()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form class="form" #myform="ngForm" (ngSubmit)="onSubmit(myform)">
    <div class="modal-body">
      <p>Provide your details to receive call back from Business</p>
      <label class="d-block deal-required">Name</label>
      <input class="d-block" type="text" placeholder="Name" name="name" ngModel required>
      <label class="d-block deal-required mt-4">Phone Number</label>
      <input class="d-block" type="text" placeholder="Mobile number" name="number" ngModel required>
      <span *ngIf="showDealError" class="deal-error mt-2">Please provide all the required fields!</span>
    </div>
    <div class="modal-footer">
      <button class="ct-sb-btn" type="submit">SUBMIT</button>
    </div>
  </form>
</ng-template>

<ng-template #confirmDealDetailsShare>
  <div class="modal-header">
    <h5><strong>Alert</strong></h5>
    <button type="button" class="close" aria-label="Close" (click)="hideShareDealTemplate()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <p>Are you sure you want to share your Name and Phone Number details to receive call back from Business?</p>
  </div>
  <div class="modal-footer">
    <button class="ct-sb-btn" (click)="onShareAlertClicked()">OK</button>
  </div>

</ng-template>
