<div class="activities-list-container">
  <h3 class="text-center">
    Activities
    <div class="border-underline"></div>
  </h3>
  <div class="text-center">
    <div id="activities-categories-carousel" class="carousel slide activities-categories-carousel">
      <app-horizontal-carousel>
        <div class="category-card d-inline-block mb-3" *ngFor="let category of activitiesCategoryList">
          <a target="_self" [href]="baseUrl + '/activities/' + city + '/' + category.name">
            <img class="category-img-top" src="{{ category.image_url}}" alt="Store image" />
            <div class="category-card-body p-1 text-center">
              <span class="category-card-txt category">{{ category.display_name }} </span>
            </div>
            <div *ngIf="category.name == activeTab" id="selected-category" class="underline"></div>
          </a>
        </div>
      </app-horizontal-carousel>
    </div>
  </div>

  <div class="activities-cards">
    <div class="row">
      
      <div class="col-md-12">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-4 mb-3" *ngFor="let activities of activitiesList">
            <a target="_self"
              [href]="baseUrl + '/activity/detail/' + activities.target_audience_city + '/' + activities.activity_type + '/' + activities.activity_id + '/' + activities.urlTitleName">
              <div class="card shadow">
                <img class="card-img-top" [src]="activities.primary_image_url" [alt]="activities.title" style="background-image: url(https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/Ballari%2Fbg_mage.png?alt=media&token=1f2c0dab-ea87-4071-aa31-293b67427d19);width: 100%;
                  height: 200px; object-fit: initial" />
                <div class="card-body">
                  <div class="property_name">{{activities.title}}</div>
                  <div class="property_desc">{{activities.description}}</div>
                  <br />
                  <div class="property_locality">{{activities.venue_name}}</div>
                </div>
              </div>
            </a>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="no-results-view" class="no-results" style="display: none;">
    No results to show ..
  </div>
</div>
