@import "../../../variables.scss";

$logout-modal-width: 400px;

.profile-listing {
    .image-icon {
        width: 40px;
        height: 40px;
    }
    .card {
        cursor:pointer;
    }
}

.logout-modal {
    display: block;
    width: 400px;
    left: calc(50% - 200px);
    .modal-title {
      font-size: 16px;
    }
    .btn-primary {
      background-color: $color-red;
      color: $color-white;
      box-shadow: none;
      border: 1px solid $color-red;
    }
    .close-button {
      background-color: inherit;
      .close-button-txt {
        color: black;
        font-size: 20px;
      }
    }
}
