<div class="profile-listing">
  <div class="row">
    <div class="col-sm-10 offset-sm-1">
      <div class="detail-container mt-4">
        <div class="card border p-4 d-block mb-3">
          <a target="_self" [href]="baseUrl + '/profile/updateProfile'">
            <img src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/web_assets%2Fprofile_icons%2Fic_profile.png?alt=media&token=791bec36-7a0e-4fd5-86a1-7eb9a09c3c5a" class="image-icon mr-4 d-inline-block" />
            <h5 class="d-inline-block text-centre">Basic Profile</h5>
          </a>
        </div>
        <div class="card border p-4 d-block mb-3">
          <a target="_self" [href]="baseUrl + '/profile/favouriteBusiness'">
            <img src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/web_assets%2Fprofile_icons%2Fic_fav_list.png?alt=media&token=827a09f2-c50f-4c9d-8623-aa91afa4a3cc" class="image-icon mr-4 d-inline-block" />
            <h5 class="d-inline-block text-centre">My Favourite Stores</h5>
          </a>
        </div>
        <div class="card border p-4 d-block mb-3">
            <a target="_self" [href]="baseUrl + '/profile/wishList'">
              <img src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/web_assets%2Fprofile_icons%2Fic_wish_list.png?alt=media&token=7cc4cad6-d647-4917-8d53-6ae8f48dc0d8" class="image-icon mr-4 d-inline-block" />
              <h5 class="d-inline-block text-centre">My WishList</h5>
            </a>
        </div>
        <div class="card border p-4 d-block mb-3" (click)="showLogout(logout)">
              <img src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/web_assets%2Fprofile_icons%2Fic_log_out.png?alt=media&token=976208f9-d13e-4531-a7ff-3a57a68a94c7" class="image-icon mr-4 d-inline-block" />
              <h5 class="d-inline-block text-centre">Log Out</h5>
          </div>
      </div>
    </div>
  </div>
</div>
<!-- The Modal -->

<ng-template #logout>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Are you sure you want to Logout?</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary os-btn-primary" (click)="requestForLogout()">Logout</button>
  </div>
</ng-template>
