<div class="self-order-wrapper row pt-3">
    <div class="flex-grow-1 d-flex flex-column">
        <div class="d-flex justify-content-between pb-2 px-3">
            <div class="hotel-name">
                {{businessName}}
            </div>
            <div class="table-no">
                Table No: {{tableNo}}
            </div>
        </div>
        <mat-tab-group class="flex-grow-1" [selectedIndex]="tabNo" >
            <mat-tab label="CURRENT ORDER">
                <div *ngIf="validBusinessCartProducts && validBusinessCartProducts?.length >0 && !orderPlaced" class="items-wrapper p-3 h-100 d-flex flex-column">
                    <div class="flex-grow-1"  *ngIf="validBusinessCartProducts?.length>0">
                        <div class="item d-flex mb-3" *ngFor="let cartProduct of validBusinessCartProducts">
                            <div class="item-img">
                                <img class="w-100 h-100" [src]="cartProduct.image_url" [alt]="cartProduct.name">
                            </div>
                            <div class="flex-grow-1 item-description px-3">
                                <p class="item-name"><span>{{ cartProduct.name }} </span><span *ngIf="cartProduct.property_value">{{(cartProduct.property_value)}}</span></p>
                                <p class="price">&#8377; {{ calculateRealPrice(cartProduct) }}</p>
                                <div class="d-flex justify-content-between">
                                    <add-to-cart-control *ngIf="!cartProduct.is_out_of_stock"
                                    [product]="cartProduct" [isSelfOrder]="isSelfOrderAvailable" [tableNo]="tableNo" (quantityChanged)="onQuantityChange($event)" [isDisabled]="isOffline">
                                  </add-to-cart-control>
                                    <button (click)="onDelete(cartProduct)"
                                        class="delete-btn">
                                        DELETE
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center pt-3" *ngIf="validBusinessCartProducts?.length>0">
                        <div>
                            <span class="label">Total : </span>
                            <span class="summary-price">&#8377; {{ subTotal }}</span>
                        </div>
                       
                        <button class="btn btn-footer" (click)="placeOrder()">Order</button>
                    </div>
                </div>
                <div *ngIf="orderPlaced || validBusinessCartProducts && validBusinessCartProducts.length === 0"  class="d-flex h-100 align-items-center justify-content-center">
                    <span class="placeorder-text">Sorry No Data Found</span> 
                 </div>
            </mat-tab>
            <mat-tab label="ORDER SUMMARY">
                <div *ngIf="showSummary" class="summary-wrapper px-3 py-4">
                    <div class="item-details mb-3" *ngIf="validBusinessPlacedSelfOrder">
                        <div class="summary-item pb-1 d-flex justify-content-between"  *ngFor="let cartProduct of validBusinessPlacedSelfOrder">
                            <div class="name">{{ cartProduct.name }}</div>
                            <div class="d-flex justify-content-between flex-grow-1">
                                <span class="qty">{{ cartProduct.quantity }}</span>
                                <span class="price">&#8377; {{ calculateSummaryItemsRealPrice(cartProduct) }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="avail-offers row">
                        <h5 class="col"> <span class="circle d-inline-block mr-2">%</span>Available offers</h5>
                        <ul class="avail-offers-list mb-0" *ngIf="availOffers" [ngClass]="{'show-more-offers': filterMobileToggle}">
                          <li *ngFor="let item of availOffers">
                                  {{item.offer_name}}
                          </li>
                        </ul>
                        <p class="show-more col mb-0" *ngIf="availOffers.length  > 1" (click)="filterMobileToggle = !filterMobileToggle">{{filterMobileToggle? 'Show Less': ('+' + (availOffers.length -1) + ' More')}}</p>
                      </div>
    
                    <div class="totals-summary" *ngIf="checkoutResponse">
                        <p class="mb-2 price-details-header row px-3 py-2">Bill Details</p>
                        <div class="price-details py-2">
                            <div class="d-flex justify-content-between py-1">
                                <span class="label">Order Items</span>
                                <span class="summary-price">{{ checkoutResponse?.total_quantity }}</span>
                            </div>
                            <div class="d-flex justify-content-between py-1">
                                <span class="label">Sub Total</span>
                                <span class="summary-price">&#8377; {{ checkoutResponse?.sub_total }}</span>
                            </div>
                            <div class="d-flex justify-content-between py-1">
                                <span class="label">Delivery Charge</span>
                                <span class="summary-price">&#8377; {{ checkoutResponse?.delivery_charge ? checkoutResponse?.delivery_charge : 0.00 }}</span>
                            </div>
                            <div *ngIf="checkoutResponse?.package_charge" class="d-flex justify-content-between py-1">
                                <span class="label">Package Charge</span>
                                <span class="summary-price">&#8377; {{ checkoutResponse?.package_charge }}</span>
                            </div>
                            <div *ngIf="checkoutResponse?.tax" class="d-flex justify-content-between py-1">
                                <span class="label">Tax</span>
                                <span class="summary-price">&#8377; {{ checkoutResponse?.tax }}</span>
                            </div>
                            <div *ngIf="checkoutResponse?.discount" class="d-flex justify-content-between py-1">
                                <span class="discount-label">Discounts</span>
                                <span class="discount-price">- &#8377; {{ checkoutResponse?.discount }}</span>
                            </div>
                            <hr class="my-2"/>
                            <div class="d-flex justify-content-between py-1">
                                <span class="total-label">Grand Total</span>
                                <span class="total-price">&#8377; {{ checkoutResponse?.total }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between pt-4" *ngIf="checkoutResponse">
                        <div class="flex-grow-1 pr-1">
                            <a class="d-inline-block w-100" target="_self"
                            [href]="baseUrl + '/business/so/' + businessCity + '/' + businessId + '/'+ businessName + '/' + tableNo">
                            <button class="btn btn-footer w-100 continue-eating">Continue Eating</button>
                        </a>
                        </div>
                        <div class="flex-grow-1 pl-1">
                            <button class="btn btn-footer w-100" (click)="finishEating()">Finish my Meal</button>
                        </div>
                    </div>
                </div>
                <div class="d-flex h-100 align-items-center justify-content-center" *ngIf="!showSummary">
                   <span class="placeorder-text">Please Place the Order</span> 
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>