.self-order-wrapper {
    min-height: 61vh;
    background-color: #efefef;
    @media screen and (max-width: 425px) {
        margin-top: -20px;
    }
    @media screen and (min-width: 579px) and (max-width:769px) {
        margin-top: -27px;
    }

    .hotel-name, .table-no {
        font-weight: 600;
        font-size: 14px;
    }
    .items-wrapper {
        .item {
            background: white;
            border-radius: 3px;
            box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
            padding: 10px;
            .item-img {
                max-width: 100px;
                width: 100%;
                height: 100px;
                border-radius: 3px;
                box-shadow: 0px 0px 4px rgba(0,0,0,0.1);
                img {
                    object-fit: contain;
                }
            }
            .item-name {
                font-weight: 500;
            }
            .price {
                font-weight: bold;
            }
        }
        .add-to-cart {
            max-width: 100px;
            width:100%;
            border-radius: 25px;
            border: 1px solid #ddd;
            button,input {
                border: none !important
            }
        }
        .delete-btn {
            color: #ef5350;
            font-weight: 500;
            border: none;
            background: none;
        }
    }
    .summary-wrapper {
        background-color: white;
        .price-details-header {
            font-weight: 500;
            font-size: 16px;
            padding: 4px;
            background-color: #f8f8f9;
        }
        .summary-item {
            font-weight: 400;
            .name {
                color: #212121;
                width: 70%
            }
            .qty {
                color: #616161; 
            }
            .price {
                color: #212121;
            }
        }
        .price-details {
           
            .label {
                font-weight: 400;
                color: #616161;
            }
            .summary-price {
                font-weight: 400;
                color: #616161;
            }
            .total-price {
                font-weight: 500;
                color: #ef5350;
            }
            .total-label {
                font-weight: 500;
                color: #212121;
            }
            .discount-label {
                font-weight: 400;
                color:#009788;
            }
            .discount-price {
                font-weight: 400;
                color:#009788;
            }
        }
    }
    .avail-offers.row {
        flex-direction: column;
        padding-bottom: 15px;
        // border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        // margin-bottom: 15px;
      
        ul {
          margin-left: -10px;
        }
        .circle {
          border-radius: 50%;
          color: white;
          background: #ef5350;
          font-size: 12px;
          width: 18px;
          height: 18px;
          text-align: center;
          line-height: 20px;
          position: relative;
          top: -3px;
        }
      }
      .show-more {
        display: none;
        cursor: pointer;
        color: #ef5350;
        font-weight: 500;
      
        @media (max-width: 575px) {
          display: block;
        }
      }
      
        .avail-offers-list {
      
          li{
            color: #999999;
          }
      
          @media (max-width: 575px) {
          li:not(:first-child) {
            display: none;
          }
      
          &.show-more-offers {
            li:not(:first-child) {
              display: list-item;
            }
          }
        }
      }
      
    ::ng-deep {
      .mat-tab-header {
          border-bottom: none;
            .mat-tab-label {
            color: #333;
            opacity: 1;
            flex-grow: 1;
            padding: 0;
            }
            .mat-tab-label-active {
                color: #ef5350 !important;
            }
            .mat-ink-bar {
            background-color: #ef5350;
            }
        
        }
        .mat-tab-body-wrapper {
            height: 100%;
        }
        .add-to-cart {
            max-width: 100px;
            width:100%;
            border-radius: 25px;
            border: 1px solid #ddd;
            button,input {
                border: none !important
            }
        }
    }
    .btn-footer {
        padding: 5px 15px;
        background-color: #ef5350;
        border-radius: 50px;
        min-width: 150px;
        color: white;
        font-size: 14px;
        border: 1px solid #ef5350;
        &.continue-eating {
            border: 1px solid #009788;
            color: #009788;
            background-color: white;
        }
    }
    .label,.summary-price {
        font-weight: 500;
    }
    .placeorder-text {
        font-weight: 500;
    font-size: 22px;
    color: #999;
    }
}