@import "../../../variables.scss";

.stores-container {
  .catergory-wrapper {
    .category-list {
      h6 {
        color: $color-red;
        font-weight: 500;
      }
      ul {
        padding-left: 10px;
        li {
          a {
            color: $body-color;
            text-decoration: underline;
            cursor: pointer;
          }
          a:hover {
            text-decoration: underline !important;
            cursor: pointer !important;
          }
        }
      }
    }
    .category-button-wrapper {
      button {
        span {
          position: relative;
          bottom: 3px;
        }
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  .stores-container {
    .catergory-wrapper {
      .category-button-wrapper {
        button {
          margin-right: 10px;
          padding: 3px 13px;
        }
      }
    }
  }
}
