<div class="stores-container main-container-width">
  <h4 class="mb-4 section-title text-center">
    Stores
    <div class="border-underline"></div>
  </h4>
  <div class="catergory-wrapper">
    <div class="category-list">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-3" *ngFor="let store of stores">
          <div class="group mb-3">
            <h6>{{ store.level1_category.display_name }}</h6>
            <ul type="none">
              <li *ngFor="let subStores of store.level2_category">
                <a target="_self"
                [href]="baseUrl + '/business/l/' + city + '/' + subStores.name + '/'+ subStores.level + '/' + subStores.urlDisplay_name + '/' + 'STORE' + '/' + '1'">{{ subStores.display_name }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
