@import "../../../variables.scss";
.banquet-halls-list-container {
    .card {
      cursor: pointer;
        font-size: 0.8rem;
        .card-body, .card-footer, .card-sub-body {
          padding: 0.6rem 0.75rem;
        }
        .name {
          font-size: 1rem;
          white-space: nowrap; 
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .property_desc {
          color:#666666;
          font-weight: 200;
          white-space: nowrap; 
          overflow: hidden;
          text-overflow: ellipsis;
        }
        
        .property_locality {
          color:#009788;
          font-size: 14px;
          font-weight: 500;
        }
        .card-sub-body {
          border-top: 1px solid $color-lite-grey;
          .offer {
            color: goldenrod;
            margin-right: 5px;
          }
        }
        .card-body {
          .status {
            color: $color-teal;
          }
        }
        .card-footer {
          background-color: $color-lite-grey;
          .subscriber {
            color: $color-teal;
          }
        }
      }
      .no-results {
        text-align: center;
      }

      .max-lines {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-height: 16px;    
        height: 17px;
        -webkit-line-clamp: 1; /* Write the number of 
                              lines you want to be 
                              displayed */
    -webkit-box-orient: vertical;
      }

      .selected-tab { 
        text-align: center;
        background-color:#EF5350;
      }
      // .cen{
      //   width: 541px;
      //   position: relative;
      //   padding-left: 89px;
      // }
      @media (min-width: 300px) and (max-width: 499px) {
        .tab {
          width: 90px;
          padding: 4px;
          font-size: 14px;
        }
        // .cen{
        //   position: relative;
        //   width: 373px;
        //   right: 50px;
        // }
      }

      @media (min-width: 500px) {
        .tab {
          width: 150px;
          padding: 6px;
          font-size: 16px;
        }
      }

      .page-tabs-container {
        width: 99%;
        text-align: center;
    }      

    .page-tabs-container .page-tabs .tab.active {
      color: white;
      border: 2px solid #ef5350;
      background: #ef5350;
  }

  .searchbox{
    background: #f5f5f5;
    color: black;
    z-index:0;
  }

  .search-results {
    position: relative;
    width:491px;
   
    ul {
      cursor: pointer;
      list-style: none;
      padding-left: 0px;
      .search-result-record {
        padding: 8px;
        padding-left: 12px;
        &:hover {
          background: $header-search-border;
        }
      }
    }
    border: 2px solid $header-search-border;
    border-top: none;
    background: #fff;
  }



  ::placeholder {
    color: #808080;
     
  }
.property_name{
  font-size: 20px;
  font-weight: 600;
  white-space: nowrap; 
  width: 315px; 
  overflow: hidden;
  text-overflow: ellipsis; 
  

}
.property_desc{
  color:black;
  font-weight: 450;
  white-space: nowrap; 
  width: 315px; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

.property_locality{
  color:#33a99f;
  font-weight: bold;
  font-size:14px;
}

.property_price{
  font-size:18px;
  font-weight: bold;
font-family: sans-serif;



}
.onwards{
  color:black;
  font-size: 12px;
  font-weight: 200;
}


  .btn-primary {
    color: #605b5b;
    background-color:#ebebeb;
    border-color: #ebebeb;
    border-radius: 0 30px 30px 0;
}
// .btn-primary:hover {
//   color: #fff;
//   background-color: red;
//   border-color: red;
// }

//   .vertical-line {
//     width: 1px;
//     height: 26px;
//     background: $color-grey-txt;
//     display: inline-block;
//     position: relative;
//     top: 0px;
// }

  .page-tabs-container .page-tabs {
    display: inline-block;
    margin-top: 15px;
    border: 1px solid #ced4da;
}

hr{ 
  
   
  border-left:    1px solid hsla(200, 10%, 50%,100);
  height:         40px;
  width:          1px; 
  position: relative;
  bottom:10px;      
}





}
