<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<div class="banquet-halls-list-container">
    <h3 class="text-center">
        Banquet Halls
        <div class="border-underline"></div>
    </h3>
    <br>
    <div class="text-center" style="display: none">
        <div class="input-group ">
            <input type="text" class="form-control searchbox" placeholder="Search by Name or Locality" id="txtSearch"
                data-role="none" [(ngModel)]="searchTxt" (keyup)="handleSearchChange($event)" />
            <div class="input-group-btn">
                <button class="btn btn-primary">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </div>

        </div>
        <div class="search-results" *ngIf="(searchResultsList.length >0)">
            <ul class="results-list">
                <li class="search-result-record" *ngFor="let result of searchResultsList"
                    (click)="handleSearchResultClicked(result)">{{result.keyword}} </li>
            </ul>
        </div>
    </div>

    <div class="banquet-halls-cards">

        <div class="row">

            <div class="col-md-12">
                <div class="row mt-4">
                    <div class="col-12 col-md-6 col-lg-4 mb-3" *ngFor="let hall of hallsList">
                        <div class="card shadow">
                            <a target="_self"
                                [href]="baseUrl + '/hall/' + hall.business_city + '/' + hall.business_id + '/'+ hall.urlBusinessName">
                                <img class="card-img-top" [src]="hall.primary_image_url" style="background-image: url(https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/Ballari%2Fbg_mage.png?alt=media&token=1f2c0dab-ea87-4071-aa31-293b67427d19);width: 100%;
              height: 200px; object-fit: cover" />
                                <div class="card-body">
                                    <div>
                                        <div class="name">{{hall.business_name}}</div>
                                        <p class="card-text mb-0">
                                            <i class="fa fa-clock-o mr-2" aria-hidden="true"></i>
                                            <span>{{hall.timings}} , <span class="status">{{hall.is_open}}</span></span>
                                        </p>
                                        <div>Hall Capacity : {{hall.hall_capacity}}</div>

                                        <div class="star-rating">
                                            <span *ngIf="repeatRating(hall.total_ratings, hall.number_of_feedbacks)">
                                                <span *ngFor="let item of ' '.repeat(total_rating_fixed).split('')">
                                                    <span class="fa fa-star"></span>
                                                </span>
                                                <span *ngIf="total_rating_float">
                                                    <span class="fa fa-star-half-o"></span>
                                                </span>
                                                <span *ngFor="let item of ' '.repeat(total_rating_total).split('')">
                                                    <span class="fa fa-star-o"></span>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="no-results" *ngIf="(hallsList.length < 1)">
            No results to show ..
        </div>
    </div>
    <div class="col-md-2"></div>
</div>