@import "../../../variables.scss";

.d-block-mobile--only {
  display: none;
}

.row_adj{
  margin-top: 88px;
  margin-bottom: -6%;
}
.bu_ad{
  margin-left: -17%;
margin-top: -2%;
}
.f_W{
  font-weight: 100;
}
.m_3{
  margin-top: 6%;
}
.m_2{
  margin-top: -4.2%;
}
.c_s{
  color: white;
    margin-left: 14%;

}

.ro_m{
  margin-top: -30px;
}
.m_adj{
  margin-top: 1%;
  margin-bottom: -9px;
  margin-left: -5px;
}
.adj_sh{
  box-shadow: 0px 2px 0px -1px rgba(0, 0, 0, 0.07) !important;
}

.offline-wrapper {
  color: $color-red;
  font-size: 1rem;
  font-weight: 500;
  padding: 10px;
}

.min-order-wrapper {
  color: $color-red;
  font-size: 1rem;
  font-weight: 500;
  padding: 10px;
  text-align: left;
}

.cart-product, .out-of-stock-product {
  font-size: 0.85rem;
  &.shop {
    color: $product-offer;
  }
  .offer {
    font-size: 0.7rem;
    color: $product-offer;
    text-decoration: line-through;
  }
  .offer-per {
    font-size: 0.7rem;
    color: $color-teal;
  }
  img {
    max-height: 120px;
    @media (max-width: 768px) {
      max-height: 100px;
    }
  }
  @media screen and (max-width: 768px) {
    .cart-modifier {
      > div {
        display: flex;
        align-items: center;
        button {
          padding: 0;
          min-width: 30px;
          margin-left: 10px;
          height: 25px;
          line-height: 25px;
        }
      }
      .d-block-mobile--only {
        display: block;
      }
      .d-none-mobile--only {
        display: none;

      }
     
          
      .row_adj{
        margin-top: 0 !important;
      }
    }
  }
}

.prod-name {
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  max-lines: 2;
  text-overflow: ellipsis;
  @media (max-width: 568px) {
    font-size: 14px;
    font-weight: 400;
  }
}
.properties {
  color: #616161;
  font-size: 14px;
  font-weight: 400;
}

.out-of-stock-product {
  img {
    height: 100px;
  }
  .out-of-stock-label {
    border: 2px solid $os-primary-color;
    color: $os-primary-color;
    font-size: 14px;
    padding: 5px 10px;
  }
}

.sub-total {
  padding-left: 10px;
  .title {
    background: $color-red;
    color: white;
  }
  .content {
    height: 92px;
    padding-top: 40px;
    padding-left: 20px;
  }
  mat-card-actions {
    button {
      border-radius: 20px;
      color: whitesmoke;
    }
  }
}

.os-link {
  color: $os-primary-color;
  text-decoration: underline !important;
}

.close-button {
  background-color: inherit;
  .close-button-txt {
    color: black;
    font-size: 20px;
  }
}
.mobile-detail-footer {
  cursor: pointer;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  left: 0;
  background-color: $color-red;
  .checkout {
    padding: 10px;
    width: 40%;
      color: $color-red;
      align-self: center;
      width: 100%;  
      .checkout-button {
        width: 40%;
        background-color: white;
        float: right;
      } 
  }
  .content {
    width: 60%;
    padding: 10px;
    margin-left: -4px;
    .sub-total {
      color: white;
      font-weight: 600;
    }
  }
}
.app-color {
  background-color: $color-red;
}

.max_1{
  p{
    display: none !important;
  }
}

@media (max-width: 568px) {
  .mobile-detail-footer {
    display: block;
  }
  .sub-total-div {
    display: none;
  }
  
  .dis_div{
    display:block;
  }
  .fl_3{
    float: none;
  }
  .max_1{
    background: #f9e9e9;
    color: #212121 !important;
    font-weight: 500;
    font-size: 15px;
    height: 37px;
    margin-bottom: 10px;
    p{
      display: block !important;
      margin-top: 3px !important;
      margin-left: 14px;
    }
    span{
      display: none !important;
    }
  }
}
@media (min-width: 569px) {
  .mobile-detail-footer {
    display: none;
  }
  .sub-total-div {
    display: block;
  }
  .dis_div{
    display:inline;
  }
  .no_deli{
    display: none;
  }
  
  .fl_3{
    float: right;
  }
}
@media screen and (max-width: 1000px) and (min-width: 569px){
  .row_adj{
    margin-top: 86px;
    margin-bottom: -9%;
  }
  .w_s{
    width: 150px;
  }
  .img_s{
    height: 115px;
  }
}

@media screen and (max-width :800px) and (min-width:569px){
  .sub-total{
    .content{
      height: 92px !important;
      padding-top: 28px !important;
      padding-left: 14px !important;
    }
  }
 
}
.no_delivery{
  margin-top: -3%;
}
@media screen and (max-width :1000px) and (min-width:800px){
  .sub-total{
    .content{
      height: 92px;
      padding-top: 29px;
      padding-left: 20px;
    }
   
  }
  .no_delivery{
    margin-top: -4.5% !important;
  }
}
@media screen and (max-width :1200px) and (min-width:1000px){
  .no_delivery{
    margin-top: -3.5% !important;
  }
}
.mobile-checkout {
  border-radius: 50px;
    border: none;
    font-size: 12px;
    padding: 4px 13px;
    font-weight: 600;
}
@media screen and (max-width :800px) and (min-width:700px){
  .no_delivery{
    margin-top: -5% !important;
  }
}
@media screen and (max-width :700px) and (min-width:569px){
  .no_delivery{
    margin-top: -6% !important;
  }
}

.toaster-msg {
  max-width: 250px;
  position: fixed;
  bottom: 35%;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
  z-index: 1;
  width: 100%;
  text-align: center;
  left: 50%;
  margin-left: -125px;
}