<div class="container">

  <section class="title-and-search d-none d-md-block">
    <h5>Review Cart ( {{ businessCartCount }} Items)</h5>
  </section>

  <section class="d-block d-md-none m-0 p-0">
    <h5>Review Cart</h5>

    <div class="row">
      <div class="col-6 text-truncate">
        <b>{{ businessName }}</b>
      </div>
      <div class="col-6 text-right">
        Total Items: {{ businessCartCount }}
      </div>
    </div>
  </section>

  <mat-divider class="mt-1"></mat-divider>
  <section>
<div class="m_adj">
  <div class="min-order-wrapper mt-1 p-1 dis_div" *ngIf="deliveryProfile?.minimum_order > 0">
    <span>Minimum Order: {{deliveryProfile?.minimum_order}}</span>
</div>

<div class="offline-wrapper m-0 p-1 no_deli max_1 fl_3" *ngIf="isOffline" >
  <p ><img src="../../../assets/currently offline.png" style="height: 16px;"> Currently Offline for Delivery</p>
  
  <span ><img src="../../../assets/currently offline.png" style="height: 16px;"> Currently Offline for Delivery</span>
</div>
</div>
  </section>
  <section class="content-section mt-3 row">
    <div class="cart-products col-sm-9 mb-3">
      <mat-card *ngFor="let cartProduct of validBusinessCartProducts" class="cart-product mb-3 adj_sh">
        <div class="row">
          <div class="col-6 col-md-3 text-center">
            <img class="img-fluid border img_s" [src]="cartProduct.image_url" [alt]="cartProduct.name">
          </div>
          <div class="col-6 col-md-5 m-0 p-0" style="margin-left: -13px !important;">
            <div class="col-12 prod-name"> {{ cartProduct.name }}</div>
            <div class="col-12 properties">
              <span> {{cartProduct?.property_value }} </span>
            </div>
            <div class="col-12">
              <span>&#8377;{{ calculateRealPrice(cartProduct) }}</span>
              <span *ngIf="cartProduct.actual_discount">
                <span class="offer mr-1">&#8377;{{ calculateActualPrice(cartProduct) }}</span>
                <span class="offer-per">({{ cartProduct.actual_discount }}% off)</span>
              </span>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 6 offset-md-0 col-6 offset-6 mt-2">
            <div class="row cart-modifier ro_m" *ngIf="mobileView==true">
              <div class="col-md-7 text-center mb-md-3 m-0 p-0">
                <add-to-cart-control *ngIf="!cartProduct.is_out_of_stock && cartProduct.oneshell_home_delivery"
                  [product]="cartProduct" (quantityChanged)="onQuantityChange($event)">
                </add-to-cart-control>
                <button mat-icon-button  (click)="onDelete(cartProduct)"
                  class="btn btn-plain btn-remove d-block-mobile--only">
                 <img src="../../../assets/delete.png" style="height: 16px;">
                </button>
              </div>
              <div class="col-md-5 text-center bu_ad d-none-mobile--only">
                <button mat-button  (click)="onDelete(cartProduct)"
                  class="btn btn-plain btn-remove f_W">Remove</button>
              </div>
            </div>
            <div class="row cart-modifier row_adj" *ngIf="mobileView==false">
              <div class="col-md-7 text-center mb-md-3 m-0 p-0">
                <add-to-cart-control *ngIf="!cartProduct.is_out_of_stock && cartProduct.oneshell_home_delivery"
                  [product]="cartProduct" (quantityChanged)="onQuantityChange($event)">
                </add-to-cart-control>
                <button mat-icon-button  (click)="onDelete(cartProduct)"
                class="btn btn-plain btn-remove d-block-mobile--only">
                <img src="../../../assets/delete.png" style="height: 16px;">
              </button>
              </div>
              <div class="col-md-5 text-center bu_ad d-none-mobile--only">
                <button mat-button  (click)="onDelete(cartProduct)"
                  class="btn btn-plain btn-remove f_W">Remove</button>
              </div>
            </div>
          </div>
        </div>
      </mat-card>

    
      <div *ngIf="!validBusinessCartProducts?.length">
        <span>Your Shopping Cart is empty. </span>
        <a class="os-link" [href]="baseUrl + '/business/' + businessCity + '/' + businessId + '/' + businessName"
          target="_self">Start Shopping</a>
      </div>
    </div>

    <div class="sub-total-div col-sm-3 mb-4 " [ngClass]="{'no_delivery':isOffline==true}">
      <div class="offline-wrapper m-0 p-1" style="margin-bottom: 10px !important;" *ngIf="isOffline">
        <span ><img src="../../../assets/currently offline.png" style="height: 16px;"> Currently Offline for Delivery</span>
      </div>
      <mat-card class="sub-total p-0 w_s">
        <div class="title py-2 text-center">
          {{ businessName }}
        </div>
        <div class="content row">
          <div class="col"><b>Sub Total</b></div>
          <div class="col">&#8377; {{ subTotal }} </div>
        </div>
        <mat-divider class="my-1"></mat-divider>

        <mat-card-actions class="text-center pt-3 pb-2">
          <span *ngIf="isOffline" (click)="continueShopping()">Continue Shopping</span>
          <button mat-raised-button class="app-color" [disabled]="isOffline" (click)="checkout()">
            CHECKOUT
          </button>
        </mat-card-actions>

      </mat-card>
    </div>

  </section>
  <div class="d-block d-sm-none mobile-custom-view mobile-detail-footer d-flex">
    <div class="content row d-inline-block">
      <span class="sub-total text-center">Sub Total&nbsp;&#8377; {{ subTotal }} </span>
    </div>
    <div class="checkout">
      
      <button *ngIf="isOffline" class="text-center book-text d-inline-block mobile-checkout" style="color: white;width: 50%;float: right;margin-right: 17px;" (click)="continueShopping()" mat-button>Continue Shopping</button>
      <button *ngIf="!isOffline" class="checkout-button text-center book-text d-inline-block mobile-checkout" [disabled]="isOffline" (click)="checkout()"
        >
        CHECKOUT
      </button>
    </div>
  </div>
</div>

<ng-template #outOfStockPopupTpl>

  <div class="modal-header p-3">
    <h5 class="modal-title">CONFIRM</h5>
    <button type="btn btn-sm button" class="close-button border-0" (click)="bsModalRef.hide()">
      <span class="close-button-txt">&times;</span></button>
  </div>

  <p class="p-3">
    {{outOfStockItems?.length}} of {{businessCartProducts?.length}} items went out of stock. <br>
    There is nothing to checkout. Please shop more.
  </p>

  <mat-card *ngFor="let item of outOfStockItems" class="out-of-stock-product mb-3 adj_sh">
    <div class="row">
      <div class="col-sm-6 col-md-3 text-center">
        <img class="img-fluid" [src]="item.image_url">
      </div>
      <div class="col-sm-6 col-md-5">
        <div class="col-12"> {{ businessName }} </div>
        <div class="col-12"> {{ item.name }}</div>
        <div class="col-12">
          <span>&#8377;{{ item.actual_discount ? item.offer_price_double :  item.actual_price_double }}</span>
          <span *ngIf="item.actual_discount">
            <span class="offer mr-1">&#8377;{{ item.actual_price_double }}</span>
            <span class="offer-per">({{ item.actual_discount }}% off)</span>
          </span>
        </div>
        <div class="col-12 mt-2">
          <span class="out-of-stock-label">OUT OF STOCK</span>
        </div>
      </div>
    </div>
  </mat-card>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger os-btn-primary" (click)="bsModalRef.hide()">OK</button>
  </div>
</ng-template>
<div class="toaster-msg px-3 py-2" [ngClass]="showToaster ? 'd-block' : 'd-none' " >
  Sorry! Minimum order value is not met to server you
  </div>