@import "../../../../variables.scss";
$font-main-title: 18px;
$font-section-title: 16px;
$font-txt: 13px;
.video-modal {
    display: block;
    .modal-dialog {
        position: relative;
        z-index: 2;
        .modal-content {
            background-color: transparent;
            border: none;
        }
    }
}
.back-drop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: #000;
    opacity: 0.5;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    .video-frame {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
.movie-detail-container {
    .video-bg-trigger {
        padding-bottom:40%;
        position: relative;
        overflow: hidden;
        z-index: 0;
        margin: auto;
        width: 100%;
        margin-top: -30px;
        .cover-bg-image {
            background-size: 100% auto !important;
            position: absolute;
        }
        .fa-play-circle-o {
            font-weight: 200;
            color: #fff;
            opacity: 0.9;
            position: absolute;
            font-size: 70px;
            width: 70px;
            height: 70px;
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
            margin: auto;
            display: inline-block;
        }
    }
    .inner-container {
        width:80%;
        margin: auto;
        .txt-value {
            font-size: $font-txt;
            font-weight: 400;
            color: $color-grey-txt;
        }
        .title-card {
            border-radius: 5px;
            box-shadow: 0px 2px 5px 0px #e6e5e5;
            padding: $font-section-title;
            margin-top: -30px;
            width: 100%;
            background: white;
            position: relative;
            
    
            .title {
                font-size: 28px;
                font-weight: 400;
                color: #000000;
                margin-bottom: 4px;
            }
            .cert-list {
                color: $color-teal;
                font-size: $font-section-title;
            }
    
            .movie-meta {
                margin-top: 12px;
                .languages {
                    padding: 5px 10px;
                    display: inline-block;
                    padding-left: 0px;
                    margin-bottom: 8px;
                }
                .run-time {
                    display: inline-block;
                    padding: 0px;
                    margin-right: 10px;
                    .reel-icon {
                        display: inline-block;
                        background: url(https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/web_assets%2Ffilm.svg?alt=media&token=7eda1d04-1fc4-4be9-a5e0-b3450ff8680b);
                        height: 18px;
                        width: 18px;
                        background-size: 18px;
                        display: inline-block;
                        vertical-align: baseline;
                        margin-left: 4px;
                        position: relative;
                        top: 4px;
                    }
                    .txt-value {
                        margin-left: 10px;
                    }
                }
                .genres {
                    display: inline-block;
                    padding: 0px;
                    .video-icon {
                        display: inline-block;
                        background: url(https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/web_assets%2Fmovie.svg?alt=media&token=b07a55d8-239d-430a-88aa-d62eada0d189);
                        height: 18px;
                        width: 18px;
                        background-size: 18px;
                        position: relative;
                        top: 4px;
                        margin-left: 4px;
                    }
                    .txt-value {
                        margin-left: 10px;
                    }
                }
    
            }
        }   
        .section-title {
            font-weight: 500;
            font-size: $font-section-title;
            color: black;
        }
        .section-text {
            font-weight: 500;
            font-size: $font-txt;
            color: $color-grey-txt;
        }
    
        .summary {
            margin-top: 20px;
        }
    
        .cast {
            margin-top: 8px;
        }
        
        .showtimes {
            margin-top: 8px;
            .section-title {
                margin-bottom: 8px;
            }
        }
        .theater-card {
            border-radius: 5px;
            border: 1px solid #B7B7B7;
            padding: 10px;
            .theater-name {
                font-weight: 500;
                font-size: $font-section-title;
                color: #000000;
            }
            .languages {
                .lang {
                    font-size: $font-txt;
                    font-weight: 400;
                }
            }
            .time-list {
                .time {
                    padding: 4px 12px;
                    font-size: $font-section-title;
                    width: 100px;
                    border-radius: 6px;
                    margin-right: 8px;
                    margin-bottom: 8px;
                    padding: 0px; 
                    text-align: center;                   
                    display: inline-block;
                    border: 1px solid #B7B7B7;
                }
            }
            .loc-icon {
                display: inline-block;
                background: url(https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/web_assets%2FLocate_on_map.png?alt=media&token=f1ca985f-c515-4ac9-9b74-6a71c8d3808f) no-repeat;
                height: 22px;
                width: 40px;
                background-size: 30px auto;
                position: absolute;
                top: -5px;
                right: 15px;
            }
            .calendar-icon {
                display: inline-block;
                background:  url(https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/web_assets%2Fcalender.svg?alt=media&token=88163c34-3cc7-4890-9abf-12535c7dd124) no-repeat;
                height: 18px;
                width: 18px;
                background-size: 18px;
                position: relative;
                top: 4px;
                margin-right: 8px;
            }
            .phone-icon {
                display: inline-block;
                background:  url(https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/web_assets%2Fcall.svg?alt=media&token=f015c6b7-2bdc-481a-b655-22d3bc3bfc9c) no-repeat;
                height: 18px;
                width: 18px;
                background-size: 18px;
                position: relative;
                top: 4px;
                margin-right: 8px;
            }
            .movie-date {
                margin-top: 10px;
                margin-bottom: 8px;
            }
            .movie-type-color{
                color: #009788;
            }
            .booking-section {
                .title {
                    font-size: 17px;
                }
            }
        }
    }
    .booking-section {
        background: #F5F5F5;
        padding: 25px 15px;
        margin-top: 25px;
        .links-container {
            width: 80%;
            margin: auto;
            .border-underline {
                width: 75px;
                height: 3px;
                background-color: #ef5350;
                margin: 5px auto auto;
                margin-bottom: 20px;
            }
            .title {
                font-size: 22px;  
                text-align: center;
            }
            width: 80%;
            .booking-link {
                display:inline-block;
                padding: 15px;
                border: 1px solid #B7B7B7;
                border-radius: 5px;
                background: white;
                margin-right: 15px;
                margin-bottom: 15px;
    
                .logo {
                    display: inline-block;
                    text-align: left;
                }
                .client-offer {
                    display: inline-block;
                    text-align:right;
                }
            }
        }
    }
}

@media (min-width: 769px) {
    .video-bg-trigger {
        padding-bottom: 40%;
    }
}

@media only screen and (max-width: 768px) {
    .video-bg-trigger {
        padding-bottom: 50%;
    }
}

.vertical-line {
    width: 1px;
    height: 18px;
    background: $color-grey-txt;
    display: inline-block;
    position: relative;
    margin-left: 16px;
    top: 4px;
}