<div class="movie-detail-container">
  <div class="video-bg-trigger">
    <i class="fa fa-play-circle-o" aria-hidden="true"></i>
    <div class="cover-bg-image" [style.background]="'url(' + movieData.image_url + ')'"></div>
  </div>
  <div class="inner-container">
    <div class="title-card">
      <h3 class="title"> {{ movieData.actualMovieName }}</h3>
      <div class="movie-meta">
        <span class="run-time">
          <span class='reel-icon'></span>
          <span class="txt-value">{{ movieData.duration }}</span>
        </span>
        <span class="genres">
          <span class='video-icon'></span>
          <span class="txt-value" *ngFor="let cat of movieData.categories;index as i">{{ cat }} <span class="comma"
              *ngIf="showComma(i,movieData.categories)">,</span></span>
        </span>
      </div>
    </div>
    <div class="summary">
      <div class="section-title">Summary</div>
      <div class="section-text">{{ movieData.movie_overview }}</div>
    </div>
    <div class="cast">
      <div class="section-title">Cast</div>
      <div class="section-text"><span class="cast"> {{ movieData.artists }} </span></div>
    </div>
    <div class="showtimes">
      <div class="section-title">
        Showtimes
      </div>
      <div class="theater-card" *ngFor="let theater of theatersList">
        <div class="row">
          <div class="col-12 col-sm-12 col md-4 col-lg-3">
            <div class="theater-name">{{ theater.theater_name }}</div>
            <div class="languages">
              <div class="lang txt-value">{{ theater.language }} &nbsp; | &nbsp; <span class="movie-type-color"
                  *ngFor="let cat of theater.types;index as i">{{ cat }} <span class="movie-type-color"
                    *ngIf="showComma(i,theater.types)">,</span></span></div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-2 col-lg-3" style="display: none">
            <span class="loc-icon"></span>
          </div>
        </div>
        <div class="movie-date">
          <span class="calendar-icon"></span><span class="date txt-value">{{ theater.release_date }}</span>
        </div>
        <div class="time-list txt-value">
          <div class="time">{{ theater.morning_time }} </div>
          <div class="time">{{ theater.matinee_time }}</div>
          <div class="time">{{ theater.evening_time }}</div>
          <div class="time">{{ theater.night_time }}</div>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-12 p-0">
      <div class="booking-section">
        <div class="links-container">
          <div class="title"> Proceed to Book</div>
          <div class="border-underline"></div>
          <div class="booking-links">
            <div class="booking-link" *ngFor="let bookingLink of movieData.movie_link_response">
              <a target="_blank" [href] = "bookingLink.booking_link" >
                  <div class="logo"><img [src]="bookingLink.client_logo" alt="Logo"></div>
                  <div class="client-offer">{{ bookingLink.client_offer}}</div>
              </a>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="modal video-modal" *ngIf="showVideoModalBool" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="video-container">
          <iframe class="video-frame" [src]="movieData.video_url" frameborder="0"></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="back-drop" *ngIf="showVideoModalBool"></div>
</div>