<div class="wish-list-container mb-3">
        <h3 class="section-title text-center d-inline-block w-100">
            My WishList
            <div class="border-underline"></div>
        </h3>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-12" *ngFor="let wishItem of wishList">
                        <div class="card shadow p-3 mb-2">
                            <h5 class="card-title mb-1 ellipsis">{{wishItem?.business_name}} ( {{wishItem?.product_details.length}} Items )</h5>
        
                            <app-horizontal-carousel class ="p-1 mt-1">
                                    <div class="card border-1 mr-2 d-inline-block" *ngFor="let item of wishItem.product_details">
                                        <img class="card-img-top rounded text-center" src="{{ item.primary_image_url }}" />
                                        <div class="prod-name mb-0 ellipsis text-center" title="{{ item.product_name }}">
                                            {{ item.product_name }}
                                        </div>
                                    </div>
        
                            </app-horizontal-carousel>
                            <div class="mt-2 bottom-layout">
                                    <span (click)="onDeleteAllClicked(wishItem)" class="delete-cart d-inline-block">Remove All</span><span class="d-inline-block">
                                    &nbsp;&nbsp;|&nbsp;&nbsp; </span>
                                    <a target="_self" [href]="baseUrl + '/profile/wishListBusiness/' + wishItem.business_city + '/' + wishItem.business_id + '/' + wishItem.urlBusinessName + '/' + '1'">
                                    <span class="shop-more d-inline-block">View All</span>
                                </a>
                            </div>        
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
    </div>
    <div id="no-results-view" class="no-results" *ngIf="wishList?.length == 0">
        No results to show ..
    </div>
</div>  