@import "../../../variables.scss";
.wish-list-container {
    .card-img-top {
        width: 120px;
        height: 100px;
        align-content: center;
        object-fit: contain;
    }
    .cart-value {
        font-size: 1.0rem;
        font-weight: 500;
    }
    .shop-more {
        color: $color-red;
        cursor: pointer;
    }
    .bottom-layout {
        float: right;
        cursor: pointer;
    }
    .delete-cart {
        color: #616161;
        cursor: pointer;
    }
    .prod-name {
        width: 100px;
        padding: 5px;
    }
}
.no-results {
    text-align: center;
}