@import "../../../variables";

.home-service-listing {
    .offline-wrapper {
        background-color: $color-red;
        color: white;
        font-size: 1rem;
        font-weight: 500;
        padding: 10px;
        text-align: center;
      }

    .col-xs-6 {
        width: 50%;
    }
    .service-view {
      display: none;
      cursor: pointer;
        padding-top: 10px;
        padding-bottom: 10px;
        .service-txt {
            color: #3F51B5;
        }
      @media screen and (max-width: 568px) {
        display: block;
      }
    }

    .card {
        cursor: pointer;
    }

    .section-title {
        font-weight: 600;
        font-size: 1rem;
    }

    .card-title {
        position: relative;
        font-size: 16px;
        font-weight: 600;
        color: #333333;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        // position: absolute;
        left: 0;
    }

    .card-subtitle {
        position: relative;
        font-weight: 400;
        color: #333333;
        white-space: nowrap;
        word-break: break-word;

        p {
            color: #999;
            font-size: 14px;
        }
    }

    .card-bottom {
        // position: absolute;
        position: relative;
        bottom: 0;
        padding: 0 0 10px;
        width: 100%;
    }

    .star-image {
        width: 16px;
    }

    .text-green {
        color: #039e03
    }

    .ellipsis {
        // font-weight: 600;
        padding-left: 10px;
    }

    .border {
        border-radius: 10px;
    }

    .img-container {
        height: 340px;
        overflow: hidden;

        img {
            width: 100%;
        }
        @media (max-width:568px) {
            img {
            object-fit: contain;
            height : 160px;
            }
        }
    }

    .services-btn {
        min-width: 145px;
        border: 0.5px solid #052562;
        color: #052562;
        outline: none;
    }

    .form-container {
        padding: 0 16px;
    }

    .form-title {
        font-size: 14px;
        font-weight: 600
    }

    .form-control {
        border-top: none;
        border-right: none;
        border-left: none;
        border-radius: 0;
        font-size: 12px;
    }

    textarea:focus,
    input:focus {
        outline: none !important;
    }

    .form-control:focus {
        outline: none;
        border-top: none;
        border-right: none;
        border-left: none;
        border-radius: 0;
        font-size: 12px;
    }

    .booking-btn {
        min-width: 145px;
        background: #EF5350;
        color: #fff;
        outline: none;
    }

    .button-class {
        padding: 0 10px;

        div.btncls {
            display: inline-block;
            padding: 0 10px;
        }
    }

    .detail-container {
        padding: 10px;
    }

    .content-container {
        width: 70%;
        position: relative;
        height: 100px;
        display: inline-block;
        vertical-align: -webkit-baseline-middle;
    }

    .card-bottomtitle {
        font-size: 14px;
    }

    .hr-detail-container {
          border-bottom: 0.1px solid #999;
    }

    p {
        color: #999;
    }

    .loc-img,
    .loc-add {
        display: inline-block;
        vertical-align: top;
        padding: 10px;
        color: #999;
    }

    @media (max-width: 568px) {
        .col-xs-6 {
            width: 100%;
        }

        .img-container {
            height: auto;
        }

        .section-title {
            font-weight: 600;
            font-size: 1rem;
        }

        .card-title {
            font-size: 14px;
        }

        .card-subtitle {
            p {
                font-size: 12px;
            }
        }
    }

    .call-btn {
        width: 100px;
        height: 30px;
        color: $color-white;
        background-color: #009788;
        border-radius: 25px;
        text-align: center;
        font-size: 0.875rem;
        &:focus,
        &:hover {
          color: $color-white;
        }
        margin-left: 20px;
      }

      .mobile-detail-footer {
        cursor: pointer;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 40px;
        left: 0;
        background-color: $color-red;
        .book-text{
            color: white;
            align-self: center;
            width: 100%;
        }
      }
}

.services-container {
    position: fixed;
    z-index: 9000;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    .services-inner-container {
        width: 50%;
        display: block;
        margin: auto;
        position: relative;
        margin: 10% auto;
        background: #fff;
        border-radius: 5px;
        padding: 16px;
        .service-inner{
            overflow-y: auto;
            height: 350px;
        }
        .service-title{
            font-weight: 600;
            font-size: 14px;
            padding-bottom: 10px;
        }
        .service-data{
            font-weight: 400;
            font-size: 12px;
            padding-bottom: 10px;
        }
        .closeBtn{
            position: absolute;
            right: 10px;
            cursor: pointer;
        }
    }
}

.bookform-container {
    position: fixed;
    z-index: 9000;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    .bookform-inner-container {
        width: 50%;
        display: block;
        margin: auto;
        position: relative;
        margin: 3% auto;
        background: #fff;
        border-radius: 5px;
        padding: 16px;
        .bookform-inner{
            overflow-y: auto;
            height: 480px;
            font-size: 12px;
            .row{
                margin-left: 0 !important;
                margin-right: 0 !important;
                .form-title {
                    font-size: 14px;
                    font-weight: 600
                }

                .form-control {
                    border-top: none;
                    border-right: none;
                    border-left: none;
                    border-radius: 0;
                    font-size: 12px;
                }

                textarea:focus,
                input:focus {
                    outline: none !important;
                }

                .form-control:focus {
                    outline: none;
                    border-top: none;
                    border-right: none;
                    border-left: none;
                    border-radius: 0;
                    font-size: 12px;
                }

                .booking-btn {
                    min-width: 145px;
                    background: #EF5350;
                    color: #fff;
                    outline: none;
                    display: block;
                    margin: auto;
                }
            }
            .form-title{
                font-size: 12px;
            }
            .form-control{
                font-size: 12px;
            }
        }
        .service-title{
            font-weight: 600;
            font-size: 14px;
            padding-bottom: 10px;
        }
        .service-data{
            font-weight: 400;
            font-size: 12px;
            padding-bottom: 10px;
        }
        .closeBtn{
            position: absolute;
            right: 10px;
            cursor: pointer;
        }
    }
}

.invalid-error{
    color: red;
}

@media (max-width: 568px) {
    .services-inner-container {
        width: 90% !important;
        display: block;
        margin: auto;
        position: relative;
        margin: 10% 5% !important;
        background: #fff;
        border-radius: 5px;
        padding: 16px;
        .service-inner{
            overflow-y: auto;
            height: 500px !important;
        }
        .service-title{
            font-weight: 600;
            font-size: 14px;
            padding-bottom: 10px;
        }
        .service-data{
            font-weight: 400;
            font-size: 12px;
            padding-bottom: 10px;
        }
        .closeBtn{
            position: absolute;
            right: 10px;
            cursor: pointer;
        }
    }
    .section-title {
        font-weight: 600;
        font-size: 1rem;
    }
    .card-title {
        font-size: 14px;
    }
    .card-subtitle {
        p {
            font-size: 12px;
        }
    }
    .bookform-container {
        .bookform-inner-container {
            width: 90% !important;
            .bookform-inner{
                height: 500px !important;
                padding-bottom: 10px;
            }
        }
    }
}

@media (max-width: 568px) {
    .web-call {
        display: none;
    }
    .button-class {
        display: none;
    }
    .mobile-view {
        display: block;
    }
    .mobile-detail-footer {
        display: block;
    }
    .call-booking {
        display: block;
    }
    .web-book {
        display: none;
    }
}


@media (min-width: 569px) {
    .web-call {
        display: block;
    }
    .button-class {
        display: block;
    }
    .mobile-view {
        display: none;
    }
    .mobile-detail-footer {
        display: none;
    }
    .call-booking {
        display: none;
    }
    .web-book {
        display: block;
    }
}
