<div class="home-service-listing mb-md-4 mb-3 main-container-width mx-auto">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-xs-12 col-sm-6 ">
                    <div class="img-container">
                        <img class="card-img-top rounded" src="{{ catagoryObj?.image_url }}" alt="Product image" />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 detail-container">
                    <div class="offline-wrapper m-0 p-1" *ngIf="catagoryObj?.show_offline">
                        <span class="text-center">Currently not accepting orders</span>
                    </div>
                    <h5 class="section-title text-left mt-2">
                        {{catagoryObj?.business_name}}
                    </h5>
                    <div>
                        <p class="mt-1 text-green">
                            Served Orders : {{catagoryObj?.orders_served}}
                        </p>
                        <p class="mt-1">{{catagoryObj?.business_description}}</p>
                        <hr class="hr-detail-container m-0 p-0">
                    </div>
                    <div class="web-call m-0 p-0">
                        <div class="m-0 p-0">
                            <div class="loc-img">
                                <img src="assets/call.svg" alt="/" class="star-image" />
                            </div>
                            <div class="loc-add">
                                <a href="tel:{{catagoryObj?.business_phone_number}}">
                                    {{catagoryObj?.business_phone_number}}
                                </a>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div class="button-class mt-3">
                        <div class="row">
                            <div class="col-xs-6 btncls">
                                <button (click)="openModal()" type="button" class="btn services-btn text-center">
                                    <span>OUR SERVICES</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="services-view-wrapper">
                        <div class="service-view" (click)="openModal()">
                            <span class="service-txt text-left">Our Services&nbsp;&nbsp;&nbsp;&nbsp;></span>
                        </div>
                        <hr class="hr-detail-container m-0 p-0 mt-3">
                        <div class="mt-3 col-md-12 p-0" *ngIf="catagoryObj?.is_schedule_enabled && !catagoryObj?.show_offline">
                            <h6 class="mb-2">Choose Category</h6>
                            <div id="categories-filter-view" class="category-dd">
                                <div class="category-dd">
                                    <select [(ngModel)]="activeCategoryObj" (change)="handleCategoryTabChange()"
                                        class="form-control custom-select">
                                        <option *ngFor="let category of categoriesList">
                                            {{category.display_name}}
                                        </option>
                                    </select>
                                </div>
                                <div>
                                </div>
                            </div>
                        </div>

                        <div class="call-booking mt-3">
                            <span class="txt-value" style=" display: inline-block">Call for Queries</span>
                            <a [href]="'tel:'+catagoryObj?.business_phone_number" class="btn call-btn">
                                Call
                            </a>
                        </div>

                        <h6 class="mb-2 mt-3" *ngIf="catagoryObj?.is_schedule_enabled && !catagoryObj?.show_offline">
                            Schedule</h6>
                        <form #form="ngForm" *ngIf="catagoryObj?.is_schedule_enabled && !catagoryObj?.show_offline">

                            <div class="bookform-inner-mobile mt-3">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-container">
                                            <div *ngIf="errorBln" class="invalid-error">
                                                {{this.errormgs}}
                                            </div>
                                            <div class="row">
                                                <div class="date-form form-group col-sm-6">
                                                    <input type="date" name="selectedDate"
                                                        [(ngModel)]="model.selectedDate" [min]="todayDate"
                                                        #selectedDate="ngModel" class="form-control" placeholder="DATE"
                                                        required />
                                                </div>
                                                <div class="date-form form-group col-sm-6">
                                                    <input type="time" name="selectedTime"
                                                        [(ngModel)]="model.selectedTime" #selectedTime="ngModel"
                                                        class="form-control" placeholder="TIME" required />
                                                </div>
                                            </div>
                                            <p class="m-0 p-0">{{catagoryObj?.note}}</p>

                                            <h6 class="mt-3 mb-2">Comments</h6>

                                            <div class="col-xs-12 form-group col-sm-12">
                                                <textarea name="comments" [(ngModel)]="model.comments"
                                                    #comments="ngModel" class="form-control border m-0 p-0" required
                                                    rows="5"> </textarea>
                                            </div>
                                            <h6 class="mt-3">Verify your Address</h6>
                                            <div class="row">
                                                <div class="col-xs-12 form-group col-sm-12">
                                                    <input type="text" name="firstName" [(ngModel)]="model.firstName"
                                                        #firstName="ngModel" class="form-control" placeholder="NAME"
                                                        required />

                                                </div>
                                                <div class="col-xs-12 form-group col-sm-12">
                                                    <input type="tel" name="mob" maxlength="10" [(ngModel)]="model.mob"
                                                        #mob="ngModel" class="form-control" placeholder="MOBILE"
                                                        required />
                                                </div>
                                                <div class="col-xs-12 form-group col-sm-12">
                                                    <input type="email" name="email" [(ngModel)]="model.email"
                                                        #email="ngModel" class="form-control" placeholder="EMAIL"
                                                        required />
                                                </div>
                                                <div class="col-xs-12 form-group col-sm-12">
                                                    <input type="text" name="addr1" [(ngModel)]="model.addr1"
                                                        #addr1="ngModel" class="form-control" placeholder="ADDRESS"
                                                        required />
                                                    <input type="text" name="addr2" [(ngModel)]="model.addr2"
                                                        #addr2="ngModel" class="form-control" placeholder="" required />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-block d-sm-none mobile-custom-view mobile-detail-footer d-flex">
                                <div class="book-text text-center" (click)="onSubmit(form.value)">BOOK</div>
                            </div>
                            <div class="col-xs-6 btncls web-book" *ngIf="catagoryObj?.is_schedule_enabled">
                                <button (click)="onSubmit(form.value)" type="button"
                                    class="btn booking-btn text-center">
                                    <span>BOOK</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="services-container" *ngIf="modalShowHide">
    <div class="services-inner-container">
        <span class="closeBtn" (click)="closeModal()">X</span>
        <div class="service-title">Our Services</div>
        <div class="service-inner">
            <div class="service-data" *ngFor="let service of listAllServices">{{service.service_name}}</div>
        </div>
    </div>
</div>
