@import "../../../variables";
$font-main-title: 18px;
$font-section-title: 16px;
$font-txt: 13px;

.real-estate-detail-container {

  .property-title {
    margin-top: 16px;
  }

  .overview {
    .txt-value-header {
      color: #666666;
      font-size: 14px;
    }

    .txt-value {
      color: #333333;
      font-size: 14px;
    }
  }

  .info-title {
    font-weight: 500;
    font-size: 18px;
    font-size: $font-section-title;
    color: black;
    margin-top: 20px;
  }

  .info-text {
    white-space: pre-wrap;
  }

  .container {
    .amenity-card {
      width: 100px;

      .amenity-img {
        width: 50px;
        height: 50px;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .plan-carousel {
    .plan-img {
      width: 300px;
      height: 300px;
      object-fit: contain;
    }
  }

  .site-details {
    .site-card-img-top {
      width: 500px;
      height: 300px;
      object-fit: contain;
    }

    .marking {
      .booked-class {
        display: inline-block;

        .card-img-top {
          width: 25px;
          height: 25px;
        }
      }

      .available-class {
        display: inline-block;

        .card-img-top {
          width: 25px;
          height: 25px;
        }
      }
    }

    .site-wrapper {
      .card-img-top {
        width: 100%;
        cursor: pointer;
        z-index: 1;
        position: absolute;
      }

      .card-img-top1 {
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0px;
        left: 0;
      }

      .site-details {
        position: absolute;
        width: 104px;
        height: 55px;
        z-index: 2;
        margin: auto;
        text-align: center;
        border-radius: 5px;
        padding: 4px;
        bottom: 20px;
        left: -30px;

        .site-dimention {
          .title {
            font-weight: 600;
          }

          position: absolute;
          top: 0;
          left: 12px;
          margin-left: 0.5rem;
          font-size: 10px;
        }

        .site-facing {
          .title {
            font-weight: 600;
          }

          position: absolute;
          top: 10px;
          left: 12px;
          margin-left: 0.5rem;
          font-size: 10px;
        }

        .site-area {
          .title {
            font-weight: 600;
          }

          position: absolute;
          top: 20px;
          left: 12px;
          margin-left: 0.5rem;
          font-size: 10px;
        }
      }

      .site-img {
        width: 40px;
        height: 40px;
        position: relative;
        margin: .5rem !important;
      }

      .site-number {
        margin: .5rem !important;
        position: absolute;
        width: 100%;
        top: 5px;
        cursor: pointer;
        z-index: 2;
        font-size: 16px;
        text-align: center;
        align-content: center;
      }
    }
  }

  .call-info {
    .mobile-call-button {
      background-color: $color-red;
      width: 60px;
      color: white;
      margin-top: 10px;
      margin-left: 5px;

      a:link {
        text-decoration: none;
        color: inherit;
      }

      a:hover {
        text-decoration: none;
        color: inherit;
      }
    }

    .web-call {

      .loc-img,
      .loc-add {
        display: inline-block;
        vertical-align: top;
        padding: 10px;
        color: #999;
      }

      .star-image {
        width: 16px;
      }
    }

    .callinfotitle {
      margin-top: 20px;
      display: inline-block !important;
    }

    .web-call {
      display: inline-block !important;

      .loc-add {
        padding-top: 0;
      }

      .loc-img {
        padding-top: 0;
        padding-right: 0;
      }

      // float: right;
    }

    @media (max-width: 568px) {
      .callinfotitle {
        margin-top: 10px;
        display: inline-block;
      }

      .mobile-call-button {
        float: right;
        display: block;
      }

      .web-call {
        display: none !important;
      }
    }

    @media (min-width: 569px) {
      .mobile-call-button {
        display: none;
      }

      .web-call {
        display: block;
      }
    }
  }

  .disclaimer {
    background-color: #F5F5F5;
    font-size: 12px;
    padding: 5px;

    .view-more {
      color: #009788;
      font-size: 14px;
      cursor: pointer;
    }

    .view-less {
      color: #009788;
      font-size: 14px;
      cursor: pointer;
    }
  }

}

.vertical-line {
  width: 1px;
  height: 18px;
  background: $color-grey-txt;
  display: inline-block;
  position: relative;
  top: 4px;
}


hr {


  border-left: 1px solid hsla(200, 10%, 50%, 100);
  height: 40px;
  width: 1px;
  position: relative;
  bottom: 10px;
}

.image {
  height: 300px;
  position: relative;
  overflow: hidden;
  z-index: 0;
  margin: auto;
  width: 99%;
  object-fit: contain;
  margin-top: -30px;

  .cover-bg-image {
    background-size: cover !important;
  }

  @media (max-width: 768px) {
    height: 200px;
  }

  @media (min-width: 769px) {
    height: 450px;
  }
}


@media (max-width: 768px) {
  .outline-overview {
    display: none;
  }

  .outline-overview-mobile {
    display: block;
    padding: 18px;

    .row-1 {
      display: block;

      .area {
        display: inline-block;
        width: 50%;
      }

      .posession-date {
        display: inline-block;
        width: 50%;

      }
    }

    .row-2 {
      display: block;
      margin-top: 20px;

      .prop-type {
        display: inline-block;
        width: 50%;
      }

      .availability {
        display: inline-block;
        width: 50%;
      }

    }

    .row-3 {
      display: block;
      margin-top: 20px;

      .furnish {
        display: inline-block;
        width: 50%;
      }

      .property-age {
        display: inline-block;
        width: 50%;
      }
    }

    .row-4 {
      display: block;
      margin-top: 20px;

      .tenant-type {
        display: inline-block;
        width: 50%;
      }

      .parking {
        display: inline-block;
        width: 50%;
      }
    }

    .row-5 {
      display: block;
      margin-top: 20px;

      .bedroom {
        display: inline-block;
        width: 50%;
      }

      .bathroom {
        display: inline-block;
        width: 50%;
      }
    }
  }
}

@media (min-width: 768px) {
  .outline-overview-mobile {
    display: none;
  }

  .outline-overview {
    display: block;
    padding: 18px;

    .row-1l {
      display: block;
      margin-bottom: 20px;

      .area {
        display: inline-block;
        width: 25%;
      }

      .posession-date {
        display: inline-block;
        width: 25%;
        margin-left: 50px;
      }

      .prop-type {
        display: inline-block;
        width: 25%;
        margin-left: 50px;
      }
    }

    .row-2l {
      display: block;
      margin-bottom: 20px;

      .availability {
        display: inline-block;
        width: 25%;
      }

      .furnish {
        display: inline-block;
        width: 25%;
        margin-left: 50px;
      }

      .property-age {
        display: inline-block;
        width: 25%;
        margin-left: 50px;
      }
    }

    .row-3l {
      display: block;
      margin-bottom: 20px;

      .tenant-type {
        display: inline-block;
        width: 25%;
      }

      .parking {
        display: inline-block;
        width: 25%;
        margin-left: 50px;
      }

      .bedroom {
        display: inline-block;
        width: 25%;
        margin-left: 50px;
      }
    }

    .row-4l {
      display: block;

      .bathroom {
        display: inline-block;
        width: 25%;
      }
    }
  }
}

ul.icons {
  list-style: none;
  margin-left: -54px;

}

ul.icons li {
  display: inline-block;
  padding: 25px;
  text-align: center;
}

.font_aweicons {
  font-size: 27px;
}

.font-text {
  font-size: 14px;
}
