<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<!-- Latest compiled and minified CSS -->
<!--my code-->
<div class="real-estate-detail-container">

  <div class="image">
    <div class="cover-bg-image" [style.background]="'url(' + realEstateDetails.primary_image_url + ')'"></div>
  </div>

  <h4 class="property-title">{{ realEstateDetails.property_name }}</h4>
  <div *ngIf="realEstateDetails.locality">
    <div class="d-inline-block left-image">
      <img src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/web_assets%2Flocation.svg?alt=media&token=e1e12c4a-8907-48c7-b7eb-d99adf59cf00" alt="Locate" style="width: 20px;height: 20px;" />
    </div>
    <div class="d-inline-block right-block">
      {{ realEstateDetails.locality }}
    </div>
  </div>

  <div class="call-info mt-2">
    <span>
      <div class="callinfotitle"> Call for more information: </div>
    </span>
    <span>
      <button class="mobile-call-button rounded">
        <a href="tel:{{ realEstateDetails.primary_contact_number }}">Call</a>
      </button>
      <div class="web-call m-0 p-0">
        <div class="m-0 p-0">

          <a href="tel:{{ realEstateDetails.primary_contact_number }}">
            <span class="loc-img">
              <img src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/web_assets%2Fcall.svg?alt=media&token=f015c6b7-2bdc-481a-b655-22d3bc3bfc9c" alt="/" class="star-image" />
            </span>
            <span class="loc-add">
              {{realEstateDetails.primary_contact_number}}
            </span>
          </a>
        </div>
      </div>
    </span>
  </div>

  <div class="col-sm-8 m-0 p-0">
    <div class="row">
      <div class="col-sm-3 mt-3">
        <div *ngIf="realEstateDetails.start_price">
          <span class="apartment_details info-title">
            &#8377;{{realEstateDetails.start_price}} </span>
          <span class="end price info-title" *ngIf="realEstateDetails.end_price">&nbsp; - &nbsp;
            {{realEstateDetails.end_price}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="customer-views">Customer Views : {{customerViews}}</div>

  <div class="info-title">Overview</div>


  <div class="outline-overview border overview">
    <div class="row-1l">
      <div class="area">
        <span class="txt-value-header" style=" display: block">Project Area</span>
        <span class="txt-value" style="display: block" *ngIf="realEstateDetails.area">{{realEstateDetails.area}}</span>
        <span class="txt-value" style="display: block" *ngIf="!realEstateDetails.area">NA</span>
      </div>

      <div class="posession-date">
        <span class="txt-value-header" style="display: block">Posession Date</span>
        <span class="txt-value" style="display: block"
          *ngIf="realEstateDetails.possession_date">{{realEstateDetails.possession_date}}</span>
        <span class="txt-value" style="display: block" *ngIf="!realEstateDetails.possession_date">NA</span>
      </div>

      <div class="prop-type">
        <span class="txt-value-header" style="display: block">Type</span>
        <span class="txt-value" *ngFor="let type of realEstateDetails.property_type;index as i">{{ type }} <span
            class="comma" *ngIf="showComma(i,realEstateDetails.property_type)">,</span></span>
        <span class="txt-value" style="display: block" *ngIf="realEstateDetails.property_type < 1">NA</span>
      </div>
    </div>
    <div class="row-2l">
      <div class="availability">
        <span class="txt-value-header" style="display: block">Availability</span>
        <span class="txt-value"
          *ngFor="let availability of realEstateDetails.availability;index as i">{{ availability }}
          <span class="comma" *ngIf="showComma(i,realEstateDetails.availability)">,</span></span>
        <span class="txt-value" style="display: block" *ngIf="realEstateDetails.availability < 1">NA</span>
      </div>

      <div class="furnish">
        <span class="txt-value-header" style="display: block">Furnish</span>
        <span class="txt-value" *ngFor="let furnish of realEstateDetails.furnish;index as i">{{ furnish }} <span
            class="comma" *ngIf="showComma(i,realEstateDetails.furnish)">,</span></span>
        <span class="txt-value" style="display: block" *ngIf="realEstateDetails.furnish < 1">NA</span>
      </div>

      <div class="property-age">
        <span class="txt-value-header" style="display: block">Property Age</span>
        <span class="txt-value" *ngFor="let age of realEstateDetails.property_age;index as i">{{ age }} <span
            class="comma" *ngIf="showComma(i,realEstateDetails.property_age)">,</span></span>
        <span class="txt-value" style="display: block" *ngIf="realEstateDetails.property_age < 1">NA</span>
      </div>
    </div>
    <div class="row-3l">
      <div class="tenant-type">
        <span class="txt-value-header" style="display: block">Tenant Type</span>
        <span class="txt-value" *ngFor="let tenant of realEstateDetails.tenant_types;index as i">{{ tenant }} <span
            class="comma" *ngIf="showComma(i,realEstateDetails.tenant_types)">,</span></span>
        <span class="txt-value" style="display: block" *ngIf="realEstateDetails.tenant_types < 1">NA</span>
      </div>

      <div class="parking">
        <span class="txt-value-header" style="display: block">Parking</span>
        <span class="txt-value" *ngFor="let parking of realEstateDetails.parking_types;index as i">{{ parking }} <span
            class="comma" *ngIf="showComma(i,realEstateDetails.parking_types)">,</span></span>
        <span class="txt-value" style="display: block" *ngIf="realEstateDetails.parking_types < 1">NA</span>
      </div>

      <div class="bedroom">
        <span class="txt-value-header" style="display: block">Bedroom</span>
        <span class="txt-value" *ngFor="let bedroom of realEstateDetails.bedroom_types;index as i">{{ bedroom }} <span
            class="comma" *ngIf="showComma(i,realEstateDetails.bedroom_types)">,</span></span>
        <span class="txt-value" style="display: block" *ngIf="realEstateDetails.bedroom_types < 1">NA</span>
      </div>
    </div>
    <div class="row-4l">
      <div class="bathroom">
        <span class="txt-value-header" style="display: block">Bathroom</span>
        <span class="txt-value" *ngFor="let bathroom of realEstateDetails.bathroom_types;index as i">{{ bathroom }}
          <span class="comma" *ngIf="showComma(i,realEstateDetails.bathroom_types)">,</span></span>
        <span class="txt-value" style="display: block" *ngIf="realEstateDetails.bathroom_types < 1">NA</span>
      </div>
    </div>
  </div>


  <div class="outline-overview-mobile border overview">
    <div class="row-1">
      <div class="area">
        <span class="txt-value-header" style="display: block">Project Area</span>
        <span class="txt-value" style="display: block" *ngIf="realEstateDetails.area">{{realEstateDetails.area}}</span>
        <span class="txt-value" style="display: block" *ngIf="!realEstateDetails.area">NA</span>
      </div>

      <div class="posession-date">
        <span class="txt-value-header" style="display: block">Posession Date</span>
        <span class="txt-value" style="display: block"
          *ngIf="realEstateDetails.possession_date">{{realEstateDetails.possession_date}}</span>
        <span class="txt-value" style="display: block" *ngIf="!realEstateDetails.possession_date">NA</span>
      </div>
    </div>
    <div class="row-2">
      <div class="prop-type">
        <span class="txt-value-header" style="display: block">Type</span>
        <span class="txt-value" *ngFor="let type of realEstateDetails.property_type;index as i">{{ type }} <span
            class="comma" *ngIf="showComma(i,realEstateDetails.property_type)">,</span></span>
        <span class="txt-value" style="display: block" *ngIf="realEstateDetails.property_type < 1">NA</span>
      </div>

      <div class="availability">
        <span class="txt-value-header" style="display: block">Availability</span>
        <span class="txt-value"
          *ngFor="let availability of realEstateDetails.availability;index as i">{{ availability }}
          <span class="comma" *ngIf="showComma(i,realEstateDetails.availability)">,</span></span>
        <span class="txt-value" style="display: block" *ngIf="realEstateDetails.availability < 1">NA</span>
      </div>
    </div>
    <div class="row-3">
      <div class="furnish">
        <span class="txt-value-header" style="display: block">Furnish</span>
        <span class="txt-value" *ngFor="let furnish of realEstateDetails.furnish;index as i">{{ furnish }} <span
            class="comma" *ngIf="showComma(i,realEstateDetails.furnish)">,</span></span>
        <span class="txt-value" style="display: block" *ngIf="realEstateDetails.furnish < 1">NA</span>
      </div>

      <div class="property-age">
        <span class="txt-value-header" style="display: block">Property Age</span>
        <span class="txt-value" *ngFor="let age of realEstateDetails.property_age;index as i">{{ age }} <span
            class="comma" *ngIf="showComma(i,realEstateDetails.property_age)">,</span></span>
        <span class="txt-value" style="display: block" *ngIf="realEstateDetails.property_age < 1">NA</span>
      </div>
    </div>
    <div class="row-4">
      <div class="tenant-type">
        <span class="txt-value-header" style="display: block">Tenant Type</span>
        <span class="txt-value" *ngFor="let tenant of realEstateDetails.tenant_types;index as i">{{ tenant }} <span
            class="comma" *ngIf="showComma(i,realEstateDetails.tenant_types)">,</span></span>
        <span class="txt-value" style="display: block" *ngIf="realEstateDetails.tenant_types < 1">NA</span>
      </div>

      <div class="parking">
        <span class="txt-value-header" style="display: block">Parking</span>
        <span class="txt-value" *ngFor="let parking of realEstateDetails.parking_types;index as i">{{ parking }} <span
            class="comma" *ngIf="showComma(i,realEstateDetails.parking_types)">,</span></span>
        <span class="txt-value" style="display: block" *ngIf="realEstateDetails.parking_types < 1">NA</span>
      </div>
    </div>
    <div class="row-5">
      <div class="bedroom">
        <span class="txt-value-header" style="display: block">Bedroom</span>
        <span class="txt-value" *ngFor="let bedroom of realEstateDetails.bedroom_types;index as i">{{ bedroom }} <span
            class="comma" *ngIf="showComma(i,realEstateDetails.bedroom_types)">,</span></span>
        <span class="txt-value" style="display: block" *ngIf="realEstateDetails.bedroom_types < 1">NA</span>
      </div>

      <div class="bathroom">
        <span class="txt-value-header" style="display: block">Bathroom</span>
        <span class="txt-value" *ngFor="let bathroom of realEstateDetails.bathroom_types;index as i">{{ bathroom }}
          <span class="comma" *ngIf="showComma(i,realEstateDetails.bathroom_types)">,</span></span>
        <span class="txt-value" style="display: block" *ngIf="realEstateDetails.bathroom_types < 1">NA</span>
      </div>

    </div>
  </div>


  <div class="container m-0 p-0" *ngIf="amenities && amenities.length">
    <div class="info-title">Amenities</div>
    <br>
    <div class="row m-0 p-0">
      <div class="amenity-card d-inline-block mb-3 mr-4" *ngFor="let item of realEstateDetails.amenities">
        <div class="text-center">
          <img class="amenity-img" src="{{item.image_url}}" alt="Amenity" />
          <span class="text-center" style="display : block;width:100px">{{item.name}}</span>
        </div>

      </div>
    </div>
    <div class="amenities-additional-description" *ngIf="realEstateDetails.amenity_additional_description">
      <p class="card-text">{{realEstateDetails.amenity_additional_description}}</p>
    </div>
  </div>

  <div *ngIf="plans && plans.length">
    <div class="info-title">Plans</div>
    <div id="plan-carousel" class="carousel slide plan-carousel">
      <app-horizontal-carousel>
        <div class="card d-inline-block mb-3 mr-5 p-2" *ngFor="let plan of realEstateDetails.plan_response">
          <img class="plan-img" src="{{ plan.image_url }}" alt="Plan image" />
          <div class="card-body p-1 text-center">
            <p class="card-text" *ngIf="plan.type">{{ plan.type}}</p>
            <p class="card-text" *ngIf="plan.area">{{ plan.area }} &nbsp; <span
                *ngIf="plan.facing">({{plan.facing}})</span></p>
            <p class="card-text" *ngIf="plan.price">{{ plan.price}}</p>
          </div>
        </div>
      </app-horizontal-carousel>
    </div>
  </div>

  <div class="site-details" *ngIf="siteList?.length > 0">
    <div class="info-title mb-3">Site Plan and Availability</div>
    <img class="text-center site-card-img-top m-2" src="{{realEstateDetails.site_image_preview}}" />

    <div class="marking text-center mt-1 mb-1">
      <div class="text-center booked-class">
        <span>
          <img class="card-img-top m-2"
            src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/web_assets%2Fbooked.png?alt=media&token=992df330-6e42-4b87-8a7a-413e90bffee7" />
          <span>Booked</span>
        </span>
      </div>
      <div class="text-center ml-2 available-class">
        <span>
          <img class="card-img-top m-2"
            src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/web_assets%2Favailable.png?alt=media&token=f3589ec9-bc0b-4a7b-b7a5-f02df88ab364" />
          <span>Available</span>
        </span>
      </div>
    </div>

    <div class="row site-wrapper m-1"   >
      <div class="site-card" *ngFor="let item of siteList; let i=index">
        <div class="site-img" *ngIf="item.is_booked">
          <img (click)="onSiteDetailClicked(i)" class="card-img-top m-2"
            src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/web_assets%2Fbooked.png?alt=media&token=992df330-6e42-4b87-8a7a-413e90bffee7" />
          <div (click)="onSiteDetailClicked(i)" class="site-number"[ngbTooltip]="tipContent" placement="top" tooltipClass="white-bg">
            <span>{{item.site_number}}</span>
          </div>
          <ng-template #tipContent >
            <span class="site-dimention" *ngIf="item.dimension"><span class="title">Dimention: </span>{{item.dimension}}</span>
            <span class="site-facing" *ngIf="item.facing"><span class="title">Facing: </span>{{item.facing}}</span>
            <span class="site-area" *ngIf="item.area"><span class="title">Area: </span>{{item.area}}</span>
          </ng-template>
        </div>
        <div class="site-img" *ngIf="!item.is_booked">
          <img  (mouseover)="onSiteDetailClicked(i)"  (mouseout)="onSiteDetailPop(i)" class="card-img-top m-2"
            src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/web_assets%2Favailable.png?alt=media&token=f3589ec9-bc0b-4a7b-b7a5-f02df88ab364" />
          <!-- <div> -->
          <span class="site-number" [ngbTooltip]="tipContent" placement="top" tooltipClass="white-bg" (mouseover)="onSiteDetailClicked(i)" (mouseout)="onSiteDetailPop(i)" >{{item.site_number}}</span>
          <!-- </div> -->
          <ng-template #tipContent >
            <span class="site-dimention" *ngIf="item.dimension"><span class="title">Dimention: </span>{{item.dimension}}</span>
            <span class="site-facing" *ngIf="item.facing"><span class="title">Facing: </span>{{item.facing}}</span>
            <span class="site-area" *ngIf="item.area"><span class="title">Area: </span>{{item.area}}</span>
          </ng-template>
        </div>
      </div>
    </div>
  </div>

  <div class="description" *ngIf="realEstateDetails.property_description">
    <div class="info-title">Description</div>
    <div class="info-text"><span>
        {{ realEstateDetails.property_description }} </span></div>
  </div>

  <div class="disclaimer mt-3 mb-3">
    <div class="short-disclaimer" *ngIf="showViewLessDisclaimer">
      <span>OneShell is a not a marketing partner for any of the real estate listings on the PLATFORM and is not acting
        on behalf of any User(s) making a real estate listing. The real estate listings displayed on the PLATFORM are
        solely provided by the User(s) and hence shall not be construed as an offer for sale or an advertisement for
        sale by OneShell. OneShell does not in any way facilitate the sales between the User posting a real estate
        listing and the other Users of the website.</span>
      <span class="view-more" (click)="onViewMoreClicked()">View More</span>
    </div>
    <div class="expanded-disclaimer" *ngIf="showViewMoreDisclaimer">
      <span>OneShell is a not a marketing partner for any of the real estate listings on the PLATFORM and is not acting
        on behalf of any User(s) making a real estate listing. The real estate listings displayed on the PLATFORM are
        solely provided by the User(s) and hence shall not be construed as an offer for sale or an advertisement for
        sale by OneShell. OneShell does not in any way facilitate the sales between the User posting a real estate
        listing and the other Users of the website.
        OneShell is not responsible for any incorrect or inaccurate property listing posted on the PLATFORM, nor for the
        conduct of any User and/or Member of the PLATFORM whether online or offline. OneShell shall not be responsible
        for any loss or damage to any individual arising out of, or subsequent to, any relations (including but not
        limited to property) established pursuant to the use of the PLATFORM. All liability, whether civil or criminal
        arising out of any actions or omissions related to any real estate listings posted on the PLATFORM will be of
        the User posting such listing and OneShell reserves its right to claim from such User, any losses or damages
        that it may suffer as a result of such real estate listings on the PLATFORM.
        OneShell does not verify the any of the real estate listings on the PLATFORM. OneShell neither physically
        meets/verifies User(s) making the listings nor does it conduct any background/police verification process of the
        User(s). The images/videos of any property listed on the PLATFORM are provided by the User(s) initiating the
        listing and OneShell does not verify the veracity of the same or guarantee the authenticity of the images or the
        properties listed for sale or renting.
        Users should make own inquiries and obtain independent professional advice before making any legal, financial or
        real estate decisions. Measurements, prices and locations may be approximate and One Shell takes no
        responsibility for any error, omission or misunderstanding in these particulars.
        Before deciding to act upon a real estate listing on the PLATFORM, Users are requested to exercise due caution
        and to independently validate and verify all information and details. It is also recommended and advised to
        refer to respective RERA website(s) to see and obtain complete information with respect to any real estate
        listing (which is required to be registered under RERA Act, 2016) before making any buy/sell or any other
        decisions.
        User(s) making real estate listings on the PLATFORM agree to abide by the provisions of the Legal Metrology Act,
        2009 and ensure that where required by the said Law, property area for all real estate listings are expressly
        indicated in standard unit of measurement as per Legal Metrology Act, 2009. OneShell shall not be liable for any
        infringement of said Act by the User(s).
        Property developers/builders and real estate agents, should mandatorily comply with rules, regulations and
        guidelines of Real Estate (Regulation and Development)Act, 2016 (“RERA”) as applicable to them and may be
        required to obtain necessary registration under the said Act. It is mandatory for property developers/builders
        and real estate agents to disclose on the PLATFORM, all material and requisite information as required under
        RERA. OneShell does not guarantee that a User making a real estate listing on the PLATFORM has registered under
        the Act or is compliant with the same.
        This disclaimer is in addition to the provisions of any other disclaimer displayed/listed in the Terms of
        Service of the PLATFORM.</span>
      <span class="view-less" (click)="onViewLessClicked()">View Less</span>
    </div>
  </div>


</div>
