@import "../../variables";


.head{
  background: white;
  height: 260px;
}
.c_1{
  margin: 34%;
    margin-top: -27px !important;
}
.other-city-card {
  a {
    font-size: 11px;
  }
  &.selected {
    a {
      color: $os-primary-color !important;
    }
  }
}
.header-input {
  border: 1px solid #EF5350;
  border-radius: 0;
  border-right: 0;
  border-left: none;
  padding: 0 15px;
  margin: 0;
  width: calc(35% - 180px);
  font-size: 14px;
  line-height: 35px;
  height: 31px;
  float: left;
  font-family: sans-serif;
  margin-left: 34%;
  border-radius: 30px 0 0 30px;
  &:focus {
    box-shadow: none;
  }
}
 .header-search-button {
  padding: 4px 15px;
  border-radius: 0 30px 30px 0;
  background-color: #ebebeb;
  color: #5B5B5B;
  font-size: 0.875rem;
  float: left;
  width:128px;

    &:focus {
      box-shadow: none;
    }
  }
.dark-bg {
  background: #1e1f26;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: -20px;
  min-height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .big-title {
    font-size: 50px;
    text-transform: uppercase;
    word-spacing: 8px;
    font-weight: 600;
  }

  .cards {
    background-color: $color-white;
    border-radius: 10px;
    position: relative;

    .card-header {
      background: transparent;
      text-align: center;
      position: absolute;
      top: -50%;
      border: 0;
      margin: 0;
      left: 0;
      right: 0;
      .img{
        max-width: 285px;
        width: 100%;
      }
    }

    .card-body {
      padding-top: 180px;
      .title {
        color: $color-red;
        font-size: 18px;
        text-transform: uppercase;
        text-align: center;
      }

      .desc {
        font-size: 15px;
        color: $body-color;
        text-align: center;
      }
    }
  }
  @media screen and (max-width: 1300px){
    .cards {
    .card-header {
      position: static;
      margin-bottom: 5px !important;
    }
    .card-body {
      padding-top: 0;
    }
  }
  .btm_pa{
    padding-bottom: 0px;
    padding-top: 40px !important;
  }
  }
  @media screen and (max-width: 600px){
    .cards{
    flex: none;
    }
    .big-title{
      font-size: 26px;
    }
  }
}

@media screen and (max-width:500px){

  .disp{
    display: none !important;
  }
  .header-input{
    border: 1px solid #EF5350;
    border-radius: 0;
    border-right: 0;
    border-left: none;
    padding: 0 15px;
    margin: 0;
    width: calc(110% - 180px);
    font-size: 14px;
    line-height: 35px;
    height: 32px;
    float: left;
    font-family: sans-serif;
    margin-left: 12%;
    border-radius: 30px 0 0 30px;
  }

  .header-search-button{
    padding: 4px 15px;
    border-radius: 0 30px 30px 0;
    background-color: #ebebeb;
    color: #5B5B5B;
    font-size: 0.875rem;
    float: left;
    width: 50px;
  }
  .srch{
    margin-top: 2% !important;
  
    }

    .big-title{
      font-size: 22px;
    }

    .c_1{
      margin: 11%;
    margin-top: -27px !important;
    }

    .head{
      
    background: white;
    height: 220px;

    }
    .c_m{
      margin-right: -28%;
    }
}

// @media screen and (max-width:500px) and (min-width : 300px){
//   .header-input{
//     border: 1px solid #EF5350;
//     border-radius: 0;
//     border-right: 0;
//     border-left: none;
//     padding: 0 15px;
//     margin: 0;
//     width: calc(81% - 180px);
//     font-size: 14px;
//     line-height: 35px;
//     height: 32px;
//     float: left;
//     font-family: sans-serif;
//     margin-left: 15%;
//     border-radius: 30px 0 0 30px;
//   }
//   .srch{
//     margin-top: 2% !important;
  
//     }

//     .c_1{
//       margin: 14%;
//       margin-top: -27px !important;
//     }
// }

@media screen and (max-width:600px) and (min-width : 500px){
  .header-input{
    border: 1px solid #EF5350;
    border-radius: 0;
    border-right: 0;
    border-left: none;
    padding: 0 15px;
    margin: 0;
    width: calc(70% - 180px);
    font-size: 14px;
    line-height: 35px;
    height: 32px;
    float: left;
    font-family: sans-serif;
    margin-left: 20%;
    border-radius: 30px 0 0 30px;
  }
  .srch{
    margin-top: 2% !important;
  
    }
    .c_m{
      margin-right: -28%;
    }
    .c_1{
      margin: 19%;
      margin-top: -27px !important;
    }
}

@media screen and (max-width:900px ) and (min-width : 600px){
  .srch{
    margin-top: 2% !important;
  
    }
    .c_1{
      margin: 29%;
      margin-top: -27px !important;
    }
    .c_m{
      margin-right: -6%;
    }
  .header-input {
    border: 1px solid #EF5350;
    border-radius: 0;
    border-right: 0;
    border-left: none;
    padding: 0 15px;
    margin: 0;
    width: calc(44% - 180px);
    font-size: 14px;
    line-height: 35px;
    height: 32px;
    float: left;
    font-family: sans-serif;
    margin-left: 30%;
    border-radius: 30px 0 0 30px;
  }
  .big-title{
    font-size: 36px !important;
    text-transform: uppercase;
    word-spacing: 8px;
    font-weight: 600;
  }
}

@media screen and (max-width: 1300px) and (min-width: 900px){
  .srch{
  margin-top: 2% !important;

  }
  .c_m{
    margin-right: -6%;
  }
  .header-input {
    border: 1px solid #EF5350;
    border-radius: 0;
    border-right: 0;
    border-left: none;
    padding: 0 15px;
    margin: 0;
    width: calc(41% - 180px);
    font-size: 14px;
    line-height: 35px;
    height: 32px;
    float: left;
    font-family: sans-serif;
    margin-left: 32%;
    border-radius: 30px 0 0 30px;
  }

  .c_1{
    margin: 32%;
    margin-top: -27px !important;
  }
}

.srch{
  margin-top: -2% ;
}

.btm_pa{
  padding-bottom: 0px;
  padding-top: 170px !important;
}

.btm_pa1{
  padding-top: 0px !important;
    padding-bottom: 25px !important;
}

.c_m{
  margin-right: -10%;
}

::ng-deep {
  ngb-typeahead-window {
    width: inherit;
    width: 21%;
    left: 9px !important;
    button.dropdown-item {
      background: white !important;
      color: black !important;
      &:hover {
        background: #ebebeb;
      }
      span{
        font-size: 15px;
      }
    }
  }
}
