<div class="dark-bg">
  <div class="head">
    <h2 class="big-title text-center mb-xl-5 pt-5">{{ page_title }}</h2>

    <div class="clearfix srch">
      <input type="text" class="header-input d-inline-block "
       placeholder="Search City" id="searchInputTxt1" [(ngModel)]="searchTxt"
       [(ngModel)]="citySearchText" [ngbTypeahead]="searchCity"
       [resultFormatter]="citySearchResultFormatter"
       [inputFormatter]="citySearchResultFormatter"
       (selectItem)="onCitySelectionFromSearchResults($event)" />
      <button class="btn header-search-button d-inline-block" (click)="setCurrentPosition()">
        <i class="fa fa-location-arrow" aria-hidden="true"></i>&nbsp; <span class="disp" style="font-size: 10px;">Current Location</span>
      </button>
    </div>

    <section class="other-cities mt-5" *ngIf="otherCities.length">
      <div class="row mt-1 c_1 ">
        <div class="col-6 col-md-3 other-city-card text-dark c_m" *ngFor="let city of otherCitiesFilteredBasedOnShowAllCitiesFlag"
             (click)="onCitySelection(city)"
             [ngClass]="{'selected': citiesService.activeCity === city.city_name}">
          <a >{{ city.city_name | titlecase }}</a>
        </div>
      </div>
    </section>
  </div>


  <div class="card-container mx-5 py-xl-5 btm_pa1">
    <div class="row pt-5 btm_pa">
      <div *ngFor="let data of text_data" class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mb-2">
        <div class="cards h-100">
          <div class="card-header mb-3">
            <img class="img" src="{{ data.imageurl }}" alt="image not found" />
          </div>
          <div class="card-body ">
            <h3 class="title">{{ data.title }}</h3>
            <div class="desc">{{ data.description }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
