<div class="coupons-list-container">
    <h3 class="coupons-title text-center">
        Coupons
        <div class="border-underline"></div>
    </h3>

    <div class="page-tabs-container text-center">
        <div class="show-time-tabs page-tabs">
            <a class="tab active_coupons" [ngClass]="{active:activeCoupons}" target="_self"
                [href]="baseUrl + '/coupons/active/' + city">Active
            </a>
            <a class="tab redeemed_coupons" [ngClass]="{active:!activeCoupons}" target="_self"
                [href]="baseUrl + '/coupons/redeemed/' + city">Redeemed</a>
        </div>
    </div>
    <div class="coupon-cards">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4 mb-3" *ngFor="let coupon of couponsList"
                        (click)="onCouponDetailsClicked(coupon.business_name)">
                        <div class="card shadow coupon-card">
                            <div class="card-body">
                                <div class="card-content">
                                    <div class="text-left">
                                        <p class="card-title giveMeEllipsis m-0 p-0">
                                            {{coupon.business_name}}
                                        </p>

                                        <p class="card-coupons-list giveMeEllipsis">
                                            {{coupon.coupon_code}}
                                        </p>
                                    </div>
                                    <div class="wrapper">
                                        <button type="button" class="btn view-more-btn mt-2 p-2">
                                            More Details
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="no-results-view" class="no-results" *ngIf="couponsList?.length == 0">
        No results to show ..
    </div>
</div>

<div class="bookform-container" *ngIf="showCouponDetailsPopUp">
    <div class="bookform-inner-container">
        <span class="closeBtn" (click)="closeDetailsFormModal()">X</span>
        <div class="bookform-inner">
            <div class="coupon-details mb-md-4 mb-3 main-container-width mx-auto">
                <div class="row">
                    <div class="col-lg-8 col-sm-12 padding-0">
                        <carousel>
                            <slide *ngFor="let coupon of couponsPerBusness">
                                <h5 class="mt-3"><span>{{coupon.coupon_code}}</span></h5>
                                <h6 class="mt-3"><span class="validity">Validity : {{ coupon.validity }}</span></h6>

                                <div class="mt-3 title">
                                    <div class="info-title">Title</div>
                                    <div class="info-text"><span> {{ coupon.title }} </span></div>
                                </div>
                                <div class="description">
                                    <div class="info-title">Information</div>
                                    <div class="info-text"><span> {{ coupon.description }} </span></div>
                                </div>
                                <div class="terms">
                                    <div class="info-title">Terms</div>
                                    <div class="info-text"><span> {{ coupon.terms_and_conditions }} </span></div>
                                </div>
                            </slide>
                        </carousel>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
