
@import "../../../variables.scss";
$font-section-title: 16px;

.coupons-list-container {
  margin: 16px;
    .coupon-cards {
        margin-top: 25px;
        margin-left: 16px;
        margin-right: 16px;
        .coupon-card {
          cursor: pointer;
            border-radius: 3px;
            box-shadow: 2px 2px;
            display: inline-block;
            width:100%;
        }
    }

    .card {
        font-size: 0.8rem;
        .card-body, .card-footer, .card-sub-body {
          padding: 0.6rem 0.75rem;
        }

        .card-body {
          background-color: #F5F5F5;
          padding: 1px;
          
        }

     .card-body  .card-redeem {
      padding: 1px;
        background: #F5F5F5;
        color:#666666;
        font-size:12px;
        padding-right: 5px;
        text-align:right;
      }

      .info-title {
        font-weight: 500;
            font-size: $font-section-title;
            color: black;
            margin-top: 20px;
    }
    .info-text {
        white-space: pre-wrap;
    }


        .card-footer {
          background-color: $color-lite-grey;
          .subscriber {
            color: $color-teal;
          }
        }
      }
      .no-results {
        text-align: center;
        top: 45%;
        left: 45%;
      }
      .card-content {
        padding:15px;
        text-align:left;
      }
      .card-title {
        font-size: 16px;
        color: #333333;
      }

      .card-coupons-list {
        font-size: 14px;
        color: #666666;
      }

      .wrapper {
        text-align: center;
    }
    
      .visit-store{
        float: center;
        border-radius: 40px;
        background-color:white;
        border-color: $color-red 1px;
      }
      .category-dd{
        float: right;
        cursor: pointer;
      }

      @media (min-width: 768px) {
      .giveMeEllipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-height: 16px;    
        height: 48px;
        -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
     }
    }
}

.bookform-container {
  position: fixed;
  z-index: 9000;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;

  .bookform-inner-container {
    width: 75%;
    display: block;
    margin: auto;
    position: relative;
    margin: 1% auto;
    background: #fff;
    border-radius: 5px;
    padding: 20px;

    .bookform-inner {
      overflow-y: auto;
      height: 480px;
      font-size: 12px;

      .card-img-top {
        width: 90%;
      }

      .row {
        margin-left: 0 !important;
        margin-right: 0 !important;

        .form-title {
          font-size: 14px;
          font-weight: 600
        }

        textarea:focus,
        input:focus {
          outline: none !important;
        }
      }

      .validity {
        color: #009788;
      }

      .info-title {
        font-weight: 500;
            font-size: $font-section-title;
            color: black;
            margin-top: 20px;
    }
    .info-text {
        white-space: pre-wrap;
    }


    }

    .closeBtn {
      position: absolute;
      right: 8px;
      font-weight: 600;
      top: 5px;
      cursor: pointer;
    }
  }

  .bookform-container {
    .banner-img {
      height: 300px;
      object-fit: contain;
    }
  }
}
