@import "../../../variables";
@import '../../../mixins';
$cartElementHeight: 23px;
$cartElementBorder: 1px solid $color-red;

.info_d{
  border-radius: 50%;
  width: 44px;
  height: 44px;
  color: red;
}
.irr_p{
  word-break: break-all;
  white-space: normal;
  text-align: center;
}
.irr_Sp{
  margin-left: 56px;
    margin-right: auto;
    display: block;
}
.irr_clr{
  color: white !important;
}
.irr_wd{
  width: 180px !important;
}
.set1_m{
  margin-left: 1%;
}
.fo_s{
  font-size: 16px;
}
.p_icon{
  width: 16px;
  vertical-align: text-top;
  margin-right: 6px;
}
.set_m{
  margin-left: 12%;
}
.p_1{
  padding-top: 7%;
}
.m_11{
  margin-top: -3%;
}
.m_2{
  margin-top: -2%;
  margin-bottom: 2% !important;
}
.m_l{
  margin-left: 2%;
}
.irr_img{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 6%;
  margin-top: 5%;
}
.irr_bg{
  margin-bottom: 5px;
    background-image: linear-gradient(-90deg, #fff78f, #fbf8cb ,#fff78f );
}
.irr_m_Set{
  margin-bottom: -5px !important;
}
.spl_Card{
  height: 150px !important;
  object-fit: cover !important;
}
.grocery_border{
  border: 4px solid white !important;
}
.grocery_background{
  background-image: linear-gradient(-90deg, #dce775, #f0f4c3,#dce775);
  margin-bottom: 5px;
}
.grocery_color{
  background-color: #827717;
}
.fashion_color{
  background-color: #7b1fa2;
}
.other_color{
  background-color: #359eb0;
}
.fashion_border{
  border: 4px solid white !important;
}
.fashion_background{
  background-image: linear-gradient(-90deg, #e1bee7, #e1bee7 ,#e1bee7 ) !important;
  margin-bottom: 3px;
}

.other_border{
  border: 4px solid white !important;
}
.other_background{
  background-image: linear-gradient(-90deg, #e8f5f5, #c9e9ee ,#e8f5f5 );
  margin-bottom: 3px;
}
.no_deliver_d{
  background: #FCDDDC;
    margin-bottom: 5px;
    margin-top: -10px !important;
}
.search-modal {
  display: block;

  .modal-dialog {
    position: relative;
    z-index: 2;
    padding: 0 !important;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    .modal-content {
      height: auto;
      min-height: 100%;
      border: 0 none;
      border-radius: 0;

      .modal-header {
        width: 100%;
        height: 50px;
        margin: 0px;
        padding: 0px;

        .modal-title {
          font-size: 18px;
          margin: 10px 20px;
          color: black;
        }

        .close-button {
          background-color: white;

          .close-button-txt {
            color: black;
            font-size: 30px;
            background-color: white;
            margin-right: 16px;
          }
        }
      }
    }
  }

  .searchbox {
    background: #f5f5f5;
    color: black;
    z-index: 0;
  }

  .search-results {
    position: relative;
    width: 90%;

    ul {
      cursor: pointer;
      list-style: none;
      padding-left: 0px;

      .search-result-record {
        padding: 8px;
        padding-left: 12px;

        &:hover {
          background: $header-search-border;
        }
      }
    }

    border: 2px solid $header-search-border;
    border-top: none;
    background: #fff;
  }

  .btn-primary {
    color: #605b5b;
    background-color: #ebebeb;
    border-color: #ebebeb;
    border-radius: 0 30px 30px 0;
  }

  @media (min-width: 576px) {
    display: none;
  }
}

.e-footer-container{
  display: none;
}

.e-today{
  span{
    background: none !important;
    border: none !important;
    color: #000 !important;
  }

}

.home-service {
 @media (max-width: 575px) {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  @media (min-width: 576px) {
    margin-bottom: 30px;
  }
}
.home-service-img {
  width: 100%;
  cursor: pointer;
}

.special{
  span{
    background: none;
    border: none;
    color: #fff !important;
    height: 28px !important;
    line-height: 30px !important;
    width: 25px !important;
  }
  border: 1px solid #e3165b !important;
  box-shadow: inset 0 0 0 2px #fff !important;
  color: #fff;
  background-color: #e3165b !important;
  border-radius: 50%;
  opacity: 1 !important;
  font-size: 13px;
}

.detail-page-container {
  .banner-img {
    height: 480px;
    object-fit: cover;

    @media (max-width: 575px) {
      height: 200px;
    }

    @media (min-width: 576px) and (max-width: 767px) {
      height: 300px;
    }

    @media (min-width: 768px) and (max-width: 1280px) {
      height: 400px;
    }
  }

  .details-header {
    @media (max-width: 575px) {
      margin-top: 10px;
    }
  }

  .call {
    width: 34px;

    a:link {
      text-decoration: none;
      color: inherit;
    }

    a {
      color: #212529;
    }

    a:hover {
      text-decoration: none;
      color: inherit;
    }
  }

  .details-right {
    .main-container-width {
      @media screen and (max-width:575px){
        width:100%;
      }
    }
    .mobile-custom-view {
      padding: 8px 10px;
      border-top: 1px solid $header-search-border;
      border-bottom: 1px solid $header-search-border;
      margin-top: 10px;
      justify-content: space-around;

      img,
      span {
        display: block;
      }

      span {
        line-height: 1.3;
        font-size: 13px;
      }

      .seperator {
        border-right: 1px solid $header-search-border;
        height: 20px;
        position: relative;
        top: 6px;
      }

      &.mobile-detail-footer {
        cursor: pointer;
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
        background-color: $color-white;

        img {
          position: relative;
          margin: auto;
        }

        span {
          font-size: 12px;
        }
      }
    }

    .loc-time {
      width: 15px;
      height: 15px;
      vertical-align: sub;
    }

    .status {
      color: $color-teal;
    }

    .details-offers {
      .card {
        width: 250px;
        cursor: pointer;


        .card-title {
          color: $card-grey-content;
        }

        .card-content {
          color: $card-grey-content;
          font-size: 0.8rem;
        }

        .offer-code {
          font-size: 0.85rem;
        }
      }

      .validity-wrapper {
        background-color: #c08700;
        padding: 6px;
        .validity {
          padding: 2px;
          color: white;
          font-size: 0.8rem;
        }

        .terms {
          padding: 2px;
          margin-top: 8px;
          color: #666666;
          font-size: 0.5rem;
        }
      }
    }

    .details-browse-categories {
      
      padding: 0px;

      .additional-offer-header {
        width: 95%;
        padding: 10px;
      }

      .card {
        cursor: pointer;
        width: 113px;
        font-size: 13px;
        border-radius: 7px;
        overflow: hidden;
        margin-right: 6% !important;
        .category-img {
          margin: auto;
          display: block;
          width: 111px;
          height: 115px;
          padding: 0px;
        }

        .card-body {
          white-space: pre-line;
          
          color: white;
          padding: 4px !important;
          font-size: 12px;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 48px;
          margin-top: 2px;
        }
      }

      @media (max-width: 767px) {
        .category-title {
          display: none;
        }

        .additional-offer-header {
          display: block;
        }

      }

      @media (min-width: 768px) {

        .additional-offer-header {
          display: none;
        }

        .category-title {
          display: block;
        }

        &.grocery-bg {
          .details-browse-categories {
            background-color: #dce775;
          }      
        }
      }
    }

    .category-wrapper {
      .category-img {
        margin: auto;
        display: block;
        width: 80px;
        height: 80px;
        padding: 2px;
        object-fit: contain;
      }
    }

    .details-additional-offers {

      padding-left: 5%;
      padding-right: 5%;


      .additional-offer-header {
        width: 100%;
        padding: 0px 10px;

        @media (min-width: 768px) {
          height: 60px;
          margin-bottom: 10px;
          margin-top: 10px;
          object-fit: contain;
        }

        @media (max-width: 767px) {
          height: 50px;
          margin-top: 10px;
          object-fit: contain;
        }
      }

      .additional-offers-wrapper {
        padding: 0px;

        @media (min-width: 768px) {
          margin-left: 12%;
          margin-right: 12%;
        }

        .offer-card {
          cursor: pointer;
          display: inline-block;

          @media (min-width: 768px) {
            width: 25%;
            margin-bottom: 1%;

            .card-img-top {
              height: 110px;
              object-fit: contain;
            }

          }

          @media (max-width: 767px) {
            width: 30%;

            .card-img-top {
              height: 100px;
              object-fit: contain;
              padding: 0px;
            }
          }

        }

        .buy-more {
          @media (max-width: 767px) {
            height: 100px;
            object-fit: contain;
          }

          @media (min-width: 768px) {
            height: 155px;
            object-fit: contain;
          }
        }
      }
    }

    .details-specialists {
      .current-day {
        cursor: pointer;
        margin-top: 10px;
      }
      .specialist-card {
        .card-img-top {
          margin-right: 10px;
          object-fit: contain;
        }
        .specialist-basic-details {
          .card-title {
            font-size: 1rem;
            font-weight: 600;
          }
          .card-text {
            font-size: 0.8rem;
            color: #333333;
            padding: 0;
          }
        }

        .specialization-txt {
          font-size: 0.8rem;
          color: #666666;
          margin-top: 10px;
        }

        @media (max-width: 767px) {
          width: 100%;
        }
      }
    }

    .offer {
      font-size: 0.7rem;
      color: $product-offer;
      text-decoration: line-through;
    }

    .offer-per {
      font-size: 0.7rem;
      color: $color-teal;
    }
    .trending-prods {
      @media (max-width: 575px) {
        margin-bottom: 10px;
        &.grocery-bg {
          background-color: #ccff90;
        }

        &.fashion-bg {
          background-color: #fadbd3;
        }

        &.other-bg {
          background-color: #d7ccc8;
        }
        .w-75 {
          width: 100% !important;
        }
        .view-more-btn {
          padding: 2px 10px !important;
          height: 25px !important;
          font-size: 12px !important;
        }
        .card-footer {
          padding: 0;
          border: 0;
          background-color: transparent;
          width: 100%;
          margin: 10px 0;
        }
      }
    }
    .trending-details {
      .details-product {
        padding: 10px;

        hr {
          margin: 7px 0;
        }

        .product-card {
          background-color: white;
          width: 15%;
          padding: 0 10px;

          .parent {
            .card-img-top {
              height: 150px;
              object-fit: contain;
            }
            .overlay {
              z-index: 1;
              height: 150px;
              background-color: rgba(0, 0, 0, 0.5);
              position: absolute;
              top:0;
            }
            .sold-out-card-img-top {
              width: 100%;
              height: 30px;
              top: 45%;
              position: relative;
              object-fit: contain !important;
            }
        }

          .card {
            cursor: pointer;
          }

          .card-body {
            font-size: 0.85rem;

            .card-text {
              font-size: 0.8rem;

              &.shop {
                color: $product-offer;
              }

              .offer {
                font-size: 0.7rem;
                color: $product-offer;
                text-decoration: line-through;
              }

              .offer-per {
                font-size: 0.7rem;
                color: $color-teal;
              }
            }
          }
        }

        @media (max-width: 575px) {

          .view-more-btn {
            padding: 4px;
            height: 30px;
          }

          .product-card {
            width: 50%;
            padding: 0 10px;

            .card-img-top {
              height: 150px;
            }
            .overlay {
              height: 150px;
            }

          }

          .mobile-home-featured-products {
            >div {
              &:first-child {
                border-right: 1px solid $header-search-border;
                border-bottom: 1px solid $header-search-border;
              }

              &:nth-child(2) {
                border-bottom: 1px solid $header-search-border;
              }

              &:nth-child(3) {
                border-right: 1px solid $header-search-border;
              }
            }
          }
        }
      }



      .details-product-web {
        .prod-card {
          width: 25%;
          padding: 0 10px;
          display: inline-block;
          position: relative;
          @media screen and (max-width: 575px) {
            width: 50%;
            margin: 16px 0;
          }
          .card {
            cursor: pointer;
          }

          .parent {
            .card-img-top {
              height: 200px;
              object-fit: contain;
            }
            .overlay {
              height: 200px;
              position: absolute;
              background-color: rgba(0, 0, 0, 0.5);
              top: 0;
            }
            .sold-out-card-img-top {
              width: 100%;
              height: 30px;
              top: 45%;
              position: relative;
              object-fit: contain !important;
            }
        }

          .overlay {
            z-index: 1;
          }
        }

        .view-more-btn {
          padding: 4px;
          height: 30px;
        }
        .details-product-web-wrapper {
          margin-bottom: 70px;
          .card-footer {
            padding: 0;
            border: 0;
            background-color: transparent;
            width: 100%;
            // position: absolute;
            left: 0;
            margin: 10px 0;
          }
          .card-img-top {
            object-fit: contain;
          }
        }
      }

      @media (max-width: 575px) {
        .details-product {
          display: block;
        }
        .grocery-bg {
          background-color: #ccff90;
        }

        .fashion-bg {
          background-color: #fadbd3;
        }

        .other-bg {
          background-color: #d7ccc8;
        }
        .details-product-web {
          //display: none;
        }
      }

      @media (min-width: 576px) and (max-width: 767px) {
        .details-product {
          display: none;
        }

        .details-product-web {
          display: block;
        }
      }

      @media (min-width: 768px) {
        .details-product {
          display: none;
        }

        .details-product-web {
          display: block;
        }
      }

    }

    .details-service-offered {
      .details {
        color: $card-grey-content;
        font-size: 1rem;
      }
    }

    .hall-profile-more-features {
      padding: 18px;

      .more-feature {
        .txt-value-header {
          color: #616161;
        }

        @media (max-width: 767px) {
          width: 50%;
        }

        @media (min-width: 768px) {
          width: 33%;
        }
      }
    }

    .container {
      .amenity-card {
        width: 100px;

        .amenity-img {
          width: 50px;
          height: 50px;
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }

    .photo-wrapper {
      padding: 18px;

      .photo-card {
        cursor: pointer;
        width: 31%;

        .card-img-top {
          height: 150px;
          object-fit: contain;
        }

        .card-title {
          font-size: 14px;
        }
      }
    }

    .details-payment {
      .payment-wrap {
        img {
          width: 50px;
          height: 35px;
          object-fit: contain;
        }

        span {
          color: $card-grey-content;
          font-size: 1rem;
          line-height: 1;
        }
      }
    }

    .stores-list-container {
      .card {
        .card-img-top {
          height: 200px;
          object-fit: contain;
        }

        .likes {
          position: absolute;
          right: 0;
          padding: 5px 10px;
          background-color: $body-color;
          opacity: 0.7;
          color: $color-white;
          border-radius: 0 3px 0 5px;

          img {
            width: 20px;
            height: 20px;
          }
        }

        .card-body {
          padding: 0.6rem 0;

          .price {
            font-weight: 500;
          }

          .discount,
          .offer {
            font-size: 0.8rem;
          }

          .discount {
            text-decoration: line-through;
            color: $product-offer;
          }

          .offer {
            color: $color-teal;
          }
        }
      }
    }

    .details-rating {
      color: $card-grey-content;

      .rating-left {
        .total-rating {
          margin: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          @media (max-width: 767px) {
            position: static;
            top: 5px;
            left: 50%;
            transform: none;
          }

          .total {
            font-size: 1.5rem;
          }
        }
      }

      .inline-rating {
        >div {
          margin-right: 10px;
        }

        .rate-left {
          width: 20%;

          @media (min-width: 768px) and (max-width: 996px) {
            width: 30%;
          }
        }

        .rate-right {
          width: 80%;

          @media (min-width: 768px) and (max-width: 996px) {
            width: 70%;
          }
        }
      }

      .rating-middle {
        .progress {
          height: 5px;
          margin-top: 10px;

          .progress-bar {
            //width: 100px;
          }
        }
      }
    }
    .details-today-special {
      .special-card {
        width: 25%;
        display: inline-block;
        padding: 0 10px;

        .card {
          .card-body {
            text-align: center;
          }
          .card-text {
            .offer-price {
              color: #b3b3b3;
              text-decoration: line-through;
            }
          }
          .card-img-top {
            height: 200px;
            object-fit: contain;
          }
        }

        @media (max-width: 767px) {
          width: 50%;
        }
      }
    }
  }

  .details-menu {
    .menu-card {
      width: 30%;
      display: inline-block;
      padding: 0 10px;

      .card-img-top {
        height: 100%;
        object-fit: contain;
      }

      @media (max-width: 767px) {
        width: 50%;
      }
    }
  }

  .details-left {
    .relative {
      position: relative;
    }

    .image-size {
      width: 16px;
      height: 16px;
      position: absolute;
      top: 7px;
    }

    .side-card {
      .fa {
        color: $color-red;
        font-size: 17px;
      }

      .left-image {
        width: 20px;
        height: 20px;
      }

      .right-block {
        width: calc(100% - 20px);
      }

      .rating,
      .address {
        border-bottom: 1px solid $header-search-border;
      }
    }

    .subscriber {
      background-color: $color-red;
      color: $color-white;
      border-radius: 3px;
    }
  }

  .loc-area {
    @media (max-width:575px) {
      display: block;
    }
    @media (min-width:576px) {
      display: none;
    }
  }
  .row {
    position: relative;
  }
  .overlay-box {
    position: absolute;
    right: 15px;
    bottom: 0;
    z-index: 1;

    .search-box {
      @media (max-width: 575px) {
        display: none;
      }
      input {
        padding: 12px;
        border: 1px;
        width: 220px;
        height: 45px;
        border-radius: 8px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
      }
      i {
        position: absolute;
        top: 15px;
        left: 198px;
        @media (max-width: 575px) {
          margin-left: -8.5%;
        }
      }
    }
    .overlay-box-btn-grp {
      button {
        background: white;
        border-radius: 50%;
        width: 44px;
        height: 44px;
        padding: 11px 0 5px 0;
      }

      .in-store-btn {
        padding: 11px 4px 7px 0;
      }

      i {
        font-size: 20px;
        color: $color-red;
      }
    }
  }

  .search-results {
    z-index: 1;
    position: absolute;

    ul {
      cursor: pointer;
      height: 200px;
      z-index: 9999;
      overflow: auto;
      width: 215px;
      border: 2px solid $header-search-border;
      border-top: none;
      background: #fff;
      list-style: none;
      padding-left: 0px;

      .search-result-record {
        padding: 8px;
        padding-left: 12px;

        &:hover {
          background: $header-search-border;
        }
      }
    }

  }

  @media (max-width: 767px) {
    .outline-overview {
      display: none;
    }

    .outline-overview-mobile {
      .txt-value-header {
        color: #616161;
      }

      .txt-value {
        font-weight: 600;
      }

      display: block;
      padding: 18px;

      .row-1 {
        display: block;

        .capacity {
          display: inline-block;
          width: 50%;
        }

        .dining-hall-capacity {
          display: inline-block;
          width: 50%;

        }
      }

      .row-2 {
        display: block;
        margin-top: 20px;

        .ac-rooms {
          display: inline-block;
          width: 50%;
        }

        .non-ac-rooms {
          display: inline-block;
          width: 50%;
        }

      }

      .row-3 {
        display: block;
        margin-top: 20px;

        .bike-parking {
          display: inline-block;
          width: 50%;
        }

        .car-parking {
          display: inline-block;
          width: 50%;
        }
      }
    }
  }

  @media (min-width: 768px) {
    .outline-overview-mobile {
      display: none;
    }

    .outline-overview {
      .txt-value-header {
        color: #616161;
      }

      .txt-value {
        font-weight: 600;
      }

      display: block;
      padding: 18px;

      .row-1l {
        display: block;
        margin-bottom: 20px;

        .capacity {
          display: inline-block;
          width: 25%;
        }

        .dining-hall-capacity {
          display: inline-block;
          width: 25%;
          margin-left: 50px;
        }

        .ac-rooms {
          display: inline-block;
          width: 25%;
          margin-left: 50px;
        }
      }

      .row-2l {
        display: block;
        margin-bottom: 20px;

        .non-ac-rooms {
          display: inline-block;
          width: 25%;
        }

        .bike-parking {
          display: inline-block;
          width: 25%;
          margin-left: 50px;
        }

        .car-parking {
          display: inline-block;
          width: 25%;
          margin-left: 50px;
        }
      }
    }
  }

}

.giveMeEllipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px;
  height: 32px;
  -webkit-line-clamp: 2;
  /* Write the number of
                        lines you want to be
                        displayed */
  -webkit-box-orient: vertical;
}

.bookform-container {
  position: fixed;
  z-index: 9000;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;

  .offer {
    font-size: 0.7rem;
    color: $product-offer;
    text-decoration: line-through;
  }
  .offer-per {
    font-size: 0.7rem;
    color: $color-teal;
  }

  .bookform-inner-container {
    width: 75%;
    display: block;
    margin: auto;
    position: relative;
    margin: 1% auto;
    background: #fff;
    border-radius: 5px;
    padding: 20px;

    .bookform-inner {
      overflow-y: auto;
      height: 480px;
      font-size: 12px;

      .card-img-top {
        width: 90%;
      }

      .row {
        margin-left: 0 !important;
        margin-right: 0 !important;

        .form-title {
          font-size: 14px;
          font-weight: 600
        }

        textarea:focus,
        input:focus {
          outline: none !important;
        }
      }

    }

    .closeBtn {
      position: absolute;
      right: 8px;
      font-weight: 600;
      top: 5px;
      cursor: pointer;
    }
  }

  .bookform-container {
    .banner-img {
      height: 300px;
      object-fit: contain;
    }
  }
}

.rating-modal {
  display: block;
  .btn-primary {
    background-color: $color-red;
    color: $color-white;
    box-shadow: none;
    border: 1px solid $color-red;
  }
  .close-button {

    .close-button-txt {
      color: black;
      font-size: 30px;
      margin-right : 16px;
    }
  }
  .modal-body {
    width: 100%;
    .rate-component {
      margin: 10px;
      align-content: center;
      :focus {
        outline: thin dotted !important;
      }
    }
  }

}

.arrowicon{
  width: 12px;
}

.detail-page-container {
  &__carousel {
    background-color: #989ca3;
    &--img {
      width: 100%;
    }
  }
}

.rate-spam-div {
  button {
    border-radius: 20px;
    width: inherit;
  }
}

.carousel-img {
  height: 280px;
  img {
    height: 100%;
  }
}
.all-days p {
  color: $color-teal;
}
.hotel-services-list {
  cursor: pointer;
  &__media {
    border: 1px solid #dee2e6;
    margin-bottom: 10px;
    border-radius: 5px;
    max-height: 80px;
    @include border-radius;
    .img-fluid {
      max-width: $media-img-width;
      height: 80px;
    }
  }
  &__media-body {
    &--service-description {
      color: $color-teal;
    }
  }
  &--web-view {
    @media screen and (max-width: 767px) {
      .card-div:not(:nth-child(1)):not(:nth-child(2)){
        display: none;
      }
    }
    .view-more-link {
      display: none;
      @media screen and (max-width: 767px) {
        display: block;
        color: $color-teal;
        font-weight: bold;
      }
    }
  }
}

::ng-deep {
  .carousel-indicators {
    margin-bottom: 30px;
  }
  .modal {
    .carousel-indicators {
      bottom: 210px;
      position: fixed;
    }
    ngb-rating {
      font-size: 2em;
    }
  }
}

span {
  cursor:pointer;
}

.restaurant-detail-page-container {
  .col-xs-6 {
    width: 50%;
  }
  .f-12 {
    font-size: 12px;
    color: #b9babe;
  }
  .filter-products {
    @media (max-width: 575px) {
      position: fixed;
      left: 0;
      background-color: white;
      z-index: 999;
      width: 100%;
      top: 90px;
      padding: 8px 15px;
      box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    }
    .show-in-mobile-only {
      display: none;
      top: 0;
      left: 0;
      @media (max-width: 575px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .cart-btn-mobile {
          border-radius: 50%;
          width: 40px;
          height: 40px;
          padding: 5px;
        }
      }
      .menu {
        img {
          height: 30px;
        }
      }
      .mobile-menu-view {
        color: black;
        font-size: 1rem;
      }
    }
  }
  .loc-time {
    width: 15px;
    height: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .web-container {
    .detail-container {
        @media (max-width:575px) {
          margin-top: 20px;
          .business-name {
            font-size: 18px;
          }
          .loc-area {
            color: #999999;
            max-width: 80%;
            min-width: 80%;
          }
          .info-icon {
            width: 25px;
            height: 25px;
          }
        }
        @media (min-width:576px) {
          .business-name {
            font-size: 20px;
          }
          .loc-area {
            font-size: 12px;
            max-width: 280px;
          }
        }
    }
    .img-container {
      height: 150px;
      overflow: hidden;

      img {
        width: 100%;
        object-fit: contain;
        max-height: 100%;
      }
      @media (max-width:575px) {
        display: none;
      }
    }
    @media (max-width:575px) {
      background-color: white;
      width: 100%;
      margin-top: 35px;
      margin-left: 0;
    }
    @media (min-width:576px) {
      background-color: #1e1f26;
      color: white;
      padding: 20px;
    }
  }

  .rest-overlay-box {
    @media (max-width: 575px) {
      display: none !important;
    }
    @media (min-width: 576px) {
      display: block;
      position: absolute;
      right: 0;
      bottom: -43px;
      z-index: 1;
    .show-in-lg-only {
      background-color: white;
      border-radius: 15px;
      padding: 4px;
      @media screen and (max-width: 575px){
        display: none !important;
      }
    }
    .search-box {
      @media (max-width: 575px) {
        display: none;
      }
      @media (min-width: 576px) {
        display: block;
      }
      input {
        padding: 12px;
        border: 1px;
        width: 220px;
        height: 45px;
        border-radius: 8px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
      }
      i {
        position: absolute;
        top: 15px;
        left: 198px;
        @media (max-width: 575px) {
          margin-left: -8.5%;
        }
      }
    }
    .overlay-box-btn-grp {
      button {
        @media (max-width: 575px) {
          display: none;
        }
        @media (min-width: 576px) {
          display: block;
        }
        background: white;
        border-radius: 50%;
        width: 44px;
        height: 44px;
        padding: 11px 0 5px 0;
      }

      .in-store-btn {
        padding: 11px 4px 7px 0;
      }

      i {
        font-size: 20px;
        color: $color-red;
      }
    }
    }

  }
  .mobile-custom-view {
    padding-left: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid $header-search-border;
    margin-top: 10px;
    @media (min-width:576px) {
      border-top: none;
      padding: 0;
      margin-top: 13px;
    }

  @media (max-width:575px) {
      border-bottom: 1px solid $header-search-border;
      padding-top : 5px;
      padding-bottom: 5px;
      justify-content: space-around;
    }

    .icons {
      @media (max-width:575px) {
        justify-content: space-around;
      }
      @media (min-width:576px) {
        justify-content: flex-start;
        .icon-option {
          margin-right: 30px;
        }
      }

    .mob-subscribe-btn, .mob-share-btn {
      border-radius: 50%;
      width: 44px;
      height: 44px;
      span {
        display: flex;
        justify-content: center;
        align-items: center;

        .fa {
          font-size: 20px;
          color: $color-red;
        }
      }
      @media (max-width:575px) {
        display: inline-block;
      }
      @media (min-width:576px) {
        display:none !important;
      }
    }

    .loc-time {
      width: 20px;
      height: 20px;
      margin-left: auto;
      margin-right: auto;

      &.delivery {
        width: 25px;
      height: 25px;
      }

      @media (max-width:575px) {
        width: 20px;
        height: 20px;
      }
      @media (min-width:576px) {
        margin-right: 10px;
        &.delivery {
          width: 25px;
        height: 25px;
        }
      }
    }

    img,
      span {
        @media (max-width:575px) {
          display: block;
        }
        @media (min-width:576px) {
        display: inline-block;
        margin-right: 20px;
        align-content: center;
        }
      }

    .data {
      @media (max-width:575px) {
        font-size: 12px;
      }
      @media (min-width:576px) {
        font-size: 12px;
      }
    }

    .description {
      color: #666666;
      @media (max-width:575px) {
        font-size: 12px;
      }
      @media (min-width:576px) {
        color: #b9babe;
        font-size: 12px;
      }
    }
  }
    @media (max-width:575px) {
      justify-content: space-around;
    }
    > div {
      flex-basis: 0;
      -webkit-box-flex: 1;
      flex-grow: 1;
      max-width: 100%;
    }
  }

  .prods-below-container {
    .web-menu-container {
      border-right: 1px solid $border-color;
      @media (max-width:575px) {
        display: none;
      }
      @media (min-width:576px) {
        display: block;
      }
    }
    .prods-container {
      @media (max-width:575px) {
        margin-top : 10px;
      }
      @media (min-width:576px) {
        margin-top : 80px;
      }
      .restaurant-products-wrapper {
        .overlay {
          z-index: 1;
        }
      }
    }
    .divider {
      color: gray;
      height: 100%;
      width: 10px;
    }

    .category {
      width: 100%;
    .category-name {
      width: 100%;
      font-size: 1rem;
      padding: 5px;
      color: black;
      float: right;
      align-content: flex-end;
      &.active {
        background-color: $color-red;
        color: white;
      }
    }
    .default-active
    {
      color: $color-red;
      box-shadow: none;
    }
  }
    .restaurant-products {
      .special-card {
        width: 30%;
        display: inline-block;
        padding: 0 10px;

        .card {
          .bizz-name {
            color: #4fc3f7;
            font-weight: 900;
            font-size: 0.8rem
          }
          .prod-name {
            color: #212121;
            font-weight: 400;
            font-size: 0.8rem;
            @media (max-width: 575px) {
              font-size: 0.9rem;
            }
            @media (min-width: 576px) {
              font-size: 1rem;
            }
          }

          .parent {
            .card-img-top {
              @media (max-width: 575px) {
                height: 120px;
              }
              @media (min-width: 576px) {
                height: 150px;
              }
              object-fit: cover;
            }
            .overlay {
              z-index: 1;
              @media (max-width: 575px) {
                height: 120px;
              }
              @media (min-width: 576px) {
                height: 150px;
              }
              position: absolute;
              background-color: rgba(0, 0, 0, 0.5);
              top: 0;
            }
            .sold-out-card-img-top {
              width: 100%;
              height: 30px;
              top: 45%;
              position: relative;
              object-fit: contain !important;
            }
        }
        mat-card-content {
            &.shop {
              color: #666666;
            }
            .offer {
              font-size: 14px;
              color: $product-offer;
              text-decoration: line-through;
            }
            .offer-per {
              font-size: 14px;
              color: $color-teal;
            }
            .price-text {
              color: #212121;
              font-weight: 700;
              font-size: 18px;
              margin-top: 5px;
            }

            .mat-card-footer {
              margin: 0 auto;
            }
          }
        }

        @media (max-width: 767px) {
          width: 50%;
          margin-bottom: 10px;
        }
        @media (min-width: 768px) {
          margin-right: 3%;
          margin-bottom: 20px;
        }
        ::ng-deep {
          .add-to-cart {
            text-align: right;
          }
        }
        
      }
    }
  }

  &__business-info {
    background-color: $color-lite-grey;
  }
}

.work-history-img {
  height: 200px;
  object-fit: contain;
}

::ng-deep {
  .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: rgba(46, 125, 50, 0.5);
  }
  .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #2e7d32;
  }
}


// new store page design web view
.store-page-new {
  font-family:Roboto, "Helvetica Neue", sans-serif;
  ::ng-deep {
    .mat-tab-header {
      display: none;
    }
  }
  @media screen and (max-width: 575px){
    .mat-tab-group.mat-primary {
      margin: 0 -15px;
    }
    .storepage-wrapper {
      margin: 0
    }
    .color-grey {
      color: #999999;
    }
  }
    @media screen and (min-width: 576px){
      .store-page-header {
        background-color: #1e1f26;
        .header-banner {
          color:white;
          .banner-img {
            height: 120px;
            object-fit: cover;
          }
        }
        .address-header {
          max-width: 270px;
        }
        .overlay-box {
          right: unset;
          left: calc(33.333333% + 15px);
          bottom:-22px;
          z-index: 2;
        }
        .review-section {
          font-size: 11px;
        }
        .review-icon,.product-icon,.timing-icon {
          width: 20px;
        }
        .f-12 {
          font-size: 12px;
          color: #b9babe;
        }
      }
      .store-page-content {
        padding: 0 15px;
        .category-wrapper {
          &.web-view {
            .custom-carousel-inner {
              display: flex;
            }
            .card {
              width: 198px;
              font-size: 13px;
              border-radius: 7px;
              overflow: hidden;
              margin-right: 34px !important;
              .category-img {
                width: 198px;
                height: 205px;
                .img-fluid {
                object-fit: cover;
                }
              }
            }
            &.grocery-background {
              .card-body {
                background-color: #827717;
                color: white;
                padding: 8px !important;
                font-size: 12px;
                overflow: hidden;
                text-align: center;
              }
              .card {
                &:hover {
                  border: 1px solid #827717 !important;
                }
              }
            }
            &.fashion-background {
              .card-body {
              background-color: #7b1fa2;
              color: white;
              padding: 8px !important;
              min-height: 50px;
              font-size: 12px;
              overflow: hidden;
              }
              .card {
                &:hover {
                  border: 1px solid #7b1fa2 !important;
                }
              }
            }
            &.other-background {
              .card-body {
                color: white;
                background-color: #359eb0;
                padding: 8px !important;
                min-height: 50px;
                font-size: 12px;
                overflow: hidden;
              }
              .card {
                &:hover {
                  border: 1px solid #359eb0 !important;
                }
              }
            }
          }
        }
        .home-service-btn {
          padding: 4px 15px !important;
        }
      }
      .details-offers {
        &.web-view {
          .card-body {
            padding: 12px !important;
            height:90px;
            background-color: white;
            .giveMeEllipsis {
              margin: 0;
              height: 100%;
              white-space: normal;
              color: #333;
            }
          }
          .validity-wrapper {
            padding: 7px;
            background-color: #c08700 !important;
            .validity {
              color: white !important;
              font-size: 10px !important;
            }
            .terms_and_cond {
              font-size: 10px;
              float: right;
              color: #333;
              padding: 2px;
            }
          }
        }
      }
      .trending-details {
        &.web-view {
          .details-product-web-wrapper {
            .card-wrap {
              box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
              height: 100%;
            }
            .prod-card {
              width: 25% !important;
              img {
                object-fit: contain;
                object-position: center;
                transform: scale(0.85)
              }
              // .card-footer {
              //   display: none;
              // }
            }
          }
          .view-more-btn {
            padding: 4px 15px !important;
          }

        }
      }
      .background-light-blue {
        background-color: #f6f8fa;
      }
      .main-container-width {
        width: 90%;
      }
      ::ng-deep {
        .mat-primary.mat-tab-group {
          margin-left: -15px;
          margin-right: -15px
        }
      .mat-tab-header {
        display: flex;
        border-bottom: 0;
        padding-top: 40px;
        margin-bottom: 35px;
        background-color: #f6f8fa;
        .mat-tab-label-container {
          max-width: 90%;
          margin: auto;
          .mat-tab-label-active {
            background-color: white;
          }
          .mat-tab-label {
            color: #333;
            opacity: 1;
            height: 36px;
            padding: 0 12px;
            min-width: 115px;
          }
        }
        .mat-ink-bar {
          background-color: #ef5350;
        }

    }}
      .details-menu {
        &.web-view {
          .menu-card {
            width: 280px;
            .card-img-top {
              height: 230px;
            }
          }
        }
      }
      .details-rating {
        h5 {
          color: #333
        }
      }
      .details-service-offered {
        &.web-view {
          .service-wrapper{
            border: 1px solid #dee2e6;
            border-radius: 7px;
            .item {
              border-bottom: 1px solid #dee2e6;
              &:last-child {
                border:none;
              }
              font-size: 14px;
              .details {
                color: #333 !important;
                font-size: 14px !important;
              }
            }
          }
        }
      }
      .details-rating {
        .rate-stor-btn {
          width: auto;
          padding: 3px 15px;
          min-width: 120px;
        }
      }
      .gallery-imgs {
        img {
          height: 220px;
          object-fit: cover;
          border-radius: 5px;
        }
      }
      .ratings-section {
        font-weight: bold;
        .font-lg {
          font-size: 25px;
          font-weight: 500;
        }
        color: #ef5350;
      }
      .payment-section {
        img {
          width: 50px;
          height: 35px;
          object-fit: contain;
        }
      }
      .phone-ico {
        width: 16px;
        vertical-align: text-top;
        margin-right: 6px;
      }
      .address-details {
        max-width: 255px;
        line-height: 20px;
        font-size: 12px;
        color: #666;
        .fa-star {
          margin-left: 6px;
          font-size: 18px;
        }
      }
      .about-us-section,.working-hrs-section {
        font-size: 12px;
        p {
          color: #666;
        }
      }
      .specialist-wrapper {
        &.web-view {
          .specilist-img {
            min-width: 160px;
            width: 160px;
            height: 160px;
            img {
              object-fit: cover;
              object-position: top;
            }
          }
          .specialist-basic-details {
            .name {
              color: #4fc3f7;
              font-weight: 500;
            }
            .profession {
              color: #999;
              font-size: 13px;
            }
            .experience {
              color: #999;
              font-size: 13px;
            }
          }
          .consultant-fee {
            color: #ef5350;
          }
        }
      }
    }
    @media screen and (min-width: 992px) {
      margin-top: -20px;
      .store-page-header {
      .overlay-box {
        right: unset;
        left: calc(25% + 15px);
        bottom:-22px;
      }
    }
    ::ng-deep {
      .mat-tab-header {
    .mat-tab-label-container {
      max-width: 85%;
      margin: auto;
  }}}
    .main-container-width {
      width: 85%;
    }
    .trending-details {
      &.web-view {
        .details-product-web-wrapper {
          .prod-card {
            width: 20% !important;
            img {
              object-position: center;
            }
            // .card-footer {
            //   display: none;
            // }
          }
        }
        .view-more-btn {
          padding: 4px 15px !important;
        }

      }
    }
    }
    @media screen and (min-width: 1200px) {
      .store-page-header {
      .overlay-box {
        right: unset;
        left: calc(25% + 15px);
        bottom:-22px;
      }
    }
    ::ng-deep {
      .mat-tab-header {
    .mat-tab-label-container {
      max-width: 75%;
      margin: auto;
  }}}
      .main-container-width {
        width: 75%
      }
    }
}

.delivery-container {
  position: relative;
  &.available {
  border: 1px solid #DFF0DA;
  padding: 5px;
  margin-left: 10px;
  margin-bottom: 15px;
  background: #DFF0DA;
  padding-right: 80px;
  }
  &.not-available {
    border: 1px solid #FCDDDC;
    padding: 5px;
    margin-left: 10px;
    margin-bottom: 15px;
    background: #FCDDDC;
    padding-right: 80px;
  }
  .loc-name {
    color: #333333;
    font-size: 14px;
  }
  .location-open {
    display: inline-block;
    padding-left: 2px;
    float: right;
    font-weight: 400;
    color: $color-red;
    font-size: 16px;
    position: absolute;
    right: 5px;
    text-decoration: underline;
    top: 5px;
  }
  .icon {
    margin-right: 10px;
    max-width: 20px;
  }

  @media (max-width: 568px) {
    margin-top: 16px;
  }
}

.store-delivery-container {
  position: relative;
  &.available {
    border: 1px solid #DFF0DA;
    padding: 5px;
    margin-bottom: 15px;
    background: #DFF0DA;
    padding-right: 80px;
    }
    &.not-available {
      border: 1px solid #FCDDDC;
      padding: 5px;
      margin-bottom: 15px;
      background: #FCDDDC;
      padding-right: 80px;
    }
    .loc-name {
      color: #333333;
      font-size: 14px;
    }
    .location-open {
      display: inline-block;
      padding: 2px 5px;
      float: right;
      font-weight: 400;
      color: $color-red;
      font-size: 16px;
      position: absolute;
      right: 5px;
      text-decoration: underline;
      top: 5px;
    }
    .icon {
      margin-right: 10px;
      max-width: 20px;
    }

    @media (max-width: 568px) {
      margin-top: 16px;
      display: none;
    }

    @media (min-width: 569px) {
      display: block;
    }
}

.mobile-delivery-container {
  position: relative;
  &.available {
    border: 1px solid #DFF0DA;
    padding: 5px;
    background: #DFF0DA;
    padding-right: 80px;
    }
    &.not-available {
      border: 1px solid #FCDDDC;
      padding: 5px;
      background: #FCDDDC;
      padding-right: 80px;
    }
    .loc-name {
      color: #333333;
      font-size: 14px;
    }
    .location-open {
      display: inline-block;
      padding-left: 2px;
      float: right;
      font-weight: 400;
      color: $color-red;
      font-size: 16px;
      position: absolute;
      right: 5px;
      text-decoration: underline;
      top: 5px;
    }
    .icon {
      margin-right: 10px;
      max-width: 20px;
    }

    @media (max-width: 568px) {
      margin-top: 16px;
      display: block;
    }

    @media (min-width: 569px) {
      display: none;
    }
}
.cart-shadow {
  display: inline-block;
  position: absolute;
  height: 100%;
  width: 100%;
  background: transparent;
  top: 0;
  left: 0;
  z-index: 1000;
  cursor: pointer
}
.vertical-elipsis {
  overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
}