<div class="event-detail-container">
  <div class="video-bg-trigger">
    <div class="cover-bg-image" [style.background]="'url(' + eventData.primary_image_url + ')'"></div>
  </div>
  <div class="inner-container mb-4">
    <div class="title-card">
      <h3 class="title"> {{ eventData.title }}</h3>
      <div class="event-meta">
        <span class="date-time">
          <span class='reel-icon'></span>
          <div class="date-time-txt">
            <p class="txt-value-row1 m-0 p-0">{{ eventData.display_date }}</p>
            <p class="txt-value-row2 m-0 p-0">{{ eventData.timing_description }}</p>
          </div>
        </span>
        <span class="vertical-line"></span>
        <span class="place-addr">
          <span class='reel-icon'></span>
          <div class="place-addr-txt">
            <p class="txt-value-row1 m-0 p-0">{{ eventData.venue_name }}</p>
            <p class="txt-value-row2 m-0 p-0">Area</p>
          </div>
        </span>
        <span class="vertical-line"></span>
        <span class="price-type">
          <span class='reel-icon'></span>
          <div class="price-type-txt">
            <p class="txt-value-row1 m-0 p-0" *ngIf="eventData.price > 0">{{ eventData.price }}</p>
            <p class="txt-value-row1 m-0 p-0" *ngIf="eventData.price == 0">FREE</p>
            <p class="txt-value-row2 m-0 p-0" *ngIf="eventData.price == 0">&nbsp;</p>
            <p class="txt-value-row2 m-0 p-0" *ngIf="eventData.price > 0">{{ eventData.price_type }}</p>
          </div>
        </span>
        <button class="btn attendance-button rounded mt-10" *ngIf="enableAttendance" style="display: block;"
          (click)="showAttendanceModal()"><span>Yes, I'm Attending</span></button>
      </div>
      <div class="mobile-event-meta">
        <span class="date-time" style="display: block">
          <span class='reel-icon'></span>
          <div class="date-time-txt">
            <p class="txt-value-row1 m-0 p-0" *ngIf="eventData.start_date === eventData.end_date">
              {{ eventData.start_date }}</p>
            <p class="txt-value-row1 m-0 p-0" *ngIf="eventData.start_date != eventData.end_date">
              {{ eventData.start_date }} - {{ eventData.end_date }}</p>

            <p class="txt-value-row2 m-0 p-0">{{ eventData.timing_description }}</p>
          </div>
        </span>
        <span class="place-addr" style="display: block">
          <span class='reel-icon'></span>
          <div class="place-addr-txt">
            <p class="txt-value-row1 m-0 p-0">{{ eventData.venue_name }}</p>
          </div>
        </span>
        <span class="price-type" style="display: block">
          <span class='reel-icon'></span>
          <div class="price-type-txt">
            <p class="txt-value-row1 m-0 p-0" *ngIf="eventData.price > 0">{{ eventData.price }}</p>
            <p class="txt-value-row1 m-0 p-0" *ngIf="eventData.price == 0">FREE</p>
            <p class="txt-value-row2 m-0 p-0" *ngIf="eventData.price == 0">&nbsp;</p>
            <p class="txt-value-row2 m-0 p-0" *ngIf="eventData.price > 0">{{ eventData.price_type }}</p>
          </div>
        </span>
        <button class="btn attendance-button rounded mr-3 mt-4 text-center" *ngIf="enableAttendance"
          (click)="showAttendanceModal()">
          <span>Yes, I'm Attending</span>

        </button>

      </div>
    </div>
    <div class="Language" *ngIf="eventData.language">
      <div class="info-title">Language</div>
      <div class="info-text">{{ eventData.language }}</div>
    </div>
    <div class="Artists" *ngIf="eventData.artists">
      <div class="info-title">Artists</div>
      <div class="info-text"><span> {{ eventData.artists }} </span></div>
    </div>
    <div class="Benefits" *ngIf="eventData.benefits">
      <div class="info-title">Benefits</div>
      <div class="info-text"><span> {{ eventData.benefits }}</span></div>
    </div>
    <div class="Information" *ngIf="eventData.description">
      <div class="info-title">Information</div>
      <div class="info-text"><span>{{ eventData.description }} </span></div>
    </div>
    <div class="Terms" *ngIf="eventData.event_terms_and_conditions">
      <div class="info-title">Terms and Conditions</div>
      <div class="info-text"><span> {{ eventData.event_terms_and_conditions }} </span></div>
    </div>

    <div class="details-exhibitors mb-4" *ngIf="eventData.exhibitor_details?.length > 0">
      <div class="info-title mb-2">Exhibitors</div>
      <div class="card border border mt-2" *ngFor="let item of eventData.exhibitor_details">
        <div>
          <img class="card-img-top rounded" src="{{item.image_url}}" alt="{{item.name}} image" />
        </div>
        <div class="card-body p-0">
          <h6 class="card-title mb-0 ellipsis" title="{{item.name}}">
            {{item.business_name}}
          </h6>
          <div class="row-2">
            <div class="card-text">
              <span class="text-left">Stall No: {{item.stall_number}}</span> <span
                class="card-text-store rounded text-right" (click)="onExhibitorClicked(item)" *ngIf="item.business_id">
                Visit Page</span>
            </div>
          </div>
        </div>
      </div>

    </div>


  </div>

  <!-- The Modal -->
  <div class="modal attendance-modal" id="myModal" *ngIf="showAttendanceDialog">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Number of People (Max of 4 per submission)</h4>
          <button type="button" class="close-button border-0" data-dismiss="modal" (click)="hideAttendanceModal()"><span
              class="close-button-txt">&times;</span></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <span> People Count: </span><input type="text" [(ngModel)]="peopleCount" />
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="requestForSchedule()">Save</button>
        </div>

      </div>
    </div>
  </div>