@import "../../../../variables.scss";
$font-main-title: 18px;
$font-section-title: 16px;
$font-txt: 13px;
.attendance-modal {
    display: block;
  .btn-primary {
    background-color: $color-red;
    color: $color-white;
    box-shadow: none;
    border: 1px solid $color-red;
  }
  .close-button {   
       
    .close-button-txt {
      color: black;
      font-size: 30px;
      margin-right : 16px;
    }
  }

}
.video-modal {
    display: block;
    .modal-dialog {
        position: relative;
        z-index: 2;
        .modal-content {
            background-color: transparent;
            border: none;
        }
    }
}
.back-drop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: #000;
    opacity: 0.5;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    .video-frame {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
.event-detail-container {
    .video-bg-trigger {
        padding-bottom:40%;
        position: relative;
        overflow: hidden;
        z-index: 0;
        margin: auto;
        width: 90%;
        margin-top: -30px;
        .cover-bg-image {
            background-size: 100% auto !important;
            position: absolute;
        }

    }
    .inner-container {
        width:80%;
        margin: auto;
        .txt-value {
            font-size: $font-txt;
            font-weight: 400;
            color: $color-grey-txt;
        }
        .title-card {
            border-radius: 5px;
            box-shadow: 0px 2px 5px 0px #e6e5e5;
            padding: $font-section-title;
            margin-top: -30px;
            width: 100%;
            z-index: 1;
            background: white;
            position: relative;
            z-index: 1;
    
            .title {
                font-size: 26px;
                font-weight: 400;
                color: #000000;
                margin-bottom: 16px;
            }
            .cert-list {
                color: $color-teal;
                font-size: $font-section-title;
            }
    
                .date-time {
                    padding: 15px 5px 0px 0px;
                    .reel-icon { 
                        display: inline-block;  
                        background: url(./../../../../assets/calender.svg);
                        height: 18px;
                        width: 18px;
                        background-size: 18px;
                        vertical-align: top;
                        margin-right: 6px;
                        position: relative;
                        top: 4px;
                    }
                    .date-time-txt {
                        display: inline-block;
                        .txt-value-row1 {
                            margin-left: 10px;
                            color: #333333;
                            font-size: 16px;
                        }
                        .txt-value-row2 {
                            margin-left: 10px;
                            color: #009788;
                            font-size: 14px;
                        }
                    }     
                }
                .place-addr {
                    padding: 15px 5px 0px 0px;
                    .reel-icon { 
                        display: inline-block;  
                        background: url(./../../../../assets/locate.svg);
                        height: 18px;
                        width: 18px;
                        background-size: 18px;
                        vertical-align: top;
                        margin-right: 6px;
                        position: relative;
                        top: 4px;
                    }
                    .place-addr-txt {
                        display: inline-block;
                        .txt-value-row1 {
                            margin-left: 10px;
                            color: #333333;
                            font-size: 16px;
                        }
                        .txt-value-row2 {
                            margin-left: 10px;
                            color: #009788;
                            font-size: 14px;
                        }
                    }
                }
                .price-type {
                    padding: 15px 5px 0px 0px;
                    .reel-icon { 
                        display: inline-block;  
                        background: url(./../../../../assets/ticket.svg);
                        height: 18px;
                        width: 18px;
                        background-size: 18px;
                        vertical-align: top;
                        margin-right: 6px;
                        position: relative;
                        top: 4px;
                    }
                    .price-type-txt {
                        display: inline-block;
                        .txt-value-row1 {
                            margin-left: 10px;
                            color: #333333;
                            font-size: 16px;
                        }
                        .txt-value-row2 {
                            margin-left: 10px;
                            color: #009788;
                            font-size: 14px;
                        }
                    }  
            }
        }   
        .section-title {
            font-weight: 500;
            font-size: $font-section-title;
            color: black;
            margin-top: 20px;
        }
        .section-text {
            font-weight: 500;
            font-size: $font-txt;
            color: $color-grey-txt;
        }
    }

    .info-title {
        font-weight: 500;
            font-size: $font-section-title;
            color: black;
            margin-top: 20px;
    }
    .info-text {
        white-space: pre-wrap;
    }
    .attendance-button {
        @media (max-width : 768px) {
            width: 100%;
        }
        @media (min-width : 769px) {
            margin-top: 20px;
          
        }
        background-color: $color-red;
        color: $color-white;
        box-shadow: none;
        border: 1px solid $color-red;
    }

    .details-exhibitors {      
        .card {
           
            margin-right: 10px;
            margin-bottom: 10px;
            width: 25%;
            display: inline-block;
            .card-img-top{
                height: 150px;
                object-fit: cover;
            } 
              .card-title {
                  background-color: #F5F5F5;
                  padding: 5px;
              }
              .row-2 {
              .card-text {
                padding: 5px;
                display: inline-block;
                .card-text-store {
                    cursor: pointer;
                    color: white;
                    background-color: $color-red;
                    padding: 2px;
                    font-size: 12px;
                    margin-left: 10px;
                    display: inline-block;
                    border-radius: 25px;
                   align-items: flex-end;
                    &:focus,
                    &:hover {
                        color: $color-white;
                    }
                }
              }          
            }
          
         
          @media (max-width: 768px) {
            width: 100%;
            .card-img-top{
                height: 180px;
            }
          }
        }
      }
}

@media (min-width: 769px) {
    .mobile-event-meta {
        display: none;
    }
    .event-meta {
        display: block;
    }
    .video-bg-trigger {
        padding-bottom: 40%;
    }
}

@media (max-width: 768px) {
    .event-meta {
        display: none;
    }
    .mobile-event-meta {
        display: block;
    }
}

@media only screen and (max-width: 768px) {
    .video-bg-trigger {
        padding-bottom: 50%;
    }
}

.vertical-line {
    width: 1px;
    height: 36px;
    margin-left: 15px;
    margin-right: 15px;
    background: $color-grey-txt;
    display: inline-block;
    position: relative;
    top: 4px;
}