
<div class="login-container">
  <div class="login-bg"></div>
  <div class="login-body container custom-scrollbar">
    <div class="logo-img">
      <div class="logo-wrapper d-inline-block">
        <img src="assets/oneshell-logo.png" alt="OneShell Logo" />
      </div>
    </div>

    <form class="container login-details" [formGroup]="loginForm" (ngSubmit)="handleLoginClicked()">
      <div class="form-group">
        <input type="text" placeholder="MOBILE NUMBER" formControlName="username">
        <ng-container *ngFor="let validation of formValidationErrors.username">
          <div class="invalid-feedback error-msg"
            [class.hide]="!(isSubmitted && loginForm.get('username').hasError(validation.type))">
            {{ validation.message }}</div>
        </ng-container>
      </div>
      <div class="form-group">
        <input type="password" placeholder="PASSWORD" formControlName="password">
        <ng-container *ngFor="let validation of formValidationErrors.password">
          <div class="invalid-feedback error-msg"
            [class.hide]="!(isSubmitted && loginForm.get('password').hasError(validation.type))">
            {{ validation.message }}</div>
        </ng-container>
      </div>
      <div class="invalid-feedback error-msg" *ngIf="showInvalidCredentials">
        Invalid credentials, please try again.
      </div>
      <div class="login-actions">
        <a [href]="baseUrl + '/user/signup'" target="_self">
          <span class="red">Sign up</span>
        </a>
        <button type="submit" class="btn btn-danger os-btn-primary">Login</button>
      </div>
    </form>

  </div>
</div>
