@import "../../../variables";


.login-container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.login-container .container .row {
  justify-content: center;
}

.login-container .container .row span {
  cursor: pointer;
}

.red {
  color: #dc3545
}

.login-bg {
  background-color: #000;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: absolute;
}

.logo-img {
  justify-content: center;
  text-align: center;
  padding: 20px 0px;
}

.login-body {
  min-width: 330px;
  width: 30%;
  top: 25px;
  background-color: #fff;
  position: absolute;
  border-radius: 5px;
  padding: 15px 0;

  form {
    width: 100%;

    .error-msg {
      font-size: 12px;
      color: $error-msg;
    }
  }
}

.logo-wrapper {
  cursor: pointer;

  img {
    width: 70px;
    height: 70px;
    min-width: 35px;
    min-height: 35px;
  }
}

input[type='text'],
input[type='email'],
input[type='password'] {
  border: 0;
  border-bottom: 1px solid #ccc;
  outline: 0;
  width: 100%;
  font-size: 0.7rem;
  font-weight: 500;
}

.login-details.container {
  input {
    padding: 10px 0px;
  }

  .login-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}



@media (max-width: 768px) {

  .logo-wrapper {
    img {
      width: 40px;
      height: 40px;
      min-width: 35px;
      min-height: 35px;
    }

  }
}
