@import "../../../variables.scss";
.wish-list-data {
  margin-top: 25px;
  margin-left: 16px;
  margin-right: 16px;
}
.card {
    font-size: 0.85rem;
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .card-text {
      font-size: 0.8rem;

      &.shop {
        color: $product-offer;
      }
    }
    .wish-list-img {
      width: 50%;
      height: 180px;
      float: left;
      object-fit: contain;
      max-width: 160px;
    }
    .data {
      width: 45%;
      float: right;
      margin-top: 15px;
    }

    @media (max-width: 568px) {
      width: 100%;
    }
    @media (min-width: 569px) and (max-width: 768px) {
      width: 100%;
    }
    @media (min-width: 769px) {
      width: 100%;
    }
  }

  .offer {
    font-size: 14px;
    color: $product-offer;
    text-decoration: line-through;
  }
  .offer-per {
    font-size: 14px;
    color: $color-teal;
  }
  .price-text {
    color: #212121;
    font-weight: 700;
    font-size: 18px;
    margin-top: 5px;
  }

  .bizz-name {
    color: #4fc3f7;
    font-size: 14px;
    padding: 0;
  }
  .prod-name {
    color: #212121;
    font-size: 16px;
  }
  .wish-list-img {
    width: 200px;
    height: 180px;
    object-fit: contain;
  }
.brand-name {
    color: #4fc3f7;
    font-weight: 400;
    font-size: 14px;
  }
  
  .property-title {
    color: #616161;
  }

  .col-xs-6 {
    width: 50%;
}

pagination-controls {
  display:inline-block;
  margin-top: 25px;
}

pagination-controls ::ng-deep .ngx-pagination .current {
  padding: 0.1875rem 0.625rem;
  background: #ef5350;
  border: transparent;
  border-radius: 25px;
  color: #fefefe;
  cursor: default;
}
 .loading-indicator {
   width: 25px;
   height: 25px;
   margin-left: auto;
   margin-right: auto;
 }
 .bottom-layout {
  float: right;
  cursor: pointer;
  width: 100%;
}
.delete-cart {
  color: #616161;
  cursor: pointer;
  float: right;
}
.no-results {
  text-align: center;
}
