<div class="wish-list-container">
    <h3 class="offers-title text-center">
        My WishList ({{businessName}})
        <div class="border-underline"></div>
    </h3>

    <div class="row" *ngIf="prodList?.length > 0">
            <div class="col-md-11">
                  <div class="mt-2">
                        <span (click)="onDeleteAllClicked()" class="delete-cart d-inline-block">Remove All</span>
                  </div>
              </div>
      </div>

    <div class="row wish-list-data" *ngIf="showData">
        <div class="w-100">
            <div class="col-md-12">
                <div class="row" *ngIf="prodList">
                    <p *ngIf="prodList?.length > 0">(showing {{pageStart}} - {{pageEnd}} of {{totalItems}})</p>
                    <div class="mb-3 col-xl-3 col-md-4 col-sm-6" *ngFor="let item of prodList">
                            <div class="card shadow" (click)="onWishItemClicked(item)">
                                <img class="border wish-list-img" [src]="item.image_url" [alt]="item.name">
                                <div class="data p-0 pl-2">
                                    <div class="col-12 card-text text-truncate bizz-name">
                                        {{ item.brand_name }}
                                    </div>
                                    <div class="card-text prod-name"> {{ item.name }}</div>
                                    <div class="card-text"
                                        *ngIf="item.actual_price > 0 && item.offer_price > 0 && item.actual_discount != 0">
                                        <span class="price-text">&#8377;{{ item.offer_price }}</span> 
                                        <span class="offer mr-1">&#8377;{{ item.actual_price  }}</span><span
                                            class="offer-per">({{ item.actual_discount }}% off)</span>
                                    </div>
                                    <div class="price-text card-text" *ngIf="item.actual_price > 0 && item.offer_price == 0">
                                        &#8377;{{ item.actual_price }}
                                    </div>
                                    <div class="price-text card-text" *ngIf="item.actual_price == 0 && item.offer_price == 0">
                                        &#8377; NA
                                    </div>
                                    <div class="price-text card-text" *ngIf="item.minimum_quantity > 0">
                                        <b>Min Qty:</b> {{item.minimum_quantity}} @ Wholesale
                                    </div>
                                </div>
                                <div class="mt-2 bottom-layout">
                                        <span (click)="onDeleteClicked(item, $event)" class="delete-cart d-inline-block">Remove</span>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 text-center" *ngIf="prodList?.length > 0">
            <pagination-controls (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls>
        </div>
    </div>
    <div id="no-results-view" class="no-results" *ngIf="prodList?.length == 0">
        No results to show ..
    </div>
    <mat-progress-spinner *ngIf="!showData" class="loading-indicator mt-16" mode="indeterminate" color="warn">
    </mat-progress-spinner>
</div>
