<div class="stores-container main-container-width">
  <h4 class="mb-4 section-title text-center">
    Services
    <div class="border-underline"></div>
  </h4>
  <div class="catergory-wrapper">
    <div class="category-list">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-3" *ngFor="let service of services">
          <div class="group mb-3">
            <h6>{{ service.level1_category.display_name }}</h6>
            <ul type="none">
              <li *ngFor="let subService of service.level2_category">
                <a target="_self"
                [href]="baseUrl + '/business/l/' + city + '/' + subService.name + '/'+ subService.level + '/' + subService.urlDisplay_name + '/' + 'SERVICE' + '/' + '1'">
                  {{ subService.display_name }}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
