@import "../variables";
app-header {
    position: relative;
    z-index: 3;
    display: block;
}
app-loginpage{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  min-height: 100%;
  height: 100%;
}
.complete-body-content {
  margin-top: 70px;
  min-height: 61vh;
  @media (min-width: 579px) and (max-width: 769px) {
    margin-top: 140px;
  }
  @media screen and (min-width: 425px) and (max-width: 578px) {
    margin-top: 100px;
  }
  @media screen and (max-width: 425px) {
    margin-top: 110px;
  }
}
.footer-wrapper {
  border-top: 1px solid #dee2e6;
  z-index: 0;
  position: relative;
}
::ng-deep {
  .pagination {
    justify-content: center;
    pagination-controls {
      .ngx-pagination {
        padding-left: 0;
      }
    }
  }
  .mat-radio-group {
    .mat-radio-button {
      display: block;
      &.mat-accent.mat-radio-checked {
        .mat-radio-outer-circle {
          border-color: $color-red;
        }
        .mat-radio-inner-circle {
          background-color: $color-red;
        }
      }
    }
  }
}
