<div class="container-fluid">
  <app-header (loginType)='loginTypeHandler($event)'></app-header>
  <div class="complete-body-content">
    <router-outlet></router-outlet>
  </div>
  <div class="row">
    <div class="footer-wrapper col-12 p-0">
      <app-footer></app-footer>
    </div>
  </div>
  <!-- <app-login-page [hidden]="!showLoginPage" [loginType]="loginType" [showLoginPage]="showLoginPage"
    (hideloginPage)="hideloginPageHandler($event)"></app-login-page> -->
</div>
