.custom-carousel-container {
    position: relative;
    white-space: nowrap;
    display: block;
    width: 100%;
    .custom-carousel-inner {
        width: 100%;
        overflow-x: auto;
    }
    .left-arrow-btn {
        position: absolute;
        left: -10px;
        top: 33%;
        line-height: 50px;
        width: 20px;
        height: 50px;
        text-align: center;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background: white;
        box-shadow: 0px 0px 8px #888888;
        z-index: 1;
        color: black;
    }
    .right-arrow-btn {
        color: black;
        position: absolute;
        right:-10px;
        top: 33%;
        line-height: 50px;
        height: 50px;
        width: 20px;
        text-align: center;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background: white;
        box-shadow: 0px 0px 8px #888888;
        z-index: 1;
    }
    .disable-icon {
        display: none;
    }
}
