<div class="detail-page-container mb-md-4 mb-3  main-container-width web-view">
  <div class="mb-3 d-sm-none" style="margin-bottom: -27px !important;" *ngIf="businessProfile">
    <img src="{{businessProfile.primary_image_url}}" alt="detail page banner" class="w-100 banner-img" />
    <div class="overlay-box1 d-inline">
      <div class="d-inline overlay-box-btn-grp">
      <button class="btn shadow mx-1 d-inline-block mob-subscribe-btn" 
      title="Subscribe" (click)="onSubscribe()" [ngClass]="{'animated tada' : animate}">
      <span><i class="fa fa-heart" aria-hidden="true"></i></span>
    </button>

    <button class="btn shadow mx-1 share-btn d-inline-block mob-share-btn" title="Share"
      [ngbPopover]="sharePopContent" [popoverTitle]="sharePopTitle" [autoClose]="'outside'">
      <span><i class="fa fa-share-alt" aria-hidden="true"></i></span>
    </button>
    </div>
    </div>
  </div>
  <div class="d-none d-sm-block header-banner row" *ngIf="businessProfile">
    <div class="hall-details-container-width">
      <div class="row mx-0 py-3">
        <div class="col-sm-4 col-lg-3">
          <img src="{{businessProfile.primary_image_url}}" alt="detail page banner" class="w-100 banner-img" />
        </div>
        <div class="col-sm-8 col-lg-9">
          <h5>{{ businessProfile.business_name }}</h5>
          <p class="mb-2 f-12">{{ businessProfile.business_desc }}</p>
          <p class="mb-3 loc-area">
            <img src="../../../assets/location.svg" class="d-none d-sm-inline-block loc-time mr-1" />
            <span class="f-12 address-header" *ngIf="businessProfile.business_address">
              {{ businessProfile.business_address?.house_details }}
            </span>
          </p>
          <div class="review-section mb-2">
            <div class="d-flex">
              <div class="text-center d-flex align-items-center pr-4">
                <img src="../../../assets/review-white.png" class="loc-time review-icon" />
                <div class="px-2">
                  <span>{{total_rating}}</span> <br> <span class="f-12">({{businessProfile.number_of_feedbacks}}
                    reviews)</span>
                </div>
              </div>
              <div class="text-center d-flex align-items-center pr-4">
                <img src="../../../assets/clock-white.png" class="loc-time timing-icon" />
                <div class="px-2">
                  <span class="status">{{ businessProfile.is_open }}</span> <br>
                  <span class="f-12">{{businessProfile.timings}}</span>
                </div>
              </div>
              <div class="text-center d-flex align-items-center pr-4" *ngIf="businessProfile.number_of_products">
                <img src="../../../assets/product-white.png" class="loc-time product-icon" />
                <div class="px-2">
                  <span>{{businessProfile.number_of_products}}</span>
                  <br> <span class="f-12">Products</span>
                </div>
              </div>
              <div class="overlay-box d-inline">
              <div class="d-inline overlay-box-btn-grp">
              <button class="btn shadow mx-1 d-inline-block mob-subscribe-btn" 
              title="Subscribe" (click)="onSubscribe()" [ngClass]="{'animated tada' : animate}">
              <span><i class="fa fa-heart" aria-hidden="true"></i></span>
            </button>
      
            <button class="btn shadow mx-1 share-btn d-inline-block mob-share-btn" title="Share"
              [ngbPopover]="sharePopContent" [popoverTitle]="sharePopTitle" [autoClose]="'outside'">
              <span><i class="fa fa-share-alt" aria-hidden="true"></i></span>
            </button>
            </div>
            </div>
            </div>
          </div>
        </div>
     
      </div>
    </div>
  </div>
  <mat-tab-group [(selectedIndex)]="tabNo">
    <mat-tab label="Home">
      <div class="hall-details-container-width">
        <div class="col-sm-12 details-right">
          <div class="details-header mb-3 mb-sm-4 d-sm-none" *ngIf="businessProfile">
            <h4 class="mb-1">{{ businessProfile.business_name }}</h4>
            <h6 class="mb-2">{{ businessProfile.business_desc }}</h6>
            <p class="mb-0 loc-area">
              <img src="../../../../assets/location.svg" class="mr-1 loc-time" />
              <span class="" *ngIf="businessProfile.business_address">
                {{ businessProfile.business_address.house_details }}
              </span>
            </p>
            <p class="mb-0">
              <img src="../../../../assets/time.svg" class="mr-3 loc-time" />
              <span class="">{{businessProfile.timings}} , <span class="status">{{ businessProfile.is_open }}</span></span>
            </p>
            <div class="d-block d-sm-none mobile-custom-view d-flex">
              <div class="text-center">
                <img src="../../../../assets/star.png" class="loc-time" />
                <span>{{total_rating}}</span>
              </div>
              <div class="seperator"></div>
              <div class="text-center">
                <img src="../../../../assets/mobile_offer.png" class="loc-time" />
                <span>{{businessProfile.number_of_offers}}</span>
              </div>
              <div class="seperator"></div>
              <div class="text-center">
                <img src="../../../../assets/product.png" class="loc-time" />
                <span>{{businessProfile.number_of_products}}</span>
              </div>
              <div class="seperator"></div>
              <div class="text-center">
                <img src="../../../../assets/contact.png" class="loc-time" />
                <span>{{businessProfile.number_of_subscribers}}</span>
              </div>
              <div class="seperator"></div>
              <div class="text-center">
                <img src="../../../../assets/feedback.png" class="loc-time" />
                <span>{{businessProfile.number_of_feedbacks}}</span>
              </div>
            </div>
          </div>
    
          <div class="mb-3 mb-sm-0" *ngIf="hallProfile">
            <div class="pb-sm-4 mb-3">
              <h5 class="mb-3">Banquet Hall Features</h5>
              <div class="outline-overview border-0 overview p-0 m-0">
                <div class="row-1l mb-sm-3 d-sm-flex flex-wrap justify-content-between w-50">
                  <div class="capacity text-sm-center d-sm-inline-flex flex-sm-column-reverse">
                    <span class="txt-value-header" style=" display: block">Hall Capacity</span> 
                    <span class="txt-value font-sm" style="display: block"
                      *ngIf="hallProfile.hall_capacity">{{hallProfile.hall_capacity}}</span>
                    <span class="txt-value" style="display: block" *ngIf="!hallProfile.hall_capacity">NA</span>
                  </div>
      
                  <div class="dining-hall-capacity text-sm-center d-sm-inline-flex flex-sm-column-reverse">
                    <span class="txt-value-header" style="display: block">Dining Hall Capacity</span>
                    <span class="txt-value font-sm" style="display: block"
                      *ngIf="hallProfile.dining_hall_capacity">{{hallProfile.dining_hall_capacity}}</span>
                    <span class="txt-value" style="display: block" *ngIf="!hallProfile.dining_hall_capacity">NA</span>
                  </div>
      
                  <div class="ac-rooms text-sm-center d-sm-inline-flex flex-sm-column-reverse">
                    <span class="txt-value-header" style="display: block">AC Rooms</span>
                    <span class="txt-value font-sm" style="display: block"
                      *ngIf="hallProfile.ac_rooms_count">{{hallProfile.ac_rooms_count}}</span>
                    <span class="txt-value" style="display: block" *ngIf="!hallProfile.ac_rooms_count">NA</span>
                  </div>
                </div>
                <div class="row-1l mb-sm-0 d-sm-flex flex-wrap justify-content-between w-50">

                  <div class="non-ac-rooms text-sm-center d-sm-inline-flex flex-sm-column-reverse">
                    <span class="txt-value-header" style="display: block">Non-AC Rooms</span>
                    <span class="txt-value font-sm" style="display: block"
                      *ngIf="hallProfile.non_ac_rooms_count">{{hallProfile.non_ac_rooms_count}}</span>
                    <span class="txt-value" style="display: block" *ngIf="!hallProfile.non_ac_rooms_count">NA</span>
                  </div>
      
                  <div class="bike-parking text-sm-center d-sm-inline-flex flex-sm-column-reverse">
                    <span class="txt-value-header" style="display: block">Bike Parking</span>
                    <span class="txt-value font-sm" style="display: block"
                      *ngIf="hallProfile.two_wheeler_parking_count">{{hallProfile.two_wheeler_parking_count}}</span>
                    <span class="txt-value" style="display: block" *ngIf="!hallProfile.two_wheeler_parking_count">NA</span>
                  </div>
      
                  <div class="car-parking text-sm-center d-sm-inline-flex flex-sm-column-reverse">
                    <span class="txt-value-header" style="display: block">Car Parking</span>
                    <span class="txt-value font-sm" style="display: block"
                      *ngIf="hallProfile.four_wheeler_parking_count">{{hallProfile.four_wheeler_parking_count}}</span>
                    <span class="txt-value" style="display: block" *ngIf="!hallProfile.four_wheeler_parking_count">NA</span>
                  </div>
                </div>
              </div>
              <div class="outline-overview-mobile border-0 overview p-0 m-0">
                <div class="row-1">
                  <div class="capacity">
                    <span class="txt-value-header" style=" display: block">Hall Capacity</span>
                    <span class="txt-value" style="display: block"
                      *ngIf="hallProfile.hall_capacity">{{hallProfile.hall_capacity}}</span>
                    <span class="txt-value" style="display: block" *ngIf="!hallProfile.hall_capacity">NA</span>
                  </div>
      
                  <div class="dining-hall-capacity">
                    <span class="txt-value-header" style="display: block">Dining Hall Capacity</span>
                    <span class="txt-value" style="display: block"
                      *ngIf="hallProfile.dining_hall_capacity">{{hallProfile.dining_hall_capacity}}</span>
                    <span class="txt-value" style="display: block" *ngIf="!hallProfile.dining_hall_capacity">NA</span>
                  </div>
                </div>
                <div class="row-2">
                  <div class="ac-rooms">
                    <span class="txt-value-header" style="display: block">AC Rooms</span>
                    <span class="txt-value" style="display: block"
                      *ngIf="hallProfile.ac_rooms_count">{{hallProfile.ac_rooms_count}}</span>
                    <span class="txt-value" style="display: block" *ngIf="!hallProfile.ac_rooms_count">NA</span>
                  </div>
      
                  <div class="non-ac-rooms">
                    <span class="txt-value-header" style="display: block">Non-AC Rooms</span>
                    <span class="txt-value" style="display: block"
                      *ngIf="hallProfile.non_ac_rooms_count">{{hallProfile.non_ac_rooms_count}}</span>
                    <span class="txt-value" style="display: block" *ngIf="!hallProfile.non_ac_rooms_count">NA</span>
                  </div>
                </div>
                <div class="row-3">
                  <div class="bike-parking">
                    <span class="txt-value-header" style="display: block">Bike Parking</span>
                    <span class="txt-value" style="display: block"
                      *ngIf="hallProfile.two_wheeler_parking_count">{{hallProfile.two_wheeler_parking_count}}</span>
                    <span class="txt-value" style="display: block" *ngIf="!hallProfile.two_wheeler_parking_count">NA</span>
                  </div>
      
                  <div class="car-parking">
                    <span class="txt-value-header" style="display: block">Car Parking</span>
                    <span class="txt-value" style="display: block"
                      *ngIf="hallProfile.four_wheeler_parking_count">{{hallProfile.four_wheeler_parking_count}}</span>
                    <span class="txt-value" style="display: block" *ngIf="!hallProfile.four_wheeler_parking_count">NA</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="pb-sm-4 mb-3">
              <h5 class="mb-3">More Features</h5>
              <div class="hall-profile-more-features row m-0 p-0 justify-content-sm-between align-items-sm-center d-md-none">
                <div class="ac more-feature">
      
                  <span class="txt-value-header" style=" display: inline-block">
                    <img *ngIf="hallProfile.is_ac_hall" src="../../../../assets/hall_right.png" class="loc-time mr-1 mr-md-2"
                      style=" display: inline-block" />
                    <img *ngIf="!hallProfile.is_ac_hall" src="../../../../assets/hall_wrong.png" class="loc-time mr-1 mr-md-2"
                      style=" display: inline-block" /><span>AC</span></span>
                </div>
                <div class="pets more-feature">
      
                  <span class="txt-value-header" style=" display: inline-block">
                    <img *ngIf="hallProfile.pets" src="../../../../assets/hall_right.png" class="loc-time mr-1 mr-md-2"
                      style=" display: inline-block" />
                    <img *ngIf="!hallProfile.pets" src="../../../../assets/hall_wrong.png" class="loc-time mr-1 mr-md-2"
                      style=" display: inline-block" /><span>Pets Allowed</span></span>
                </div>
                <div class="non-veg more-feature">
      
                  <span class="txt-value-header" style=" display: inline-block"><img *ngIf="isNonVegAllowed"
                      src="../../../../assets/hall_right.png" class="loc-time mr-1 mr-md-2" style=" display: inline-block" />
                    <img *ngIf="!isNonVegAllowed" src="../../../../assets/hall_wrong.png" class="loc-time mr-1 mr-md-2"
                      style=" display: inline-block" /><span>Non Veg Allowed</span></span>
                </div>
                <div class="outside-catering more-feature">
      
                  <span class="txt-value-header" style=" display: inline-block">
                    <img *ngIf="hallProfile.catering" src="../../../../assets/hall_right.png" class="loc-time mr-1 mr-md-2"
                      style=" display: inline-block" />
                    <img *ngIf="!hallProfile.catering" src="../../../../assets/hall_wrong.png" class="loc-time mr-1 mr-md-2"
                      style=" display: inline-block" /><span>Outside Catering Allowed</span></span>
                </div>
                <div class="liquor more-feature">
      
                  <span class="txt-value-header" style=" display: inline-block">
                    <img *ngIf="hallProfile.drinks" src="../../../../assets/hall_right.png" class="loc-time mr-1 mr-md-2"
                      style=" display: inline-block" />
                    <img *ngIf="!hallProfile.drinks" src="../../../../assets/hall_wrong.png" class="loc-time mr-1 mr-md-2"
                      style=" display: inline-block" /><span>Liquor Allowed</span></span>
                </div>
              </div>
              <div class="hall-profile-more-features m-0 p-0 justify-content-sm-between align-items-sm-center d-md-flex flex-wrap d-none w-50">
                <div class="ac more-feature mb-md-1">
      
                  <span class="txt-value-header" style=" display: inline-block">
                    <img *ngIf="hallProfile.is_ac_hall" src="../../../../assets/hall_right.png" class="loc-time mr-1 mr-md-2"
                      style=" display: inline-block" />
                    <img *ngIf="!hallProfile.is_ac_hall" src="../../../../assets/hall_wrong.png" class="loc-time mr-1 mr-md-2"
                      style=" display: inline-block" /><span>AC</span></span>
                </div>
                <div class="pets more-feature mb-md-1">
      
                  <span class="txt-value-header" style=" display: inline-block">
                    <img *ngIf="hallProfile.pets" src="../../../../assets/hall_right.png" class="loc-time mr-1 mr-md-2"
                      style=" display: inline-block" />
                    <img *ngIf="!hallProfile.pets" src="../../../../assets/hall_wrong.png" class="loc-time mr-1 mr-md-2"
                      style=" display: inline-block" /><span>Pets Allowed</span></span>
                </div>
                <div class="non-veg more-feature mb-md-1">
      
                  <span class="txt-value-header" style=" display: inline-block"><img *ngIf="isNonVegAllowed"
                      src="../../../../assets/hall_right.png" class="loc-time mr-1 mr-md-2" style=" display: inline-block" />
                    <img *ngIf="!isNonVegAllowed" src="../../../../assets/hall_wrong.png" class="loc-time mr-1 mr-md-2"
                      style=" display: inline-block" /><span>Non Veg Allowed</span></span>
                </div>
                <div class="outside-catering more-feature">
      
                  <span class="txt-value-header" style=" display: inline-block">
                    <img *ngIf="hallProfile.catering" src="../../../../assets/hall_right.png" class="loc-time mr-1 mr-md-2"
                      style=" display: inline-block" />
                    <img *ngIf="!hallProfile.catering" src="../../../../assets/hall_wrong.png" class="loc-time mr-1 mr-md-2"
                      style=" display: inline-block" /><span>Outside Catering Allowed</span></span>
                </div>
                <div class="liquor more-feature">
      
                  <span class="txt-value-header" style=" display: inline-block">
                    <img *ngIf="hallProfile.drinks" src="../../../../assets/hall_right.png" class="loc-time mr-1 mr-md-2"
                      style=" display: inline-block" />
                    <img *ngIf="!hallProfile.drinks" src="../../../../assets/hall_wrong.png" class="loc-time mr-1 mr-md-2"
                      style=" display: inline-block" /><span>Liquor Allowed</span></span>
                </div>
              </div>
            </div>
    
            <div class="amenity-container p-0 pb-sm-4 mb-3" *ngIf="hallProfile.hall_facilities?.length > 0">
              <h5 class="mb-3">Amenities</h5>
              <div class="row m-0 p-0 justify-content-lg-between">
                <div class="amenity-card d-inline-block mb-3 mb-sm-0 mr-4 ml-0" *ngFor="let item of hallProfile.hall_facilities">
                  <div class="text-center">
                    <img class="amenity-img" src="{{item.image_url}}" alt="Amenity" />
                    <span class="text-center amenities-label" style="display : block">{{item.name}}</span>
                  </div>
    
                </div>
              </div>
            </div>
    
            <div class="d-sm-none mb-4">
              <h5 class="mb-3">Photos</h5>
              <div class="row photo-wrapper">
                <div class="photo-card mr-2" (click)="openImgGallery('hall')">
                  <div class="card border rounded">
                    <div>
                      <img class="card-img-top" src="{{businessProfile.primary_image_url}}" />
                    </div>
                    <div class="card-body p-0">
                      <h6 class="card-title m-1 text-center">
                        Hall
                      </h6>
                    </div>
                  </div>
                </div>
                <div class="photo-card mr-2" (click)="openImgGallery('ac')">
                  <div class="card border rounded">
                    <div *ngIf="hallProfile.ac_room_images?.length > 0">
                      <img class="card-img-top" src="{{hallProfile.ac_room_images[0]}}" />
                    </div>
                    <div *ngIf="hallProfile.ac_room_images?.length == 0">
                      <img class="card-img-top"
                        src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/business_page_general_images%2Fno%20image%20available.png?alt=media&token=43a5cdb1-7617-4a56-97c9-780f408baa41" />
                    </div>
                    <div class="card-body p-0">
                      <h6 class="card-title m-1 text-center">
                        AC Rooms
                      </h6>
                    </div>
                  </div>
                </div>
                <div class="photo-card" (click)="openImgGallery('nonac')">
                  <div class="card border rounded">
                    <div *ngIf="hallProfile.non_ac_room_images?.length > 0">
                      <img class="card-img-top" src="{{hallProfile.non_ac_room_images[0]}}" />
                    </div>
                    <div *ngIf="hallProfile.non_ac_room_images?.length == 0">
                      <img class="card-img-top"
                        src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/business_page_general_images%2Fno%20image%20available.png?alt=media&token=43a5cdb1-7617-4a56-97c9-780f408baa41" />
                    </div>
                    <div class="card-body p-0">
                      <h6 class="card-title m-1 text-center">
                        Non-AC Rooms
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="details-service-offered mb-4 d-sm-none" *ngIf="servicesListCount">
              <h5 class="mb-3">Service Offered</h5>
              <div *ngFor="let item of servicesList">
                <p class="details mb-2 text-left">
                  <span>
                    {{ item.name }}
                  </span>
                </p>
                <div class="card-text" *ngIf="item.actual_price > 0 && item.offer_price > 0 &&  item.actual_discount != 0">
                  &#8377;{{ item.offer_price }}
                  <span class="offer mr-1">{{ item.actual_price }}</span>
                </div>
                <div class="card-text" *ngIf="item.actual_price > 0 && item.offer_price == 0">
                  &#8377;{{ item.actual_price }}
                </div>
                <hr>
              </div>
            </div>
      
            <div class="details-service-offered d-none d-sm-block web-view pb-sm-4 mb-3" *ngIf="servicesListCount">
              <h5 class="mb-3">Service Offered</h5>
              <div class="service-wrapper">
                <div class="d-sm-flex item text-sm-center" *ngFor="let item of servicesList">
                  <p class="details mb-2 mb-sm-0 py-sm-3 text-left text-sm-center col-sm-8">
                    <span>
                      {{ item.name }}
                    </span>
                  </p>
                  <div class="col-sm-4 py-sm-3 border-left">
                    <div class="card-text"
                      *ngIf="item.actual_price > 0 && item.offer_price > 0 &&  item.actual_discount != 0">
                      &#8377;{{ item.offer_price }}
                      <span class="offer mr-1">{{ item.actual_price }}</span>
                    </div>
                    <div class="card-text" *ngIf="item.actual_price > 0 && item.offer_price == 0">
                      &#8377;{{ item.actual_price }}
                    </div>
                  </div>
      
                  <hr class="d-sm-none">
                </div>
              </div>
      
            </div>

          </div>
        </div>
      </div>
      <div class="background-light-blue details-right d-flex mb-sm-5 mt-sm-4" *ngIf="offersListCount">
        <div class="hall-details-container-width">
          <div class="details-offers pt-sm-3 web-view mt-sm-3 mb-sm-5 mb-4 px-3" *ngIf="offersListCount">
            <h5 class="mb-3">Irresistible</h5>
            <app-horizontal-carousel>
              <div class="card d-inline-block mr-2 mr-sm-3 mb-sm-0" *ngFor="let item of offersList">
                <div class="card-body px-2">
                  <p class="card-title giveMeEllipsis">
                    {{ item?.name }}
                  </p>
                </div>
                <div class="validity-wrapper clearfix">
                  <div *ngIf="item.is_no_expiry">
                    <span class="float-left validity">
                      Validity: All Days
                    </span>
                    <span class="d-none d-sm-inline-block terms_and_cond">T&C Apply</span>
                  </div>
                  <div *ngIf="!item.is_no_expiry">
                    <span class="float-left validity">
                      Validity: <span>{{ item.start_date }}</span>&nbsp;-&nbsp;
                      <span>{{ item?.expiry_date }}</span>
                    </span>
                    <span class="d-none d-sm-inline-block terms_and_cond">T&C Apply</span>
                  </div>
                </div>
              </div>
            </app-horizontal-carousel>
          </div>
        </div>
      </div>

      <div class="hall-details-container-width">
        <div class="col-sm-12 details-right position-static">
          <div class="mb-3 pb-sm-4" *ngIf="hallProfile?.is_availability_enabled">
            <h5 class="mb-3">Availability</h5>
            <ejs-calendar id=calendar #ejCalendar [value]='value' [min]='minDate' [max]='maxDate'
              (navigated)='onNavigate($event)' (renderDayCell)='disabledDate($event)'
              (controlUp)="selectedDate($event)" [isMultiSelection]='multiSelect'></ejs-calendar>
              <span class="d-flex f-16 mt-3"><span class="d-inline-block availibility-indicator mr-2"></span>Unavailable</span>
              <div class="pt-2 pb-3 pb-sm-0">
                <div class="py-2 border-bottom mobile" *ngFor="let item of bookingDetails">
                  <span class="font-weight-bold d-inline-block mr-2">{{item.date}}</span>: <span>{{item.booked_details}}</span>
                </div>
              </div> 
          </div>
          <div class="row enquiry-container py-3"  *ngIf="hallProfile?.is_availability_enabled">
            <h5 class="mb-3 px-3">Booking Enquiry</h5>
            <div class="col-12 mb-1">Date:</div>
            <div class="col-6">
              <mat-form-field class="w-100">
                <mat-label>From</mat-label>
                <input matInput (click)="picker3.open()" [matDatepicker]="picker3" [min]="minEnqDate" [(ngModel)]="from" readonly="true">
                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                <mat-datepicker #picker3></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field class="w-100">
                <mat-label>To</mat-label>
                <input matInput (click)="picker4.open()" [matDatepicker]="picker4" [(ngModel)]="to" [min]="minEnqDate" readonly="true">
                <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                <mat-datepicker #picker4></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-12 mb-1">Time:</div>
            <div class="col-4 timing">
              <mat-form-field class="w-100">
                <mat-label>-&nbsp;-</mat-label>
                <mat-select [(ngModel)]="fromTime" name="fromTime">
                  <mat-option *ngFor="let hours of timings" [value]="hours.value">
                    {{hours.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="f-18 font-weight-bold"> - </div>
            <div class="col-4 timing">
              <mat-form-field class="w-100">
                <mat-label>-&nbsp;-</mat-label>
                <mat-select [(ngModel)]="toTime" name="toTime">
                  <mat-option *ngFor="let hours of timings" [value]="hours.value">
                    {{hours.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-12">
            <div class="mb-1">Comments:</div>
              <mat-form-field class="w-100">
                <textarea matInput rows="4" [(ngModel)]="comments"></textarea>
              </mat-form-field>
            </div>
            <div class="col-12">
              <button class="btn btn-footer text-center w-100" (click)="sendEnquiry()">Send Enquiry</button>
            </div>
            <div class="toaster-msg px-3 py-2" [ngClass]="showToaster ? 'd-block' : 'd-none' " >
              Successfully submitted!
              </div>
          </div>
          <div class="details-menu mb-4 web-view" *ngIf="menuCards && menuCards.length">
            <h5 class="mb-3">Menus</h5>
            <div class="special-wrapper">
              <app-horizontal-carousel>
                <div class="pb-sm-0 pt-sm-0 pt-2 pb-2 menu-card" *ngFor="let item of menuCards">
                  <div class="card border border-0">
                    <div>
                      <img class="card-img-top rounded" src="{{item}}" alt="Menu image" />
                    </div>
                  </div>
                </div>
              </app-horizontal-carousel>
            </div>
          </div>
    

    
          <div class="details-payment mb-4 d-sm-none" *ngIf="paymentMethodsCount">
            <h5>Payment Accepted</h5>
            <app-horizontal-carousel>
              <div class="d-inline-block p-2 border payment-wrap mt-4 mr-4" *ngFor="let item of paymentMethods">
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2Fcard.png?alt=media&token=646e256d-198b-4e22-842e-bcf030ca747e"
                  class="payment-img mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('card') > -1" />
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2Fupi.png?alt=media&token=d02200e9-f010-4327-9248-6c4e4b0354b7"
                  class="mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('bhim') > -1" />
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2Fg%20pay.jpg?alt=media&token=fb9e5ba4-faec-4eb8-9676-0d1233c45775"
                  class="mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('google') > -1" />
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2FPaytm_logo.png?alt=media&token=ecc2c355-efe1-459b-a29f-4ddb4c11000e"
                  class="mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('paytm') > -1" />
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2Fphone%20pe.png?alt=media&token=89553a05-c8f4-4fd7-a150-3fa034c5429b"
                  class="mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('phonepe') > -1" />
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2FMobiKwik-Logo.png?alt=media&token=12766042-ef64-4f8e-9f3f-46535fac2293"
                  class="mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('mobikwik') > -1" />
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2Fnetbank.png?alt=media&token=4272380b-3048-42b1-a4b9-59205b91811e"
                  class="mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('net') > -1" />
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2Fsodexo.png?alt=media&token=a22cc52f-ac0f-4e2a-b337-27d8eec0b925"
                  class="mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('sodexo') > -1" />
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2FFreeCharge_Logo.png?alt=media&token=dfbc8e77-4e0e-4a43-9f7a-1c35f9eb8d62"
                  class="mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('free') > -1" />
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2Fpayumoney-logo.png?alt=media&token=8c927604-4389-4c36-8d13-4f8e0b229f16"
                  class="mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('money') > -1" />
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2Fmomoelogobig.png?alt=media&token=c5f3baaf-4337-48f3-8f77-1bd4724285cc"
                  class="mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('momoe') > -1" />
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2Fzap.png?alt=media&token=0d7c52bb-d795-4892-a8ea-9e87d36be59e"
                  class="mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('zap') > -1" />
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2Famazon%20pay.png?alt=media&token=b9f8b48d-efe9-40d4-86a1-8367e8795fa8"
                  class="mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('amazon') > -1" />
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2Fmp_citipay_logo_blue.png?alt=media&token=0772aa34-9e6b-48d3-ae94-1dc5654e5488"
                  class="mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('citi') > -1" />
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2FChillr_logo.png?alt=media&token=93072616-42b3-438c-a907-8c30bf9e98d7"
                  class="mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('hdfc') > -1" />
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2Ficici-pockets.png?alt=media&token=1d444218-ff79-4ba8-8c30-8528cea9c641"
                  class="mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('icici') > -1" />
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2Fbuddy.png?alt=media&token=9c695142-9b1f-4772-b048-2f89e6d671d5"
                  class="mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('buddy') > -1" />
                <span>{{ item.name }}</span>
    
              </div>
            </app-horizontal-carousel>
          </div>
          <div class="details-rating mb-5 mb-sm-4" *ngIf="businessProfile">
            <h5 class="mb-3">Customer Review</h5>
            <div class="review">
              <div class="row">
                <div class="col-12">
                  <div class="p-3 border">
                    <div class="row">
                      <div class="col-lg-3 col-md-3 col-12 rating-left mb-2 mb-md-0">
                        <div class="total-rating text-center">
                          <p class="mb-0 total">
                            {{ total_rating }}&nbsp;<span class="fa fa-star"></span>
                          </p>
                          <p class="mb-0" style="display: none">
                            {{ businessProfile.total_ratings }} Ratings
                          </p>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-5 col-sm-7 col-12 rating-middle mb-2 mb-md-0">
                        <div class="row">
                          <div class="col-lg-8 col-12">
                            <div class="inline-rating d-flex">
                              <div class="rate-left">5&nbsp;<span class="fa fa-star"></span></div>
                              <div class="rate-right">
                                <div class="progress">
                                  <div class="progress-bar bg-success" role="progressbar"
                                    [style.width]="businessProfile.five_star_ratings+'%'"></div>
                                </div>
                              </div>
                              <div>{{ businessProfile.five_star_ratings }}</div>
                            </div>
                            <div class="inline-rating d-flex">
                              <div class="rate-left">4&nbsp;<span class="fa fa-star"></span></div>
                              <div class="rate-right">
                                <div class="progress">
                                  <div class="progress-bar bg-success" role="progressbar"
                                    [style.width]="businessProfile.four_star_ratings+'%'"></div>
                                </div>
                              </div>
                              <div>{{ businessProfile.four_star_ratings }}</div>
                            </div>
                            <div class="inline-rating d-flex">
                              <div class="rate-left">3&nbsp;<span class="fa fa-star"></span></div>
                              <div class="rate-right">
                                <div class="progress">
                                  <div class="progress-bar bg-success" role="progressbar"
                                    [style.width]="businessProfile.three_star_ratings+'%'"></div>
                                </div>
                              </div>
                              <div>{{ businessProfile.three_star_ratings }}</div>
                            </div>
                            <div class="inline-rating d-flex">
                              <div class="rate-left">2&nbsp;<span class="fa fa-star"></span></div>
                              <div class="rate-right">
                                <div class="progress">
                                  <div class="progress-bar bg-warning" role="progressbar"
                                    [style.width]="businessProfile.two_star_ratings+'%'"></div>
                                </div>
                              </div>
                              <div>{{ businessProfile.two_star_ratings }}</div>
                            </div>
                            <div class="inline-rating d-flex">
                              <div class="rate-left">1&nbsp;<span class="fa fa-star"></span></div>
                              <div class="rate-right">
                                <div class="progress">
                                  <div class="progress-bar bg-danger" role="progressbar"
                                    [style.width]="businessProfile.one_star_ratings+'%'"></div>
                                </div>
                              </div>
                              <div>{{ businessProfile.one_star_ratings }}</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="rate-store col-lg-3 col-md-4 col-sm-5 col-12 rating-right text-right">
                        <div class="mb-2"> 
                          <button class="btn  btn-sm btn-outline-secondary text-center rate-btn" (click)="showRatingModel(rating)">
                            <span>Rate Store</span>
                          </button>
                        </div>
                        <div>
                          <button class="btn btn-sm btn-outline-secondary text-center rate-btn"
                          (click)="showSpamModel()">
                          <span>Report Spam</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="d-block d-sm-none mobile-custom-view mobile-detail-footer d-flex">
            <div class="text-center" (click)="openCallListModal()">
              <img src="../../../../assets/call.svg" class="loc-time" />
              <span>&nbsp;&nbsp;Call</span>
            </div>
    
            <div class="text-center" (click)="showRatingModel(rating)">
              <img src="../../../../assets/star.png" class="loc-time" />
              <span>Review</span>
            </div>
    
            <div class="text-center" (click)="showSpamModel()">
              <img src="../../../../assets/spam.png" class="loc-time" />
              <span>Spam</span>
            </div>
    
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Other Info.">
      <div class="hall-details-container-width">
        <div class="other-info d-none d-sm-block col-12">
          <div *ngIf="businessProfile" class="ratings-section d-flex mb-4">
            <div class="pr-sm-2 text-center">
              <span class="font-lg">{{businessProfile.number_of_subscribers}}</span><br>
              <span>Subscribers</span>
            </div>
            <div class="px-sm-5 text-center">
              <span class="font-lg">{{total_rating}}</span><span class="fa fa-star"></span><br>
              <span>Ratings</span>
            </div>
            <div class="pl-sm-2 text-center" *ngIf="businessProfile.number_of_products">
              <span class="font-lg">{{businessProfile.number_of_products}}</span><br>
              <span>Products Online</span>
            </div>
          </div>
          <div *ngIf="businessProfile" class="about-us-section mb-4">
            <h5 class="mb-1">About</h5>
            <p>{{ businessProfile.business_desc }}</p>
          </div>
          <div *ngIf="businessProfile" class="contact-info-sec mb-4">
            <h5 class="mb-1">Contact info</h5>
            <div class="address-details">
              {{ businessProfile.business_address?.house_details }}<br>
              <div class="d-inline-block">
                <img src="../../../assets/call.svg" class="image-size phone-ico" alt="Locate" />
              </div>
              <span>
                {{ businessProfile.phone_number }}
              </span>
            </div>
          </div>
          <div *ngIf="businessProfile" class="working-hrs-section mb-4">
            <h5 class="mb-1">Working Hours</h5>
            <p>
              <span>{{businessProfile.timings}}</span></p>
          </div>
          <div class="payment-section mb-2" *ngIf="paymentMethodsCount">
            <h5>Payments Accepted</h5>
            <app-horizontal-carousel>
              <div class="d-inline-block p-2 border payment-wrap mt-1 mr-3" *ngFor="let item of paymentMethods">
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2Fcard.png?alt=media&token=646e256d-198b-4e22-842e-bcf030ca747e"
                  class="payment-img mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('card') > -1" />
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2Fupi.png?alt=media&token=d02200e9-f010-4327-9248-6c4e4b0354b7"
                  class="mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('bhim') > -1" />
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2Fg%20pay.jpg?alt=media&token=fb9e5ba4-faec-4eb8-9676-0d1233c45775"
                  class="mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('google') > -1" />
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2FPaytm_logo.png?alt=media&token=ecc2c355-efe1-459b-a29f-4ddb4c11000e"
                  class="mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('paytm') > -1" />
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2Fphone%20pe.png?alt=media&token=89553a05-c8f4-4fd7-a150-3fa034c5429b"
                  class="mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('phonepe') > -1" />
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2FMobiKwik-Logo.png?alt=media&token=12766042-ef64-4f8e-9f3f-46535fac2293"
                  class="mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('mobikwik') > -1" />
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2Fnetbank.png?alt=media&token=4272380b-3048-42b1-a4b9-59205b91811e"
                  class="mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('net') > -1" />
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2Fsodexo.png?alt=media&token=a22cc52f-ac0f-4e2a-b337-27d8eec0b925"
                  class="mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('sodexo') > -1" />
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2FFreeCharge_Logo.png?alt=media&token=dfbc8e77-4e0e-4a43-9f7a-1c35f9eb8d62"
                  class="mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('free') > -1" />
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2Fpayumoney-logo.png?alt=media&token=8c927604-4389-4c36-8d13-4f8e0b229f16"
                  class="mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('money') > -1" />
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2Fmomoelogobig.png?alt=media&token=c5f3baaf-4337-48f3-8f77-1bd4724285cc"
                  class="mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('momoe') > -1" />
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2Fzap.png?alt=media&token=0d7c52bb-d795-4892-a8ea-9e87d36be59e"
                  class="mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('zap') > -1" />
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2Famazon%20pay.png?alt=media&token=b9f8b48d-efe9-40d4-86a1-8367e8795fa8"
                  class="mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('amazon') > -1" />
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2Fmp_citipay_logo_blue.png?alt=media&token=0772aa34-9e6b-48d3-ae94-1dc5654e5488"
                  class="mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('citi') > -1" />
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2FChillr_logo.png?alt=media&token=93072616-42b3-438c-a907-8c30bf9e98d7"
                  class="mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('hdfc') > -1" />
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2Ficici-pockets.png?alt=media&token=1d444218-ff79-4ba8-8c30-8528cea9c641"
                  class="mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('icici') > -1" />
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2Fbuddy.png?alt=media&token=9c695142-9b1f-4772-b048-2f89e6d671d5"
                  class="mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('buddy') > -1" />
                <span>{{ item.name }}</span>
    
              </div>
            </app-horizontal-carousel>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Gallery" *ngIf="(hallProfile && (
    (hallProfile.ac_room_images && hallProfile.ac_room_images.length) ||
    (hallProfile.non_ac_room_images && hallProfile.non_ac_room_images.length))) || (hallUrl && hallUrl.length)">
      <div class="gallery hall-details-container-width d-none d-sm-block">
        <div class="gallery-imgs">
          <div class="hall-img mb-4"  *ngIf="hallUrl && hallUrl.length">
            <h5 class="mb-3">Hall</h5>
            <div class="row gallery-imgs position-relative">
              <div *ngFor="let url of hallUrl | slice:0:3" class="col-md-4 col-sm-6 pr-0 mb-3" >
                <img class="w-100" src="{{url}}" alt="detail page gallery">                
              </div>
              <div [ngClass]="hallUrl.length > 3 ? 'd-flex':'d-none'" 
                class="position-absolute overlay-wrap h-100 col-md-4 col-sm-6 pb-3 pr-0 align-items-center justify-content-center">
                <div (click)="openImgGallery('hall')" 
                  class="overlay-gallery w-100 h-100 d-flex align-items-center justify-content-center">
                  <span>+ {{hallUrl.length - 3}}</span>
                </div>
              </div>
              
            </div>
          </div>
          <div class="ac-rooms mb-4" *ngIf="hallProfile.ac_room_images && hallProfile.ac_room_images.length">
            <h5 class="mb-3">AC Rooms</h5>
            <div class="row gallery-imgs position-relative">
              <div *ngFor="let url of hallProfile.ac_room_images | slice:0:3" class="col-md-4 col-sm-6 pr-0 mb-3">
                <img class="w-100" src="{{url}}" alt="detail page gallery">
              </div>
              <div [ngClass]="hallProfile.ac_room_images.length > 3 ? 'd-flex':'d-none'" 
                class="position-absolute overlay-wrap h-100 col-md-4 col-sm-6 pb-3 pr-0 align-items-center justify-content-center">
                <div (click)="openImgGallery('ac')" 
                  class="overlay-gallery w-100 h-100 d-flex align-items-center justify-content-center">
                  <span>+ {{hallProfile.ac_room_images.length - 3}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="non-ac-rooms mb-4" *ngIf="hallProfile.non_ac_room_images  && hallProfile.non_ac_room_images.length">
            <h5 class="mb-3">Non AC Rooms</h5>
            <div class="row gallery-imgs position-relative">
              <div *ngFor="let url of hallProfile.non_ac_room_images | slice:0:3" class="col-md-4 col-sm-6 pr-0 mb-3">
                <img class="w-100" src="{{url}}" alt="detail page gallery">
              </div>
              <div [ngClass]="hallProfile.non_ac_room_images.length > 3 ? 'd-flex':'d-none'" 
                class="position-absolute overlay-wrap h-100 col-md-4 col-sm-6 pb-3 pr-0 align-items-center justify-content-center">
                <div (click)="openImgGallery('nonac')" 
                  class="overlay-gallery w-100 h-100 d-flex align-items-center justify-content-center">
                  <span>+ {{hallProfile.non_ac_room_images.length - 3}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>



<ng-template #rating>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Rating</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <ngb-rating [(rate)]="currentRate" max=5 class="text-center rate-component"></ngb-rating>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary os-btn-primary" (click)="submitRating()">Save</button>
  </div>
</ng-template>

<!-- The call list modal -->
<div class="modal rating-modal" id="myModal1" *ngIf="showCallListModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header py-1 align-items-center">
        <h5 class="modal-title">Choose phone number</h5>
        <button type="button" class="close-button border-0 m-0" data-dismiss="modal" (click)="closeCallListModal()"><span
            class="close-button-txt">&times;</span></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="text-center">
          <div><a href="tel:{{ phone_number }}">{{phone_number}}</a></div>
          <div><a href="tel:{{ alternate_phone_number }}">{{alternate_phone_number}}</a></div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- The call list modal -->
<div class="modal gallery-modal d-block" *ngIf="openGallery">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="d-flex justify-content-between align-item-center">
        <h5>{{imgGalleryTitle}}</h5>
        <i class="fa fa-times px-2 f-18" aria-hidden="true" (click)="closeGallery()"></i>
      </div>
      <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
    </div>
  </div>
</div>

<ng-template #sharePopTitle>Share</ng-template>
<ng-template #sharePopContent>
  <share-buttons [theme]="'circles-dark'" [include]="sharableSocialMediaPlatforms" [url]="share_link" [show]="5">
  </share-buttons>
</ng-template>