@import "../../../variables.scss";

.e-today{
  span{
   background: none !important;
   border: none !important;
   color: #000 !important;
  }
 
}
.overlay-box1{
  position: relative;
  bottom: 22px;
  right: -65%;
}
.overlay-box {
  position: absolute;
  right: -1%;
  bottom: -37px;
  z-index: 1;

  .search-box {
    @media (max-width: 575px) {
      display: none;
    }
    input {
      padding: 12px;
      border: 1px;
      width: 220px;
      height: 45px;
      border-radius: 8px;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
    }
    i {
      position: absolute;
      top: 15px;
      left: 198px;
      @media (max-width: 575px) {
        margin-left: -8.5%;
      }
    }
  }
  .overlay-box-btn-grp {
    button {
      background: white;
      border-radius: 50%;
      width: 44px;
      height: 44px;
      padding: 11px 0 5px 0;
      margin-left: 20px !important;
    }

    .in-store-btn {
      padding: 11px 4px 7px 0;
    }

    i {
      font-size: 20px;
      color: $color-red;
    }
  }
}
.overlay-box-btn-grp {
  button {
    @media (max-width: 575px) {
      display: none;
    }
    @media (min-width: 576px) {
      display: block;
    }
    background: white;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    padding: 11px 0 5px 0;
  }

  .in-store-btn {
    padding: 11px 4px 7px 0;
  }

  i {
    font-size: 20px;
    color: $color-red;
  }
}
.e-focused-date{
  span{
    background: none !important;
   }
}
.special{
  span{
   background: none;
   border: none;
   color: #fff !important;
   height: 28px !important;
   line-height: 30px !important;
   width: 25px !important;
  }
 border: 1px solid $color-red !important;
 box-shadow: inset 0 0 0 2px #fff !important;
 color: #fff;
  background-color: $color-red !important;
    border-radius: 50%;
    opacity: 1 !important;
    font-size: 13px;
}

.search-modal {
  display: block;

  .modal-dialog {
    position: relative;
    z-index: 2;
    padding: 0 !important;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    .modal-content {
      height: auto;
      min-height: 100%;
      border: 0 none;
      border-radius: 0;

      .modal-header {
        width: 100%;
        height: 50px;
        margin: 0px;
        padding: 0px;

        .modal-title {
          font-size: 18px;
          margin: 10px 20px;
          color: black;
        }

        .close-button {
          background-color: white;

          .close-button-txt {
            color: black;
            font-size: 30px;
            background-color: white;
            margin-right: 16px;
          }
        }
      }
    }
  }

  .searchbox {
    background: #f5f5f5;
    color: black;
    z-index: 0;
  }

  .search-results {
    position: relative;
    width: 90%;

    ul {
      cursor: pointer;
      list-style: none;
      padding-left: 0px;

      .search-result-record {
        padding: 8px;
        padding-left: 12px;

        &:hover {
          background: $header-search-border;
        }
      }
    }

    border: 2px solid $header-search-border;
    border-top: none;
    background: #fff;
  }

  .btn-primary {
    color: #605b5b;
    background-color: #ebebeb;
    border-color: #ebebeb;
    border-radius: 0 30px 30px 0;
  }

  @media (min-width: 576px) {
    display: none;
  }
}

.e-footer-container{
  display: none;
}

.e-today{
  background: none !important;
  border: none !important;
  color: #000 !important;
}

 .special{
   .eday{
    color: #fff !important;

   }
  border: 1px solid  $color-red !important;
  box-shadow: inset 0 0 0 2px #fff !important;
  color: #fff;
   background-color:  $color-red !important;
     border-radius: 50%;
     opacity: 1 !important;
 }

.detail-page-container {
  .banner-img {
    height: 480px;
    object-fit: cover;

    @media (max-width: 575px) {
      height: 200px;
    }

    @media (min-width: 576px) and (max-width: 767px) {
      height: 300px;
    }

    @media (min-width: 768px) and (max-width: 1280px) {
      height: 400px;
    }
  }

  .call {
    width: 34px;

    a:link {
      text-decoration: none;
      color: inherit;
    }

    a {
      color: #212529;
    }

    a:hover {
      text-decoration: none;
      color: inherit;
    }
  }

  .details-right {
    .mobile-custom-view {
      padding: 8px 10px;
      border-top: 1px solid $header-search-border;
      border-bottom: 1px solid $header-search-border;
      margin-top: 10px;
      justify-content: space-around;

      img,
      span {
        display: block;
      }

      span {
        line-height: 1.3;
        font-size: 13px;
      }

      .seperator {
        border-right: 1px solid $header-search-border;
        height: 20px;
        position: relative;
        top: 6px;
      }

      &.mobile-detail-footer {
        cursor: pointer;
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
        background-color: $color-white;

        img {
          position: relative;
          left: 10px;
        }

        span {
          font-size: 12px;
        }
      }
    }

    .loc-time {
      width: 15px;
      height: 15px;
      vertical-align: sub;
    }

    .status {
      color: $color-teal;
    }

    .details-offers {
      .card {
        width: 250px;
        cursor: pointer;

        .card-title {
          color: $card-grey-content;
        }

        .card-content {
          color: $card-grey-content;
          font-size: 0.8rem;
        }

        .offer-code {
          font-size: 0.85rem;
        }
      }

      .validity-wrapper {
        background-color: #ffcc66;

        .validity {
          padding: 2px;
          color: white;
          font-size: 0.8rem;
        }

        .terms {
          padding: 2px;
          margin-top: 8px;
          color: #666666;
          font-size: 0.5rem;
        }
      }
    }
    .details-additional-offers {

      padding-left: 5%;
      padding-right: 5%;


      .additional-offer-header {
        width: 100%;
        padding: 0px 10px;

        @media (min-width: 768px) {
          height: 60px;
          margin-bottom: 10px;
          margin-top: 10px;
          object-fit: contain;
        }

        @media (max-width: 767px) {
          height: 50px;
          margin-top: 10px;
          object-fit: contain;
        }
      }

      .additional-offers-wrapper {
        padding: 0px;

        @media (min-width: 768px) {
          margin-left: 12%;
          margin-right: 12%;
        }

        .offer-card {
          cursor: pointer;
          display: inline-block;

          @media (min-width: 768px) {
            width: 25%;
            margin-bottom: 1%;

            .card-img-top {
              height: 110px;
              object-fit: contain;
            }

          }

          @media (max-width: 767px) {
            width: 30%;

            .card-img-top {
              height: 100px;
              object-fit: contain;
              padding: 0px;
            }
          }

        }

        .buy-more {
          @media (max-width: 767px) {
            height: 100px;
            object-fit: contain;
          }

          @media (min-width: 768px) {
            height: 155px;
            object-fit: contain;
          }
        }
      }
    }

    .offer {
      font-size: 0.7rem;
      color: $product-offer;
      text-decoration: line-through;
    }

    .offer-per {
      font-size: 0.7rem;
      color: $color-teal;
    }

    .details-service-offered {
      .details {
        color: $card-grey-content;
        font-size: 1rem;
      }
    }

    .hall-profile-more-features {
      padding: 18px;

      .more-feature {
        .txt-value-header {
          color: #616161;
          font-size: 14px;
        }
        @media (max-width: 575px) {
          .txt-value-header {
            font-size: 12px !important;
          }
        }
        @media (max-width: 767px) {
          width: 50%;
        }

        @media (min-width: 768px) {
          min-width: 50%;
        }
      }
    }

    .amenity-container {
      .amenity-card {
        width: 100px;

        .amenity-img {
          width: 50px;
          height: 50px;
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }

    .photo-wrapper {
      padding: 0 18px 0 18px;

      .photo-card {
        cursor: pointer;
        width: 31%;

        .card-img-top {
          height: 70px;
        }

        .card-title {
          font-size: 12px;
        }
      }
    }

    .details-payment {
      .payment-wrap {
        img {
          width: 50px;
          height: 35px;
          object-fit: contain;
        }

        span {
          color: $card-grey-content;
          font-size: 1rem;
          line-height: 1;
        }
      }
    }

    .stores-list-container {
      .card {
        .card-img-top {
          height: 200px;
          object-fit: contain;
        }

        .likes {
          position: absolute;
          right: 0;
          padding: 5px 10px;
          background-color: $body-color;
          opacity: 0.7;
          color: $color-white;
          border-radius: 0 3px 0 5px;

          img {
            width: 20px;
            height: 20px;
          }
        }

        .card-body {
          padding: 0.6rem 0;

          .price {
            font-weight: 500;
          }

          .discount,
          .offer {
            font-size: 0.8rem;
          }

          .discount {
            text-decoration: line-through;
            color: $product-offer;
          }

          .offer {
            color: $color-teal;
          }
        }
      }
    }

    .details-rating {
      color: $card-grey-content;
      h5 {
        color: black
      }
      .rating-left {
        .total-rating {
          margin: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          @media (max-width: 767px) {
            position: static;
            top: 5;
            left: 50%;
            transform: none;
          }

          .total {
            font-size: 1.5rem;
          }
        }
      }

      .inline-rating {
        >div {
          margin-right: 10px;
        }

        .rate-left {
          width: 20%;

          @media (min-width: 768px) and (max-width: 991px) {
            width: 30%;
          }
        }

        .rate-right {
          width: 80%;

          @media (min-width: 768px) and (max-width: 991px) {
            width: 70%;
          }
        }
      }

      .rating-middle {
        .progress {
          height: 5px;
          margin-top: 10px;

          .progress-bar {
            //width: 100px;
          }
        }
      }

      .rating-right {
        button {
          border-radius: 25px;
          border-color: $product-offer;
        }
      }
    }
  }

  .details-menu {
    .menu-card {
      width: 30%;
      display: inline-block;
      // padding: 0 10px;
      padding-right: 15px;

      .card-img-top {
        height: 300px;
        object-fit: contain;
      }

      @media (max-width: 767px) {
        width: 50%;
        .card-img-top {
          height: 150px;
          object-fit: contain;
        }
      }
    }
  }

  .details-left {
    .relative {
      position: relative;
    }

    .image-size {
      width: 16px;
      height: 16px;
      position: absolute;
      top: 7px;
    }

    .side-card {
      .fa {
        color: $color-red;
        font-size: 17px;
      }

      .left-image {
        width: 20px;
        height: 20px;
        //position: relative;
      }

      .right-block {
        width: calc(100% - 20px);
      }

      .rating,
      .address {
        border-bottom: 1px solid $header-search-border;
      }
    }

    .subscriber {
      background-color: $color-red;
      color: $color-white;
      border-radius: 3px;
    }
  }

  .loc-area {
    @media (max-width:575px) {
      
      display: block;
    }
    @media (min-width:576px) {
      display: none;
    }
  }
  
  @media (max-width: 575px) {
    .outline-overview-mobile {
      .txt-value-header {
        color: #616161;
        font-size: 12px;
      }
    }
  }
  @media (max-width: 767px) {
    .outline-overview {
      display: none;
    }

    .outline-overview-mobile {
      .txt-value-header {
        color: #616161;
      }

      .txt-value {
        font-weight: 600;
      }

      display: block;
      padding: 18px;

      .row-1 {
        display: block;

        .capacity {
          display: inline-block;
          width: 50%;
        }

        .dining-hall-capacity {
          display: inline-block;
          width: 50%;

        }
      }

      .row-2 {
        display: block;
        margin-top: 20px;

        .ac-rooms {
          display: inline-block;
          width: 50%;
        }

        .non-ac-rooms {
          display: inline-block;
          width: 50%;
        }

      }

      .row-3 {
        display: block;
        margin-top: 20px;

        .bike-parking {
          display: inline-block;
          width: 50%;
        }

        .car-parking {
          display: inline-block;
          width: 50%;
        }
      }
    }
  }

  @media (min-width: 768px) {
    .outline-overview-mobile {
      display: none;
    }

    .outline-overview {
      .txt-value-header {
        color: #616161;
      }

      .txt-value {
        font-weight: 600;
      }

      display: block;
      padding: 18px;

      .row-1l {
        display: block;
        margin-bottom: 20px;

        // .capacity {
        //   display: inline-block;
        //   width: 25%;
        // }

        // .dining-hall-capacity {
        //   display: inline-block;
        //   width: 25%;
        //   margin-left: 50px;
        // }

        // .ac-rooms {
        //   display: inline-block;
        //   width: 25%;
        //   margin-left: 50px;
        // }
      }

      .row-2l {
        display: block;
        margin-bottom: 20px;

        // .non-ac-rooms {
        //   display: inline-block;
        //   width: 25%;
        // }

        // .bike-parking {
        //   display: inline-block;
        //   width: 25%;
        //   margin-left: 50px;
        // }

        // .car-parking {
        //   display: inline-block;
        //   width: 25%;
        //   margin-left: 50px;
        // }
      }
    }
  }

  .rate-store {
    @media (max-width: 575px) {
      display: none;
    }
  }
}

.giveMeEllipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px;
  height: 32px;
  -webkit-line-clamp: 2;
  /* Write the number of
                        lines you want to be
                        displayed */
  -webkit-box-orient: vertical;
}

.rating-modal {
  display: block;
.btn-primary {
  background-color: $color-red;
  color: $color-white;
  box-shadow: none;
  border: 1px solid $color-red;
}
.close-button {   
     
  .close-button-txt {
    color: black;
    font-size: 24px;
  }
}
.modal-body {
  width: 100%;
.rate-component {
  margin: 10px;
  align-content: center;
  :focus {
    outline: thin dotted !important;
  }
}
}

}

.rate-btn {
  width: auto;
  padding: 3px 15px;
  min-width: 120px;
}

.main-container-width {
  ::ng-deep {
    .mat-tab-header {
      display: none;
    }
  }
  &.web-view {
    @media screen and (min-width: 576px){
      min-width: 100% !important;
      // margin: 0 -15px;
      .header-banner {
        background-color: #1e1f26;
        color:white;
          .banner-img {
            height: 120px;
            object-fit: cover;
          }
          .address-header {
            max-width: 270px;
          }
          .review-section {
            font-size: 11px;
          }
          .review-icon,.product-icon,.timing-icon {
            width: 20px;
          }
          .f-12 {
            font-size: 12px;
            color: #b9babe;
          }
      }
      .details-offers {
        &.web-view {
          .card-body {
            padding: 12px !important;
            height:90px;
            background-color: white;
            .giveMeEllipsis {
              margin: 0;
              height: 100%;
              white-space: normal;
              color: #333;
            }
          }
          .validity-wrapper {
            padding: 7px;
            background-color: #ffdd3c !important;
            .validity {
              color: #333 !important;
              font-size: 10px !important;
            }
            .terms_and_cond {
              font-size: 10px;
              float: right;
              color: #333;
              padding: 2px;
            }
          }
        }
      }
      .details-menu {
        &.web-view {
          .menu-card {
            width: 280px;
            .card-img-top {
              height: 230px;
            }
          }
        }
      }
      .details-service-offered {
        &.web-view {
          .service-wrapper{
            border: 1px solid #dee2e6;
            border-radius: 7px;
            .item {
              border-bottom: 1px solid #dee2e6;
              &:last-child {
                border:none;
              }
              font-size: 14px;
              .details {
                color: #333 !important;
                font-size: 14px !important;
              }
            }
          }
        }
      }
      .details-rating {
        h5 {
          color: black !important;
        }
        .rate-stor-btn {
          width: auto;
          padding: 3px 15px;
          min-width: 120px;
        }
      }
      .font-sm {
        font-size: 21px;
        font-weight: 500 !important;
      }
      ::ng-deep {
        .mat-primary.mat-tab-group {
          margin-left: -15px;
          margin-right: -15px
        }
        .mat-tab-header {
        display: flex;
        border-bottom: 0;
        padding-top: 40px;
        margin-bottom: 35px;
        background-color: #f6f8fa;
        .mat-tab-label-container {
          max-width: 90%;
          margin: auto;
          .mat-tab-label-active {
            background-color: white;
          }
          .mat-tab-label {
            color: #333;
            opacity: 1;
            height: 36px;
            padding: 0 12px;
            min-width: 115px;
          }
        }
        .mat-ink-bar {
          background-color: #ef5350;
        }

        }
      }
      .ratings-section {
        font-weight: bold;
        .font-lg {
          font-size: 25px;
          font-weight: 500;
        }
        color: #ef5350;
      }
      .payment-section {
        img {
          width: 50px;
          height: 35px;
          object-fit: contain;
        }
      }
      .phone-ico {
        width: 16px;
        vertical-align: text-top;
        margin-right: 6px;
      }
      .address-details {
        max-width: 255px;
        line-height: 20px;
        font-size: 12px;
        color: #666;
        .fa-star {
          margin-left: 6px;
          font-size: 18px;
        }
      }
      .about-us-section,.working-hrs-section {
        font-size: 12px;
        p {
          color: #666;
        }
      }
      .hall-details-container-width {
        width: 90%;
        margin:auto;
      }
      .background-light-blue {
        background-color: #f6f8fa;
      }
      
      .gallery-imgs {
        img {
          height: 220px;
          object-fit: cover;
          border-radius: 5px;
        }
      }
    }
    @media screen and (min-width: 576px) {
      ::ng-deep {
        .mat-tab-header {
        .mat-tab-label-container {
          max-width: 90%;
          margin: auto;
          }
        }
      }
    }
    @media screen and (min-width: 768px) {
      .more-feature {
        .txt-value-header {
          font-size: 18px !important;
          margin-bottom: 10px;
        }
        .loc-time {
          width: 20px !important;
          height: 20px !important;
        }
      }
       
    }
    @media screen and (min-width: 992px) {
      margin-top: -20px;
      .hall-details-container-width {
        width: 85%;
      }
      .amenity-card {
        width: auto !important;
        .amenities-label {
          font-size: 18px;
          font-weight: 500;
        }
      }
      ::ng-deep {
        .mat-tab-header {
        .mat-tab-label-container {
          max-width: 85%;
          margin: auto;
          }
        }
      }
    }
    @media screen and (min-width: 1200px) {
      .hall-details-container-width {
        width: 75%
      }
        ::ng-deep {
          .mat-tab-header {
            .mat-tab-label-container {
          max-width: 75%;
          margin: auto;
          }
        }
      }
    }
  }
}

.thumbnails {
  overflow-x: hidden;
  margin-top: -10px;
  @media screen and (min-width: 576px){
    .thumbnails-imgs {
      min-width: 130px;
      max-width: 130px;
      height: 100px;
    }
  }
  img {
    border-radius: 5px;
  }
}
::ng-deep {
  .ngx-gallery-arrow-wrapper {
    .fa-arrow-circle-right:before {
      content: "\f054";
    }
    .fa-arrow-circle-left:before {
      content: "\f053";
    }
  .fa-arrow-circle-right,.fa-arrow-circle-left {
    line-height: 50px;
    width: 20px;
    height: 50px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: rgba(0,0,0, 0.4);
      box-shadow: 0px 0px 8px #888888;
      color: white;
      font-size: 15px;
      font-weight: 100;
  }
  }
  ngx-gallery-thumbnails {
    .ngx-gallery-icon {
      display: none !important;
    }
    &:hover {
      .ngx-gallery-icon {
        display: block !important;
      }
    }
  }
}
.gallery-main-img {
  @media screen and (min-width: 576px){
    height: 350px;
    img {
      border-radius: 5px;
    }
  }
  &:last-child {
    // margin-right: 0 !important;
  } 
}
.gallery-modal {
  background-color: rgba(0,0,0,0.6);
  overflow-y:auto !important ;
  .modal-dialog {
    @media screen and (min-width: 768px) {
      max-width: 620px;
      
    }
    .modal-content {
      padding: 10px;
    }
  }
}
::ng-deep {
.ngx-gallery-image {
  border-radius: 5px;
}
.ngx-gallery-thumbnail {
  border-radius: 5px;
} 
.ngx-gallery-disabled {
  opacity: 0 !important;
}
.e-calendar .e-content.e-month td, .e-bigger.e-small .e-calendar .e-content.e-month td {
  pointer-events: none;
    -ms-touch-action: none;
    touch-action: none;
}
.mat-form-field-flex {
  border: 1px solid #cacaca;
    border-radius: 4px;
    flex-direction: row-reverse;
}
.mat-form-field-suffix .mat-icon-button {
  padding-left: 6px;
}
.mat-form-field-underline {
  display: none !important;
}
.mat-form-field-infix {
  border:none !important;
  padding-left: 8px !important;
  overflow: hidden;
}
.mat-form-field-label-wrapper {
  left: 8px !important;
}
.mat-form-field-appearance-legacy .mat-form-field-label {
  color: rgba(0,0,0,0.9)
}
}
.f-18{
  font-size: 18px;
}
.overlay-gallery {
  background-color: rgba(0,0,0,0.6);
  color: white;
  font-size: 20px;
  font-weight: 500;
  border-radius: 5px;
}
.overlay-wrap {
  right: 0;
}
.btn-footer {
  padding: 5px 15px;
  background-color: #ef5350;
  border-radius: 50px;
  min-width: 150px;
  color: white;
  font-size: 14px;
  border: 1px solid #ef5350;
}
.enquiry-container {
  max-width: 330px;
  width:100%;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.15);
  border-radius: 5px;
  position: absolute;
  top: 3px;
  @media screen and (max-width: 575px) {
    margin-bottom: 20px;
    margin-left: 2px;
  }
  @media screen and (max-width: 767px) {
    position: relative;
   }
   
   @media screen and (min-width: 768px){
    right: 6%
  }
   @media screen and (min-width: 992px){
    right: 13.5%
  }
  
   
}
.timing {
  ::ng-deep {
    .mat-form-field-appearance-legacy .mat-form-field-label {
      font-weight: bold;
    }
  }
}
textarea {
  resize: none !important;
}
.availibility-indicator {
  width: 20px;
  height: 20px;
  background: $color-red;
  border-radius: 50%;
}
.f-16 {
  font-size: 16px;
}
// .col-sm-12.details-right {
//   @media screen and (max-width: 575px) {
//     padding: 0
//   }
// }
.payment-section {
  ::ng-deep {
    .right-arrow-btn,.left-arrow-btn {
      top: 6px !important;
    }
  }
}
.border-bottom {
@media screen and (min-width:576px) {
  border: none !important;
}
}
.toaster-msg {
  max-width: 250px;
  position: absolute;
  top: 0;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
  z-index: 1;
  width: 100%;
  text-align: center;
  right: 0;
  left: 0;
  bottom: 0;
  max-height: 36px;
  margin: auto;
}
::ng-deep {
  .mat-tab-body-wrapper {
    @media screen and (max-width: 575px) {
      margin: 0 -15px;
    }
  }
}
.detail-page-container {
  @media screen and (max-width: 575px) {
    width: 97% !important;
  }
}