<div class="detail-page-container mb-md-4 mb-3 store-page-new" *ngIf="mobileView==true">
    <div class="store-page-header row">
      <div class="main-container-width">
        <div *ngIf="businessProfile" class="row">
          <!-- mobile view -->
          <div class="col-sm-12 mb-3 d-sm-none">
            <carousel class="detail-page-container__carousel" *ngIf="imageUrls?.length; else banner">
              <slide *ngFor="let url of imageUrls">
                <a target="_self">
                  <img class="banner-img detail-page-container__carousel--img" src="{{url}}" alt="detail page banner">
                </a>
              </slide>
            </carousel>
            <ng-template #banner>
              <img src="{{businessProfile.primary_image_url}}" alt="detail page banner" class="w-100 banner-img" />
            </ng-template>
          </div>
          <!-- mobile view -->
          <!-- web view -->
          <div class="d-none d-sm-block col-sm-12 header-banner py-3">
            <div class="row mx-0 py-3">
              <div class="col-sm-4 col-lg-3">
                <img src="{{businessProfile.primary_image_url}}" alt="detail page banner" class="w-100 banner-img">
              </div>
              <div class="col-sm-8 col-lg-9">
                <h5>{{ businessProfile.business_name }}</h5>
                <p class="mb-2 f-12">{{ businessProfile.business_desc }}</p>
                <p class="mb-3 loc-area">
                  <img src="../../../assets/location.svg" class="d-none d-sm-inline-block loc-time mr-1" />
                  <span class="f-12 address-header" *ngIf="businessProfile.business_address">
                    {{ businessProfile.business_address?.house_details }}
                  </span>
                </p>
                <div class="review-section mb-2">
                  <div class="d-flex">
                    <div class="text-center d-flex align-items-center pr-4">
                      <img src="../../../assets/review-white.png" class="loc-time review-icon" />
                      <div class="px-2">
                        <span>{{total_rating}}</span> <br> <span class="f-12">({{businessProfile.number_of_feedbacks}}
                          reviews)</span>
                      </div>
                    </div>
                    <div class="text-center d-flex align-items-center pr-4">
                      <img src="../../../assets/clock-white.png" class="loc-time timing-icon" />
                      <div class="px-2">
                        <span class="status">{{ businessProfile.is_open }}</span> <br>
                        <span class="f-12">{{businessProfile.timings}}</span>
                      </div>
                    </div>
                    <div class="text-center d-flex align-items-center pr-4" *ngIf="businessProfile.number_of_products">
                      <img src="../../../assets/product-white.png" class="loc-time product-icon" />
                      <div class="px-2">
                        <span>{{businessProfile.number_of_products}}</span>
                        <br> <span class="f-12">Products</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- web view -->
          <div class="overlay-box d-inline" *ngIf="isProdsAvailable">
            <div class="search-box d-sm-none d-md-inline mr-3">
              <input type="text" [(ngModel)]="searchTxt" id="txtSearch" (keyup)="handleSearchChange($event)"
                placeholder="Search In-Store Products" class="header-input" />
              <i class="fa fa-search" aria-hidden="true"></i>
              <div class="search-results" *ngIf="(searchResultsList?.length >0)">
                <ul class="results-list">
                  <li class="search-result-record" *ngFor="let result of searchResultsList">
                    <a class="browse-wrapper products-wrapper"
                      [href]="baseUrl + '/products/' + city + '/' + 'Business Search' + '/' + business_id + '/' + business_name + '/' + result.product_category + '/' + result.keyword + '/' + '1'"
                      target="_self">
                      {{result.keyword}}
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="d-inline overlay-box-btn-grp">
              <button class="btn shadow mx-1 d-inline-block" [ngClass]="{'animated tada' : animate}" *ngIf="!isSubscribed"
                title="Subscribe" (click)="onSubscribe()">
                <span><i class="fa fa-heart" aria-hidden="true"></i></span>
              </button>
              <button class="btn shadow mx-1 mx-sm-3 share-btn d-inline-block" title="Share"
                [ngbPopover]="sharePopContent" [popoverTitle]="sharePopTitle" [autoClose]="'outside'">
                <span><i class="fa fa-share-alt" aria-hidden="true"></i></span>
              </button>
              <button class="btn shadow mx-1 share-btn d-inline-block position-relative" *ngIf="businessProfile?.oneshell_home_delivery">
                <store-cart-button class="in-store-btn" title="In-Store Cart" [businessId]="business_id"
                  [businessCity]="business_city" placement="left">
                </store-cart-button>
                <div class="cart-shadow" [ngClass]="contextData && contextData.isUserLoggedIn ? 'd-none' : 'd-inline-block' " (click)= "checkUserLogin()">
  
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <mat-tab-group [(selectedIndex)]="tabNo">
      <mat-tab label="Home">
        <div class="store-page-content">
          <div class="row storepage-wrapper">
            <div class="col-md-4 col-lg-3 d-none details-left mb-3" *ngIf="businessProfile">
              <h5 class="subscriber text-uppercase mb-1 p-2">
                {{ businessProfile.number_of_subscribers }} subscribers
              </h5>
              <div class="side-card border">
                <div class="rating px-1 py-2">
                  <span *ngFor="let item of ' '.repeat(total_rating_fixed).split('')">
                    <span class="fa fa-star"></span>
                  </span>
                  <span *ngIf="total_rating_float">
                    <span class="fa fa-star-half-o"></span>
                  </span>
                  <span *ngFor="let item of ' '.repeat(total_rating_total).split('')">
                    <span class="fa fa-star-o"></span>
                  </span>
                  <span class="ml-2">{{ total_rating }} Ratings</span>
                </div>
                <div class="address px-1 py-2">
                  <div class="relative">
                    <div class="d-inline-block left-image">
                      <img src="../../../assets/locate.svg" class="image-size" alt="Locate" />
                    </div>
                    <div class="d-inline-block right-block" *ngIf="businessProfile.business_address">
                      {{ businessProfile.business_address?.house_details }}
                    </div>
                  </div>
                  <div class="relative">
                    <div class="d-inline-block left-image">
                      <img src="../../../assets/call.svg" class="image-size" alt="Locate" />
                    </div>
                    <div class="d-inline-block right-block">
                      {{ businessProfile.phone_number }}
                    </div>
                  </div>
                </div>
                <div class="home-delivery px-1 py-2" *ngIf="businessProfile.home_delivery">
                  <div class="relative">
                    <div class="d-inline-block left-image">
                      <img src="../../../assets/locate.svg" class="image-size" alt="Locate" />
                    </div>
                    <div class="d-inline-block right-block">
                      Home Delivery Available
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="details-right col-12">
              <div class="details-header mb-1 mb-sm-4 d-sm-none" *ngIf="businessProfile">
                <h4 class="mb-1">{{ businessProfile.business_name }}</h4>
                <h6 class="mb-2">{{ businessProfile.business_desc }}</h6>
                <p class="mb-0 loc-area">
                  <img src="../../../assets/location.svg" class="mr-1 loc-time" />
                  <span class="color-grey" *ngIf="businessProfile.business_address">
                    {{ businessProfile.business_address?.house_details }}
                  </span>
                </p>
                <p class="mb-0">
                  <img src="../../../assets/time.svg" class="mr-3 loc-time" />
                  <span class="">{{businessProfile.timings}} , <span
                      class="status">{{ businessProfile.is_open }}</span></span>
                </p>
                <div class="d-block d-sm-none mobile-custom-view d-flex">
                  <div class="text-center">
                    <img src="../../../assets/star.png" class="loc-time" />
                    <span>{{total_rating}}</span>
                  </div>
                  <div class="seperator"></div>
                  <div class="text-center">
                    <img src="../../../assets/mobile_offer.png" class="loc-time" />
                    <span>{{businessProfile.number_of_offers}}</span>
                  </div>
                  <div class="seperator"></div>
                  <div class="text-center">
                    <img src="../../../assets/product.png" class="loc-time" />
                    <span>{{businessProfile.number_of_products}}</span>
                  </div>
                  <div class="seperator"></div>
                  <div class="text-center">
                    <img src="../../../assets/contact.png" class="loc-time" />
                    <span>{{businessProfile.number_of_subscribers}}</span>
                  </div>
                  <div class="seperator"></div>
                  <div class="text-center">
                    <img src="../../../assets/feedback.png" class="loc-time" />
                    <span>{{businessProfile.number_of_feedbacks}}</span>
                  </div>
                </div>
              </div>
              <div class="row" *ngIf="businessCourseCount">
                <div class="col-12">
                  <div class="main-container-width">
                    <div class="course-offers mb-4" *ngIf="businessCourseCount">
                      <h5 class="mb-3">Courses Offers</h5>
                      <div class="course-wrapper">
                        <div class="row">
                          <div class="col-12">
                            <table class="table table-bordered">
                              <thead class="thead bg-danger text-white">
                                <tr>
                                  <th>Course</th>
                                  <th>Duration</th>
                                  <th>Fees</th>
                                  <th>Timings</th>
                                  <th>Working Days</th>
                                  <th>Availablity</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let item of businessCourse">
                                  <td>{{ item.course_name }}</td>
                                  <td>{{ item.course_duration }}</td>
                                  <td *ngIf="item.course_fee > 0">Rs. {{ item.course_fee }}</td>
                                  <td *ngIf="item.course_fee == 0">NA</td>
                                  <td>
                                    {{ item.batch_timings[0].start_time }} -
                                    {{ item.batch_timings[0].end_time }}
                                  </td>
                                  <td>
                                    {{ item.batch_timings[0].days[0] }} -
                                    {{ item.batch_timings[0].days[1] }}
                                  </td>
                                  <td>{{ item.batch_timings[0].terms_and_conditions }}</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
  
              <!-- <div class="details-coupons mb-4">
                    <h5 class="mb-3">Coupons</h5>
                    <div class="coupon-wrapper">
                      <div class="row">
                        <div class="col-md-4 pr-0 mb-2">
                          <div class="card">
                            <div class="card-body p-2">
                              <h5 class="card-title">Hand Wash</h5>
                              <p class="card-content">Avail Avail Avail wrerweec</p>
                              <p class="offer-code mb-2">OASF234</p>
                            </div>
                            <div class="validity-wrapper p-2 clearfix">
                              <span class="float-left validity"
                                >Validity: <span>31-05-2020</span></span
                              >
                              <span class="float-right terms">T&C Apply</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> -->
  
              <!-- <div class="col-12" *ngIf="businessProfile?.oneshell_home_delivery">
                    <div class="main-container-width" style="padding-bottom: 16px;">
                      <div class="mobile-delivery-container"
                        [ngClass]="!isOffline && businessProfile?.oneshell_home_delivery ? 'available':'not-available'"> <img
                          class="notdeliveriimage icon" *ngIf="isOffline" src="assets/images/not delivering.png"> <img
                          class="deliveriimage icon" *ngIf="!isOffline" src="assets/images/Delivering.png"> <span
                          class="loc-name">{{deliverystatus}} <strong>{{userAddress}}</strong></span>
                        <a href="javaScript:void(0);" class="location-open"
                          (click)="openLocationModal()">{{deliverstatusaction}}</a> </div>
                    </div>
              </div> -->
  
           
             <!-- additional offers -->
              <!-- mobile view -->
              <!-- <div class="details-additional-offers border rounded text-center mb-4 d-sm-none"
                *ngIf="additionalBrowseList?.length > 1">
                <img *ngIf="isGrocery" class="additional-offer-header mx-auto"
                  src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/web_assets%2Fgrocery_additional_offers.png?alt=media&token=5800d7d3-26bf-47a4-a793-e5719d93e25d" />
                <img *ngIf="isFashion" class="additional-offer-header mx-auto"
                  src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/web_assets%2Ffashion_additional_browse.png?alt=media&token=18e08cfe-9082-47ad-99ee-e69be9abfce4"
                  alt="Browse By Offers" />
                <img *ngIf="isOther" class="additional-offer-header mx-auto"
                  src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/web_assets%2Fother_additional_browse.png?alt=media&token=2e612ea3-e098-4590-a83f-7282b9aaec7d"
                  alt="Browse By Offers" />
                <br>
                <div class="additional-offers-wrapper m-0 p-0">
                  <div class="offer-card" *ngFor="let item of additionalBrowseList">
                    <a target="_self"
                      [href]="baseUrl + '/products/o/c/' + city + '/' + 'Business Offer Products' + '/' + business_id + '/' + business_city + '/' + item.name + '/' + item.display_name + '/' + item.first_category + '/' + 0 + '/' + '1'">
                      <img class="card-img-top mb-2" src="{{item.image_url}}" alt="{{item?.name}} image" />
                    </a>
                  </div>
                  <a *ngIf="additionalBrowseBuyMore" target="_self"
                    [href]="baseUrl + '/products/o/c/' + city + '/' + 'Business Offer Products' + '/' + business_id + '/' + business_city + '/' + additionalBrowseBuyMore.name + '/' + additionalBrowseBuyMore.display_name + '/' + additionalBrowseBuyMore.first_category + '/' + 0 + '/' + '1'">
                    <img *ngIf="additionalBrowseBuyMore" class="card-img-top mb-2 p-0 buy-more"
                      src="{{additionalBrowseBuyMore.image_url}}" />
                  </a>
                </div>
              </div> -->
              <!-- mobile view -->
              <!-- additional offers -->
  
              <div class="row" *ngIf="hotelServicesList && hotelServicesList.length">
                <div class="col-12">
                  <div class="main-container-width">
                    <div class="hotel-services-list mb-4 mt-3" *ngIf="hotelServicesList && hotelServicesList.length">
                      <h5 class="hotel-services-list--title mb-3">Hotel Services</h5>
                      <div class="hotel-services-list--web-view row">
                        <div class="col-lg-6 col-sm-12 card-div" (click)="showOffersModal(hotelServicesTemplate)"
                          *ngFor="let service of hotelServicesList">
                          <div class="hotel-services-list__media media">
                            <img [src]="service.image_url" class="align-self-center mr-3 img-fluid" [alt]="service.name">
                            <div class="hotel-services-list__media-body media-body">
                              <h5 class="hotel-services-list__media-body--service-name mt-1">{{service.name}}</h5>
                              <a (click)="showOffersModal(hotelServicesTemplate)"
                                class="hotel-services-list__media-body--service-description mb-0">
                                {{moreDetails}}
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="view-more text-center col">
                          <a (click)="showOffersModal(hotelServicesTemplate)" class="view-more-link mb-0">
                            {{hotelServicesList.length - 2 + " " +moreDetails}}
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
  
  
  
            
  
              <div class="row" *ngIf="productsList?.length">
                <div class="col-12 trending-prods"
                  [ngClass]="{'grocery-bg':isGrocery,'fashion-bg':isFashion,'other-bg':isOther}">
                  <div class="main-container-width">
                    <div class="trending-details web-view">
                      <div class="details-product stores-list-container mb-0" *ngIf="productsList?.length">
                        <div class="row">
                          <div class="col-12 p-sm-0 padding-0">
                            <div class="mb-sm-3 mb-0 pb-0 w-75 mx-auto mobile-w-75">
                              <h5 class="mb-3">Trending Products
                                <div class=" d-inline-block d-sm-none float-right">
                                  <a [href]="baseUrl + '/products/t/' + city + '/' + 'Business Trending' + '/' + business_id + '/' + business_city + '/' + 'Trending Products/1'"
                                    target="_self">
                                    <button type="button" class="btn view-more-btn text-center">
                                      <span>View More</span>
                                    </button>
                                  </a>
                                </div>
                              </h5>
                              <div class="d-flex flex-wrap d-sm-none mobile-home-featured-products">
  
                                <div class="product-card d-inline-block pt-2 pt-sm-0 pb-2 pb-sm-0"
                                  *ngFor="let item of productsList | slice:0:4">
                                  <a class="card border-0" target="_self"
                                    [href]="baseUrl + '/product/' + item.business_city + '/' + 'Business' + '/' + item.business_id + '/' + item.category_level3.name + '/' + item.product_id + '/' + item.urlProductName">
                                    <div class="parent">
                                      <img class="card-img-top rounded" mat-card-image [src]="item.image_url"
                                        alt="Product image">
                                      <div class="overlay rounded" *ngIf="item.is_out_of_stock">
                                        <img class="sold-out-card-img-top" src="assets/images/sold_out.png">
                                      </div>
                                    </div>
                                    <div class="card-body pl-0 pr-0 pt-2 pb-sm-2 pb-0 text-center text-sm-left">
                                      <div class="card-title mb-0 ellipsis" title="{{ item?.name }}">
                                        {{ item?.name }}
                                      </div>
                                      <div class="card-text"
                                        *ngIf="item.actual_price > 0 && item.offer_price > 0 &&  item.actual_discount != 0">
                                        &#8377;{{ item.offer_price }}
                                        <span class="offer mr-1">{{ item.actual_price }}</span>
                                        <span class="offer-per">({{ item.actual_discount }}% off)</span>
                                      </div>
                                      <div class="card-text" *ngIf="item.actual_price > 0 && item.offer_price == 0">
                                        &#8377;{{ item?.actual_price }}
                                      </div>
                                      <div class="card-text" *ngIf="item.actual_price == 0 && item.offer_price == 0">
                                        NA
                                      </div>
                                      <div class="card-text" *ngIf="item.minimum_quantity > 0">
                                        <b>Min Qty:</b> {{item?.minimum_quantity}} @ Wholesale
                                      </div>
                                      <div class="card-footer"
                                        *ngIf="!item.is_out_of_stock && item.oneshell_home_delivery">
                                        <add-to-cart-control [product]="item" (quantityChanged)="onQuantityChange($event)"
                                          [isDisabled]="isOffline">
                                        </add-to-cart-control>
                                      </div>
                                    </div>
                                  </a>
                                </div>
  
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
  
                      <div class="details-product-web d-none d-sm-block" *ngIf="productsList?.length">
                        <h5 class="mb-3">Trending Products
                          <div class=" d-inline-block d-none d-sm-block float-right">
                            <a [href]="baseUrl + '/products/t/' + city + '/' + 'Business Trending' + '/' + business_id + '/' + business_city + '/' + 'Trending Products/1'"
                              target="_self">
                              <button type="button" class="btn view-more-btn text-center">
                                <span>View More</span>
                              </button>
                            </a>
                          </div>
                        </h5>
                        <div *ngIf="productsList.length === 10" class="details-product-web-wrapper mb-sm-4 mt-2 row">
                          <div class="pb-sm-0 pt-sm-0 pt-2 pb-2 prod-card mb-sm-3" *ngFor="let item of productsList">
                            <div class="card-wrap">
                              <a class="card border-0" target="_self"
                              [href]="baseUrl + '/product/' + item.business_city + '/' + 'Business' + '/' + item.business_id + '/' + item.category_level3.name + '/' + item.product_id + '/' + item.urlProductName">
                              <div class="parent">
                                <img class="card-img-top rounded" mat-card-image [src]="item.image_url"
                                  alt="Product image">
                                <div class="overlay rounded" *ngIf="item.is_out_of_stock">
                                  <img class="sold-out-card-img-top" src="assets/images/sold_out.png" alt="out of stock">
                                </div>
                              </div>
                            </a>
                            <div class="card-body pl-0 pl-sm-2 pr-0 pr-sm-2 pt-2 pb-sm-2 pb-0 text-center text-sm-left">
                              <div class="card-title mb-0 ellipsis" title="{{ item.name }}">
                                {{ item.name }}
                              </div>
                              <div class="card-text"
                                *ngIf="item.actual_price > 0 && item.offer_price > 0 &&  item.actual_discount != 0">
                                &#8377;{{ item.offer_price }}
                                <span class="offer mr-1">{{ item.actual_price }}</span>
                                <span class="offer-per">({{ item.actual_discount }}% off)</span>
                              </div>
                              <div class="card-text" *ngIf="item.actual_price > 0 && item.offer_price == 0">
                                &#8377;{{ item.actual_price }}
                              </div>
                              <div class="card-text" *ngIf="item.actual_price == 0 && item.offer_price == 0">
                                NA
                              </div>
                              <div class="card-text" *ngIf="item.minimum_quantity > 0">
                                <b>Min Qty:</b> {{item.minimum_quantity}} @ Wholesale
                              </div>
  
                              <div class="card-footer"
                                *ngIf="!item.is_out_of_stock && item.oneshell_home_delivery">
                                <add-to-cart-control [product]="item" (quantityChanged)="onQuantityChange($event)"
                                  [isDisabled]="isOffline">
                                </add-to-cart-control>
                              </div>
                            </div>
                            </div>
                          </div>
                        </div>
                        <div *ngIf="productsList.length < 10" class="details-product-web-wrapper mb-sm-4 mt-2 row">
                          <div class="pb-sm-0 pt-sm-0 pt-2 pb-2 prod-card mb-sm-3" *ngFor="let item of productsList | slice:0:5">
                            <div class="card-wrap">
                              <a class="card border-0" target="_self"
                                [href]="baseUrl + '/product/' + item.business_city + '/' + 'Business' + '/' + item.business_id + '/' + item.category_level3.name + '/' + item.product_id + '/' + item.urlProductName">
                                <div class="parent">
                                  <img class="card-img-top rounded" mat-card-image [src]="item.image_url"
                                    alt="Product image">
                                  <div class="overlay rounded" *ngIf="item.is_out_of_stock">
                                    <img class="sold-out-card-img-top" src="assets/images/sold_out.png" alt="out of stock">
                                  </div>
                                </div>
                              </a>
                              <div class="card-body pl-0 pl-sm-2 pr-0 pr-sm-2 pt-2 pb-sm-2 pb-0 text-center text-sm-left">
                                <div class="card-title mb-0 ellipsis" title="{{ item.name }}">
                                  {{ item.name }}
                                </div>
                                <div class="card-text"
                                  *ngIf="item.actual_price > 0 && item.offer_price > 0 &&  item.actual_discount != 0">
                                  &#8377;{{ item.offer_price }}
                                  <span class="offer mr-1">{{ item.actual_price }}</span>
                                  <span class="offer-per">({{ item.actual_discount }}% off)</span>
                                </div>
                                <div class="card-text" *ngIf="item.actual_price > 0 && item.offer_price == 0">
                                  &#8377;{{ item.actual_price }}
                                </div>
                                <div class="card-text" *ngIf="item.actual_price == 0 && item.offer_price == 0">
                                  NA
                                </div>
                                <div class="card-text" *ngIf="item.minimum_quantity > 0">
                                  <b>Min Qty:</b> {{item.minimum_quantity}} @ Wholesale
                                </div>
  
                                <div class="card-footer"
                                  *ngIf="!item.is_out_of_stock && item.oneshell_home_delivery">
                                  <add-to-cart-control [product]="item" (quantityChanged)="onQuantityChange($event)"
                                    [isDisabled]="isOffline">
                                  </add-to-cart-control>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="row">
                <div class="col-12" *ngIf="businessProfile?.oneshell_home_delivery">
                  <div class="main-container-width" style="padding-bottom: 16px;">
                    <div class="store-delivery-container mb-4"
                      [ngClass]="!isOffline && businessProfile?.oneshell_home_delivery ? 'available':'not-available'"> <img
                        class="notdeliveriimage icon" *ngIf="isOffline" src="assets/images/not delivering.png"> <img
                        class="deliveriimage icon" *ngIf="!isOffline" src="assets/images/Delivering.png"> <span
                        class="loc-name">{{deliverystatus}} <strong>{{userAddress}}</strong></span>
                      <a href="javaScript:void(0);" class="location-open"
                        (click)="openLocationModal()">{{deliverstatusaction}}</a> </div>
                  </div>
                </div>
              </div> -->
  
              <div class="row m_1" *ngIf="menucardCount">
                <div class="col-12">
                  <div class="main-container-width">
                    <div class="details-menu mb-4 web-view">
                      <h5 class="mb-3">Menus</h5>
                      <div class="special-wrapper">
                        <app-horizontal-carousel>
                          <div class="pb-sm-0 pt-sm-0 pt-2 pb-2 menu-card" *ngFor="let item of menuCards">
                            <div class="card border border-0 mb-sm-4">
                              <div>
                                <img class="card-img-top rounded" src="{{item}}" alt="Menu image" />
                              </div>
                            </div>
                          </div>
                        </app-horizontal-carousel>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="row m_2" *ngIf="todaysSpecialCount">
                <div class="col-12">
                  <div class="main-container-width">
                    <div class="details-today-special mb-4" *ngIf="todaysSpecialCount">
                      <h5 class="mb-3">Todays's Special</h5>
                      <div class="special-wrapper">
                        <div class="special-card pb-sm-0 pt-sm-0 pt-2 pb-2" *ngFor="let item of todaySpecial">
                          <div class="card border border-0 mb-sm-4">
                            <div>
                              <img class="card-img-top spl_Card rounded" src="{{item.image_url}}" alt="{{item.name}} image" />
                            </div>
                            <div class="card-body p-0">
                              <h6 class="card-title mb-0 mt-1 ellipsis" title="{{item.name}}">
                                {{item.name}}
                              </h6>
                              <div class="card-text text-right"
                                *ngIf="item.actual_price > 0 && item.offer_price > 0 && item.offer_price != 0">
                                <span class="offer mr-1">&#8377;{{ item.offer_price }}</span>
                                <span class="offer-price ">{{ item.actual_price }}</span>
                              </div>
                              <div class="card-text" *ngIf="item.actual_price > 0 && item.offer_price == 0">
                                &#8377;{{ item.actual_price }}
                              </div>
                              <div class="card-text" *ngIf="item.actual_price == 0 && item.offer_price == 0">
                                NA
                              </div>
                            </div>
                          </div>
  
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
  
  
  
              <div class="details-specialists mb-4 d-sm-none" *ngIf="specialists?.length > 0">
                <h5 class="mb-3">Specialists</h5>
                <div class="specialist-wrapper">
                  <div class="pb-sm-0 pt-sm-0 pt-2 pb-2 specialist-card" *ngFor="let item of specialists;let i=index">
                    <div class="card border mb-sm-4 p-1">
                      <div class="row">
                        <div class="col-3">
                          <img class="card-img-top rounded" src="{{item.image_url}}"
                            onerror="this.onerror=null;this.src='../../../../assets/error_specialist.png';" />
                        </div>
                        <div class="col-9">
                          <div class="specialist-basic-details">
                            <div class="card-title">{{item.name}}</div>
                            <div class="card-text m-0 p-0">{{item.specialization}}</div>
                            <div class="card-text m-0 p-0">{{item.experience}} yrs</div>
                            <div class="card-text m-0 p-0">{{item.qualification}}</div>
                          </div>
                          <div class="specialization-txt">
                            <span>{{item.description}}</span>
                          </div>
                          <div class="card-title current-day" (click)="oncurrentTimingClicked(i)">
                            <span>{{item.profCurrentDayTime}}</span><span>&nbsp; &nbsp; <img src="assets/arrowright.svg"
                                class="arrowicon" *ngIf="!isGroupShown(i)" /><img src="assets/arrowdown.svg"
                                class="arrowicon" *ngIf="isGroupShown(i)" /></span>
                          </div>
                          <div class="specialization-txt" *ngIf="isGroupShown(i)">
                            <span>{{sunTime}}</span><br>
                            <span>{{monTime}}</span><br>
                            <span>{{tuesTime}}</span><br>
                            <span>{{wedTime}}</span><br>
                            <span>{{thurTime}}</span><br>
                            <span>{{friTime}}</span><br>
                            <span>{{satTime}}</span><br>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="row d-none d-sm-flex" *ngIf="specialists?.length > 0">
                <div class="col-12">
                  <div class="main-container-width mb-sm-4">
                    <h5 class="mb-3">Specialists</h5>
                    <div class="specialist-wrapper web-view row">
                      <div class="specialist-card col-6 pr-0" *ngFor="let item of specialists;let i=index">
                        <div class="card border mb-sm-3 d-flex">
                          <div class="d-flex flex-grow-1">
                            <div class="specilist-img">
                              <img class="card-img-top h-100" src="{{item.image_url}}"
                                onerror="this.onerror=null;this.src='../../../../assets/error_specialist.png';" />
                            </div>
                            <div class="flex-grow-1 px-3 py-2">
                              <div class="specialist-basic-details">
                                <div class="name">{{item.name}}</div>
                                <div class="profession m-0 p-0">{{item.specialization}}</div>
                                <div class="experience mb-3 p-0">{{item.experience}} yrs</div>
                                <div class="card-text m-0 p-0">{{item.qualification}}</div>
                              </div>
                              <div class="specialization-txt">
                                <span>{{item.description}}</span>
                              </div>
                            </div>
                          </div>
                          <div class="border-top px-3 py-2 d-flex justify-content-between">
                            <div class="current-day" (click)="oncurrentTimingClicked(i)">
                              <span class="my-1 d-inline-block">Timings: {{item.profCurrentDayTime}}</span><span>&nbsp;
                                &nbsp; <img src="assets/arrowright.svg" class="arrowicon" *ngIf="!isGroupShown(i)" /><img
                                  src="assets/arrowdown.svg" class="arrowicon" *ngIf="isGroupShown(i)" /></span>
                              <div class="specialization-txt" *ngIf="isGroupShown(i)">
                                <span>{{sunTime}}</span><br>
                                <span>{{monTime}}</span><br>
                                <span>{{tuesTime}}</span><br>
                                <span>{{wedTime}}</span><br>
                                <span>{{thurTime}}</span><br>
                                <span>{{friTime}}</span><br>
                                <span>{{satTime}}</span><br>
                              </div>
                            </div>
                            <div class="consultant-fee my-1" *ngIf="item.service_charge">
                              Consultant Fee: &#8377; {{item.service_charge}}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="row d-none d-sm-flex" *ngIf="professionals?.length > 0">
                <div class="col-12">
                  <div class="main-container-width mb-sm-4">
                    <h5 class="mb-3">Professionals</h5>
                    <div class="specialist-wrapper web-view row">
                      <div class="specialist-card col-6 pr-0 d-flex" *ngFor="let item of professionals;let i=index">
                        <div class="card border mb-sm-3 d-flex">
                          <div class="d-flex flex-grow-1">
                            <div class="specilist-img">
                              <img class="card-img-top h-100" src="{{item.image_url}}"
                                onerror="this.onerror=null;this.src='../../../../assets/error_specialist.png';" />
                            </div>
                            <div class="flex-grow-1 px-3 py-2">
                              <div class="specialist-basic-details">
                                <div class="name">{{item.name}}</div>
                                <div class="profession m-0 p-0">{{item.specialization}}</div>
                                <div class="experience mb-3 p-0">{{item.experience}} yrs</div>
                                <div class="card-text m-0 p-0">{{item.qualification}}</div>
                              </div>
                              <div class="specialization-txt">
                                <span>{{item.description}}</span>
                              </div>
                            </div>
                          </div>
                          <div class="border-top px-3 py-2 d-flex justify-content-between">
                            <div class="current-day" (click)="oncurrentTimingClicked(i)">
                              <span class="my-1">Timings: {{item.profCurrentDayTime}}</span><span>&nbsp; &nbsp; <img
                                  src="assets/arrowright.svg" class="arrowicon" *ngIf="!isGroupShown(i)" /><img
                                  src="assets/arrowdown.svg" class="arrowicon" *ngIf="isGroupShown(i)" /></span>
                              <div class="specialization-txt" *ngIf="isGroupShown(i)">
                                <span>{{sunTime}}</span><br>
                                <span>{{monTime}}</span><br>
                                <span>{{tuesTime}}</span><br>
                                <span>{{wedTime}}</span><br>
                                <span>{{thurTime}}</span><br>
                                <span>{{friTime}}</span><br>
                                <span>{{satTime}}</span><br>
                              </div>
                            </div>
                            <div class="consultant-fee my-1" *ngIf="item.service_charge">
                              Consultant Fee: &#8377; {{item.service_charge}}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="details-specialists mb-4  d-sm-none" *ngIf="professionals?.length > 0">
                <h5 class="mb-3">Professionals</h5>
                <div class="specialist-wrapper">
                  <div class="pb-sm-0 pt-sm-0 pt-2 pb-2 specialist-card" *ngFor="let item of professionals;let i=index">
                    <div class="card border mb-sm-4 p-1">
                      <div>
                        <img class="card-img-top rounded" src="{{item.image_url}}"
                          onerror="this.onerror=null;this.src='../../../../assets/error_specialist.png';" />
                        <div class="specialist-basic-details">
                          <div class="card-title">{{item.name}}</div>
                          <div class="card-text m-0 p-0">{{item.specialization}}</div>
                          <div class="card-text m-0 p-0">{{item.experience}} yrs</div>
                          <div class="card-text m-0 p-0">{{item.qualification}}</div>
                        </div>
                        <div class="specialization-txt">
                          <span>{{item.description}}</span>
                        </div>
                        <div class="card-title current-day" (click)="oncurrentTimingClicked(i)">
                          <span>{{item.profCurrentDayTime}}</span><span>&nbsp; &nbsp; <img src="assets/arrowright.svg"
                              class="arrowicon" *ngIf="!isGroupShown(i)" /><img src="assets/arrowdown.svg"
                              class="arrowicon" *ngIf="isGroupShown(i)" /></span>
                        </div>
                        <div class="specialization-txt" *ngIf="isGroupShown(i)">
                          <span>{{sunTime}}</span><br>
                          <span>{{monTime}}</span><br>
                          <span>{{tuesTime}}</span><br>
                          <span>{{wedTime}}</span><br>
                          <span>{{thurTime}}</span><br>
                          <span>{{friTime}}</span><br>
                          <span>{{satTime}}</span><br>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" *ngIf="servicesList && servicesList.length">
                <div class="col-12">
                  <div class="main-container-width">
                    <div class="details-service-offered web-view mb-4">
                      <h5 class="mb-3">Service Offered</h5>
                      <div class="service-wrapper">
                        <div class="d-sm-flex item text-sm-center" *ngFor="let item of servicesList">
                          <p class="details mb-2 mb-sm-0 py-sm-3 text-left text-sm-center col-sm-8">
                            <span>
                              {{ item.name }}
                            </span>
                          </p>
                          <div class="col-sm-4 py-sm-3 border-left">
                            <div class="card-text"
                              *ngIf="item.actual_price > 0 && item.offer_price > 0 &&  item.actual_discount != 0">
                              &#8377;{{ item.offer_price }}
                              <span class="offer mr-1">{{ item.actual_price }}</span>
                            </div>
                            <div class="card-text" *ngIf="item.actual_price > 0 && item.offer_price == 0">
                              &#8377;{{ item.actual_price }}
                            </div>
                          </div>
  
                          <hr class="d-sm-none">
                        </div>
                      </div>
  
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="row" *ngIf="achievementsList && achievementsList.length">
                <div class="col-12">
                  <div class="main-container-width">
                    <div class="details-service-offered mb-4 pb-3">
                      <h5 class="mb-3">Achievements</h5>
                      <div *ngFor="let item of achievementsList">
                        <p class="details mb-2 text-left">
                          <span>
                            {{ item.achievement }}
                          </span>
                        </p>
                        <hr>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
  
  
  
              <div class="row" *ngIf="workHistoryList && workHistoryList.length">
                <div class="col-12">
                  <div class="main-container-width">
                    <div class="hotel-services-list mb-4 mt-3" *ngIf="workHistoryList && workHistoryList.length">
                      <h5 class="hotel-services-list--title mb-3">Work History</h5>
                      <div class="hotel-services-list--web-view row">
                        <div class="col-lg-6 col-sm-12 card-div"
                          (click)="showWorkHistoryModal(workHistoryTemplate,service)"
                          *ngFor="let service of workHistoryList">
                          <div class="hotel-services-list__media media p-2">
                            <img [src]="service.primary_image_url" class="align-self-center mr-3 img-fluid p-1"
                              [alt]="service.name">
                            <div class="hotel-services-list__media-body media-body">
                              <h5 class="hotel-services-list__media-body--service-name mt-1">{{service.name}}</h5>
                              <a (click)="showWorkHistoryModal(workHistoryTemplate,service)"
                                class="hotel-services-list__media-body--service-description mb-0">
                                {{service.description}}
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
  
  
              <div class="details-payment mb-4 d-sm-none" *ngIf="paymentMethodsCount">
                <h5>Payment Accepted</h5>
                <app-horizontal-carousel>
                  <div class="d-inline-block p-2 border payment-wrap mt-4 ml-4" *ngFor="let item of paymentMethods">
                    <img
                      src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2Fcard.png?alt=media&token=646e256d-198b-4e22-842e-bcf030ca747e"
                      class="payment-img mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('card') > -1" />
                    <img
                      src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2Fupi.png?alt=media&token=d02200e9-f010-4327-9248-6c4e4b0354b7"
                      class="mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('bhim') > -1" />
                    <img
                      src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2Fg%20pay.jpg?alt=media&token=fb9e5ba4-faec-4eb8-9676-0d1233c45775"
                      class="mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('google') > -1" />
                    <img
                      src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2FPaytm_logo.png?alt=media&token=ecc2c355-efe1-459b-a29f-4ddb4c11000e"
                      class="mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('paytm') > -1" />
                    <img
                      src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2Fphone%20pe.png?alt=media&token=89553a05-c8f4-4fd7-a150-3fa034c5429b"
                      class="mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('phonepe') > -1" />
                    <img
                      src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2FMobiKwik-Logo.png?alt=media&token=12766042-ef64-4f8e-9f3f-46535fac2293"
                      class="mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('mobikwik') > -1" />
                    <img
                      src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2Fnetbank.png?alt=media&token=4272380b-3048-42b1-a4b9-59205b91811e"
                      class="mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('net') > -1" />
                    <img
                      src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2Fsodexo.png?alt=media&token=a22cc52f-ac0f-4e2a-b337-27d8eec0b925"
                      class="mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('sodexo') > -1" />
                    <img
                      src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2FFreeCharge_Logo.png?alt=media&token=dfbc8e77-4e0e-4a43-9f7a-1c35f9eb8d62"
                      class="mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('free') > -1" />
                    <img
                      src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2Fpayumoney-logo.png?alt=media&token=8c927604-4389-4c36-8d13-4f8e0b229f16"
                      class="mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('money') > -1" />
                    <img
                      src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2Fmomoelogobig.png?alt=media&token=c5f3baaf-4337-48f3-8f77-1bd4724285cc"
                      class="mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('momoe') > -1" />
                    <img
                      src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2Fzap.png?alt=media&token=0d7c52bb-d795-4892-a8ea-9e87d36be59e"
                      class="mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('zap') > -1" />
                    <img
                      src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2Famazon%20pay.png?alt=media&token=b9f8b48d-efe9-40d4-86a1-8367e8795fa8"
                      class="mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('amazon') > -1" />
                    <img
                      src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2Fmp_citipay_logo_blue.png?alt=media&token=0772aa34-9e6b-48d3-ae94-1dc5654e5488"
                      class="mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('citi') > -1" />
                    <img
                      src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2FChillr_logo.png?alt=media&token=93072616-42b3-438c-a907-8c30bf9e98d7"
                      class="mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('hdfc') > -1" />
                    <img
                      src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2Ficici-pockets.png?alt=media&token=1d444218-ff79-4ba8-8c30-8528cea9c641"
                      class="mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('icici') > -1" />
                    <img
                      src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2Fbuddy.png?alt=media&token=9c695142-9b1f-4772-b048-2f89e6d671d5"
                      class="mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('buddy') > -1" />
                    <span>{{ item.name }}</span>
  
                  </div>
                </app-horizontal-carousel>
              </div>

              <div *ngIf="businessProfile" class="about-us-section mb-4 set_m">
                <h5 class="mb-1">About</h5>
                <p>{{ businessProfile.business_desc }}</p>
              </div>
              <div *ngIf="businessProfile" class="contact-info-sec set_m mb-4">
                <h5 class="mb-1">Contact info</h5>
                <div class="address-details">
                  {{ businessProfile.business_address?.house_details }}<br>
                  <div class="d-inline-block">
                    <img src="../../../assets/call.svg" class="image-size phone-ico p_icon" alt="Locate" />
                  </div>
                  <span>
                    {{ businessProfile.phone_number }}
                  </span>
                </div>
              </div>
              <div *ngIf="businessProfile" class="working-hrs-section set_m mb-4">
                <h5 class="mb-1">Working Hours</h5>
                <p>
                  <span>{{businessProfile.timings}}</span></p>
              </div>
           
  
              <div class="d-block d-sm-none mobile-custom-view mobile-detail-footer d-flex">
  
                <div class="text-center" (click)="openCallListModal()">
                  <img src="../../../assets/call.svg" class="loc-time" />
                  <span>Call</span>
                </div>
  
                <!-- <div class="text-center" (click)="showSearchModal()" *ngIf="isProdsAvailable">
                  <img src="../../../assets/search.png" class="loc-time" />
                  <span>Search</span>
                </div> -->
  
                <div class="text-center" (click)="showRatingModel(rating)">
                  <img src="../../../assets/star.png" class="loc-time" />
                  <span>Review</span>
                </div>
  
                <div class="text-center" (click)="showSpamModel()">
                  <img src="../../../assets/spam.png" class="loc-time" />
                  <span>Spam</span>
                </div>
  
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Other Info.">
        <div class="main-container-width other-info d-none d-sm-block">
          <div *ngIf="businessProfile" class="ratings-section d-flex mb-4">
            <div class="pr-sm-2 text-center">
              <span class="font-lg">{{businessProfile.number_of_subscribers}}</span><br>
              <span>Subscribers</span>
            </div>
            <div class="px-sm-5 text-center">
              <span class="font-lg">{{total_rating}}</span><span class="fa fa-star"></span><br>
              <span>Ratings</span>
            </div>
            <div class="pl-sm-2 text-center">
              <span class="font-lg">{{businessProfile.number_of_products}}</span><br>
              <span>Products Online</span>
            </div>
          </div>
          <div *ngIf="businessProfile" class="about-us-section mb-4">
            <h5 class="mb-1">About</h5>
            <p>{{ businessProfile.business_desc }}</p>
          </div>
          <div *ngIf="businessProfile" class="contact-info-sec mb-4">
            <h5 class="mb-1">Contact info</h5>
            <div class="address-details">
              {{ businessProfile.business_address?.house_details }}<br>
              <div class="d-inline-block">
                <img src="../../../assets/call.svg" class="image-size phone-ico" alt="Locate" />
              </div>
              <span>
                {{ businessProfile.phone_number }}
              </span>
            </div>
          </div>
          <div *ngIf="businessProfile" class="working-hrs-section mb-4">
            <h5 class="mb-1">Working Hours</h5>
            <p>
              <span>{{businessProfile.timings}}</span></p>
          </div>
          <div class="payment-section mb-2" *ngIf="paymentMethods?.length">
            <h5>Payments Accepted</h5>
            <app-horizontal-carousel>
              <div class="d-inline-block p-2 border payment-wrap mt-1 mr-3" *ngFor="let item of paymentMethods">
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2Fcard.png?alt=media&token=646e256d-198b-4e22-842e-bcf030ca747e"
                  class="payment-img mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('card') > -1" />
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2Fupi.png?alt=media&token=d02200e9-f010-4327-9248-6c4e4b0354b7"
                  class="mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('bhim') > -1" />
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2Fg%20pay.jpg?alt=media&token=fb9e5ba4-faec-4eb8-9676-0d1233c45775"
                  class="mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('google') > -1" />
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2FPaytm_logo.png?alt=media&token=ecc2c355-efe1-459b-a29f-4ddb4c11000e"
                  class="mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('paytm') > -1" />
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2Fphone%20pe.png?alt=media&token=89553a05-c8f4-4fd7-a150-3fa034c5429b"
                  class="mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('phonepe') > -1" />
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2FMobiKwik-Logo.png?alt=media&token=12766042-ef64-4f8e-9f3f-46535fac2293"
                  class="mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('mobikwik') > -1" />
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2Fnetbank.png?alt=media&token=4272380b-3048-42b1-a4b9-59205b91811e"
                  class="mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('net') > -1" />
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2Fsodexo.png?alt=media&token=a22cc52f-ac0f-4e2a-b337-27d8eec0b925"
                  class="mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('sodexo') > -1" />
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2FFreeCharge_Logo.png?alt=media&token=dfbc8e77-4e0e-4a43-9f7a-1c35f9eb8d62"
                  class="mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('free') > -1" />
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2Fpayumoney-logo.png?alt=media&token=8c927604-4389-4c36-8d13-4f8e0b229f16"
                  class="mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('money') > -1" />
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2Fmomoelogobig.png?alt=media&token=c5f3baaf-4337-48f3-8f77-1bd4724285cc"
                  class="mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('momoe') > -1" />
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2Fzap.png?alt=media&token=0d7c52bb-d795-4892-a8ea-9e87d36be59e"
                  class="mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('zap') > -1" />
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2Famazon%20pay.png?alt=media&token=b9f8b48d-efe9-40d4-86a1-8367e8795fa8"
                  class="mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('amazon') > -1" />
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2Fmp_citipay_logo_blue.png?alt=media&token=0772aa34-9e6b-48d3-ae94-1dc5654e5488"
                  class="mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('citi') > -1" />
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2FChillr_logo.png?alt=media&token=93072616-42b3-438c-a907-8c30bf9e98d7"
                  class="mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('hdfc') > -1" />
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2Ficici-pockets.png?alt=media&token=1d444218-ff79-4ba8-8c30-8528cea9c641"
                  class="mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('icici') > -1" />
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/payment_icons%2Fbuddy.png?alt=media&token=9c695142-9b1f-4772-b048-2f89e6d671d5"
                  class="mr-2" alt="" *ngIf="item.name.toLocaleLowerCase().indexOf('buddy') > -1" />
                <span>{{ item.name }}</span>
  
              </div>
            </app-horizontal-carousel>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Gallery" *ngIf="imageUrls?.length">
        <div class="main-container-width gallery  d-none d-sm-block">
          <div class="row gallery-imgs" *ngIf="imageUrls?.length">
            <div *ngFor="let url of imageUrls" class="col-md-4 col-sm-6 pr-0 mb-3">
              <img class="w-100" src="{{url}}" alt="detail page gallery">
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  
  
  </div>
  <ng-template #sharePopTitle>Share</ng-template>
  <ng-template #sharePopContent>
    <share-buttons [theme]="'circles-dark'" [include]="sharableSocialMediaPlatforms" [url]="share_link" [show]="5">
    </share-buttons>
  </ng-template>
  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Offers</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <carousel class="detail-page-container__carousel" *ngIf="offersList?.length">
        <slide *ngFor="let offer of offersList">
          <div class="carousel-img">
            <img class="banner-img detail-page-container__carousel--img offer-img" src="{{offer.image_url}}"
              alt="detail page banner">
          </div>
          <div class="carousel-caption-item mt-1">
            <h4>{{offer.name}}</h4>
          </div>
          <div class="carousel-caption-item all-days" *ngIf="offer.is_no_expiry">
            <p>All Days</p>
          </div>
          <div class="carousel-caption-item" *ngIf="!offer.is_no_expiry">
            <span class="validity">
              Validity: <span>{{ offer?.start_date }}</span>&nbsp;-&nbsp;
              <span>{{ offer?.expiry_date }}</span>
            </span>
          </div>
          <div class="carousel-caption-item">
            <p>{{offer.description}}</p>
          </div>
          <div class="carousel-caption-item">
            <div class="info-title">Terms and Conditions</div>
            <p *ngIf="offer.terms_and_conditions">{{offer.terms_and_conditions}}</p>
            <p *ngIf="!offer.terms_and_conditions">NA</p>
          </div>
        </slide>
      </carousel>
    </div>
  </ng-template>
  
  <ng-template #hotelServicesTemplate>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Hotel Services</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <carousel class="detail-page-container__carousel" *ngIf="hotelServicesList?.length">
        <slide *ngFor="let service of hotelServicesList">
          <div class="carousel-img">
            <img class="banner-img detail-page-container__carousel--img" src="{{service.image_url}}"
              alt="detail page banner">
          </div>
          <div class="carousel-caption-item mt-1">
            <h4>{{service.name}}</h4>
          </div>
          <div class="carousel-caption-item">
            <p>{{service.description}}</p>
          </div>
        </slide>
      </carousel>
    </div>
  </ng-template>
  <ng-template #rating>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Rating</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body text-center">
      <ngb-rating [(rate)]="currentRate" max=5 class="text-center rate-component"></ngb-rating>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary os-btn-primary" (click)="submitRating()">Save</button>
    </div>
  </ng-template>
  <ng-template #workHistoryTemplate>
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{workHistory.name}}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <carousel class="detail-page-container__carousel" *ngIf="workHistory?.imageUrls?.length">
        <slide *ngFor="let url of workHistory.imageUrls">
          <a target="_self">
            <img class="work-history-img detail-page-container__carousel--img" src="{{url}}" alt="detail page banner">
          </a>
        </slide>
      </carousel>
      <div class="carousel-caption-item">
        <p>{{workHistory.description}}</p>
      </div>
    </div>
  </ng-template>

  <div class="modal rating-modal" id="myModal1" *ngIf="showCallListModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Choose phone number</h4>
          <button type="button" class="close-button border-0" data-dismiss="modal" (click)="closeCallListModal()"><span
              class="close-button-txt">&times;</span></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <div class="text-center">
            <div><a href="tel:{{ phone_number }}">{{phone_number}}</a></div>
            <div><a href="tel:{{ alternate_phone_number }}">{{alternate_phone_number}}</a></div>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  