@import "../../../../variables";
$cartElementHeight: 23px;
$cartElementBorder: 1px solid $color-red;

.modifier {
  width: $cartElementHeight;
  height: $cartElementHeight;
  border: $cartElementBorder;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  background-color: transparent;
  .fa {
    color: $color-red;
    font-size: 11px;
    position: relative;
    top: -1px;
  }
}
.add-to-cart {
  text-align: center;
  &__modify {
    &--decrement {
      @extend .modifier;
    }
    &--input {
      width: 40px;
      height: $cartElementHeight;
      border: $cartElementBorder;
      border-color: $border-color;
      text-align: center;
      border-radius: 8px;
      display: inline-block;
      vertical-align: middle;
      margin: 0 4px;
      pointer-events: none;
    }
    &--increment {
      @extend .modifier;
    }
  }
  &--btn {
    background-color: transparent;
    border: $cartElementBorder;
    color: $color-red;
    border-radius: 25px;
    cursor: pointer;
    padding: 0 18px;
    height: $cartElementHeight;
    &.disabled {
      pointer-events: none;
      background-color: white;
      color: grey;
      border-color: #616161;
      opacity: 0.4;
    }
  }
}

.toaster-msg {
  max-width: 250px;
  position: fixed;
  bottom: 25%;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
  z-index: 1;
  width: 100%;
  text-align: center;
  left: 50%;
  margin-left: -125px;
}

.disabled {
  pointer-events: none;
  background-color: white;
  color: grey;
  border-color: #616161;
  opacity: 0.4;
}
