@import "../../../variables.scss";

.home-service-listing {
    .card {
        cursor: pointer;
    }

    .bizz_name {
        color: #4fc3f7;
        font-weight: 900;
        font-size: 1rem
    }
    .order {
        color: #666666;
    }

    .order-due {
        color: $color-red;
    }

    .card-title {
        position: relative;
        font-size: 16px;
        color: #333333;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        // position: absolute;
        left: 0;
    }

    .card-sub-title {
        position: relative;
        font-size: 14px;
        color: #333333;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        // position: absolute;
        left: 0;
    }

    .price-title {
        position: relative;
        font-size: 16px;
        font-weight: 600;
        padding-top: 5px;
        color: #009788;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        // position: absolute;
        left: 0;
    }

    .percent {
        font-size: 18px;
        font-weight: 600;
        color: #009788;
    }

    .order-status {
        font-size: 18px;
        color: #212121;
    }

    .card-subtitle {
        position: relative;
        font-weight: 400;
        color: #333333;
        white-space: nowrap;
        word-break: break-word;

        p {
            color: rgb(51, 9, 9);
            font-size: 14px;
        }
    }

    .card-bottom {
        // position: absolute;
        position: relative;
        bottom: 0;
        padding: 0 0 10px;
        width: 100%;
    }

    .star-image {
        width: 12px;
        // position: absolute;
        // left: 0;
    }

    .text-green {
        color: #039e03
    }

    .ellipsis {
        // font-weight: 600;
        padding-left: 10px;
    }

    .border {
        border-radius: 10px;
        padding: 0 10px;
    }

    .mr-4{
        margin-right: 0.5px !important;
    }
    .img-container {
        width: 30%;
        display: inline-block;
        position: relative;

        img {
            height: 100px;
        }
    }

    .content-container {
        width: 70%;
        position: relative;
        height: 120px;
        display: inline-block;
        vertical-align: -webkit-baseline-middle;
    }

    .card-bottomtitle {
        display: inline-block;
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .m-3 {
        margin: 10px 0 !important;
    }

    .no-results {
        text-align: center;
      }
      
}
pagination-controls {
    display:inline-block;
    margin-top: 25px;
  }
  
  pagination-controls ::ng-deep .ngx-pagination .current {
    padding: 0.1875rem 0.625rem;
    background: #ef5350;
    border: transparent;
    border-radius: 25px;
    color: #fefefe;
    cursor: default;
  }
  .loading-indicator {
    width: 25px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
  }
