<div class="home-service-listing mb-md-4 mb-3 main-container-width mx-auto">
    <h3 class="offers-title text-center">
        Orders
        <div class="border-underline"></div>
    </h3>

    <div class="row" *ngIf="showData">
        <div class="col-md-12" *ngIf="ordersList && config">
            <p *ngIf="ordersList?.length > 0">(showing {{pageStart}} - {{pageEnd}} of {{totalItems}})</p>
            <div class="row product-row">
                <div class="col-12 col-md-6 col-lg-4 m-3" *ngFor="let item of ordersList | paginate: config">
                    <div class="card border mr-4 pb-2">
                        <a target="_self" [href]=item.url_redirection>
                            <div class="card-body p-2">
                                <h5 class="bizz_name">{{ item.business_name }}</h5>
                                <div class="order text-left">
                                    #{{ item.order_id }}
                                </div>
                                <div class="m-0 p-0">
                                        <span class="order text-right" *ngIf="'completed' == item.order_status || 'delivered' == item.order_status"> Completed on
                                                {{item.order_delivery_date}}</span>            
                                    <span class="order-due text-right" *ngIf="'completed' != item.order_status && 'delivered' != item.order_status"> Due on
                                        {{item.order_delivery_date}}</span>
                                </div>
                                <hr />
                                <div class="img-container pr-1" *ngIf="item.image_url">
                                    <img class="card-img-top rounded" src="{{ item.image_url }}" alt="Product image" />
                                </div>
                                <div class="content-container m-0 p-0">
                                    <div class="card-sub-title ellipsis text-left m-0 p-0"
                                        *ngIf="item.number_of_items > 0">
                                        Items : {{ item.number_of_items }}
                                    </div>

                                    <div class="card-sub-title ellipsis text-left m-0 p-0" *ngIf="item.item_type">
                                        Type : {{ item.item_type }}
                                    </div>

                                    <div class="price-title ellipsis text-left m-0 p-0"
                                        *ngIf="'home_delivery' != item.order_type">
                                        &#8377;{{ item.price }}
                                    </div>
                                    <div class="price-title ellipsis text-left m-0 p-0"
                                        *ngIf="'home_delivery' == item.order_type">
                                        &#8377;{{ item.total }}
                                    </div>
                                    <div class="order-status ellipsis text-left mt-1 ml-0 p-0"
                                        *ngIf="'home_delivery' == item.order_type">
                                        {{ item.order_status_formatted }}
                                    </div>
                                    <div class="text-right" *ngIf="'home_delivery' != item.order_type">
                                        <div *ngIf="item.percentage_of_completion === 100"><span
                                                class="percent m-0 p-0">{{item.percentage_of_completion}}%
                                            </span><span>COMPLETED</span></div>
                                        <div *ngIf="item.percentage_of_completion != 100"> <span
                                                class="percent m-0 p-0">{{item.percentage_of_completion}}%
                                            </span><span>Progress</span></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 text-center" *ngIf="ordersList?.length > 0">
                <pagination-controls (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls>
        </div>
        <div id="no-results-view" class="col-md-12 mt-4 text-center no-results" *ngIf="ordersList?.length == 0">
            No results to show ..
    </div>
    </div>

    
    <mat-progress-spinner *ngIf="!showData" class="loading-indicator mt-16" mode="indeterminate" color="warn">
        </mat-progress-spinner>
</div>