<div class="city-selection-popup">

  <section class="search-city mt-3 input-group">
      <input class="form-control" placeholder="Search City"
             [(ngModel)]="citySearchText" [ngbTypeahead]="searchCity"
             [resultFormatter]="citySearchResultFormatter"
             [inputFormatter]="citySearchResultFormatter"
             (selectItem)="onCitySelectionFromSearchResults($event)">
  </section>


  <section class="search-area mt-3 input-group" *ngIf="showAreaSelection()">
    <input class="form-control" placeholder="Search Area"
           [(ngModel)]="areaSearchText" [ngbTypeahead]="searchArea"
           [resultFormatter]="titleCaseFormatter"
           (selectItem)="onAreaSelectionFromSearchResults($event)">
  </section>

  <section class="popular-cities mt-3" *ngIf="popularCities.length">
    <h6>Popular Cities</h6>
    <div class="row mx-0">
      <div class="col-3 col-md-3 popular-city-card p-0"
           *ngFor="let city of popularCities"
          (click)="onCitySelection(city)">
        <img [src]="getUrlToDisplay(city)" class="d-block mx-auto city-img">
        <div class="city-name"> {{ city.city_name | titlecase }} </div>
      </div>
    </div>

  </section>

  <section class="other-cities mt-5" *ngIf="otherCities.length">
    <h6>Other Cities</h6>
    <div class="row mt-1">
      <div class="col-6 col-md-3 other-city-card text-dark" *ngFor="let city of otherCitiesFilteredBasedOnShowAllCitiesFlag"
           (click)="onCitySelection(city)"
           [ngClass]="{'selected': citiesService.activeCity === city.city_name}">
        <a href="">{{ city.city_name | titlecase }}</a>
      </div>
    </div>
  </section>


  <div *ngIf="!showAllCities && isOtherCitiesSizeHigherThanDefault" class="mt-4">
    <a href="" (click)="showAllCities=true" class="link"> View All Cities </a>
  </div>

  <div *ngIf="showAllCities" class="mt-3">
    <a href="" (click)="showAllCities=false" class="link"> Hide All Cities </a>
  </div>


</div>
