@import "../../../../variables";

.city-selection-popup {
  .link {
    color: $os-primary-color;
    font-size: 13px;
    text-decoration: underline !important;
    &:hover, &:focus {
      color: $os-primary-color !important;
    }
  }
  .popular-city-card {
    cursor: pointer;
    &:hover {
      background: #F5F5F5;
      border: 1px solid #EFEFEF;
      border-radius: 4px;
    }
    .city-name {
      display: flex;
      justify-content: center;
    }
    .city-img {
      height: 80px;
    }
  }
  .other-city-card {
    a {
      text-decoration: underline !important;
      font-size: 11px;
    }
    &.selected {
      a {
        color: $os-primary-color !important;
      }
    }
  }
  ::ng-deep {
    ngb-typeahead-window {
      width: inherit;
      button.dropdown-item {
        background: white;
        color: black;
        &:hover {
          background: #ebebeb;
        }
      }
    }
  }
}
