<div class="home-service-listing mb-md-4 mb-3 main-container-width mx-auto">
    <h3 class="offers-title text-center">
        {{categoryDisplayName}}
        <div class="border-underline"></div>
    </h3>
    <div id="just-you-carousel" class="m-3 carousel slide just-you-carousel" *ngIf="recentlyBooked?.length > 0">
        <h5 class="mb-4 section-title text-left">
            Recently Booked
            <div class="border-underline"></div>
        </h5>
        <app-horizontal-carousel>
            <div class="card d-inline-block p-0" *ngFor="let item of recentlyBooked">
                <a target="_self"
                    [href]="baseUrl + '/service/h/booking/' + currentCity + '/' + item.business_id + '/'+ item.category_display_name + '/'+ item.business_city + '/' + item.urlBusinessName">
                    <img class="card-img-top" src="{{ item.image_url }}" alt="Store image" />
                    <div class="card-body text-center m-0 p-0">
                        <div class="card-title text-center mt-1 p-1">Last Service : {{ item.last_service_date }}</div>
                    </div>
                </a>
            </div>
        </app-horizontal-carousel>
    </div>

    <div class="row mt-4" *ngIf="showData">

        <div class="col-md-12" *ngIf="businessesByCategory && config">
            <p>(showing {{pageStart}} - {{pageEnd}} of {{totalItems}})</p>
            <div class="row product-row">
                <div class="col-12 col-md-6 col-lg-4 mb-3" *ngFor="let item of businessesByCategory | paginate: config">
                    <div class="card border mr-4">
                        <div class="card-body pl-0 pr-0 pt-2 pb-2 text-center">
                            <a target="_self"
                                [href]="baseUrl + '/service/h/booking/' + currentCity + '/' + item.business_id + '/'+ item.category_display_name + '/'+ item.business_city + '/' + item.urlBusinessName">
                                <div class="img-container">
                                    <img class="card-img-top rounded" src="{{ item.image_url }}" alt="Product image" />
                                </div>
                                <div class="content-container">
                                    <div class="card-title mb-0 ellipsis text-left" title="{{ item.name }}">
                                        {{ item.business_name }}
                                    </div>
                                    <div class="card-subtitle ellipsis text-left">
                                        <p> {{ item.business_description }} </p>
                                    </div>

                                    <div class="card-bottom mb-0 ellipsis">
                                        <hr />
                                        <span style="position:absolute; left: 10px; bottom: 0;">
                                            <img src="assets/star.svg" alt="/" class="star-image" /> {{item.rating}}
                                        </span>
                                        <span>
                                            <div class="card-bottomtitle mb-0 ellipsis text-right text-green">
                                                Orders Served : {{item.orders_served}}
                                            </div>
                                        </span>
                                    </div>
                                </div>
                                <div class="offline-wrapper m-0 p-1" *ngIf="item.show_offline">
                                    <span class="text-center">Currently not accepting orders</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 text-center">
            <pagination-controls (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls>
        </div>
    </div>
    <mat-progress-spinner *ngIf="!showData" class="loading-indicator mt-16" mode="indeterminate" color="warn">
    </mat-progress-spinner>
</div>