@import "../../../variables";

.home-service-listing {
    .card {
        cursor: pointer;
    }

    .card-title {
        position: relative;
        font-size: 16px;
        font-weight: 600;
        color: #333333;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        // position: absolute;
        left: 0;
    }

    .card-subtitle {
        position: relative;
        font-weight: 400;
        color: #333333;
        white-space: nowrap;
        word-break: break-word;

        p {
            color: #999;
            font-size: 14px;
        }
    }

    .card-bottom {
        // position: absolute;
        position: relative;
        bottom: 0;
        padding: 0 0 10px;
        width: 100%;
    }

    .star-image {
        width: 12px;
        // position: absolute;
        // left: 0;
    }

    .text-green {
        color: #039e03
    }

    .ellipsis {
        // font-weight: 600;
        padding-left: 10px;
    }

    .border {
        border-radius: 10px;
        padding: 0 10px;
    }

    .mr-4{
        margin-right: 0.5px !important;
    }
    .img-container {
        width: 30%;
        display: inline-block;
        position: relative;

        img {
            height: 100px;
        }
    }

    .content-container {
        width: 70%;
        position: relative;
        height: 100px;
        display: inline-block;
        vertical-align: -webkit-baseline-middle;
    }

    .card-bottomtitle {
        display: inline-block;
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .offline-wrapper {
        background-color: $color-red;
        color: white;
        font-size: 1rem;
        font-weight: 500;
        padding: 10px;
        text-align: center;
      }

    @media (max-width: 568px) {
        .card-title {
            font-size: 14px;
        }
        .card-subtitle {
            p {
                font-size: 12px;
            }
        }
    }

    .just-you-carousel {
        .card {
          cursor: pointer;
          width: 25%;
          margin-right: 2%;
          .card-title {
            font-size: 0.8rem;
            color: #333333;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          img {
            height: 125px;
            object-fit: cover;
          }
        }
        @media (max-width:568px) {
          .card {
          width: 55%;
          }
        }
      }
}
pagination-controls {
    display:inline-block;
    margin-top: 25px;
  }
  
  pagination-controls ::ng-deep .ngx-pagination .current {
    padding: 0.1875rem 0.625rem;
    background: #ef5350;
    border: transparent;
    border-radius: 25px;
    color: #fefefe;
    cursor: default;
  }
  .loading-indicator {
    width: 25px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
  }
  
