@import "./../../variables.scss";

.page-title {
    font-size: 16px;
    font-weight: 600;
    color: $black;
}
.cover-bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: block;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    
}

.page-tabs-container {
    width: 100%;
    text-align: center;
    .page-tabs {
        display: inline-block;
        margin-top: 15px;
        cursor: pointer;
        .tab {
            display: inline-block;
            padding: 6px 12px;
            
            background: $color-lite-grey;
            color: $color-dark-grey;
            font-size: 16px;
            border: 2px solid $color-lite-grey;
            &.active {
                color: $color-red;
                border: 2px solid $color-red;
                background: white;
            }
        }
    }    
}

.hide-scroll-bar::-webkit-scrollbar { width: 0 !important }
.hide-scroll-bar { overflow: -moz-scrollbars-none; }
.hide-scroll-bar { -ms-overflow-style: none; }

.custom-scrollbar {
/* width */
&::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #ef6a67; 
  }
  
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $color-red; 
  }
}