<div class="service-container">
    <h3 class="offers-title text-center">
        Home Service
        <div class="border-underline"></div>
    </h3>

    <div class="mb-sm-3 mb-0 pb-0 w-75 mx-auto mobile-w-75" *ngIf="recentlyBooked?.length > 0">
        <h5 class="mb-4 section-title text-left">
            Recently Booked
            <div class="border-underline"></div>
        </h5>
        <div id="just-you-carousel" class="m-4 carousel slide just-you-carousel">
            <app-horizontal-carousel>
                <div class="card border-0 d-inline-block mb-3 p-0" *ngFor="let item of recentlyBooked">
                    <a target="_self"
                        [href]="baseUrl + '/service/h/booking/' + currentCity + '/' + item.business_id + '/'+ item.order_category_display_name + '/'+ item.business_city + '/' + item.urlBusinessName">
                        <img class="card-img-top" src="{{ item.image_url }}" alt="Store image" />
                        <div class="card-body text-center m-0 p-0">
                            <div class="card-title text-center mt-1 p-1">Last Service : {{ item.last_service_date }}
                            </div>
                        </div>
                    </a>
                </div>
            </app-horizontal-carousel>
        </div>
    </div>

    <div class="home-services" *ngFor="let item of categories">

        <div class="col-12 p-sm-0 padding-0">
            <div class="mb-sm-3 mb-0 pb-0 w-75 mx-auto mobile-w-75">
                <h5 class="mb-4 section-title text-left">
                    {{item.service_title}}
                    <div class="border-underline"></div>
                </h5>
                <app-horizontal-carousel>
                    <div class="product-card d-inline-block pr-4" *ngFor="let itemlist of item.services_list">
                        <div class="card border-0">
                            <a target="_self"
                                [href]="baseUrl + '/service/h/services/' + currentCity + '/' + itemlist.order_category_name + '/'+ itemlist.urlCategorydisplayName">
                                <img class="card-img-top rounded" src="{{ itemlist.image_url }}" alt="Product image" />
                                <div class="title m-0 p-0 ellipsis text-center"
                                    title="{{  itemlist.order_category_display_name }}">
                                    {{  itemlist.order_category_display_name }}
                                </div>
                            </a>
                        </div>
                    </div>
                </app-horizontal-carousel>
            </div>
        </div>
    </div>
</div>