@import "../../../variables";



  .service-container {
    .home-services {
      hr {
        margin: 7px 0;
      }
      .product-card {
        cursor: pointer;
        .card-img-top {
          width: 250px;
          height: 150px;
          object-fit: contain;
        }
        .card {
            .title {
              font-size: 16px;
              font-weight: 500;
            }
      }
      }
    }

    .just-you-carousel {
      .card {
        cursor: pointer;
        width: 25%;
        margin-right: 2%;
        .card-title {
          font-size: 0.8rem;
          color: #333333;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        img {
          height: 125px;
          object-fit: cover;
        }
      }
      @media (max-width:568px) {
        .card {
        width: 55%;
        }
      }
    }

  }
