<div class="category-list-container">
    <h3 class="text-center">
        Categories
        <div class="border-underline"></div>
    </h3>
    <br>
    <div class="text-center" style="display: none">
        <div class="input-group ">
            <input type="text" class="form-control searchbox" placeholder="Search by Store Name" id="txtSearch"
                data-role="none" [(ngModel)]="searchTxt" (keyup)="handleSearchChange($event)" />
            <div class="input-group-btn">
                <button class="btn btn-primary">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </div>

        </div>
        <div class="search-results" *ngIf="(searchResultsList?.length >0)">
            <ul class="results-list">
                <li class="search-result-record" *ngFor="let result of searchResultsList"
                    (click)="handleSearchResultClicked(result)">{{result.keyword}} </li>
            </ul>
        </div>
    </div>

    <div class="category-card">
        <div class="row" *ngIf="categoryList">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="row mt-4">
                    <div class="col-6 col-md-6 col-lg-4 mb-3" *ngFor="let category of categoryList">
                        <div class="card b-1 shadow">
                            <a target="_self"
                                [href]="baseUrl + '/business/l/' + city + '/' + category.name + '/'+ 'LEVEL1' + '/' + category.urlDisplay_name + '/' + 'HOME_DELIVERY' + '/' + '1'">
                                <img class="card-img-top" [src]="category.image_url" style="background-image: url(https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/Ballari%2Fbg_mage.png?alt=media&token=1f2c0dab-ea87-4071-aa31-293b67427d19);width: 100%;
              height: 150px; object-fit: cover" />
                                <div class="category-name mb-0 ellipsis p-2">
                                    {{ category.display_name }}
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="no-results" *ngIf="(categoryList?.length < 1)">
            No results to show ..
        </div>
    </div>
    <div class="col-md-2"></div>
</div>