.about-us-content {
  text-align: center;
}
.page-title {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin: 40px auto;
  color: #ff6666;
}

.page-content {
  margin-bottom: 30px;
  min-height: 70vh;
}

.page-content .page-content-lines {
  margin-top: 25px;
  font-size: 16px;
}
.banner-about-us {
  width: 100%;
}

a {
  color: #EF5350;
}
.alpha-title .alpha {
  margin-right: 25px;
}

.numbered-list>li {
  margin-top: 15px;
}
.unordered-list li{
  list-style-type: disc;
  margin-top: 8px;
  margin-bottom: 8px;
}
.alpha-title{
  margin-top: 25px;
  margin-bottom: 10px;
}
.alpha-title+p{
  margin-top: 0px;
}

.external-ul li, .internal-ul li {
  list-style-type: disc;
  margin-top: 8px;
  margin-bottom: 8px;
}

.num-title {
  margin-top: 25px;
  margin-bottom: 10px;
}
