<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<div class="real-estate-list-container">
  <h3 class="text-center">
    Real Estate
    <div class="border-underline"></div>
  </h3>
  <div class="page-tabs-container text-center">
    <div class="show-time-tabs page-tabs">
      <a class="tab buy" [ngClass]="{active:buy}" target="_self"
        [href]="baseUrl + '/realEstate/' + city+ '/buy'">Buy</a>
      <span class="vertical-line"></span>
      <a class="tab rent" [ngClass]="{active:rent}" target="_self"
        [href]="baseUrl + '/realEstate/' + city+ '/rent'">Rent</a>
      <span class="vertical-line"></span>
      <a class="tab commercial" [ngClass]="{active:commercial}" target="_self"
        [href]="baseUrl + '/realEstate/' + city+ '/commercial'">Commercial</a>
    </div>
  </div>
  <br>
  <div class="text-center" style="display: none">
    <div class="input-group ">
      <input type="text" class="form-control searchbox" placeholder="Search for Location,Builder or Project"
        id="txtSearch" [(ngModel)]="searchTxt" (keyup)="handleSearchChange($event)" />
      <div class="input-group-btn">
        <button class="btn btn-primary">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </div>

    </div>
    <div class="search-results" *ngIf="(searchResultsList.length >0)">
      <ul class="results-list">
        <li class="search-result-record" *ngFor="let result of searchResultsList">{{result.keyword}} </li>
      </ul>
    </div>
  </div>

  <div class="real-estate-cards">

    <div class="row">

      <div class="col-md-12">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-4 mb-3" *ngFor="let realEstate of realEstateList">
            <!-- <div class="card shadow" (click)="handleRealEstateClicked(realEstate)"> -->
            <div class="card shadow">

              <a target="_self" [href]="baseUrl + '/realEstate/d/' + city+ '/' + realEstate.real_estate_id + '/' + realEstate.urlPropertyName">
                <img class="card-img-top" [src]="realEstate.primary_image_url" [alt]="realEstate.property_name" style="background-image: url(https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/Ballari%2Fbg_mage.png?alt=media&token=1f2c0dab-ea87-4071-aa31-293b67427d19);width: 100%;
              height: 200px; object-fit: cover" />
              </a>
              <div class="card-body">
                <div>
                  <div class="property_name">{{realEstate.property_name}}</div>
                  <div class="property_desc">{{realEstate.property_description}}</div>
                  <p></p>
                  <div class="property_locality">{{realEstate.locality}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="no-results" *ngIf="(realEstateList.length < 1)">
          No results to show ..
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>