<div class="profile-container">
    <div class="profile-data">
        <div class="col-12 p-sm-0 padding-0">
            <div class="mb-sm-3 mobile-w-75">
                <div class="qrcode">
                     <ngx-qrcode [elementType]="elementType" [value]="value" cssClass="aclass"
                     errorCorrectionLevel="L"></ngx-qrcode>
            </div>
                <div class="pt-3">
                    <form #form="ngForm">

                        <div class="bookform-inner-mobile">
                            <div class="row">
                              <div class="referral mb-2">
                                <h4 class="mb-3 p-0">Referral Code: <span>{{entry.referralCode}}</span></h4>
                                <h5 class="my-3 p-0">Total Customers Referred: <span>{{entry.referralCount}}</span></h5>
                              </div>
                                <div class="col-xs-6">
                                    <div class="form-container">
                                        <div class="row">
                                            <div class="col-xs-12 form-group col-sm-12">
                                                <label>Name:</label>
                                                <input type="text" name="name" [(ngModel)]="entry.name" #name="ngModel"
                                                    class="form-control" placeholder="NAME" required />

                                            </div>
                                            <div class="col-xs-12 form-group col-sm-6">
                                                <label>Age:</label>
                                                <input type="tel" name="age" maxlength="3" [(ngModel)]="entry.age"
                                                    #age="ngModel" class="form-control" placeholder="AGE" required />
                                            </div>
                                            <div class="col-xs-12 form-group col-sm-6">
                                                <label>Email Id (optional):</label>
                                                <input type="email" name="email" [(ngModel)]="entry.email"
                                                    #email="ngModel" class="form-control" placeholder="EMAIL"
                                                    required />
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                                <label>Gender: </label> &nbsp;&nbsp;&nbsp;&nbsp;
                                                <span><input data-role="none" type="radio" name="gender" value="Male"
                                                        [checked]="entry.gender == 'Male' ? true :false"
                                                        [(ngModel)]="entry.gender" #gender="ngModel"> Male</span>
                                                &nbsp;&nbsp;&nbsp;&nbsp;
                                                <span><input data-role="none" type="radio" name="gender"
                                                        [checked]="entry.gender == 'Female' ? true :false"
                                                        value="Female" [(ngModel)]="entry.gender" #gender="ngModel">
                                                    Female</span>
                                            </div>
                                            <div class="col-xs-12 form-group col-sm-6">
                                                <div class="book-text booking-btn text-center" (click)="updateProfile(form.value)">Submit</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
