@import "../../variables.scss";

  .profile-container {
      width: 75%;
      display: block;
      margin: auto;
      .qrcode{
        display: inline-block;
        margin-left: -30px;
      }
      .referral{
        display: inline-block;
        h4{
            font-size: 14px;
            span{
                font-size: 14px;
                font-weight: 600;
            }
        }
        h5{
            font-size: 14px;
            span{
                font-size: 14px;
                font-weight: 600;
            }
        }
      }
      h3{
          font-size: 16px;
          font-weight: 600;
      }
    .profile-data {
      hr {
        margin: 7px 0;
      }
      .product-card {
        cursor: pointer;
        .card-img-top {
          width: 250px;
          height: 150px;
          object-fit: contain;
        }
        .card {
            .title {
              font-size: 16px;
              font-weight: 500;
            }
      }
      }
    }
    
  }
  .booking-btn {
    cursor: pointer;
    width: 145px;
    background: #EF5350;
    color: #fff;
    outline: none;
    display: block;
    margin: auto;
    height: 30px;
    border:none;
    border-radius: 5px;
    padding: 5px;
}