
    <img class="banner-about-us" src="https://www.oneshell.in/assets/images/aboutus.png" alt="about us image">
    <div class="about-us-content">
        <h2 class="page-title">ABOUT US</h2>
        <div class="page-content">
            <p class="page-content-lines"> We started off as a team of two with lots of aspirations, based in
                Bangalore, India.</p>

            <p class="page-content-lines">Our Motto is to build a bridge between the customer and business
                through a single platform and solve their current practical problems effectively. We strive to make
                shopping economical and better than ever before.</p>

            <p class="page-content-lines">Shopping will no more be time consuming and taxing for customers.</p>
            <p class="page-content-lines">Reaching Customers and increasing sales will no more be struggle for
                business.</p>

            <p class="page-content-lines">OneShell makes life simple.</p>

        </div>
    </div>
