    <h2 class="page-title">PRIVACY POLICY</h2>
    <div class="page-content">
      <p><strong>OneShell Solutions Private Limited </strong>is committed to protecting and preserving the privacy of its users.
        The intention of this privacy policy (hereinafter referred to as "Privacy Policy") is to ensure that You, as a user
        of <a target="_blank" href="https://www.oneshell.in">https://www.oneshell.in</a>  or <a target="_blank" href="https://www.partner.oneshell.in">www.partner.oneshell.in</a> or the OneShell Mobile Application or the OneShell Partner Mobile
        Application (“PLATFORM”) are cognizant of the nature of information We collect when You access or use the PLATFORM,
        the methods in which We use such information, the circumstances, if any, under which We may disclose it and your
        rights with respect to controlling your data. Capitalized terms not specifically defined here will have the same
        meaning designated to them under our <a target="_blank" href="https://www.oneshell.in/terms"><strong>Terms of Service</strong></a>
      </p>

      <p class="alpha-title"><strong><span class="alpha">A.</span> What information do We collect?</strong></p>
      <p class="under-line"><strong>Personal Information</strong></p>
      <p>We collect Personal Information that You provide voluntarily when You register on to the PLATFORM or offer/procure
        any Services through the PLATFORM or make any inquiries through the PLATFORM or communicate with OneShell (including
        customer service representatives, service providers or other employees) by email, telephone, letter or other methods,
        comment on blog posts, or subscribe for newsletters or other information services, or report a problem with our site,
        or otherwise contact us.</p>
      <p>We will collect the following personal information that You provided through the PLATFORM:</p>
      <ol>
        <li>Name, Age, Gender</li>
        <li>Phone Number</li>
        <li>Email Id</li>
        <li>Locality</li>
      </ol>
      <p>We do not collect any Sensitive Personal Information relating to topics such as confidential medical facts, racial
        or ethnic origins, political or religious beliefs or sexuality.
      </p>
      <p>You may have the opportunity to create an account that consists of information about you, and may include Personal
        Information, feedback/rating information and other information, including your username. If, in any case, You believe
        that an unauthorized account has been created about you, You can request for it to be removed by contacting us at contactus@oneshell.in. </p>
      <p>To request removal of your personal information from our website, contact us at contactus@oneshell.in. In some cases,
        We may not be able to remove your Personal Information, in which case We will let You know if We are unable to do
        so and why.</p>
      <p class="alpha-title"><strong><span class="alpha">B.</span> How do We use your Information</strong></p>
      <p>We use the information You voluntarily provide for the following purposes: to process and fulfill Your queries regarding
        Services offered on the PLATFORM to answer Your inquiries about Our Services; to contact You with administrative
        communications and marketing or promotional materials and other information that may be of interest to you, to which
        You have specifically consented.
      </p>
      <p>
        We use information that We collect about You: to enable Your seamless use of the PLATFORM; to contact visitors of the PLATFORM
        when necessary; to resolve any issues with the PLATFORM; to efficiently manage the PLATFORM which includes analysis,
        research, statistical and survey uses, together with testing and troubleshooting; to ensure the PLATFORM is safe
        and secure by monitoring activities within the context of continual process improvement,; to improve the algorithms,
        marketing efforts and enhance the overall service levels and offerings.
      </p>

      <p>
        OneShell may use non-personal information for the above-mentioned purposes as well as to monitor the PLATFORM and provide
        a better online experience to the users.
      </p>

      <p class="alpha-title"><strong><span class="alpha">C.</span> How long do We retain your information</strong></p>

      <p>
        We will only retain your Personal Information for as long as necessary to fulfill the purposes We collected it for, including
        for the purposes of satisfying any legal, accounting, or reporting requirements.
      </p>

      <p>
        To determine the appropriate retention period for Personal Information, We consider the amount, nature, and sensitivity of
        the Personal Information, the potential risk of harm from unauthorised use or disclosure of your Personal Information,
        the purposes for which We process your Personal Information and whether We can achieve those purposes through other
        means, and the applicable legal requirements.
      </p>

      <p>
        UNLESS YOU REQUEST THAT WE DELETE YOUR ACCOUNT, WE RETAIN THE INFORMATION WE COLLECT FOR AT LEAST 5 YEARS AND MAY RETAIN
        THE INFORMATION FOR AS LONG AS NEEDED FOR OUR BUSINESS AND LEGAL PURPOSES.
      </p>

      <p class="alpha-title"><strong><span class="alpha">D.</span> When and with whom do We share your Personal Information</strong></p>

      <p>
        Your personal information will not be shared with any third party except as mentioned here:
      </p>

      <ol class="numbered-list">
        <li>
          When OneShell is required by law to share the information in situations such as (i) when We suspect a violation of the Terms;
          (ii) co-operating with law enforcement agencies in response to any judicial order; or (iii) co-operating with
          any investigation on matters related to public safety, illegal activities, suspected fraud, threats to the physical
          safety of any person, etc., as may be permitted by law.
        </li>


        <li>
          With the third party service providers on a strictly need to know basis, solely for the purpose of providing the Services
          or facilitating the Services in relation to the PLATFORM, such as:
          <ul class="unordered-list">
            <li>
              Facebook – We use Facebook Account kit for Mobile Verification and share your phone number with Facebook for this limited
              purpose.
            </li>
            <li>
              Cloud Platform providers for the purpose of hosting the PLATFORM and/or Data Storage.
            </li>

            <li>
              Google Analytics - For tracking website usage to increase the efficiency of the Services.
            </li>
          </ul>
          <p>
            These third parties have access to your Personal Information only to perform specific tasks on our behalf and are obligated
            not to disclose or use it for any other purpose.
          </p>
        </li>
        <li>
          With Merchants registered on the PLATFORM, if You are a Customer and have created a profile on the PLATFORM. We share information
          regarding Customers seeking a particular product with Merchants.
        </li>

        <li>
          With Customers registered on the PLATFORM, if You are a Merchant and have made a product/ service posting.
        </li>

        <p>
          We may sell, transfer or otherwise share some or all of our assets, including your Personal Information, in connection with
          a merger, acquisition, reorganization or sale of assets (including, in each case, as part of the due-diligence
          process with any potential acquiring entity) or in the event of bankruptcy. You will be notified via email and/or
          a prominent notice on our website of any change in ownership or uses of your personal information, as well as
          any choices You may have regarding your personal information.
        </p>
      </ol>
      <p><strong>Transfer of Information </strong></p>
      The information collected in connection with the PLATFORM may be processed and/or stored, in any country where We engage
      service providers, where the data protection laws may be different from that applicable in India or that of the country
      where You reside. By making use of the PLATFORM, You acknowledge and accept the storage, transfer and processing of information,
      outside of Your country of residence. However, when We transfer your information, We will protect it as described in
      this Privacy Policy.

      <p class="alpha-title"><strong><span class="alpha">E.</span> How do We keep your Information Secure</strong></p>
      <p>
        Access to personal information is limited to employees who We reasonably believe to require access to such information in
        order for them to perform their designated functions in relation to providing services to You. We use commercially reasonable
        safeguards to preserve the integrity and security of all information collected through or in connection with the PLATFORM.
        To protect your privacy and security, We take reasonable steps (such as requesting a unique password) to verify your
        identity before granting You access to your account. You are responsible for maintaining the secrecy of your unique password
        and account information, and for controlling access to your email communications from OneShell. Notwithstanding the foregoing
        measures, Although We will use reasonable efforts to secure network communications and the PLATFORM, We cannot guarantee
        that the information submitted to, maintained on, or transmitted from our systems will be completely secure or that information
        on the PLATFORM may not be accessed, disclosed, altered, or destroyed.
      </p>

      <p class="alpha-title"><strong><span class="alpha">F.</span> Cookies</strong></p>

      <p>
        One concrete way We commit to user privacy is by honouring Do Not Track (“DNT”) browser settings. If You enable DNT in your
        browser, it sends us a header when You fetch a webpage, requesting that We do not track your movements online through
        cookies or other means.
      </p>

      <p>
        Cookies are small data files stored on the hard drive of the user's computer.  Cookies may be used for many purposes, including,
        without limitation, tracking user preferences and web pages visited while using the PLATFORM. Cookies often make
        web surfing simpler by performing through functions such as saving Your personal preferences on usage of any specific
        website, ensuring You don't see that advertisements are not repeated etc. Advertisers and partners on the PLATFORM
        may also use cookies, which We do not control and We are not responsible for information collected through them.
      </p>

      <p>
        You may choose to disable or refuse the cookies by changing the settings of Your browser. To do this, follow the instructions
        provided by your browser (usually located within the “Help,” “Tools” or “Edit” facility). If You choose to reject
        the cookies, Your experience at the PLATFORM may be diminished, You may not be able to access certain parts of the
        Site and certain features of the PLATFORM may not function as intended.
      </p>

      <p class="alpha-title"><strong><span class="alpha">G.</span> Third Party Website</strong></p>
      <p>
        We may provide links to third party websites on the PLATFORM, which may have privacy policies that are dissimilar to this
        PLATFORM and for which We are not accountable. Further, You may be required to download certain third party applications
        for making use of certain functionalities of the Services, which may be governed by terms of use and privacy policy,
        which may be different from that of the PLATFORM. We recommend that You review the privacy policy posted on any third
        party website or applications, that You may access through the PLATFORM or download in connection with the Services.
      </p>

      <p class="alpha-title"><strong><span class="alpha">H.</span> Phishing</strong></p>
      <p>
        Identity theft and the practice currently known as “phishing” are of great concern to OneShell. Safeguarding information
        to help protect You from identity theft is a top priority. We do not and will not, at any time, request your credit
        card information, your account ID, login password, social security number or national identification numbers in a
        non-secure or unsolicited e-mail or telephone communication.
      </p>

      <p class="alpha-title"><strong><span class="alpha">I.</span> Policy Toward Children</strong></p>
      <p>
        This Site is not directed to persons under 18. We do not knowingly collect personally identifiable information from children
        under 16. If a parent or guardian becomes aware that his or her child has provided us with Personal Information without
        their consent, he or she should contact our support team immediately. If We become aware that a child under 16 has
        provided us with Personal Information, We will use commercially reasonable efforts to delete such information from
        our files.
      </p>

      <p class="alpha-title"><strong><span class="alpha">J.</span> Changes to this Privacy Policy</strong></p>
      <p>
        With the changes in the PLATFORM or due to change in applicable laws, We may be required, to add, remove, change or modify
        portions of this Privacy Policy at any time. We strongly advise that You revisit this Privacy Policy regularly to
        ensure that You are aware of the updated privacy practices. We will not reduce your rights under this privacy policy
        without your consent. If there are significant changes to the way We treat your Personal Information, We will display
        a prominent notice on the PLATFORM prior to the change becoming effective. We may also notify the change to You by
        email, at our discretion. Unless You consent to the revisions or changes, We will continue to use your Personal Information
        in a manner consistent with the Privacy Policy in effect at the time You submitted the information. We always indicate
        the date when the last update was made and We will make available the archived versions for your review.
      </p>

      <p class="alpha-title"><strong><span class="alpha">K.</span> Contacting Us</strong></p>
      <p>
        If You have any questions about this Privacy Policy, please contact our support team on the PLATFORM contactus@oneshell.in.
      </p>
    </div>
