    <h2 class="page-title">TERMS OF SERVICE</h2>
    <div class="page-content">
      <p><strong>Welcome to OneShell! The website <a target="_blank" href="https://www.oneshell.in">https://www.oneshell.in</a> , <a target="_blank" href="https://www.partner.oneshell.in">https://www.partner.oneshell.in</a> and the mobile application OneShell
        (“PLATFORM”) is owned, managed, operated and maintained by OneShell Solutions Private Limited (hereafter referred
        in this document as “OneShell”/ “we”/ “us”) and any access of the PLATFORM or use of the services, offered by
        OneShell through the PLATFORM (“Services”), is subject to your express acceptance of these terms of service (“Terms”).
        These terms shall apply to You the user (“You” or “User”) and, as applicable, Users who are looking to showcase
        their products and services (“Merchants”) in their stores to other Users, and Users seeking to get information
        about products and services (“Customers”) offered in the stores of the Merchants.
      </strong></p>
      <p>Please read these terms very carefully. By accessing the PLATFORM, You agree to comply with the terms.
      </p>
      <p>The PLATFORM is an online arena, which enables and provides a convenient and innovative means for Merchants to showcase
        easily and securely their products and/or services through the online platform, provided by OneShell.
      </p>
      <p>Please take note that the PLATFORM currently only enables the Users to showcase and browse the products and services
        listed through this PLATFORM and any purchase of the products and services purchased by a Customer would be subject
        to a separate contract entered into between the Merchant and the Customer. OneShell is not a party to such transaction,
        and Merchants and Customers will be independently responsible and liable to each other under the terms of such contract.
        OneShell merely facilitates the interaction between Merchants and Customers through the PLATFORM.
      </p>
      <p>IF YOU DO NOT WISH TO BE BOUND BY THESE TERMS OR IF YOU CANNOT REMAIN IN COMPLIANCE WITH SUCH TERMS, PLEASE DO NOT
        ACCESS THE PLATFORM OR USE ANY OF THE SERVICES AND IMMEDIATELY CEASE SUCH ACCESS AND USE.
      </p>

      <p>OneShell may modify these Terms or any additional terms that apply to a Service to reflect changes to Our Services
        or change in any applicable laws, or for other specific reasons. We encourage You to review the Terms regularly.
        We’ll provide notice of any changes to the Terms on this page and any Service specific changes will be notified in
        the relevant page of the applicable Service. Changes will not apply retroactively. Unless We specifically mention
        otherwise in a notice, changes will become effective immediately upon being posted. If You do not agree to the modified
        terms for a Service, please discontinue Your use of that Service.
      </p>
      <p class="num-title"><strong><span class="alpha">1.</span> Eligibility </strong></p>
      <p>By using the PLATFORM You warrant that:
      </p>
      <p>a) You are at least 18 years old (if You are an individual) or if You are an entity, that You are legally constituted
        as per the applicable laws of the country of Your registration; and
      </p>
      <p>b) You are legally capable of entering into a binding contract; and
      </p>
      <p>c) You are not in any way prohibited by the applicable law in the jurisdiction in which You are currently located
        to enter into these Terms; and.
      </p>
      <p class="num-title"><strong><span class="alpha">2.</span> Sign up and Registration
      </strong></p>
      <p>You can create a User profile on the PLATFORM either as a Merchant or as a Customer. To become a registered User You
        must create a User account on the PLATFORM (“Account”). You agree to provide true, accurate and complete information
        as prompted by the registration form and all forms You access on the PLATFORM, and to update this information to
        maintain its truthfulness, accuracy and completeness. Any personal information collected through the PLATFORM will
        be dealt with as per Our <a target="_blank" href="https://www.oneshell.in/privacy"><strong>Privacy Policy</strong></a>. The PLATFORM currently does not charge any membership fee or subscription
        charges for becoming a registered User.
      </p>
      <p>During registration, You will be asked to choose a username and password for the Account (“Login Credentials”). Once
        an Account is created, You agree to be entirely responsible to safeguard and maintain the confidentiality of the
        username and password You use to access Your Account. You authorize OneShell to assume that any person using the
        PLATFORM with Your username and password is You or is authorized to act for You. You agree to notify Us immediately
        if You suspect any unauthorized use of the Account. We reserve the right to promptly disable Your Login Credentials
        and suspend Your access to the Services and/or the PLATFORM in the event We have any reason to believe that You have
        breached any of the provisions set out herein.
      </p>
      <p>By becoming a registered User, You agree to (i) not use Your Login Credentials with the intent of impersonating another
        person (ii) not allow any other person to use Your Login Credentials; (iii) abide by the Terms and the processes,
        procedures, and guidelines described throughout the PLATFORM; (iv) be financially responsible for Your use of the
        PLATFORM and the purchase or delivery of professional services; (v) perform Your obligations as specified by any
        contract that You accept, unless such obligations are prohibited by law or by the Terms.
      </p>
      <p>Once You have registered as a Customer or as a Merchant, You would be able to find specific products or services posted
        by Merchants,. You may be allowed to submit or post images, texts etc. that can be viewed and accessed in the public
        domain. Any and all content posted on the PLATFORM by a User including but not limited to all information, comments,
        images, third party URL links, or other material whatsoever in any format shall constitute the “User Content”.
      </p>
      <p>Regardless of the clause above, You acknowledge that submitting any User Content does not guarantee that such User
        Content, or any part thereof, shall appear on the PLATFORM, whether or not the submission of such User Content is
        part of the Services. You agree that OneShell may, at its sole discretion, choose to display any User Content or
        any part of the same that You make on the PLATFORM, or to remove them as We deem necessary or appropriate.
      </p>
      <p>Unless otherwise explicitly stated by us, OneShell does not vet, verify the accuracy, correctness and completeness,
        edit or modify any User Content or any other information, data and materials created, used and/or published by You
        to determine whether they may result in any liability to any third party. You hereby warrant that You have the rights
        to use all such User Content in the manner set out in these Terms. WE EXPRESSLY EXCLUDE OUR LIABILITY FOR ANY LOSS
        OR DAMAGE ARISING FROM THE USE OF OUR SERVICE BY A USER IN CONTRAVENTION OF THIS CLAUSE.
      </p>
      <p>We do not engage in any background check on Our Users. Accordingly, We cannot confirm that each User is who they claim
        to be and therefore, We cannot and do not assume any responsibility for the accuracy or reliability of identity or
        any information provided through the PLATFORM. When interacting with other Users, You should exercise caution and
        common sense to protect Your personal safety and property, just as You would when interacting with other persons
        whom You don’t know. NEITHER OneShell NOR OUR AFFILIATES OR LICENSORS IS RESPONSIBLE FOR THE CONDUCT, WHETHER ONLINE
        OR OFFLINE, OF ANY USER OF THE PLATFORM AND YOU HEREBY RELEASE ONESHELL AND ITS AFFILIATES OR LICENSORS FROM ANY
        LIABILITY RELATED THERETO. ONESHELL AND ITS AFFILIATES AND LICENSORS WILL NOT BE LIABLE FOR ANY CLAIM, INJURY OR
        DAMAGE ARISING IN CONNECTION WITH YOUR USE OF THE PLATFORM.
      </p>

      <p class="num-title"><strong><span class="alpha">3.</span> User obligations </strong></p>
      <P><strong>General Obligations of all Users
      </strong></P>
      <ul class="external-ul">
        <li>You shall be solely responsible and liable for all activities on the PLATFORM undertaken through or using Your
          Login Credentials. You must comply with all applicable law in respect of Your use of the PLATFORM and the Services
          including, without limitation, compliance with all applicable e-commerce directives, buyer protection legislation
          and data protection and privacy directives.
        </li>
        <li>You shall not submit to the PLATFORM any User Content that may reasonably be deemed to:
          <ul class="internal-ul">
            <li>be offensive, illegal, inappropriate or in any way;</li>
            <li>promote racism, bigotry, hatred or physical harm of any kind against any group or individual;</li>
            <li>harass or advocate harassment of another person;</li>
            <li>display pornographic or sexually explicit material;</li>
            <li>promote any conduct that is abusive, threatening, obscene, defamatory or libellous;</li>
            <li>promote any illegal activities;</li>
            <li>provide instructional information about illegal activities, including violating someone else’s privacy
              or providing or creating computer viruses;</li>
            <li>promote or contain information that You know or believe to be inaccurate, false or misleading;</li>
            <li>engage in or promote commercial activities and/or sales not related to the Services, including but not
              limited to contests, sweepstakes, barter, advertising and pyramid schemes; or</li>
            <li>infringe any rights of any third party</li>
          </ul>
        </li>
        <li>
          The PLATFORM and the Services shall be used for lawful purposes only and must not be used to transmit User Content or activity
          that:
          <ul class="internal-ul">
            <li>impersonates any entity, business, or person;</li>
            <li>involves the distribution of any form of solicitation or unwanted, unsolicited or harassing mass e-mails,
              any chain mail, junk mail or any unsolicited or unauthorized advertising or promotional materials;</li>
            <li>infringes or misappropriates any of the intellectual property rights proprietary right, license right,
              or legal content protections;</li>
            <li>Use, store, share, host, copy, distribute, display, publish, transmit or send content that is or may
              be deemed abusive, libellous, fraudulent, deceptive, tortuous, obscene, threatening, invasive of privacy,
              offensive, inflammatory, hateful, defamatory, discriminatory or encourages or incites any criminal activity
              harmful to others, or is otherwise objectionable;</li>
            <li>disrupts or interferes with the PLATFORM or disable, impair or damage any servers or networks connected
              to PLATFORM, or violate any policies or regulations of networks connected to PLATFORM;</li>
            <li>introduces any viruses or code, that permit the unauthorized use of a computer or computer network or
              otherwise destroy, interrupt, or limit the functionality of any software or hardware in relation to the
              PLATFORM;
            </li>
            <li>gains or attempt to gain unauthorized access to any user accounts, networks, services or computer systems,
              through any means.</li>
            <li>accesses or probes any network, computer or communications system, software application, or network or
              computing device systems without authorization, including but not limited to breaches, vulnerability
              scans or penetration testing</li>
            <li>attacks, abuses, interferes with, surreptitiously intercepts, or disrupts any Users, systems or services,
              including but not limited to unauthorized monitoring or crawling, distribution of malware (including
              but not limited to viruses, Trojan horses, worms, time bombs, spyware, adware, or cancelbots) ;</li>
            <li>alters, forges or obscures mail headers or assumes a sender's identity without the sender's express permission,
              or collects replies to messages sent from another internet service provider in violation to this Policy
              or the applicable policy of that provider;</li>
            <li>disables, interferes with, abuses, disrupts, intercepts, circumvents or otherwise violates the security
              of the PLATFORM and Services;</li>
            <li>markets or solicits any prohibited, contraband or illegal substances.</li>

          </ul>
        </li>
      </ul>
      <p class="small-title"><strong>Use by Merchants</strong></p>
      <p>The Services enable Merchants to list real time data regarding the products and/or services offered in their store,
        which they desire to showcase to a Customer. Merchant may post multiple products and/or services on the PLATFORM.
        The PLATFORM currently does not charge any membership fee or subscription charges for becoming a registered User,
        however OneShell reserves the right, with prior intimation, to introduce a membership fee or subscription charges
        for continued use of the PLATFORM by Merchants.
      </p>

      <p>When submitting a products and/or service listing, we recommend that You ensure that the listing contains all information
        that is reasonably necessary for a Customer to fully and accurately make an informed decision, including (i) the
        description of the product and/or service You are offering, including without limitation the brand name of the products
        where applicable, the location of the Your store; and (ii) a list of experience, skills, training, qualifications
        and any other pre-requisites in case of Services; and (iii) the price/ service charges applicable.</p>
      <p>As a Merchant, it shall be Your sole responsibility to:</p>
      <ul class="external-ul">
        <li>ascertain the identity of the Customer(s); and</li>
        <li>communicate with Customer(s);</li>
      </ul>

      <p>As a Merchant, You must (i) not provide information (including in any product and/or service listing and/or other
        communication with Customers) which You know to be inaccurate, false, incomplete, untrue or is or may be deemed to
        be a misrepresentation of the facts; (ii) promptly mark any out of stock product or unavailable service accordingly;
        and (iii) immediately notify OneShell in the event You have any reason to believe or suspect that a Customer or another
        Merchant has breached any of the Terms or that any Customer or Merchant Profile is not genuine, or is false.</p>
      <p>You acknowledge and agree that products and/or service listings will be viewable by any Users of the PLATFORM and
        You can choose to share private information or have a private conversation directly with a specific Customer in accordance
        with the instructions set out on the PLATFORM.</p>
      <p>You may cancel the listing of a Products and/or Service at any time. Any cancellation or withdrawal from Service by
        You shall not entitle You for refund of any subscription fee already paid. </p>
      <p>OneShell shall not be a Party to and shall not involve itself in any disagreement between the Merchant and Customer.
        OneShell shall in no event be liable to any User on account of any cancellation of listings of Products and/or services.</p>

      <p class="small-title"><strong>Use by Customers </strong></p>

      <p>The PLATFORM allows the Customer to add Your preferences. </p>
      <p>As a Customer, You must:</p>
      <ul class="external-ul">
        <li>provide all information reasonably requested by OneShell to set up Your Account, including but not limited to
          Your contact details (including Your mobile number for SMS purposes;</li>
        <li>ensure You are appropriately qualified to use the Services.</li>
        <li>at all times keep all information including without limitation, communication and correspondences between You
          and the Merchants and all information relating to Merchants secure and confidential; and</li>
        <li>immediately notify OneShell in the event You have any reason to believe or suspect that a Merchant has breached
          any of its Terms or that any of the products and/or services posted by a Merchant are not genuine, false, inaccurate
          and/or incomplete.</li>
      </ul>

      <p class="num-title"><strong><span class="alpha">4.</span> Modifying and Terminating Our Services</strong></p>
      <p>We are constantly changing and improving Our Services. We may add or remove functionalities or features, and We may
        suspend or discontinue a Service altogether or add or create new limits to Our Services at any time for any reason
        whatsoever including but not limited to repairs, planned maintenance or upgrades and shall not be liable to You for
        any such suspension or non-availability of the Services and/or the PLATFORM (whether wholly or partly). </p>
      <p>You will always have the option to stop using Our Services at any time. </p>
      <p>We believe that You own Your data and preserving Your access to such data is important. If We discontinue a Service,
        where reasonably possible, We will give You reasonable advance notice and a chance to get information out of that
        Service.
      </p>
      <p>If You have reason to believe that another User has not followed or complied with their obligations in these Terms,
        or You have a complaint to make, please e-mail us at: contactus@oneshell.in or by using the "Contact Us" form available
        on the PLATFORM. Please provide full details of the nature of Your complaint and the materials to which the complaint
        relates. We will use Our reasonable endeavors to respond to all complaints within a reasonable time and to take reasonable
        action, which We deem appropriate to resolve or rectify the subject matter of such complaints.</p>
      <p>In the event that OneShell, in its sole and absolute discretion, considers that there has been a breach or threatened
        breach of any of the Terms by You, We reserve the right to take any action that We deem to be necessary, including
        without limitation, temporary suspension, or termination forthwith and without notice of Your use of and access to
        the Services and the PLATFORM; and in the case of illegal use, the initiation of appropriate legal proceedings.</p>

      <!-- <p class="num-title"><strong><span class="alpha">5.</span> Sign up and Registration</strong></p>
                  <p class="num-title"><strong><span class="alpha">6.</span> Sign up and Registration</strong></p>
                  <p class="num-title"><strong><span class="alpha">7.</span> Sign up and Registration</strong></p> -->
      <p class="num-title"><strong><span class="alpha">5.</span> Termination</strong></p>

      <p>We may suspend or terminate Your use of PLATFORM or terminate Your access to the PLATFORM, in Our sole discretion
        without any liability to You or any third party, upon notice to You. Upon doing so, We may retain or delete any data,
        messages, files and other information or content that You provided through the PLATFORM. Any personal information
        shall be handled in accordance with Our <a target="_blank" href="https://www.oneshell.in/privacy"><strong>Privacy Policy</strong></a>.</p>
      <p>Irrespective of other remedies We have available, We may suspend or terminate Your Account and refuse to provide any
        or all Services to You if: (i) You breach the letter or spirit of any of these Terms; or (ii) We are unable to verify
        or authenticate any information You provide to us; or (iii) We believe in Our sole discretion that Your actions may
        cause to Our Users (including You) or for Us or are contrary to the interests of the PLATFORM. Once terminated, You
        must not continue to use the PLATFORM under the same Account, or register under a new Account. YOU AGREE THAT ONESHELL
        WILL NOT BE LIABLE TO YOU OR ANY OTHER PARTY FOR ANY TERMINATION OF YOUR ACCESS TO THE PLATFORM OR SERVICES OR DELETION
        OF YOUR ACCOUNT. </p>
      <p class="num-title"><strong><span class="alpha">6.</span> Disclaimer Of Warranties</strong></p>
      <p>We provide the PLATFORM and the Services on an "AS IS" and "as available" basis. No express warranties or guarantees
        are made about the PLATFORM. We do not provide any representation that the PLATFORM is available for use in any particular
        location. Your use of the PLATFORM shall be at Your own initiative and risk. You must comply with all applicable
        local laws.</p>
      <p>TO THE FULLEST EXTENT PERMITTED BY LAW, AND EXCEPT AS EXPRESSLY PROVIDED IN THESE TERMS, ALL WARRANTIES WHETHER EXPRESS
        OR IMPLIED INCLUDING BUT NOT LIMITED TO WARRANTIES OF PLATFORM ACCURACY, ACCURACY OF USER CONTENT, FITNESS FOR A
        PARTICULAR PURPOSE, OF SATISFACTORY QUALITY, SECURITY, NON-INFRINGEMENT, SYSTEM INTEGRATION, AVAILABILITY, INTEGRITY,
        DATA ACCURACY, COMPLETENESS, RELIABILITY OR TIMELINESS, SUITABILITY OF CONTENT OR SERVICES, OR THOSE WARRANTIES THAT
        ARISE FROM A COURSE OF DEALING, USAGE, OR TRADE PRACTICE ARE DISCLAIMED. WE MAKE NO WARRANTY THAT ANY UPDATES, UPGRADES,
        BUG FIXES, ERROR CORRECTIONS AND/OR ENHANCEMENTS OF THE SOFTWARE WILL BE MADE OR THAT ANY COMMUNICATIONS FROM AND/OR
        TO THE PLATFORM WOULD BE SECURE OR NOT INTERCEPTED. WITHOUT LIMITING THE GENERALITY OF THE FOREGOING, ONESHELL AND
        ITS AFFILIATES, SUPPLIERS, AND AGENTS DO NOT WARRANT AND EXPRESSLY DISCLAIM THAT: (i) YOUR USE OF THE PLATFORMS AND/OR
        SERVICES AND ACCESS TO AND USE OF ALL OF THE TOOLS AND FEATURES THEREON WILL BE UNINTERRUPTED, OR TIMELY, ERROR-FREE
        (OR THAT ANY SOFTWARE, SERVICES, PLATFORMS OR SERVER(S) ON WHICH THE SERVICES AND PLATFORMS ARE HOSTED ARE FREE OF
        VIRUSES OR OTHER HARMFUL COMPONENTS. YOUR USE OF THE PLATFORM AND THE SERVICES AND ANY CONTENT PROVIDED ON OR THROUGH
        THE PLATFORMS AND SERVICES AND ANY RECEIPT OR DOWNLOAD OF CONTENT OR INFORMATION FROM PLATFORM ARE ENTIRELY AT YOUR
        OWN RISK, AND YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR PROPERTY, DATA OR PERSON, INCLUDING, BUT NOT
        LIMITED TO, YOUR COMPUTER SYSTEM AND ANY DEVICE YOU USE TO ACCESS THE PLATFORM OR SERVICES, OR ANY OTHER LOSS THAT
        RESULTS FROM ACCESSING THE PLATFORM. NO ORAL OR WRITTEN INFORMATION OR ADVICE GIVEN BY OUR REPRESENTATIVE SHALL CREATE
        A WARRANTY.</p>
      <p>OneShell shall bear no responsibility or liability for inspecting or verifying any User Content. Commentary and other
        materials posted on the PLATFORM are not intended to amount to advice on which reliance should be placed. We therefore
        disclaim all liability and responsibility arising from any reliance placed on such materials by any visitor to Our
        site, or by anyone who may be informed of any of its contents.</p>

      <p class="small-title"><strong>Additional Disclaimers for Merchants and Customers</strong></p>
      <p>You acknowledge and agree that the Services provided by OneShell are limited to providing You with a facility to attempt
        to source and connect with Merchants and/ or Customers as the case may be. </p>
      <p>OneShell does not guarantee the Merchants that You will (i) find Customers suitable to Your specific requirements;
        or (ii) secure any proposals, responses or any communication from Customers. Further, We make no warranties and assume
        no responsibility for verifying the credentials, standards or reputation of the Customer neither do We verify that
        any information provided by the Customer or listed on the PLATFORM (including the proposals or any information provided
        or comments made by Customers in their communication with You) is true, accurate, complete and up-to-date.</p>
      <p>OneShell does not warrant or guarantee the Customers that You will be successful in Your search for any specific products
        and/or services suiting Your requirements, through the PLATFORM.</p>
      <p>In particular, OneShell does not warrant or guarantee (i) the completeness, correctness and accuracy of any product
        or service listing posted on the PLATFORM; or (ii) the authenticity of the accounts, listings; or (iii) that any
        information or documentation made available on the PLATFORM by a User is authentic, valid, accurate or otherwise
        complete; or (iv) the identity of the Customers or Merchants using the PLATFORM; or (v) the quality and suitability
        of the Merchants.</p>
      <p>You agree and acknowledge that Customers and Merchants are entitled to assign ratings and reviews to each other and
        We will make such ratings available to all Users of the PLATFORM. We do not control or otherwise contribute to such
        ratings or reviews.</p>
      <p>You also acknowledge, agree, and understand that (i) You are not an employee of OneShell, and You are not eligible
        for any of the rights or benefits of employment (including unemployment and/or workers compensation insurance); (ii)
        OneShell will not have any liability or obligations under or related to any contracts between Users for any acts
        or omissions by You or other Users; (iii) OneShell does not, in any way, supervise, direct, or control any Merchant
        or the manner in which services are performed by a Merchant.</p>
      <p class="num-title"><strong><span class="alpha">7.</span> Intellectual Property Rights</strong></p>
      <p>All right, title and interest in and to the PLATFORM are owned by OneShell Inc. All content and materials contained
        in the PLATFORM, including, but not limited to, all PLATFORM design, content, images, logos, graphics, button icons,
        data compilations, digital downloads, etc., are protected by the applicable intellectual property laws.</p>
      <p>You acknowledge and agree that the PLATFORM and any software used in connection with the PLATFORM contain proprietary
        and confidential information that is protected by applicable intellectual property laws. Any unauthorized use of
        the materials provided as part of the PLATFORM is strictly prohibited. Software, in both source and object code forms,
        APIs, associated documentation, and other related materials may be available for download on certain parts of the
        PLATFORM. OneShell or its licensors own and retain all rights in such software content, including all applicable
        intellectual property rights. Nothing in these Terms grants any right or license to software content. Software content
        is governed by its own separate terms and conditions and all use of software content must be in accordance with the
        specified license(s), which may include, but is not limited to software licenses, End User Agreements and free/open
        source software licenses, as applicable. </p>
      <p>You understand and acknowledge that (i) the software, code, proprietary methods and systems used to provide the PLATFORM
        or Services, (ii) the content in the PLATFORM, (v) names, logos, and other materials displayed on the PLATFORM or
        in the Services constitute trademarks, trade names, service marks or logos of OneShell; and/or (vi) any intellectual
        property therein may not be copied, modified, reproduced, republished, posted, or transmitted. Further, no content
        on the PLATFORM may be sold, offered for sale, or redistributed in a commercial manner without Our prior written
        permission. Nothing in this Terms grants You any right to receive delivery of a copy any Our Intellectual Property
        or to obtain access to Our Intellectual Property except as generally and ordinarily permitted through the PLATFORM
        according to these Terms. You must not use any materials on the PLATFORM in an unauthorized manner including reproduction,
        republication, modification or distribution, or any form of data mining or data extraction, or other commercial exploitation
        of any kind except as provided herein. You must not use any device or manual process to monitor or copy the pages
        of Our PLATFORM or the content therein.</p>

      <p>
        Except as specifically set forth above, nothing in these Terms confers, by implication, estoppel, or otherwise, any license
        or right under any trade secret, patent, trademark, copyright, or other intellectual property rights of OneShell
        or any third party. All rights not expressly licensed are reserved.
      </p>

      <p>
        You retain ownership of all User Content You submit, post, display, or otherwise make available on the PLATFORM or Services.
        You hereby grant OneShell a non-exclusive, perpetual, irrevocable, worldwide license to make User Content available
        on the PLATFORM, and to use such User Content for Our promotional and marketing purposes. This License shall be subject
        to Our <a target="_blank" href="https://www.oneshell.in/privacy"><strong>Privacy Policy</strong></a>.
      </p>
      <p>
        Unless You choose to share Your content, We will use reasonable best efforts to keep Your content private. We will not review,
        share, or otherwise make use of private content except as specifically provided in Our <a target="_blank" href="https://www.oneshell.in/privacy"><strong>Privacy Policy</strong></a> or these Terms.
      </p>




      <p class="num-title"><strong><span class="alpha">8.</span> Third Party Sites And Content</strong></p>
      <p>
        This PLATFORM may contain links to and plug-ins from sites or applications owned, operated or controlled by third parties
        (collectively,“Third Party Sites”) that are provided solely as a convenience to You and not as an endorsement by
        Us of the contents of such other third party sites. We do not endorse and are not responsible for (i) any statements,
        opinion, advice or information made or displayed on PLATFORM by any User or a third party or (ii) for any Third Party
        Sites which may be linked to or from the PLATFORM. Your use of any Third Party Sites shall be at Your own risk. We
        will not be liable to You for any loss or damage resulting from You accessing or using such Third Party Sites.
      </p>
      <p>
        Further, You may be required to download certain third party applications for making use of certain functionalities of the
        Services, which may be governed by terms and conditions which may be different from that of the PLATFORM. We strongly
        urge that You review such third party terms and condition in detail before downloading and installing any third party
        applications that You may download in connection with the Services.
      </p>
      <p>
        Any reliance You place on any third party content is at Your own risk. Any third party content, including, without limitation,
        content in the nature of opinions, advice, statements, services, offers, or other Users of the PLATFORM or other
        information, expressed or made available on the PLATFORM or through the Services are those of the respective authors
        thereof, and not that of OneShell. OneShell does not in any manner guarantee, endorse, or is otherwise responsible
        or liable for the accuracy, completeness, timeliness, reliability, availability, usefulness or any other aspects
        of any third party content accessible through the PLATFORM or Services.
      </p>



      <p class="num-title"><strong><span class="alpha">9.</span> Limitation Of Liability</strong></p>
      <p>TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, ONESHELL AND/OR OUR DIRECTORS, OFFICERS, EMPLOYEES, CONTRACTORS,
        AGENTS OR REPRESENTATIVES SHALL NOT BE LIABLE TO YOU OR ANY THIRD PARTY FOR ANY DIRECT, INDIRECT, PUNITIVE, EXEMPLARY,
        INCIDENTAL, SPECIAL, CONSEQUENTIAL DAMAGES OR LOSSES (INCLUDING LOSS OF PROFITS, LOSS OF REVENUE, LOSS OF BUSINESS,
        LOSS OF SAVINGS, LOSS OF DATA, OR LOSS OF GOODWILL) OR ANY DAMAGES OF WHATSOEVER NATURE THAT RESULT FROM OR ARISES
        IN CONNECTION WITH (i) THE USE OF, DELAYS IN OPERATION, TRANSMISSION OR RESPONSE OF, OR INABILITY TO USE THE PLATFORM
        OR THE SERVICES; (ii) ANY CONTENT OF THE PLATFORM AND/OR THE SERVICES; (iii) STATEMENTS OR CONTENT POSTED ON THE
        PLATFORM AND/OR THE SERVICES; (iv) ANY SERVICE PURCHASED OR OBTAINED THROUGH THE PLATFORM; (v) ANY ACTION TAKEN IN
        RESPONSE TO OR AS A RESULT OF ANY INFORMATION AVAILABLE ON THE PLATFORM OR THE SERVICES; (vi) ANY DAMAGE CAUSED BY
        MISTAKES, INACCURACIES, OMISSIONS, ERRORS, INTERRUPTIONS OR LOSS OF ACCESS TO, DELETION OF, FAILURE TO STORE, FAILURE
        TO BACK UP, OR ALTERATION OF ANY CONTENT ON THE PLATFORM OR THE SERVICES, OR (vii) ANY OTHER FAILURE OF PERFORMANCE
        OF THE PLATFORM OR SERVICES OR OTHER MATTER RELATING TO THE PLATFORM AND/OR THE SERVICES, IN EACH CASE WHETHER OR
        NOT CAUSED BY EVENTS BEYOND OUR CONTROL, INCLUDING, BUT NOT LIMITED TO, ACTS OF NATURE, COMMUNICATIONS LINE FAILURE,
        THEFT, DESTRUCTION, OR UNAUTHORIZED ACCESS TO THE PLATFORM OR SERVICES OR CONTENT STORED THEREIN, IRRESPECTIVE OF
        WHETHER A CLAIM IS BASED ON CONTRACT, NEGLIGENCE, TORT, STRICT LIABILITY, OR OTHERWISE, EVEN IF WE HAVE BEEN ADVISED
        OF THE POSSIBILITY OF SUCH DAMAGE OR LOSSES. </p>


      <p class="num-title"><strong><span class="alpha">10.</span> Confidentiality</strong></p>
      <p>To the extent a Merchant or Customer provides Confidential Information to the other, the recipient shall protect the
        secrecy of the Confidential Information with the same degree of care as it uses to protect its own confidential information,
        but in no event with less than due care, and shall not: </p>
      <P>(i) disclose Confidential Information to anyone except, in the case of OneShell, to any Merchant or Customer; and
        (ii) use the Confidential Information, (including, without limitation, the storage or transmission of Confidential
        Information on or through the PLATFORM). Merchant and Customer shall not publish, or cause to be published, any Confidential
        Information. In the event either Customer or Merchant breaches this Confidentiality obligation, OneShell shall not
        be made liable for any such breach and the disclosing party shall not take any action against OneShell. </P>
      <P>If and when Confidential Information is no longer needed for the performance of Services for the relevant Contract,
        or at the Merchant's or Customer's written request (which may be made at any time at Merchant's or Customer's sole
        discretion), Merchant or Customer (as the case may be) shall promptly destroy or return all Confidential Information
        and any copies thereof contained in or on its premises, systems, or any other equipment otherwise under its control.
        Each of Merchant or Customer, as applicable, agrees to provide written certification to the party disclosing the
        Confidential Information within ten (10) days after the receipt of disclosing party's written request to certify.</P>


      <P>
        For the purposes of these Terms, Confidential Information means information relating to one party which is made available
        by such party to the other party in relation to the Services and includes any information, analyses, compilations,
        notes, or software code derived from, containing or reflecting such information but excludes information which:
      </P>
      <P>
        (i) is publicly available or becomes publicly available (other than as a result of disclosure by the recipient or any other
        person contrary to the terms of this Agreement); or
      </P>
      <P>
        (ii) was available (as can be demonstrated by the recipient's written records or other reasonable evidence) to the recipient
        or other person to whom it is furnished hereunder free of any restriction as to its use or disclosure prior to its
        being so furnished; or
      </P>
      <P>
        (iii) becomes available to the recipient (as can be demonstrated by the recipient’s written records or other reasonable evidence)
        from a source other than the provider, which source is not bound by any obligation of confidentiality to the provider
        in relation to such information.
      </P>
      <P>
        (iv) is required to be disclosed, retained or maintained by law or any regulatory or government authority.
      </P>
      <P>
        (v) is independently developed by the recipient without any use of disclosing party’s confidential information.
      </P>



      <p class="num-title"><strong><span class="alpha">11.</span> Indemnification</strong></p>
      <P>You agree to indemnify and hold Us and Our affiliates, officers, employees and agents, harmless from and against all
        liabilities, losses, demands, claims, damages, penalties, interests and expenses (including ensuing legal expenses
        and costs) arising from any third party claims resulting from Your use or access of PLATFORM and/or Services. You
        shall further defend, indemnify and hold harmless OneShell and its officers, directors, shareholders, and employees,
        from and against all claims and expenses, including but not limited to attorneys fees, in whole or in part arising
        out of or attributable to (i) any breach of these Terms by You, or (ii) based upon Your actions or inactions, which
        may result in any loss or liability to OneShell or any third party or arising out of the Your violation of any applicable
        laws, regulations including but not limited to Intellectual Property Rights, payment of statutory dues and taxes,
        claim of libel, defamation, violation of rights of privacy or publicity, loss of service by other Users or infringement
        of intellectual property or other rights. </P>


      <p class="num-title"><strong><span class="alpha">12.</span> Force Majeure</strong></p>
      <P>We will not be liable for any failure of performance under the Terms or to provide the Services through the PLATFORM
        to the extent such failure was caused by a Force Majeure event, which shall constitute any and all events beyond
        Our reasonable control, including but not limited to acts of the government authorities, acts of God, fire, natural
        disasters, strikes, explosion, riots, war, terrorism, non-cooperation of third parties, network failure, disruption
        of communication lines, power outages, etc.
      </P>

      <p class="num-title"><strong><span class="alpha">13.</span> Dispute Resolution</strong></p>
      <P>
        If a dispute arises between You and OneShell or any Affiliates, Our goal is to resolve the dispute quickly and cost-effectively.
        Accordingly, You, OneShell and Our Affiliates agree that We will resolve any claim or controversy at law or equity
        that arises between Us out of this Terms.
      </P>
      <P>
        Before filing a Claim for arbitration or otherwise seeking relief in a court of law, You agree to first contact OneShell
        to inform its Customer Support team of Your complaint and seek resolution. This notice of dispute must include: Your
        name, pertinent account information, a brief description of Your dispute, and contact information so that OneShell
        may evaluate the dispute and attempt to informally resolve it. OneShell will have 60 days from the date of Your original
        complaint to informally resolve the dispute, which if successful will avoid the need for further action.
      </P>
      <P>
        If You and OneShell are unable to resolve a Dispute through informal negotiations, all claims arising from use of the Platform
        shall finally and exclusively be resolved by binding arbitration. Any election to arbitrate by one party will be
        final and binding on the other. YOU UNDERSTAND THAT IF EITHER PARTY ELECTS TO ARBITRATE, NEITHER PARTY WILL HAVE
        THE RIGHT TO SUE IN COURT. The arbitration will be commenced and conducted under the Rules of arbitration as per
        the Arbitration and Concilitation Act, 1996 including any amendments thereto.
      </P>
      <P>
        Notwithstanding the foregoing, You and OneShell retain the right to seek injunctive or other equitable relief in courts located
        in Bangalore, India or any other court of competent jurisdiction to prevent the actual or threatened infringement,
        misappropriation or violation of copyrights, trademarks, trade secrets, patents, or other intellectual property or
        proprietary rights.
      </P>



      <p class="num-title"><strong><span class="alpha">14.</span> Miscellaneous</strong></p>

      <P>
        You are responsible for compliance with applicable laws, regulation and treaties, keeping in mind that access to the contents
        of this PLATFORM may not be legal for or by certain persons or in certain countries.
      </P>
      <P>
        If OneShell fails at any time to insist upon strict performance of its obligations under these Terms, or if it fails to exercise
        any of the rights or remedies to which it is entitled under these Terms, this will not constitute a waiver of any
        such rights or remedies and shall not relieve You from compliance with such obligations. No waiver by OneShell of
        any of these Terms shall be effective unless it is expressly stated to be a waiver and is communicated to You in
        writing.
      </P>
      <P>
        If any of these Terms is determined by any competent authority to be invalid, unlawful or unenforceable to any extent, such
        term, condition or provision will to that extent be severed from the remaining terms, conditions and provisions which
        shall continue to be valid to the fullest extent permitted by law.
      </P>
      <P>
        You will not transfer, assign or delegate Your rights or obligations (including Your Account) under these Terms to anyone
        without the express written permission of OneShell, and any attempt to do so will be null and void. We may assign
        these Terms in Our sole discretion. All notices required or permitted to be given under these Terms, shall be in
        writing and shall be deemed to have been duly given if delivered personally or sent by pre-paid telex, telefax or
        telegram, or mailed first-class, postage pre-paid, by registered or certified mail (notices sent by telex or telefax,
        or telegram, shall be deemed to have been given on the date sent; those mailed shall be deemed to have been given
        ten (10) business days after mailing) to Our addresses or to such other address as any party shall designate by notice
        in writing.
      </P>
      <P>
        Nothing in these Terms shall give, directly or indirectly, any third party any enforceable benefit or any right of action
        against OneShell and such third parties shall not be entitled to enforce any of these Terms against OneShell.
      </P>
      <P>
        These terms shall be governed by laws of India, regardless of Your country or state of origin or where You access the PLATFORM,
        and regardless of any principle of law that may provide for the application of the law of another jurisdiction.
      </P>
    </div>
