@import "../../../variables";
.featured-stores-list-container {
  margin: 16px;
  .card {
    cursor: pointer;
    font-size: 0.8rem;
    .card-body, .card-footer, .card-sub-body {
      padding: 0.6rem 0.75rem;
    }
    .card-sub-body {
      border-top: 1px solid $color-lite-grey;
      .offer {
        color: $offer-gold;
        margin-right: 5px;
      }
    }
    .card-body {
      .status {
        color: $color-teal;
      }
      .location {
        i {
          color: $color-red;
        }
      }
    }
    .card-footer {
      background-color: $color-lite-grey;
      .subscriber {
        color: $color-teal;
      }
    }
  }
  pagination-controls  {
    display: inline-block;
    margin-top: 25px;

  }

pagination-controls ::ng-deep .ngx-pagination .current {
     padding: 0.1875rem 0.625rem;
     background: #ef5350;
     border: transparent;
     border-radius: 25px;
     color: #fefefe;
     cursor: default;
  }
  .loading-indicator {
    width: 25px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
  }
}
