<div class="featured-stores-list-container mb-md-4 mb-3 main-container-width mx-auto">
  <h3 class="section-title text-center d-inline-block w-100">
    More Featured Stores
    <div class="border-underline"></div>
  </h3>
  <div class="mb-4">
  </div>
  <div class="row" *ngIf="showData">
    <div class="col-md-12" *ngIf="storeList && config">
      <p>(showing {{pageStart}} - {{pageEnd}} of {{totalItems}})</p>
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mb-3 storeList" *ngFor="let store of storeList | paginate: config">
          <div class="card shadow">
            <a target="_self"
              [href]="baseUrl + '/business/' + store.business_city + '/' + store.business_id + '/'+ store.urlBusinessName">
              <img class="card-img-top" src="{{store.primary_image_url}}" [alt]="store.title" style="background-image: url(https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/Ballari%2Fbg_mage.png?alt=media&token=1f2c0dab-ea87-4071-aa31-293b67427d19);width: 100%;
              height: 200px; object-fit: cover" />
              <div class="card-body">
                <h6 class="card-title mb-1 ellipsis">{{store.business_name}}</h6>
                <p class="card-text mb-0">{{store.adv_tag_line}}</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 text-center">
      <pagination-controls (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls>
    </div>
  </div>
  <mat-progress-spinner *ngIf="!showData" class="loading-indicator mt-16" mode="indeterminate" color="warn">
  </mat-progress-spinner>
</div>