@import "../../../variables.scss";

.dept-list-container {
  .dept-cards {
    .dept-class {
      width: 250px;
      display: inline-block;

      .menu-image {
        width: 30px;
        height: 30px;
        margin: auto;
      }

      .menu-title {
        color: $body-color;
        font-size: 0.75rem;
        font-weight: 500;
      }

      &:hover {
        text-decoration: none;
      }

      @media (max-width:568px) {
        width: 50%;
      }
    }
  }
.departmentcontainer{
  margin: 0;
}
  .departments-wrapper{
    margin: 5px 5px 0;
    cursor: pointer;
  }
  .rowcontainer {
    img {
      width: 75%;
      padding: 10px 0;
    }

    span {
      font-size: 14px;
      padding-left: 10px;
    }

    .departmentTitle {
      vertical-align: middle;
      align-self: center;
    }
  }

}