<div class="dept-list-container">
  <h3 class="offers-title text-center">
    Departments
    <div class="border-underline"></div>
  </h3>

  <div class="row">
    <div class="department-cards mt-3">
      <div class="row">
        <div class="col-md-12">
          <div class="row departmentcontainer">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mb-3" *ngFor="let dept of healthLevel2Categories">
              <a target="_self"
                [href]="baseUrl + '/business/l/' + city + '/' + dept.name + '/'+ 'LEVEL2' + '/' + dept.display_name + '/' + 'HEALTH_DEPARTMENT' + '/' + '1'">
                <div class="dept-class departments-wrapper border rounded">
                  <div class="row d-flex rowcontainer">
                    <div class="image text-centre pl-4">
                      <img src="{{dept.image_url}}">
                    </div>
                    <h5 class="text-centre pr-4 departmentTitle"><span>{{dept.display_name}}</span></h5>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="no-results-view" class="no-results" style="display: none;">
    No results to show ..
  </div>
</div>