@import "../../../../src/variables";

.place-order-container {
  .card-img-top {
    width: 130px;
    height: 100px;
    object-fit: contain;
  }
}

.place-order-container {
  &__order-details {
    &__address {
      .mat-form-field {
        display: block;

        .mat-form-field-wrapper .mat-form-field-appearance-fill .mat-form-field-underline {
          &:before {
            background-color: $color-red;
          }

          .mat-form-field-ripple {
            background-color: $color-red;
          }
        }
      }

      ::ng-deep {
        .ngx-timepicker-field-example {
          padding: .5em;
        }

        ngx-timepicker-field {
          .ngx-timepicker__toggle {
            display: none;
          }

          .ngx-timepicker {
            border-bottom: 2px solid rgba(0, 0, 0, 0.42);
          }
        }
      }
    }

    &__payment {
      ::ng-deep {
        .mat-radio-group {
          .mat-radio-button {
            display: block;

            &.mat-accent.mat-radio-checked {
              .mat-radio-outer-circle {
                border-color: $color-red;
              }

              .mat-radio-inner-circle {
                background-color: $color-red;
              }
            }
          }
        }
      }
    }
  }

  &__order-totals {
    ::ng-deep {
      mat-card {
        .mat-card-header {
          display: flex;
          flex-direction: row;
          align-items: center;
          background-color: $color-red;
          padding: 4px;
          color: white;
        }

        .mat-card-header-text {
          margin: 0 auto;
          text-align: center;
        }

        .mat-card-header .mat-card-title {
          margin-bottom: 0;
          text-align: center;
        }

        .mat-card-content {
          font-size: 14px;
          padding: 1em;
        }

        .mat-card-actions {
          text-align: center;

          .btn {
            margin: 6px 0 8px 0;
            background-color: $color-red;
            padding: 0 3em !important;
          }
        }
      }
    }
  }
}

.call-btn {
  width: 100px;
  color: $color-white;
  background-color: #009788;
  border-radius: 25px;
  text-align: center;
  font-size: 0.875rem;

  &:focus,
  &:hover {
    color: $color-white;
  }
}

.offer-section {
  display: flex;
  justify-content: center;

  .offer-display-box {
    border: 2px $os-primary-color dashed;
    padding: 10px 15px;
  }
}

.total-text-value {
  font-weight: 600;
  color: $color-red;
}

::ng-deep .patch-toggle-icon-placement {
  position: absolute;
  right: -6px;
  top: -1px;
  transform: scale(0.65);
  svg{
    fill:rgba(0, 0, 0, 0.54);
  }
}

.mobile-detail-footer {
  cursor: pointer;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  left: 0;
  background-color: $color-red;

  .book-text {
    color: white;
    align-self: center;
    width: 100%;
  }
}

@media (max-width: 568px) {
  .mobile-detail-footer {
    display: block;
  }

  .web-divider {
    display: none;
  }

  .place-order-container__order-totals__action {
    display: none;
  }
}

@media (min-width: 569px) {
  .mobile-detail-footer {
    display: none;
  }

  .web-divider {
    display: block;
  }

  .place-order-container__order-totals__action {
    display: block;
  }
}

.discount,
.discount-text {
  color: #2EA5A5;
}

.avail-offers.row {
  flex-direction: column;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  margin-bottom: 15px;

  ul {
    margin-left: -10px;
  }
  .circle {
    border-radius: 50%;
    color: white;
    background: #ef5350;
    font-size: 12px;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 20px;
    position: relative;
    top: -3px;
  }
}

.show-more {
  display: none;
  cursor: pointer;
  color: #ef5350;
  font-weight: 500;

  @media (max-width: 568px) {
    display: block;
  }
}

  .avail-offers-list {

    li{
      color: #999999;
    }

    @media (max-width: 568px) {
    li:not(:first-child) {
      display: none;
    }

    &.show-more-offers {
      li:not(:first-child) {
        display: list-item;
      }
    }
  }
}




.btn-upload {
  background-color: #4fc3f7;
  color: white;
  max-width: 175px;
  width: 100%;
  cursor: pointer;
  padding: 8px;
  max-width: 140px;
  img {
    width: 15px;
    float: left;
  }
}
.btn-upload-hide {
  display: none;
}

.img {
  width: 35px;
  height: 35px;
  &.upload-image {
      max-width: 100px;
      max-height: 100px;
      width: 100%;
      height: 100%;
      border-radius: 8px;
  }
}

.close {
  position: absolute;
  right: -4px;
  top: -5px;
  width: 12px;
  height: 12px;
  background: red;
  color: white;
  border-radius: 50%;
  text-align: center;
  font-size: 8px;
  line-height: 12px;
  opacity: 1;
  z-index: 2;
  cursor: pointer;
}

.pres {
  font-size: 18px;
}

.position-relative {
  max-width: 100px;
  img {
    max-width: 100px;
    height: 125px;
    object-fit: cover;
    object-position: left;
  }
}
