<div class="container place-order-container mb-4">
  <div class="row pt-3">

    <section class="col-sm-8 place-order-container__order-details">

      <section class="row pt-2 mb-4">
        <div class="col">
          <h6 class="pt-2 mr-4 d-inline-block">{{businessName}}</h6>
          <div class="d-inline-block" *ngIf="deviceService.isMobile()">
            <a [href]="'tel:'+businessProfile?.phone_number" class="btn call-btn">
              Call
            </a>
          </div>
          <div class="d-inline-block" *ngIf="deviceService.isDesktop()">
            <img src="assets/call.svg" style="width: 16px" />
            <a href="tel:{{businessProfile?.phone_number}}">
              {{businessProfile?.phone_number}}
            </a>
          </div>
        </div>
      </section>
      <hr>
      <section>
        <h5 class="mb-2 text-truncate">Order Summary ( {{ checkoutResponse?.total_items || 0 }} Items)</h5>
        <app-horizontal-carousel class="p-1 mt-1">
          <div class="card border-1 mr-2 d-inline-block" *ngFor="let item of businessCartProducts">
            <img class="card-img-top rounded" src="{{ item.image_url }}" alt="Product image" [matTooltip]="item.name" />
          </div>
        </app-horizontal-carousel>
      </section>
      <section class="offer-section mb-4" *ngIf="checkoutResponse?.offer">
        <span class="offer-display-box">{{ checkoutResponse?.offer }}</span>
      </section>
      <hr>
      <h4 *ngIf="isPrescriptionRequired" class="pres mb-1">Upload Prescription</h4>
      <label *ngIf="isPrescriptionRequired" for="file-upload" class="btn btn-sm btn-upload my-2">
        <img src="../../../assets/images/upload.png" alt=""> Prescriptions
    </label>
    <input *ngIf="isPrescriptionRequired" type="file" id="file-upload" class="btn-upload-hide"
        (change)="uploadAddItemImageMultiple($event)" accept=".png,.jpg,.jpeg" multiple/>
    <div class="row m-0 mt-3" *ngIf="isPrescriptionRequired">
      <div class="col-lg-4 col-md-4 col-sm-12 mb-4 secondary-card position-relative p-0 mr-2"
          *ngFor="let img of secondaryImageUrls; let i=index">
          <span class="close" (click)="deleteSecondaryImage(i)">X</span>
          <div class="card align-items-center justify-content-center primary_img_card p-0 border-0">
              <img [src]="(img) ? img : 'assets/images/upload_image.png'"
                  class="site-img primary_image secondary_img" />
          </div>
      </div>
  </div>
    <hr *ngIf="isPrescriptionRequired">
      <section class="place-order-container__order-details__payment mt-1 mb-4">
        <h5 class="mb-1 text-truncate">Payment Options</h5>
        <div class="place-order-container__order-details__payment--options">
          <mat-radio-group aria-label="Select an option" [(ngModel)]="paymentMethod">
            <mat-radio-button value="{{paymentOptions.upi}}">{{paymentOptions.upi}}</mat-radio-button>
            <mat-radio-button value="{{paymentOptions.cod}}">{{paymentOptions.cod}}</mat-radio-button>
          </mat-radio-group>
        </div>
      </section>
      <section class="place-order-container__order-details__payment mb-4">
        <h5 class="mb-1 text-truncate">Terms</h5>
        <div class="place-order-container__order-details__payment--options">
          <p>{{ checkoutResponse?.store_terms }}</p>
        </div>
      </section>


      <section *ngIf="checkoutResponse?.is_schedule_enabled">
        <h5>Schedule Delivery</h5>
        <div class="row">
          <div class="col-6">
            <mat-form-field>
              <mat-label>Choose a date</mat-label>
              <input matInput [matDatepicker]="picker" [(ngModel)]="deliveryDate">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field>
              <mat-label>Choose time</mat-label>
              <input matInput [ngxTimepicker]="timePicker" [(ngModel)]="deliveryTime">
              <ngx-material-timepicker-toggle class="patch-toggle-icon-placement"
                                              [for]="timePicker"></ngx-material-timepicker-toggle>
              <ngx-material-timepicker #timePicker [ngxMaterialTimepickerTheme]="timePickerTheme" [minutesGap]="5"></ngx-material-timepicker>
            </mat-form-field>
          </div>
        </div>
      </section>



      <section class="place-order-container__order-details__address mb-4">
        <h5 class="mb-1 text-truncate">Delivery Address</h5>

        <form #addressForm="ngForm">
          <div class="row">
            <div class="col-sm-12">
              <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput [(ngModel)]="deliveryAddress.name" id="name" name="name" #name="ngModel" required>
                <mat-error *ngIf="name.touched && name.invalid">Name is mandatory</mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field>
                <mat-label>Mobile</mat-label>
                <input matInput [(ngModel)]="deliveryAddress.phoneNumber" id="phoneNumber" name="phoneNumber"
                  #phoneNumber="ngModel" required>
                <mat-error *ngIf="phoneNumber.touched && phoneNumber.invalid">Phone Number is mandatory</mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput [(ngModel)]="deliveryAddress.email" id="email" name="email" #email="ngModel" required>
              </mat-form-field>
            </div>
            <div class="col-sm-12">
              <mat-form-field>
                <mat-label>Address</mat-label>
                <input matInput [(ngModel)]="deliveryAddress.address.line1" id="addressLine1" name="addressLine1"
                  #addressLine1="ngModel" required>
                <mat-error *ngIf="addressLine1.touched && addressLine1.invalid">Address is mandatory</mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-12">
              <mat-form-field>
                <mat-label>Address - Line 2</mat-label>
                <input matInput [(ngModel)]="deliveryAddress.address.line2" id="addressLine2" name="addressLine2"
                  #addressLine2="ngModel">
              </mat-form-field>
            </div>
          </div>
        </form>
      </section>
    </section>
    <section class="col-sm-4 place-order-container__order-totals">
      <mat-card class="place-order-container__order-totals__card p-0">
        <mat-card-header class="place-order-container__order-totals__card__header">
          <mat-card-title class="text-center">{{ businessName }}</mat-card-title>
        </mat-card-header>
        <mat-card-content class="place-order-container__order-totals__content">
          <div class="avail-offers row" *ngIf="availOffers?.length > 0">
            <h5 class="col"> <span class="circle d-inline-block mr-2">%</span>Available offers</h5>
            <ul class="avail-offers-list mb-0" *ngIf="availOffers" [ngClass]="{'show-more-offers': filterMobileToggle}">
              <li *ngFor="let item of availOffers">
                      {{item.offer_name}}
              </li>
            </ul>
            <p class="show-more col mb-0" *ngIf="availOffers.length  > 1" (click)="filterMobileToggle = !filterMobileToggle">{{filterMobileToggle? 'Show Less': ('+' + (availOffers.length -1) + ' More')}}</p>
          </div>
          <div class="price-details">
            <h5>Price Details</h5>
            <table class="table table-borderless">
              <tbody>
                <tr>
                  <td>Order Items</td>
                  <td class="sub-total" [align]="'right'"> {{ checkoutResponse?.total_items }}
                  <td>
                </tr>
                <tr>
                  <td>Sub Total</td>
                  <td class="sub-total" [align]="'right'"> &#8377; {{ checkoutResponse?.sub_total }}
                  <td>
                </tr>
                <tr>
                  <td class="discount-text">Discount</td>
                  <td class="discount" [align]="'right'"> &#8377; {{ checkoutResponse?.discount }}
                  <td>
                </tr>
                <tr>
                  <td>Delivery Charge</td>
                  <td class="delivery-charges" [align]="'right'"> &#8377; {{ checkoutResponse?.delivery_charge }}
                  <td>
                </tr>
                <tr *ngIf="checkoutResponse?.package_charge">
                  <td>Package Charge</td>
                  <td class="other-charges" [align]="'right'"> &#8377; {{ checkoutResponse?.package_charge }}
                  <td>
                </tr>
                <tr *ngIf="checkoutResponse?.additional_property_price">
                  <td>Others</td>
                  <td class="other-charges" [align]="'right'"> &#8377; {{ checkoutResponse?.additional_property_price }}
                  <td>
                </tr>
                <tr *ngIf="checkoutResponse?.tax">
                  <td>Tax </td>
                  <td class="other-charges" [align]="'right'"> &#8377; {{ checkoutResponse?.tax }}
                  <td>
                </tr>
                <tr>
                  <td><b>Total</b></td>
                  <td class="delivery-charges total-text-value" [align]="'right'"> &#8377; {{ checkoutResponse?.total }}
                  <td>
                </tr>
              </tbody>
            </table>
          </div>
        </mat-card-content>
        <mat-divider class="my-1 web-divider"></mat-divider>
        <mat-card-actions class="place-order-container__order-totals__action">
          <button mat-button class="btn os-btn-primary btn-place-order" [disabled]="addressForm.form.invalid && isPrescriptionAllow"
            (click)="onPlaceOrder()">
            Place Order
          </button>
        </mat-card-actions>
      </mat-card>
    </section>
    <div class="mt-4"><small>{{ checkoutResponse?.disclaimer_text }}</small></div>
    <div class="d-block d-sm-none mobile-custom-view mobile-detail-footer d-flex">
      <button mat-button class="btn os-btn-primary btn-place-order text-center book-text" [disabled]="addressForm.form.invalid  && isPrescriptionAllow"
      (click)="onPlaceOrder()"> Place Order </button>
  </div>
  </div>
</div>

<ng-template #placeOrderStatus>
  <div class="modal-body">
    <div *ngIf="!placeOrderResponse?.success">
      <div>
        <span>Something went wrong while placing order. Please try again.</span>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sm" (click)="onOk()">
      OK
    </button>
  </div>
</ng-template>
