@import "~bootstrap/dist/css/bootstrap.min.css";
@import "variables.scss";
@import "./app/style-guide/common.scss";
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import '~@ngx-share/button/themes/default/default-theme';
@import "modal";
@import "form-elements";
@import "../src/app/pages/static-page-wrapper/static-page-wrapper.component";
@import "~animate.css/animate.min.css";
@import "css/material-theming";
@import '~@ngx-share/button/themes/circles/circles-dark-theme';

@mixin border($position, $color) {
  border-#{$position}: 1px solid $color;
}

.ui-loader {
  display: none !important;
}

.ui-page-active {
  outline: none;
}

*:focus {
  outline: 0 !important;
  outline: none !important;
  text-decoration: none !important;
  color: #000 !important;
}


a {
  text-decoration: none !important;
  color: #000;
  cursor: pointer;
}

a:focus {
  outline: 0 !important;
  outline: none !important;
  text-decoration: none !important;
  color: #000 !important;
}

a:hover {
  outline: 0 !important;
  outline: none !important;
  text-decoration: none !important;
  color: #000 !important;
}

.e-focused-date {
  span {
    background: none !important;
  }
}

.e-today {
  span {
    background: none !important;
    border: none !important;
    color: #000 !important;
  }

}

.special {
  span {
    background: none;
    border: none;
    color: #fff !important;
    height: 18px !important;
    line-height: 18px !important;
    width: 20px !important;
  }

  border: 1px solid #e3165b !important;
  box-shadow: inset 0 0 0 2px #fff !important;
  color: #fff;
  background-color: #e3165b !important;
  border-radius: 50%;
  opacity: 1 !important;
  font-size: 13px;
}


// <div class="ui-loader ui-corner-all ui-body-a ui-loader-default" style="top: 435.5px;"><span class="ui-icon-loading"></span><h1>loading</h1></div>

// .ui-loading .ui-loader { display: block; }
// .ui-loader { display: none; position: absolute; opacity: .85; z-index: 100; left: 50%; width: 200px; margin-left: -130px; margin-top: -35px; padding: 10px 30px; }

body {
  font-family: sans-serif;
  font-size: 0.875rem;
  min-width: 360px;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main-container-width {
  width: 90%;
  margin: auto;
}

.section-title {
  .border-underline {
    width: 75px;
    height: 3px;
    background-color: $color-red;
    margin-top: 5px;
  }

  &.text-center {
    .border-underline {
      margin: 5px auto auto;
    }
  }
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  justify-content: space-around;
}

.border-bottom {
  @include border(bottom, $color-lite-grey);
}

.view-more-btn {
  color: $color-white;
  background-color: $color-red;
  border-radius: 25px;
  padding: 8px;
  font-size: 0.875rem;

  &:focus,
  &:hover {
    color: $color-white;
  }
}

.background-grey {
  background-color: $color-lite-grey;
}

.background-dark-grey {
  background-color: $color-dark-grey;
}

.background-white {
  background-color: $color-white;
}

.category-button-wrapper {
  button {
    border-radius: 25px;
    border-color: $color-red;
    border-width: 1.5px;
    padding: 3px 20px;
    color: $body-color;
    margin-right: 15px;
  }
}

.breadcrumbs {
  margin: 0;
  padding: 0 0 0.2em 0;
  list-style: none;

  li {
    margin: 0;
    padding: 0 0.5em 0 0;
    display: inline;

    &::after {
      content: '\3E';
      margin-left: 0.3em;
    }

    &:last-child::after {
      content: none;
    }

    a {
      color: inherit;
    }
  }
}

.common-accordion {
  .card {
    border-radius: 0;
    margin-bottom: 10px;

    .card-header {
      background-color: transparent;
      border: 0;
    }
  }
}

@media (max-width: 568px) {
  app-horizontal-carousel {

    .left-arrow-btn,
    .right-arrow-btn {
      display: none;
    }
  }

  .grid-container {
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 10px;
  }

  .w-75 {
    width: 90% !important;
  }

  .main-container-width {
    width: 93%;
    margin: 0 auto;
  }

  .padding-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .margin-bottom-0 {
    margin-bottom: 0 !important;
  }

  .margin-top-0 {
    margin-top: 0 !important;
  }

  .section-title {
    margin: 18px 0 !important;
  }
}

.os-btn-primary {
  background-color: $color-red;
  color: $color-white;
  border-color: $color-red;

  &:hover, &:focus {
    background-color: $color-red;
    color: $color-white;
    border-color: $color-red;
    box-shadow: none;
  }
}
.mobile-custom-view {
  &.mobile-detail-footer {
    z-index: 1;
  }
}


// breadcrumb
.breadcrumb-item+.breadcrumb-item {
  &::before {
    display: none;
  }
}

// timepicker
.timepicker__header {
  background-color: #989ca3 !important;
}


.pac-container {
  z-index: 1065;
}

// ng tooltip over-ride
.white-bg .tooltip-inner {
  background-color: white;
  font-size: 125%;
  color: black;
  border: 1px solid #ccc;
  padding: 5px;
  line-height: 12px;
  margin: 0;
  margin-left: 8px;

  .site-dimention {
    white-space: nowrap;
    display: inline-block;
    width: 100%;
    .title {
      font-weight: 600;
    }
    font-size: 10px;
  }

  .site-facing {
    white-space: nowrap;
    display: inline-block;
    width: 100%;
    .title {
      font-weight: 600;
    }
    font-size: 10px;
  }

  .site-area {
    white-space: nowrap;
    display: inline-block;
    width: 100%;
    .title {
      font-weight: 600;
    }
    font-size: 10px;
  }
}
.white-bg .arrow::before {
  border-top-color: #ccc;
  top: -1px
}

.white-bg.bs-tooltip-top {
  top: -5px !important;
}
