$color-lite-grey: #f5f5f5;
$color-dark-grey: grey;
$color-grey-txt: #5B5B5B;
$body-color: black;
$color-red: #ef5350;
$color-white: #fff;
$header-search-border: #ebebeb;
$black: #000000;
$product-offer: #b3b3b3;
$color-teal: #33a99f;
$card-grey-content: #666666;
$offer-gold: #dfcf24;
$error-msg: #a94442;
$media-img-width: 100px;
$border-color: #dee2e6;
$os-primary-color: #dc3545;
$cartElementHeight: 23px;
$cartElementBorder: 1px solid $color-red;
$lightGeryColor: #ebebeb;
$checkBoxBorderColor: #d7d7d7;
