<div class="activities-detail-container">
    <div class="video-bg-trigger">
      <div class="cover-bg-image" [style.background]="'url(' + activitiesData.primary_image_url + ')'"></div>
    </div>
    <div class="inner-container mb-4">
      <div class="title-card">
        <h3 class="title"> {{ activitiesData.title }}</h3>
        <div class="activities-meta">
          <span class="date-time">
            <span class='reel-icon'></span>
            <div class="date-time-txt">
              <p class="txt-value-row1 m-0 p-0">{{ activitiesData.display_date }}</p>
              <p class="txt-value-row2 m-0 p-0">{{ activitiesData.timing_description }}</p>
            </div>
          </span>
          <span class="vertical-line"></span>
          <span class="place-addr">
            <span class='reel-icon'></span>
            <div class="place-addr-txt">
              <p class="txt-value-row1 m-0 p-0">{{ activitiesData.venue_name }}</p>
              <p class="txt-value-row2 m-0 p-0">Area</p>
            </div>
          </span>
          <span class="vertical-line"></span>
          <span class="price-type">
            <span class='reel-icon'></span>
            <div class="price-type-txt">
              <p class="txt-value-row1 m-0 p-0" *ngIf="activitiesData.price > 0">{{ activitiesData.price }}</p>
              <p class="txt-value-row1 m-0 p-0" *ngIf="activitiesData.price == 0">FREE</p>
              <p class="txt-value-row2 m-0 p-0" *ngIf="activitiesData.price == 0">&nbsp;</p>
              <p class="txt-value-row2 m-0 p-0" *ngIf="activitiesData.price > 0">{{ activitiesData.price_type }}</p>
            </div>
          </span>
        </div>
        <div class="mobile-activities-meta">
          <span class="date-time" style="display: block">
            <span class='reel-icon'></span>
            <div class="date-time-txt">
              <p class="txt-value-row1 m-0 p-0" *ngIf="activitiesData.start_date === activitiesData.end_date">
                {{ activitiesData.start_date }}</p>
              <p class="txt-value-row1 m-0 p-0" *ngIf="activitiesData.start_date != activitiesData.end_date">
                {{ activitiesData.start_date }} - {{ activitiesData.end_date }}</p>
  
              <p class="txt-value-row2 m-0 p-0">{{ activitiesData.timing_description }}</p>
            </div>
          </span>
          <span class="place-addr" style="display: block">
            <span class='reel-icon'></span>
            <div class="place-addr-txt">
              <p class="txt-value-row1 m-0 p-0">{{ activitiesData.venue_name }}</p>
            </div>
          </span>
          <span class="price-type" style="display: block">
            <span class='reel-icon'></span>
            <div class="price-type-txt">
              <p class="txt-value-row1 m-0 p-0" *ngIf="activitiesData.price > 0">{{ activitiesData.price }}</p>
              <p class="txt-value-row1 m-0 p-0" *ngIf="activitiesData.price == 0">FREE</p>
              <p class="txt-value-row2 m-0 p-0" *ngIf="activitiesData.price == 0">&nbsp;</p>
              <p class="txt-value-row2 m-0 p-0" *ngIf="activitiesData.price > 0">{{ activitiesData.price_type }}</p>
            </div>
          </span>
  
        </div>
      </div>
      <div class="Language" *ngIf="activitiesData.language">
        <div class="info-title">Language</div>
        <div class="info-text">{{ activitiesData.language }}</div>
      </div>
      <div class="Artists" *ngIf="activitiesData.artists">
        <div class="info-title">Artists</div>
        <div class="info-text"><span> {{ activitiesData.artists }} </span></div>
      </div>
      <div class="Benefits" *ngIf="activitiesData.benefits">
        <div class="info-title">Benefits</div>
        <div class="info-text"><span> {{ activitiesData.benefits }}</span></div>
      </div>
      <div class="Information" *ngIf="activitiesData.description">
        <div class="info-title">Information</div>
        <div class="info-text"><span>{{ activitiesData.description }} </span></div>
      </div>
      <div class="Terms" *ngIf="activitiesData.activities_terms_and_conditions">
        <div class="info-title">Terms and Conditions</div>
        <div class="info-text"><span> {{ activitiesData.activities_terms_and_conditions }} </span></div>
      </div>
  
    </div>