@import "../../../variables.scss";

/* Home Page Styles */
// .carousel-inner{
//   touch-action: manipulation;
// }

.view-more-btn {
  min-width: 150px;
  padding: 8px;
}
app-horizontal-carousel {
  .left-arrow-btn, .right-arrow-btn {
    display: none;
  }
}
.home-navigation {
  display: block;
  .grid-option {
    width: 50px;
  a {  
    .menu-image {
      width: 30px;
      height: 30px;
      margin: auto;
    }
    .menu-title {
      color: $body-color;
      font-size: 0.75rem;
      font-weight: 500;
    }
    &:hover {
      text-decoration: none;
    }
  }
}
  @media (max-width: 768px) {
      display: block;
  }

  @media (min-width: 769px) {
    display: none;
  }
}
.home-banner {
  .item {
    img {
      cursor: pointer;
    }
  }
  .browse-wrapper {
    width: 100%;
    height: 50px;
    display: block;
    margin-bottom: 0px;
    padding: 0px;
    text-decoration: none;
    color: inherit;
    font-size: 16px;
    .heading-health {
      width: 50%;
      margin: auto;
    }
    .image {
      text-align: center;
      width: 50%;
      img {
        height: 50px;
        padding: 2px;
      }
    }
    &.departments-wrapper {
      cursor: pointer;
      background-color: white;
    }
    &.pharmas-wrapper {
      cursor: pointer;
      background-color: white;
    }
    &.diagnostics-wrapper {
      cursor: pointer;
      background-color: white;
    }
    &.products-wrapper {
      cursor: pointer;
      background-color: white;
    }
    &.events-wrapper {
      cursor: pointer;
      background-color: white;
    }
  }
  .web-browse-options {
    @media (max-width: 768px) {
      display: none;
  }

    @media (min-width: 769px) {
      display: block;
    }
  }
}

.home-featured-stores
 {
  .card {
    .card-text {
      font-size: 0.8125rem;
      color: #989ca3;
    }
  }
}
.home-featured-stores {
  .card {
    cursor: pointer;
    .card-img-top {
      height: 150px;
      object-fit: cover;
    }
  }
}
.home-new-trend {
  .new-trend {
    min-height: 150px;
  }
}

.home-featured-products {
  hr {
    margin: 7px 0;
  }
  .product-card {
    width: 15%;
    padding: 0 10px;
    .card-img-top {
      height: 150px;
      object-fit: contain;
    }
    .card {
      cursor: pointer;
    }
    .card-body {
      font-size: 0.85rem;
      .card-text {
        font-size: 0.8rem;
        &.shop {
          color: $product-offer;
        }
        .offer {
          font-size: 0.7rem;
          color: $product-offer;
          text-decoration: line-through;
        }
        .offer-per {
          font-size: 0.7rem;
          color: $color-teal;
        }
      }
    }
  }
}

@media (max-width: 568px) {
  .view-more-btn {
    min-width: auto;
    padding: 0 5px 3px 5px;
  }

  .home-featured-products {
    .product-card {
      width: 50%;
      padding: 0 5px;
      .card-img-top {
        height: 150px;
      }
    }
    .mobile-home-featured-products {
      > div {
        &:first-child {
          border-right: 1px solid $header-search-border;
          border-bottom: 1px solid $header-search-border;
        }
        &:nth-child(2) {
          border-bottom: 1px solid $header-search-border;
        }
        &:nth-child(3) {
          border-right: 1px solid $header-search-border;
        }
      }
    }
  }

  .home-featured-stores {
    .card {
      .card-img-top {
        height: 120px;
      }
      .card-body {
        padding: 0 5px 5px 5px !important;
      }
    }
    .mobile-featured-store {
      padding: 0px 5px;
      border-radius: 5px;
      background: white;
      margin: 0 -10px;
      > div {
        &:first-child {
          border-right: 1px solid $header-search-border;
          border-bottom: 1px solid $header-search-border;
        }
        &:nth-child(2) {
          border-bottom: 1px solid $header-search-border;
        }
        &:nth-child(3) {
          border-right: 1px solid $header-search-border;
        }
      }
    }
  }
  .card {
    .card-img-top {
      img {
        border-radius: 5px;
      }
    }
  }
  .bg-color-fb {
    background-color: #7ea5d5;
  }
  .bg-color-jfy {
    background-color: #c8e6ca;
  }
  .mobile-w-75 {
    width: 95% !important;
  }
  .section-title {
    text-align: left !important;
    .border-underline {
      display: none;
    }
    button {
      font-size: 12px;
      padding: 0 5px 3px 5px;
    }
  }
}
@media (min-width: 569px) and (max-width: 768px) {
  .home-featured-products {
    .product-card{
      width: 50%;
    }
  }
}

@media (min-width: 768px) and (max-width: 1280px) {
  .home-featured-products {
    .product-card{
      width: 33%;
    }
  }
}


@media (min-width: 1025px) and (max-width: 1365px) {
  .home-banner .image img {
    height: 75px;
  }
}


.health-tips {

  .health-tip-bg{
    height: 107px;
    white-space: normal;
    .health-tip-info{
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-height: 16px;
      max-height: 48px;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
    
  }

  .health-card {
  
    width: 33%;
    
    @media (max-width: 578px) {
      width: 60%;
      height: auto;
      .health-tip-info {
        width: 60%;
        height: auto;
      }
    }
    @media (min-width: 579px) {
      width: 40%;
      height: auto;
      // .health-tip-info {
      //   width: 40%;
      // }
    }
  }
 
}

.giveMeEllipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px;    
  height: 48px;
  -webkit-line-clamp: 3; /* Write the number of lines you want to be displayed */
  -webkit-box-orient: vertical;
}