<div class="home-services-container">
</div>
<div class="home-banner">
  <div class="row">
    <div class="col-12 p-0">
      <div class="mb-sm-3 mb-0 pb-3 main-container-width">
        <div class="row">
          <div class="col-lg-8 col-sm-12 padding-0">
            <carousel>
              <slide *ngFor="let item of bannerAdvList">
                <a target="_self" [href]=item.href_link>
                  <img class="banner-img" (window:resize)="onResize()" src="{{item.primary_image_url}}" alt="home slide"
                    #homeBannerImage [ngStyle]="bannerSetHeight">
                </a>
              </slide>
            </carousel>
          </div>
          <div class="col-lg-4 col-xl-4 col-sm-12 web-browse-options">
            <h5 class="mb-4 mt-3 mt-md-3 mt-lg-0 section-title">
              Browse by
              <div class="border-underline"></div>
            </h5>
            <div class="row">
              <div class="col-6 col-md-6 col-lg-12 col-xl-12 border rounded mb-1">
                <a class="grid-item browse-wrapper departments-wrapper" target="_self"
                  [href]="baseUrl + '/health/d/' + city">
                  <div class="row d-flex">
                    <h5 class="heading-health text-left pl-4"><span>DEPARTMENTS</span></h5>
                    <div class="image text-right pr-4">
                      <img
                        src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/health_icons%2Fdepatment.png?alt=media&token=a4195c22-60bd-40c6-bba6-6696104868bb">
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-6 col-md-6 col-lg-12 border rounded mb-1">
                <a target="_self" class="browse-wrapper pharmas-wrapper"
                  [href]="baseUrl + '/business/l/' + city + '/' + 'medical_and_general_level1' + '/'+ 'LEVEL1' + '/' + 'Pharmas' + '/' + 'HEALTH' + '/' + '1'">
                  <div class="row d-flex">
                    <div class="image text-left pl-4">
                      <img
                        src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/health_icons%2Fpharma.png?alt=media&token=7722213a-921c-419f-9b4f-f19c38d52510">
                    </div>
                    <h5 class="heading-health text-right pr-4"><span>PHARMAS</span></h5>
                  </div>
                </a>
              </div>
              <div class="col-6 col-md-6 col-lg-12 border rounded mb-1">
                <a target="_self" class="browse-wrapper diagnostics-wrapper"
                  [href]="baseUrl + '/business/l/' + city + '/' + 'diagnostic_centers_level2' + '/'+ 'LEVEL2' + '/' + 'Diagnostic Centers'+ '/' + 'HEALTH' + '/' + '1'">
                  <div class="row d-flex">
                    <h5 class="heading-health text-left pl-4"><span>DIAGNOSTICS</span></h5>
                    <div class="image text-right pr-4">
                      <img
                        src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/health_icons%2Fdiagnostics.png?alt=media&token=4916c68a-e6cc-4ac5-81c3-70de76461bde">
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-6 col-md-6 col-lg-12 border rounded mb-1">
                <a class="browse-wrapper products-wrapper"
                  [href]="baseUrl + '/products/' + city + '/' + 'Health Products' + '/' + 'health_care_level1' + '/' + 'Health Products' + '/' + 'LEVEL1' + '/' + '1'" target="_self">
                  <div class="row d-flex">
                    <div class="image text-left pl-4">
                      <img
                        src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/health_icons%2Fhealth_products.png?alt=media&token=2407d57a-fd4b-4b92-91da-d34893ff75e8">
                    </div>
                    <h5 class="heading-health text-right pr-4"><span>PRODUCTS</span></h5>
                  </div>
                </a>
              </div>
              <div class="col-6 col-md-6 col-lg-12 border rounded">
                <a class="grid-item browse-wrapper events-wrapper" target="_self"
                  [href]="baseUrl + '/events/' + city+ '/HEALTH'">
                  <div class="row d-flex">
                    <h5 class="heading-health text-left pl-4"><span>EVENTS</span></h5>
                    <div class="image text-right pr-4">
                      <img
                        src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/health_icons%2Fhealth_events.png?alt=media&token=35276c30-8364-408e-8c4f-8ef64c09326c">
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="home-navigation mb-2 text-center">
  <app-horizontal-carousel>

    <div class="grid-option d-inline-block">
      <a target="_self" [href]="baseUrl + '/health/d/' + city">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/health_icons%2Fdepatment.png?alt=media&token=a4195c22-60bd-40c6-bba6-6696104868bb"
          class="menu-image d-block" />
        <div class="menu-title text-center">Departments</div>
      </a>
    </div>
    <div class="grid-option d-inline-block ml-5">
      <a target="_self"
        [href]="baseUrl + '/business/l/' + city + '/' + 'medical_and_general_level1' + '/'+ 'LEVEL1' + '/' + 'Pharmas' + '/' + 'HEALTH' + '/' + '1'">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/health_icons%2Fpharma.png?alt=media&token=7722213a-921c-419f-9b4f-f19c38d52510"
          class="menu-image mx-auto d-block" />
        <div class="menu-title text-center">Pharmas</div>
      </a>
    </div>
    <div class="grid-option d-inline-block ml-5">
      <a target="_self"
        [href]="baseUrl + '/business/l/' + city + '/' + 'diagnostic_centers_level2' + '/'+ 'LEVEL2' + '/' + 'Diagnostic Centers' + '/' + 'HEALTH' + '/' + '1'">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/health_icons%2Fdiagnostics.png?alt=media&token=4916c68a-e6cc-4ac5-81c3-70de76461bde"
          class="menu-image mx-auto d-block" />
        <div class="menu-title text-center">
          Diagnostics
        </div>
      </a>
    </div>
    <div class="grid-option d-inline-block ml-5">
        <a class="browse-wrapper products-wrapper"
        [href]="baseUrl + '/products/' + city + '/' + 'Health Products' + '/' + 'health_care_level1' + '/' + 'Health Products' + '/' + 'LEVEL1' + '/' + '1'" target="_self">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/health_icons%2Fhealth_products.png?alt=media&token=2407d57a-fd4b-4b92-91da-d34893ff75e8"
          class="menu-image mx-auto d-block" />
        <div class="menu-title text-center">
          Products
        </div>
      </a>
    </div>
    <div class="grid-option d-inline-block ml-5">
      <a class="grid-item" target="_self" [href]="baseUrl + '/events/' + city+ '/HEALTH'">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/health_icons%2Fhealth_events.png?alt=media&token=35276c30-8364-408e-8c4f-8ef64c09326c"
          class="menu-image mx-auto d-block" />
        <div class="menu-title text-center">Events</div>
      </a>
    </div>
  </app-horizontal-carousel>
</div>

<div class="home-featured-stores" *ngIf="subscribeBusiness && subscribeBusiness.length">
  <div class="row">
    <div class="col-12 p-sm-0 padding-0 bg-color-fb">
      <div class="mb-3 pb-0 pb-sm-3 w-75 mx-auto mobile-w-75">
        <h5 class="mb-4 section-title text-center margin-top-0">
          Featured Clinics
          <div class="border-underline"></div>
          <div class=" d-inline-block d-sm-none float-right">
            <a [href]="baseUrl + '/business/ps/Health/' + city + '/1'" target="_self">
              <button type="button" class="btn view-more-btn text-right">
                <span>View More</span>
              </button>
            </a>
          </div>
        </h5>
        <div class="row mobile-featured-store">
          <div class="col-md-3 col-6 pb-sm-0 pt-sm-0 pt-2 pb-2 pl-2 pr-2" *ngFor="let item of subscribeBusiness">
            <div class="card border border-0 mb-sm-4">
              <a target="_self"
                [href]="baseUrl + '/business/' + item.business_city + '/' + item.business_id + '/'+ item.urlBusinessName">
                <div>
                  <img class="card-img-top rounded" src="{{ item.primary_image_url }}" alt="{{ item.adv_tag_line }}" />
                </div>
                <div class="card-body p-0">
                  <h6 class="card-title mb-0 mt-1 ellipsis" title="{{ item.business_name }}">
                    {{ item.business_name }}
                  </h6>
                  <p class="card-text ellipsis" title="{{ item.adv_tag_line }}">
                    {{ item.adv_tag_line }}
                  </p>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="row d-none d-sm-block">
          <div class="col-12">
            <div class="mb-lg-3 mb-md-2 text-center">
              <a [href]="baseUrl + '/business/ps/Health/' + city + '/1'" target="_self">
                <button type="button" class="btn view-more-btn">
                  <span>View More</span>
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="home-featured-products" *ngIf="featuredProductsList && featuredProductsList.length">
  <div class="row">
    <div class="col-12 p-sm-0 padding-0">
      <div class="mb-3 pb-sm-3 mb-sm-3 mb-0 pb-0 w-75 mx-auto mobile-w-75">
        <h5 class="mb-4 section-title text-center">
          Healthy Deals
          <div class="border-underline"></div>
          <div class=" d-inline-block d-sm-none float-right">
            <a [href]="baseUrl + '/products/p/Health/' + city + '/1'" target="_self">
              <button type="button" class="btn view-more-btn text-right">
                <span>View More</span>
              </button>
            </a>
          </div>
        </h5>
        <div class="d-block d-sm-none mobile-home-featured-products">
          <div class="product-card d-inline-block pt-2 pt-sm-0 pb-2 pb-sm-0"
            *ngFor="let item of featuredProductsMobList">
            <div class="card border-0">
              <a target="_self"
                [href]="baseUrl + '/business/' + 'p' + '/' +item.business_city + '/' + item.business_id + '/'+ item.urlBusinessName + '/' + item.product_id + '/' + item.category_level3.name">
                <img class="card-img-top rounded" src="{{ item.image_url }}" alt="Product image" />
                <div class="card-body pl-0 pr-0 pt-2 pb-sm-2 pb-0 text-center">
                  <div class="card-title mb-0 ellipsis" title="{{ item.name }}">
                    {{ item.name }}
                  </div>
                  <div class="card-text"
                    *ngIf="item.actual_price > 0 && item.offer_price > 0 && item.actual_discount != 0">
                    &#8377;{{ item.actual_price }}
                    <span class="offer mr-1">&#8377;{{ item.offer_price }}</span><span
                      class="offer-per">({{ item.actual_discount }}% off)</span>
                  </div>
                  <div class="card-text" *ngIf="item.actual_price > 0 && item.offer_price == 0">
                    &#8377;{{ item.actual_price }}
                  </div>
                  <div class="card-text" *ngIf="item.actual_price == 0 && item.offer_price == 0">
                    &#8377; NA
                  </div>
                  <div class="card-text" *ngIf="item.minimum_quantity > 0">
                    <b>Min Qty:</b> {{item.minimum_quantity}} @ Wholesale
                  </div>
                  <hr>
                  <div class="card-text shop ellipsis" title="{{ item.business_name }}">
                    {{ item.business_name }}
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <app-horizontal-carousel class="d-sm-block d-none">
          <div class="product-card d-inline-block" *ngFor="let item of featuredProductsList">
            <div class="card border-0">
              <a target="_self"
                [href]="baseUrl + '/business/' + 'p' + '/' +item.business_city + '/' + item.business_id + '/'+ item.urlBusinessName + '/' + item.product_id + '/' + item.category_level3.name">
                <img class="card-img-top rounded" src="{{ item.image_url }}" alt="Product image" />
                <div class="card-body pl-0 pr-0 pt-2 pb-2 text-center">
                  <div class="card-title mb-0 ellipsis" title="{{ item.name }}">
                    {{ item.name }}
                  </div>
                  <div class="card-text"
                    *ngIf="item.actual_price > 0 && item.offer_price > 0 && item.actual_discount != 0">
                    &#8377;{{ item.actual_price }}
                    <span class="offer mr-1">{{ item.offer_price }}</span><span
                      class="offer-per">({{ item.actual_discount }}% off)</span>
                  </div>
                  <div class="card-text" *ngIf="item.actual_price > 0 && item.offer_price == 0">
                    &#8377; {{ item.actual_price }}
                  </div>
                  <div class="card-text" *ngIf="item.actual_price == 0 && item.offer_price == 0">
                    &#8377;NA
                  </div>
                  <div class="card-text" *ngIf="item.minimum_quantity > 0">
                    <b>Min Qty:</b> {{item.minimum_quantity}} @ Wholesale
                  </div>
                  <hr>
                  <div class="card-text shop ellipsis" title="{{ item.business_name }}">
                    {{ item.business_name }}
                  </div>
                </div>
              </a>
            </div>
          </div>
        </app-horizontal-carousel>
        <div class="row d-none d-sm-block">
          <div class="col-12">
            <div class="mb-lg-3 mb-md-2 text-center">
              <a [href]="baseUrl + '/products/p/Health/' + city + '/1'" target="_self">
                <button class="btn view-more-btn">
                  <span>View More</span>
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="health-tips mb-3" *ngIf="healthTips && healthTips.length">
  <h5 class="mb-4 section-title text-center margin-top-0">
    Health tips from Doctors
    <div class="border-underline"></div>
  </h5>
  <app-horizontal-carousel>
    <div #allHealthTipes [style.background-color]="item.background" class="health-tip-bg health-card mr-2 border-0 rounded d-inline-block p-2"
      *ngFor="let item of healthTips; let i=index">
      <div class="card border-0" [style.background-color]="item.background">
        <a target="_self"
          [href]="baseUrl + '/business/' + item.business_city + '/' + item.business_id + '/'+ item.urlBusinessName">
          <div class="card-title mb-0 text-left">
            {{ item.clinic_name }}
          </div>
          <div class="health-tip-info">
            {{item.health_tip}}
          </div>
          <div class="card-title mb-0 text-right">
            {{ item.doctor_name }}
          </div>
        </a>
      </div>
    </div>
  </app-horizontal-carousel>
</div>
