@import "../../variables.scss";

/* Home Page Styles */
// .carousel-inner{
//   touch-action: manipulation;
// }

.view-more-btn {
  min-width: 150px;
  padding: 8px;
  &.inverted {
    min-width: 100px;
    padding: 2px;
    background-color: transparent;
    color: black;
    border-color: black;
  }
}

.home-services-container {
  .home-navigation {
    a {
      text-align: center;

      .menu-image {
        width: 30px;
        height: 30px;
      }

      .menu-title {
        color: $body-color;
        font-size: 0.75rem;
        font-weight: 500;
      }

      &:hover {
        text-align: center;
        color: #000 !important;
        text-decoration: none;
      }
    }
    mat-grid-tile :hover {
      background: #F5F5F5;
      border-radius: 4px;
    }
  }
  .grid-container {
    list-style-type: none;
  }
  .grid-item {
    a {
      display: block;
    }
  }
}

.home-banner {
  .item {
    img {
      cursor: pointer;
    }
  }

  .browse-wrapper {
    height: 140px;
    margin-bottom: 15px;
    padding: 15px;
    display: block;
    text-decoration: none;
    color: inherit;

    .heading {
      margin-bottom: 0;

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
      }
    }

    .image {
      text-align: center;

      img {
        height: 100px;
      }
    }

    &.stores-wrapper {
      background-color: #fffabe;
    }

    &.services-wrapper {
      background-color: #b9e5fb;
    }

    &.products-wrapper {
      background-color: #f9edf2;
    }
  }
}

.home-my-schedule {
  width: 50%;

  .schedule-desc {
    background-color: #ffcebe;
  }
}

.offer-card {
  // width: 250px;
  display: inline-block;
  white-space: nowrap;

  &:first-child {
    margin-left: 0px;
  }
}

.home-featured-stores,
.home-just-you {
  .card {
    .card-text {
      font-size: 0.8125rem;
      color: #989ca3;
    }
  }
}
.bg-yellow {
  background-color: #ffff99;
}
.bg-green {
  @media screen and (min-width: 576px){
    background-color: #ccff99;
  }
}
.just-for-you-label,.best-offers-label {
  @media screen and (min-width:768px) {
    min-width: 150px;
  }
}
.just-you-carousel,.best-offer-carousel {
  @media screen and (min-width:768px) {
    width: calc(100% - 150px);
  }
}
.home-featured-stores {
  .card {
    cursor: pointer;

    .card-img-top {
      height: 150px;
      object-fit: cover;
      border-radius: 10px;
    }
  }
  .featured-stores {
    .view-more-btn {
      min-width: 90px;
      padding: 4px;
      font-size: 0.75rem;
    }
  }
}

.home-new-trend {
  .new-trend {
    min-height: 150px;
  }
}
.best-offer-carousel {
  .card {
        margin-right: 1%;
        border-radius: 10px;
        overflow: hidden ;
        cursor: pointer;
        @media screen and (max-width: 575px) {
          width: 250px;
          margin: 0 5px;
        }
        @media (min-width: 576px) and (max-width: 991px) {
          width: 49%;
        }
        @media (min-width: 992px) and (max-width: 1280px) {
          width: 32.33%;
        }
        @media (min-width: 1281px) {
          width: 24%;
        }
  }
} 
.home-just-you {
  .just-you-carousel {
    .card {
        cursor: pointer;
        width: 19%;
        margin-right: 1%;
        border-radius: 10px;
        overflow: hidden ;

        .card-title {
          font-size: 1rem;
          color: #333333;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .card-text {
          font-size: 0.8rem;
          color: #666666;
        }

        img {
          height: 125px;
          object-fit: cover;
        }

        &:hover {
          color: #000 !important;
          text-decoration: none;
        }
    }
  }
}

.home-new-trending {
  .card-img-top {
    cursor: pointer;
  }
  @media  (max-width: 575px) {
    display: none;
  }

  @media  (min-width: 576px) {
    display: block;
  }
}

.mobile-home-new-trending {
  .card-img-top {
    cursor: pointer;
  }
  @media  (max-width: 575px) {
    display: block;
  }

  @media  (min-width: 576px) {
    display: none;
  }
}

.home-featured-products {
  hr {
    margin: 7px 0;
  }

  .product-card {
    width: 16.66%;
    padding: 0 10px;

    .card-img-top {
      height: 150px;
      object-fit: contain;
    }

    .card {
      cursor: pointer;
    }

    .card-body {
      font-size: 0.85rem;

      .card-text {
        font-size: 0.8rem;

        &.shop {
          color: $product-offer;
        }

        .offer {
          font-size: 0.7rem;
          color: $product-offer;
          text-decoration: line-through;
        }

        .offer-per {
          font-size: 0.7rem;
          color: $color-teal;
        }
      }
    }
  }
  .view-more-btn {
    min-width: 90px;
    padding: 4px;
    font-size: 0.75rem;
  }
}

.home-best-offers {
  .custom-carousel-inner {
    .card {
      // width: 250px;
      cursor: pointer;
    }

    .card-header {
      border: 0;
    }

    .card-body {
      h6 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  
  .view-more-btn {
    min-width: 110px;
    padding: 4px;
    font-size: 0.75rem ;
  }
}

@media (max-width: 767px) {
  .home-just-you {
    .just-you-carousel {
      .card {
        cursor: pointer;

        img {
          height: 150px;
          object-fit: cover;
        }
      }
    }
  }

  .offer-card {
    margin-bottom: 30px;
  }

}

@media (max-width: 575px) {
  .view-more-btn {
    min-width: auto;
    padding: 0 5px 3px 5px;
  }

  .home-services-container {
    .home-navigation {
      a {
        .menu-image {
          width: 30px;
          height: 30px;
        }
      }
    }
  }

  .home-banner {
    .stores-mobile {
      padding-right: 8px;
      .image {
        width : 100px;
        height : 100px;
      }
    }

    .services-mobile {
      padding-left: 8px;
    }

    .browse-wrapper {
      height: 50px;
      margin-bottom: 0;
      padding: 0;

      .row {
        display: block !important;

        .image,
        .heading {
          display: inline-block;
          text-align: center;
        }

        .heading {
          span {
            position: static;
          }
        }
      }
    }

    .banner-img {
      height: 480px;
      object-fit: contain;
    }
  }

  .home-featured-products {
    .product-card {
      width: 50%;
      padding: 0 5px;

      .card-img-top {
        height: 150px;
      }
    }

    .mobile-home-featured-products {
      >div {
        &:first-child {
          border-right: 1px solid $header-search-border;
          border-bottom: 1px solid $header-search-border;
        }

        &:nth-child(2) {
          border-bottom: 1px solid $header-search-border;
        }

        &:nth-child(3) {
          border-right: 1px solid $header-search-border;
        }
      }
    }
  }

  .home-just-you {
    .just-you-carousel {
      .card {
        width: 48%;
        margin: 0 5px;
      }
    }
  }

  .home-featured-stores {
    .card {
      a {
        .card-img-top {
          height: 120px;
        }

        .card-body {
          padding: 0 5px 5px 5px !important;
        }

        &:hover {
          color: #000 !important;
          text-decoration: none;
        }
      }
    }

    .mobile-featured-store {
      padding: 0px 5px;
      border-radius: 5px;
      background: white;
      margin: 0 -10px;

      >div {
        &:first-child {
          border-right: 1px solid $header-search-border;
          border-bottom: 1px solid $header-search-border;
        }

        &:nth-child(2) {
          border-bottom: 1px solid $header-search-border;
        }

        &:nth-child(3) {
          border-right: 1px solid $header-search-border;
        }
      }
      .card-img-top {
        border-radius: 10px;
        overflow: hidden;
      }
    }
   
  }
  

  .card {
    .card-img-top {
      img {
        border-radius: 5px;
      }
    }
  }

  .bg-color-fb {
    background-color: #f1e2b7;
  }

  .bg-color-jfy {
    background-color: #c8e6ca;
  }

  .mobile-w-75 {
    width: 95% !important;
  }

  .section-title {
    text-align: left !important;

    .border-underline {
      display: none;
    }

    button {
      font-size: 12px;
      padding: 0 5px 3px 5px;
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .home-featured-products {
    .product-card {
      width: 50%;
    }
  }

  .home-just-you {
    .just-you-carousel {
      .card {
        width: 49%;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1280px) {
  .home-banner {
    .browse-wrapper {
      height: 95px;
    }
  }

  .home-featured-products {
    .product-card {
      width: 33%;
    }
  }

  .home-just-you {
    .just-you-carousel {
      .card {
        width: 32.33%;
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .home-just-you {
    .just-you-carousel {
      .card {
        width: 49%;
      }
    }
  }
}

@media (min-width: 579px) and (max-width: 767px) {
  .home-banner {
    .browse-wrapper {
      height: 100px;

      .row {
        display: block !important;

        .image,
        .heading {
          display: inline-block;
          text-align: center;
          width: 50%;
        }

        .heading {
          span {
            position: static;
          }
        }
      }
    }
  }
}

@media (min-width: 1025px) and (max-width: 1365px) {
  .home-banner .browse-wrapper .image img {
    height: 75px;
  }
}

@media (max-width: 578px) {
  .home-banner {
    .browse-wrapper {
      .heading {
        padding: 0;

        span {
          font-size: 15px;
        }
      }

      .image {
        padding: 0;

        img {
          height: 50px;
        }
      }
    }
  }
}

@media (min-width: 578px) and (max-width: 1025px) {
  .home-banner {
    .browse-wrapper {
      .image {
        img {
          height: 70px;
        }
      }

      .row {
        display: block !important;

        .image,
        .heading {
          display: inline-block;
          text-align: center;
        }

        .heading {
          span {
            position: static;
          }
        }
      }
    }
  }
}


@media (min-width: 1365px) and (max-width: 1441px) {
  .home-just-you {
    .just-you-carousel {
      .card {
          cursor: pointer;
          width: 24%;
          margin-right: 1%;

          .card-title {
            font-size: 1rem;
            color: #333333;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .card-text {
            font-size: 0.8rem;
            color: #666666;
          }

          img {
            height: 125px;
            object-fit: cover;
          }

          &:hover {
            color: #000 !important;
            text-decoration: none;
          }
      }
    }
  }
}



@media (min-width: 1441px) {
  .home-just-you {
    .just-you-carousel {
      .card {
          cursor: pointer;
          width: 24%;
          margin-right: 1%;

          .card-title {
            font-size: 1rem;
            color: #333333;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .card-text {
            font-size: 0.8rem;
            color: #666666;
          }

          img {
            height: 125px;
            object-fit: cover;
          }

          &:hover {
            color: #000 !important;
            text-decoration: none;
          }
      }
    }
  }
}

.modal {
  /* modal container fixed across whole screen */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* enables scrolling for tall modals */
  overflow: auto;

  .modal-body {
      padding: 20px;
      background: #fff;

      /* margin exposes part of the modal background */
      margin: 40px;
  }
}

.modal-background {
  /* modal background fixed across whole screen */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* semi-transparent black  */
  background-color: #000;
  opacity: 0.75;

  /* z-index must be below .modal and above everything else  */
  z-index: 900;
}
.disable-offer {
  visibility: hidden;
}