<div class="home-services-container">
  <div class="row" *ngIf="homeFeatures?.length">
    <div class="col-12 p-0">
      <div class="p-0">
        <nav class="w-75 mx-auto home-navigation">
          <mat-grid-list [cols]="getHomeFeatureCols" rowHeight="80px" class="nav grid-container">
            <mat-grid-tile class="grid-item" *ngIf="isCouponsAvailable">
              <a target="_self" [href]="baseUrl + '/coupons/active/' + city">
                <img src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/home_feature_icons%2Fcoupon.png?alt=media&token=78086a86-859c-4246-a488-a74f70380316" class="menu-image mx-auto d-block" />
                <span class="menu-title text-center">{{couponDisplayName}}</span> </a>
            </mat-grid-tile>
            <mat-grid-tile class="grid-item" *ngIf="isOffersAvailable">
              <a target="_self" [href]="baseUrl + '/offers/' + city+ '/ALL'">
                <img src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/home_feature_icons%2Foffer_home.png?alt=media&token=7f85bd9d-ebaf-45be-a8f4-5a2bf2fe2ce7" class="menu-image mx-auto d-block text-center" />
                <span class="menu-title text-center">{{offerDisplayName}}</span>
              </a>
            </mat-grid-tile>
            <mat-grid-tile class="grid-item" *ngIf="isMoviesAvailable">
              <a [href]="baseUrl + '/movies/' + city+ '/now_showing'" target="_self">
                <img src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/home_feature_icons%2Fmovie.png?alt=media&token=ff5b54d5-ebd2-41a4-980a-fa85caaf27e9" target="_self" class="menu-image mx-auto d-block" />
                <span class="menu-title text-center">{{moviesDisplayName}}</span>
              </a>
            </mat-grid-tile>
            <mat-grid-tile class="grid-item" *ngIf="isEventsAvailable">
              <a target="_self" [href]="baseUrl + '/events/' + city+ '/ALL'">
                <img src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/home_feature_icons%2Fevents.png?alt=media&token=e079bfb5-f9ef-42d2-8961-c057c38c59de" class="menu-image mx-auto d-block" />
                <span class="menu-title text-center">{{eventsDisplayName}}</span>
              </a>
            </mat-grid-tile>
            <mat-grid-tile class="grid-item" *ngIf="isActivitiesAvailable">
              <a target="_self" [href]="baseUrl + '/activities/' + city+ '/ALL'">
                <img src="assets/Activity.png" alt="Activities" class="menu-image mx-auto d-block" />
                <span class="menu-title text-center">{{activitiesDisplayName}}</span>
              </a>
            </mat-grid-tile>
            <mat-grid-tile class="grid-item" *ngIf="isHealthAvailable">
              <a target="_self" [href]="baseUrl + '/health/' + city">
                <img src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/home_feature_icons%2Fhealth.png?alt=media&token=9b10c9cc-2c72-4a53-bb6a-1a5aed05426a" class="menu-image mx-auto d-block" />
                <span class="menu-title text-center">{{healthDisplayName}}</span>
              </a>
            </mat-grid-tile>
            <mat-grid-tile class="grid-item" *ngIf="isRealEstateAvailable">
              <a target="_self" [href]="baseUrl + '/realEstate/' + city + '/buy'">
                <img src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/home_feature_icons%2Freal-estate.svg?alt=media&token=03ac6405-0222-4f2b-a8df-f1f0dded19e6" class="menu-image mx-auto d-block" />
                <span class="menu-title text-center">{{realEstateDisplayName}}</span>
              </a>
            </mat-grid-tile>
            <mat-grid-tile class="grid-item" *ngIf="isFuncHallAvailable">
              <a target="_self" [href]="baseUrl + '/halls/' + city">
                <img src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/home_feature_icons%2Ffunction_hall.png?alt=media&token=bd8e9bca-5904-4060-9f36-e26ccf4db0f0" class="menu-image mx-auto d-block" />
                <span class="menu-title text-center">{{funsHallsDisplayName}}</span>
              </a>
            </mat-grid-tile>
            <mat-grid-tile class="grid-item" *ngIf="isHomeServiceAvailable">
                <a target="_self" [href]="baseUrl + '/service/h/' + city">
                  <img src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/home_feature_icons%2Fhome_service.png?alt=media&token=9d7a8e1b-9eb4-4eec-9279-e54af0a0b2fb" class="menu-image mx-auto d-block" />
                  <span class="menu-title text-center">{{homeServiceDisplayName}}</span>
                </a>
            </mat-grid-tile>
            <mat-grid-tile class="grid-item" *ngIf="isHomeDeliveryAvailable">
              <a target="_self" [href]="baseUrl + '/homeDelivery/categories/' + city">
                <img src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/home_feature_icons%2Fic_home_pade_delivery.png?alt=media&token=ba1122a0-8288-4a26-88bd-8090912e4882" class="menu-image mx-auto d-block" />
                <span class="menu-title text-center">{{homeDeliveryDisplayName}}</span>
              </a>
            </mat-grid-tile>
          </mat-grid-list>
        </nav>
      </div>
    </div>
  </div>
</div>

<div class="home-banner">
  <div class="row">
    <div class="col-12 p-0">
      <div class="mb-sm-3 mb-0 pb-sm-3 pb-4 main-container-width">
        <div class="row">
          <div class="col-xl-9 col-sm-12 padding-0 pr-sm-0">
            <carousel>
              <slide *ngFor="let item of getBannerAdvList">
                <a target="_self" [href]=item.href_link>
                  <img class="banner-img px-sm-0" (window:resize)="onResize()" src="{{ item.primary_image_url }}"
                    alt="home slide" [ngStyle]="bannerSetHeight" />
                </a>
              </slide>
            </carousel>
          </div>
          <div class="col-xl-3 col-sm-12 d-xl-flex flex-xl-column">
            <h5 class="mb-4 mt-3 mt-md-3 mt-xl-0 section-title">
              Browse by
              <div class="border-underline"></div>
            </h5>
            <div class="row flex-grow-1">
              <div class="col-6 col-md-6 col-xl-12 stores-mobile mb-xl-3">
                <a target="_self" [href]="baseUrl + '/stores/' + city" class="browse-wrapper stores-wrapper w-100 h-100 p-sm-0 mb-sm-0">
                  <div class="d-flex w-100 h-100">
                    <img class="d-md-block d-none w-100 h-100" src="../../assets/store-img-web.png" alt="store image">
                    <img class="d-md-none w-100 h-100" src="../../assets/store-img-mob.png" alt="store image">
                  </div>
                </a>
              </div>
              <div class="col-6 col-md-6 col-xl-12 services-mobile">
                <a target="_self" [href]="baseUrl + '/service/' + city" class="browse-wrapper services-wrapper w-100 h-100 p-sm-0 mb-sm-0">
                    <div class="d-flex w-100 h-100">
                      <img class="d-md-block d-none w-100 h-100" src="../../assets/service-img-web.png" alt="service img">
                      <img class="d-md-none w-100 h-100" src="../../assets/service-img-mob.png" alt="service img">
                    </div>
                  
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home-my-schedule mb-1" *ngIf="customerActivities?.length > 0">
  <div class="row">
    <div class="col-12 p-sm-3 p-0 padding-0 background-grey">
      <div class="mb-3 mt-3 w-75 mx-auto mobile-w-75">
        <h5 class="mb-4 section-title text-center">
          My Schedule
          <div class="border-underline"></div>
        </h5>
        <div id="my-schedule-carousel" class="carousel slide my-schedule-carousel">
          <app-horizontal-carousel>
            <div class="card d-inline-block mb-3 rounded" *ngFor="let item of customerActivities">
              <div>
                <h6 class="card-title m-0 p-1">{{ item.title }}</h6>
                <p class="card-text m-0 p-1">{{ item.start_date }} - {{ item.end_date }}</p>
                <p class="card-text schedule-desc p-1">{{ item.description }}</p>
              </div>
            </div>
          </app-horizontal-carousel>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="home-featured-stores">
  <div class="row">
    <div class="col-12 p-sm-0 padding-0 bg-color-fb">
      <div class="mb-3 pb-0 pb-sm-3 w-75 mx-auto mobile-w-75" *ngIf="subscribeBusiness?.length">
        <div  class="d-sm-flex justify-content-between">
          <h5 class="mb-4 mt-3 mt-sm-0 d-flex justify-content-between d-sm-block">
            Featured Business
            <div class="border-underline"></div>
            <div class=" d-inline-block d-sm-none float-right">
              <a [href]="baseUrl + '/business/ps/General/' + city + '/1'" target="_self">
                <button class="btn view-more-btn" type="submit">
                  <span>View More</span>
                </button>
              </a>
            </div>
          </h5>
          <div class="row d-none d-sm-block featured-stores">
                <a [href]="baseUrl + '/business/ps/General/' + city + '/1'" target="_self">
                  <button type="submit" class="btn view-more-btn">
                    <span>View More</span>
                  </button>
                </a>
          </div>
        </div>
       
        <div class="row mobile-featured-store">
          <div class="col-md-3 col-6 pb-sm-0 pt-sm-0 pt-2 pb-2" *ngFor="let item of subscribeBusiness">
            <div class="card border border-0 mb-sm-4">
              <a target="_self"
                [href]="baseUrl + '/business/' + item.business_city + '/' + item.business_id + '/'+ item.urlBusinessName">
                <div>
                  <img class="card-img-top" src="{{ item.primary_image_url }}" alt="{{ item.adv_tag_line }}" />
                </div>
                <div class="card-body p-0">
                  <h6 class="card-title mb-0 mt-1 ellipsis" title="{{ item.business_name }}">
                    {{ item.business_name }}
                  </h6>
                  <p class="card-text ellipsis" title="{{ item.adv_tag_line }}">
                    {{ item.adv_tag_line }}
                  </p>
                </div>
              </a>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
<div class="home-featured-products">
  <div class="row">
    <div class="col-12 p-sm-0 padding-0">
      <div class="mb-sm-3 mb-0 pb-0 w-75 mx-auto mobile-w-75">
        <div class="d-sm-flex justify-content-between">
          <h5 class="mb-4 mt-3 mt-sm-0 d-flex justify-content-between d-sm-block" *ngIf="featuredProductsList?.length">
            Featured Products
            <div class="border-underline"></div>
            <div class=" d-inline-block d-sm-none float-right">
              <a [href]="baseUrl + '/products/p/General/' + city + '/1'" target="_self">
                <button type="submit" class="btn view-more-btn">
                  <span>View More</span>
                </button>
              </a>
            </div>
          </h5>
          <div class="d-none d-sm-block" *ngIf="featuredProductsList?.length">
                <a [href]="baseUrl + '/products/p/General/' + city + '/1'" target="_self">
                  <button class="btn view-more-btn" type="submit">
                    <span>View More</span>
                  </button>
                </a>
          </div>
        </div>
        
        <div class="d-block d-sm-none mobile-home-featured-products" *ngIf="featuredProductsMobList?.length">
          <div class="product-card d-inline-block pt-2 pt-sm-0 pb-2 pb-sm-0"
            *ngFor="let item of featuredProductsMobList">
            <div class="card border-0">
              <a target="_self"
                [href]="baseUrl + '/business/' + 'p' + '/' +item.business_city + '/' + item.business_id + '/'+ item.urlBusinessName + '/' + item.product_id + '/' + item.category_level3.name">
                <img class="card-img-top rounded" src="{{ item.image_url }}" alt="Product image" />
                <div class="card-body pl-0 pr-0 pt-2 pb-sm-2 pb-0 text-center">
                  <div class="card-title mb-0 ellipsis" title="{{ item.name }}">
                    {{ item.name }}
                  </div>
                  <div class="card-text"
                    *ngIf="item.actual_price > 0 && item.offer_price > 0 && item.actual_discount != 0">
                    &#8377;{{ item.offer_price }}
                    <span class="offer mr-1">&#8377;{{ item.actual_price  }}</span><span
                      class="offer-per">({{ item.actual_discount }}% off)</span>
                  </div>
                  <div class="card-text" *ngIf="item.actual_price > 0 && item.offer_price == 0">
                    &#8377;{{ item.actual_price }}
                  </div>
                  <div class="card-text" *ngIf="item.actual_price == 0 && item.offer_price == 0">
                    &#8377; NA
                  </div>
                  <div class="card-text" *ngIf="item.minimum_quantity > 0">
                    <b>Min Qty:</b> {{item.minimum_quantity}} @ Wholesale
                  </div>
                  <hr>
                  <div class="card-text shop ellipsis" title="{{ item.business_name }}">
                    {{ item.business_name }}
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <app-horizontal-carousel class="d-sm-block d-none" *ngIf="featuredProductsList?.length">
          <div class="product-card d-inline-block" *ngFor="let item of featuredProductsList">
            <div class="card border-0">
              <a target="_self"
              [href]="baseUrl + '/business/' + 'p' + '/' +item.business_city + '/' + item.business_id + '/'+ item.urlBusinessName + '/' + item.product_id + '/' + item.category_level3.name">
                <img class="card-img-top rounded" src="{{ item.image_url }}" alt="Product image" />
                <div class="card-body pl-0 pr-0 pt-2 pb-2 text-center">
                  <div class="card-title mb-0 ellipsis" title="{{ item.name }}">
                    {{ item.name }}
                  </div>
                  <div class="card-text"
                    *ngIf="item.actual_price > 0 && item.offer_price > 0 && item.actual_discount != 0">
                    &#8377;{{ item.offer_price }}
                    <span class="offer mr-1">{{ item.actual_price }}</span><span
                      class="offer-per">({{ item.actual_discount }}% off)</span>
                  </div>
                  <div class="card-text" *ngIf="item.actual_price > 0 && item.offer_price == 0">
                    &#8377;{{ item.actual_price }}
                  </div>
                  <div class="card-text" *ngIf="item.actual_price == 0 && item.offer_price == 0">
                    &#8377; NA
                  </div>
                  <div class="card-text" *ngIf="item.minimum_quantity > 0">
                    <b>Min Qty:</b> {{item.minimum_quantity}} @ Wholesale
                  </div>
                  <hr>
                  <div class="card-text shop ellipsis" title="{{ item.business_name }}">
                    {{ item.business_name }}
                  </div>
                </div>
              </a>
            </div>
          </div>
        </app-horizontal-carousel>
        
      </div>
    </div>
  </div>
</div>
<div class="home-best-offers"  *ngIf="bestOffers?.length">
  <div class="row">
    <div class="col-12 p-sm-3 p-0 padding-0 bg-green background-grey">
      <div class="mb-3 mt-3 w-75 mx-auto mobile-w-75 d-md-flex">
        <h5 class="mb-4 section-title text-center d-sm-none">
          Best Offers in Town
          <div class="border-underline"></div>
        </h5>

        <div class="best-offers-label d-none d-sm-flex flex-md-column justify-content-between justify-content-md-start">
          <h5 class="mb-4 d-sm-block d-flex justify-content-between">
            <span class="d-md-none"> Best Offers in Town</span>
            <span class="d-none d-md-block mt-4">Best <br> Offers <br> in Town</span>
          </h5>
          <div class="d-none d-sm-block">
              <div>
                <a target="_self" [href]="baseUrl + '/offers/' + city+ '/ALL'">
                  <button class="btn view-more-btn inverted" type="submit">
                    <span>View More</span>
                  </button>
                </a>
              </div>
          </div>
        </div> 

        <div class="carousel slide custom-carousel-inner best-offer-carousel">
          <app-horizontal-carousel>
            <div class="card offer-card" *ngFor="let offers of bestOffers">
              <div class="card-header background-dark-grey p-0">
                <img src="{{ offers.logo_url }}" alt="{{ offers.business_name }}" width="100%" height="45" />
              </div>
              <div class="card-body">
                <div class="text-center">
                  <h6 title="{{ offers.offer_title }}">
                    {{ offers.offer_title }}
                  </h6>
                  <a target="_self"
                    [href]="baseUrl + '/business/' + offers.business_city + '/' + offers.business_id + '/'+ offers.urlBusinessName">
                    <button type="button" class="btn view-more-btn mt-3">
                      Visit Store Page
                    </button>
                  </a>
                </div>
              </div>
            </div>
          </app-horizontal-carousel>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="mt-3 mb-3 my-sm-5 home-new-trending">
  <div class="row w-75 mx-auto mobile-w-75">

    <div class="col-6 col-md-6 col-lg-6">
      <a [href]="baseUrl + '/stores/n/' + city" target="_self">
        <img class="card-img-top"
          src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/web_assets%2Fnew_stores.jpg?alt=media&token=df759d31-e0d0-4317-9535-f0fda30ad884" />
      </a>
    </div>



    <div class="col-6 col-md-6 col-lg-6">
      <a [href]="baseUrl + '/products/ct/' + city + '/' + 'Trending' + '/' + 'electronics_appliances_trending' + '/' + '0' + '/' + '1'" target="_self">
        <img class="card-img-top"
          src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/web_assets%2Ftrending_prods.jpg?alt=media&token=8a55e75a-409d-4e30-98ea-96ad55672e65" />
      </a>
    </div>

  </div>
</div>

<div class="mt-3 mb-3 mobile-home-new-trending">
  <div class="row w-75 mx-auto mobile-w-75">

    <div class="col-6 col-md-6 col-lg-6">
      <a [href]="baseUrl + '/stores/n/' + city" target="_self">
        <img class="card-img-top"
          src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/new_trending_icons%2Fnew_mob.png?alt=media&token=e4e81572-7b98-46a0-a3f8-c9eff2ab5c83" />
      </a>
    </div>



    <div class="col-6 col-md-6 col-lg-6">
      <a [href]="baseUrl + '/products/ct/' + city + '/' + 'Trending' + '/' + 'electronics_appliances_trending' + '/' + '0' + '/' + '1'" target="_self">
        <img class="card-img-top"
          src="https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/new_trending_icons%2Ftrend_mob.png?alt=media&token=2198b752-d46c-4bce-bf1c-d0839d0d3084" />
      </a>
    </div>

  </div>
</div>

<div class="home-just-you">
  <div class="row">
    <div class="col-12 p-0 px-sm-3 pt-sm-3 bg-yellow padding-0 bg-color-jfy">
      <div class="mt-3 w-75 mx-auto mobile-w-75 d-md-flex" *ngIf="justForYou?.length">
        
        <div class="just-for-you-label d-sm-flex flex-md-column justify-content-between justify-content-md-start">
          <h5 class="mb-3 d-sm-block d-flex justify-content-between">
            <span class="d-md-none">Just for You</span>
            <span class="d-none d-md-block mt-4">Just <br> for You</span>
            <div class="border-underline"></div>
            <div class=" d-inline-block d-sm-none float-right">
              <a [href]="baseUrl + '/recommendations/' + city" target="_self">
                <button type="submit" class="btn view-more-btn text-right">
                  <span>View More</span>
                </button>
              </a>
            </div>
          </h5>
          <div class="d-none d-sm-block">
            <div>
              <div>
                <a [href]="baseUrl + '/recommendations/' + city + '/1'" target="_self">
                  <button class="btn view-more-btn inverted" type="submit">
                    <span>View More</span>
                  </button>
                </a>
  
              </div>
            </div>
          </div>
        </div> 
        <div id="just-you-carousel" class="carousel slide just-you-carousel">
          <app-horizontal-carousel>
            <div class="card d-inline-block mb-3" *ngFor="let item of justForYou">
              <a target="_self"
                [href]="baseUrl + '/business/' + item.business_city + '/' + item.business_id + '/'+ item.urlBusinessName">
                <img class="card-img-top" src="{{ item.primary_image_url }}" alt="Store image" />
                <div class="card-body px-3 py-2">
                  <h6 class="card-title mb-1">{{ item.business_name }}</h6>
                  <p class="card-text" [ngClass]="{'disable-offer': (item.number_of_offers <  1)}">{{ item.number_of_offers }} offers</p>
                </div>
              </a>
            </div>
          </app-horizontal-carousel>
        </div>
        
      </div>
    </div>
  </div>
</div>
