@import "../../../variables";

.product-list-container {
  .bredcrumb-text {
    font-size: 1rem;
  }
  .breadcrumb-item+.breadcrumb-item {
    padding-left: 0;
  }

  .options {
    margin-right: 15px;
    .search-box {
      display: inline-block;
      color: black;
      position: relative;

      .fa-search {
        color: black;
      }

      input {
        padding: 12px;
        border: none;
        width: 220px;
        height: 30px;
        border-radius: 4px;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
      }
      i {
        position: absolute;
        top: 7px;
        right: 10px;
        @media (max-width: 578px) {
          margin-left: -8.5%;
        }
      }

      .search-results {
        position: absolute;
        width: 100%;
        border-top: none;
        background: #fff;
        top: 30px;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
        z-index: 1;

        .results-list {
          cursor: pointer;
          list-style: none;
          padding-left: 0;
          max-height: 260px;
          overflow: auto;
          .search-result-record {
            padding: 8px;
            padding-left: 12px;

            &:hover {
              background: $header-search-border;
            }
          }
        }
      }
    }
  }
  .cart-wrapper {
    .cart-btn {
      margin-right: 15px;
    }
    .cart-text {
      font-size: 0.8rem;
      color: $color-red;
    }
  }
  .default-active
  {
    background-color: $color-red;
    color: $color-white;
    box-shadow: none;
    border: 1px solid $color-red;
    a{
      color: $color-white !important;
    }
  }

  .product-category-button {
    &:focus {
      background-color: $color-red;
      color: $color-white;
      box-shadow: none;
      border: 1px solid $color-red;
    }
  }
  .delivery-txt {
    color: $color-red;
    font-weight: thick;
    font-size: 0.8rem
  }
  .bizz-name {
    color: #4fc3f7;
    font-size: 14px;
    margin-top: 4px;
  }
  .prod-name {
    color: #212121;
    font-size: 16px;
  }
  .prod-card {
    border: none;
    &.shop {
      color: #666666;
    }
    .offer {
      font-size: 14px;
      color: $product-offer;
      text-decoration: line-through;
    }
    .offer-per {
      font-size: 14px;
      color: $color-teal;
    }
    .price-text {
      color: #212121;
      font-weight: 700;
      font-size: 18px;
      margin-top: 5px;
    }

    .mat-card-footer {
      margin: 0 auto;
    }
  }
  .prod-card :hover{
    border-radius: 4px;
  }
  .parent {
    .overlay {
      z-index: 0;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.5);
      top: 0;
      right: 0;
    }
    .sold-out-card-img-top {
      width: 100%;
      height: 30px;
      top: 45%;
      position: relative;
      object-fit: contain;
    }
}
  @media (min-width: 300px) and (max-width: 568px) {
    .card-img-top {
      height: 180px;
      object-fit: contain;
    }
    .overlay {
      height: 180px;
    }
  }
  @media (min-width: 569px) {
    .card-img-top {
      height: 200px;
      object-fit: contain;
    }
    .overlay {
      height: 200px;
    }
  }
  @media (min-width: 768px) {
    .card-img-top {
      height: 250px;
      object-fit: contain;
    }
    .overlay {
      height: 250px;
    }
  }
  .product-card {
    .mat-card {
      min-height: 312px;
      @media screen and (min-width: 768px) {
        min-height: 362px;
      }
    }
  }
}

pagination-controls {
  display:inline-block;
  margin-top: 25px;
}

pagination-controls ::ng-deep .ngx-pagination .current {
  padding: 0.1875rem 0.625rem;
  background: #ef5350;
  border: transparent;
  border-radius: 25px;
  color: #fefefe;
  cursor: default;
}
.loading-indicator {
  width: 25px;
  height: 25px;
  margin-left: auto;
  margin-right: auto;
}

