<div class="product-list-container mb-md-4 mb-3 main-container-width">

  <h3 class="text-center">
    More Featured Products
    <div class="border-underline"></div>
  </h3>

  <div class="row" *ngIf="showData">
    <!--div class="col-md-3">
    </div-->
    <div class="row" *ngIf="prodList && config">
      <div class="col-6 col-sm-6 col-md-4 col-lg-3 product-card mb-4 mt-1"
        *ngFor="let product of prodList | paginate: config">
        <div class="prod-card border-0 mr-1">
          <a target="_self"
          [href]="baseUrl + '/product/' + product.business_city + '/' + type + '/' + product.business_id + '/' + product.category_level3.name + '/' + product.product_id + '/' + product.urlProductName + '/' + pageNumber">
            <div class="parent">
              <img class="card-img-top" mat-card-image [src]="product.image_url" alt="Product image">
              <div class="overlay" *ngIf="product.is_out_of_stock">
                <img class="sold-out-card-img-top" src="assets/images/sold_out.png">
              </div>
            </div>
              <div class="card-text text-truncate bizz-name mb-0">
                {{ product.business_name }}
              </div>
            <div class="prod-name text-truncate m-0 p-0">{{ product.name }}</div>
            <mat-card-content class="m-0 p-0">
              <div
                *ngIf="product.actual_price > 0 && product.offer_price > 0 &&  product.actual_discount != 0">
               <span class="price-text">&#8377;{{ product.offer_price }}</span> 
                <span class="ml-1 offer mr-1">&#8377;{{ product.actual_price }}</span>
                <span class="offer-per text-truncate">({{ product.actual_discount }}% off)</span>
              </div>
              <div class="price-text" *ngIf="product.actual_price > 0 && product.offer_price == 0">
                &#8377;{{ product.actual_price }}
              </div>
              <div class="price-text" *ngIf="product.actual_price == 0 && product.offer_price == 0 && product.minimum_quantity == 0">
                NA
              </div>
              <div *ngIf="product.minimum_quantity > 0">
                <b>Min Qty:</b> {{ product.minimum_quantity }} @ Wholesale
              </div>
            </mat-card-content>

            <div class="card-text text-truncate delivery-txt"
              *ngIf="product?.oneshell_home_delivery">
              Available for Home Delivery
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-12 text-center">
      <pagination-controls (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls>
    </div>
  </div>
  <mat-progress-spinner *ngIf="!showData" class="loading-indicator mt-16" mode="indeterminate" color="warn">
  </mat-progress-spinner>
</div>