@import "../../../variables.scss";
.movies-list-container {
    .movie-cards {
      margin-top: 25px;
        .movie-card {
            border-radius: 3px;
            box-shadow: 2px 2px;
            width: 250px;
            display: inline-block;
            .movie-image {
                width: 100%;
                height: 200px;
            }
            .movie-card-details {
                .row-1 {
                    font-size: 14px;
                }
                .row-2 {
                    font-size: 12px;
                }
            }
        }
    }
    .card {
      cursor:pointer;
        font-size: 1rem;
        .card-body, .card-footer, .card-sub-body {
          padding: 0.6rem 0.75rem;
        }
        .cert {
          color: $color-teal;
          float: right;
        }

        .card-text {
          font-size: 0.8rem;
        }

        .lang {
          color: $color-dark-grey;
        }
        .card-sub-body {
          border-top: 1px solid $color-lite-grey;
          .offer {
            color: goldenrod;
            margin-right: 5px;
          }
        }
        .card-body {
          .status {
            color: $color-teal;
          }
        }
        .card-footer {
          background-color: $color-lite-grey;
          .subscriber {
            color: $color-teal;
          }
        }
      }
      .no-results {
        text-align: center;
      }

      @media (min-width: 300px) and (max-width: 499px) {
        .tab {
          width: 120px;
          padding: 2px;
          font-size: 14px;
        }
      }

      @media (min-width: 500px) {
        .tab {
          width: 150px;
          padding: 6px;
          font-size: 16px;
        }
      }
}