<div class="movies-list-container">
  <h3 class=" heading text-center">
    Movies
    <div class="border-underline"></div>
  </h3>
  <div class="page-tabs-container text-center">
    <div class="show-time-tabs page-tabs">
      <a class="tab now-showing" [ngClass]="{active:nowShowing}" target = "_self" [href] = "baseUrl + '/movies/' + city + '/now_showing'">Now
        Showing</a>
      <a class="tab upcoming" [ngClass]="{active:!nowShowing}" target = "_self" [href] = "baseUrl + '/movies/' + city + '/up_coming'">Upcoming</a>
    </div>
  </div>



  <div class="movie-cards">
    <div class="row">
      <!--<div class="col-6 col-md-3">
         <app-side-panel-filters (filterChangeEmitter)="handleChangeInfilter($event)"></app-side-panel-filters> 
      </div>-->
      <div class="col-md-12">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-4 mb-3" *ngFor="let movie of moviesList">
            <a class="card shadow" target="_self" [href] = "baseUrl + '/movie/' + city + '/' + movie.urlMovieName">
              <img class="card-img-top" [src]="movie.image_url" [alt]="movie.movie_name" style="background-image: url(https://firebasestorage.googleapis.com/v0/b/oneshell-d3a18.appspot.com/o/Ballari%2Fbg_mage.png?alt=media&token=1f2c0dab-ea87-4071-aa31-293b67427d19);width: 100%;
              height: 250px;"/>
              <div class="card-body">
                <div class="card-title mb-1"><span class="name">{{movie.movie_name}}</span> <span class="cert"><span
                      *ngFor="let cert of movie.ratings">{{ cert }} </span></span></div>
                <p class="card-text mb-0"><span class="languages"><span class="lang"
                      *ngFor="let lang of movie.languages; let i = index">{{ lang }} <span *ngIf="false">,
                      </span></span></span></p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="no-results-view" class="no-results" *ngIf="moviesList?.length == 0">
    No results to show ..
  </div>
</div>