<div class="home-service-listing mb-md-4 mb-3 main-container-width mx-auto">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-xs-12 col-sm-6 ">
                    <div class="img-container">
                        <img class="card-img-top rounded" src="{{ orderResponse?.image_url }}" alt="Product image" />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 detail-container">
                    <hr />
                    <div class="top-header">
                        <div class="top-header-left text-left">
                            <div class="order text-left">
                                #{{ orderResponse?.order_id }}
                            </div>
                            <div class="m-0 p-0">
                                <span class="order text-right" *ngIf="'completed' == orderResponse?.order_status">
                                    Completed
                                    on
                                    {{orderResponse?.order_delivery_date}}</span>
                                <span class="order text-right" *ngIf="'completed' != orderResponse?.order_status"> Due on
                                    {{orderResponse?.order_delivery_date}}</span>
                            </div>
                        </div>
                        <div class="top-header-right text-right">
                            <button type="button" class="btn call-btn">
                                Call
                            </button>
                            <div class="web-call m-0 p-0">
                                <div class="m-0 p-0">
                                    <div class="loc-img">
                                        <img src="assets/call.svg" alt="/" class="star-image" />
                                    </div>
                                    <div class="loc-add">
                                        <a href="tel:{{orderResponse?.phone_number}}">
                                            {{orderResponse?.phone_number}}</a><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="card-title m-0 p-0 ellipsis text-left" title="{{ orderResponse?.order_title }}">
                        {{ orderResponse?.order_title }}
                    </div>
                    <div class="price-title ellipsis text-left m-0 p-0">
                        &#8377;{{ orderResponse?.price }}
                    </div>
                    <div class="card-title mt-3 ml-mr-mb-0 p-0 ellipsis text-left">
                        <p class="m-0 p-0">Items</p>
                        <p class="card-subtitle m-0 p-0">{{ orderResponse?.number_of_items }}</p>
                    </div>
                    <div class="top-header">
                        <div class="top-header-left card-title mt-3 ml-mr-mb-0 p-0 ellipsis text-left">
                            <p class="m-0 p-0">Type</p>
                            <p class="card-subtitle m-0 p-0">{{ orderResponse?.item_type }}</p>
                        </div>
                        <div class="top-header-right card-title mt-3 ml-mr-mb-0 p-0 ellipsis text-right">
                            <div *ngIf="orderResponse?.percentage_of_completion === 100"><span
                                    class="percent m-0 p-0">{{orderResponse?.percentage_of_completion}}%
                                </span><span>COMPLETED</span></div>
                            <div *ngIf="orderResponse?.percentage_of_completion != 100"> <span
                                    class="percent m-0 p-0">{{orderResponse?.percentage_of_completion}}%
                                </span><span>Progress</span></div>
                        </div>
                    </div>
                    <hr />
                    <div class="m-0 p-0 ellipsis text-left">
                        <p class="m-0 p-0">Description</p>
                        <p class="card-subtitle m-0 p-0" *ngIf="orderResponse?.order_description">
                            {{ orderResponse?.order_description }} </p>
                        <p class="card-subtitle m-0 " *ngIf="!orderResponse?.order_description"> NA </p>
                    </div>
                    <div class="comment mt-3 ml-mr-mb-0 p-0 ellipsis text-left">
                        <p class="m-0 p-0">Comments</p>
                        <p class="card-subtitle m-0 p-0" *ngIf="orderResponse?.comment"> {{ orderResponse?.comment }} </p>
                        <p class="card-subtitle m-0 " *ngIf="!orderResponse?.comment"> NA </p>
                    </div>
                    <a target="_self"
                        [href]="baseUrl + '/business/' + orderResponse?.business_city + '/' + orderResponse?.business_id + '/'+ orderResponse?.urlBusinessName">
                        <button type="button" class="mt-2 store-web-nav btn view-more-btn" style="width: 100%">
                            {{ orderResponse?.business_name }} &nbsp;&nbsp;>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <a target="_self"
        [href]="baseUrl + '/business/' + orderResponse?.business_city + '/' + orderResponse?.business_id + '/'+ orderResponse?.urlBusinessName">
        <div class="mt-8 d-block d-sm-none mobile-custom-view mobile-detail-footer d-flex">
            <div class="book-text text-center">{{ orderResponse?.business_name }}
                &nbsp;&nbsp;></div>
        </div>
    </a>
</div>