@import "../../../../variables.scss";

.home-service-listing {
    padding-bottom: 20px;
    .col-xs-6 {
        width: 50%;
    }

    .top-header {
        width: 100%;
        .top-header-left {
            width: 50%;
            display: inline-block;
        }
        .top-header-right {
            width: 50%;
            display: inline-block;
        }
    }
    
    .card {
        cursor: pointer;
    }

    .order {
        color: #666666;
    }

    .card-title {
        position: relative;
        font-size: 16px;
        color: #333333;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        // position: absolute;
        left: 0;
    }

    .comment {
        @media (max-width:568px) {
            margin-bottom: 20px;
        }
    }

    .price-title {
        position: relative;
        font-size: 16px;
        font-weight: 600;
        color: #009788;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        // position: absolute;
        left: 0;
    }

    .percent {
        font-size: 18px;
        font-weight: 600;
        color: #009788;
    }

    .card-subtitle {
        font-size: 14px;
        position: relative;
        font-weight: 400;
        color: #333333;
        white-space: nowrap;
        word-break: break-word;
    }

    .mobile-detail-footer {
        cursor: pointer;
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
        height: 40px;
        color: white;
        background-color: $color-red;
        .book-text{
            color: white;
            align-self: center;
            width: 100%;
        }
      }

    .loc-img,
    .loc-add {
        display: inline-block;
        vertical-align: top;
        padding: 10px;
        color: #999;
    }

    .card-bottom {
        // position: absolute;
        position: relative;
        bottom: 0;
        padding: 0 0 10px;
        width: 100%;
    }

    .star-image {
        width: 12px;
        // position: absolute;
        // left: 0;
    }

    .text-green {
        color: #039e03
    }

    .ellipsis {
        // font-weight: 600;
        padding-left: 10px;
    }

    .border {
        border-radius: 10px;
        padding: 0 10px;
    }

    .mr-4{
        margin-right: 0.5px !important;
    }
    .img-container {
        img {
            width: 100%;
            object-fit: contain;
            height: 300px;
        }
    }

    .content-container {
        width: 70%;
        position: relative;
        height: 100px;
        display: inline-block;
        vertical-align: -webkit-baseline-middle;
    }

    .card-bottomtitle {
        display: inline-block;
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .call-btn {
        width: 100px;
        height: 30px;
        color: $color-white;
        background-color: #009788;
        border-radius: 25px;
        text-align: center;
        font-size: 0.875rem;
        padding: 5px;
        float: right;
        &:focus,
        &:hover {
          color: $color-white;
        }
        margin-left: 20px;
      }

      .price-title {
        position: relative;
        font-size: 16px;
        font-weight: 600;
        color: #009788;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        // position: absolute;
        left: 0;
    }

    .percent {
        font-size: 18px;
        font-weight: 600;
        color: #009788;
    }

      @media (max-width: 568px) {
        .web-call {
            display: none;
        }
        .call-btn {
            display: block;
            float: right;
        }
        .store-web-nav {
            display: none;
        }
        .mobile-detail-footer {
            display: block;
        }
    }
    @media (min-width: 569px) {
        .web-call {
            display: block;
        }
        .call-btn {
            display: none;
        }
        .store-web-nav {
            display: block;
        }
        .mobile-detail-footer {
            display: none;
        }
    }
}