@import "../../../variables.scss";
.offers-list-container {
    .offer-cards {
        margin-top: 25px;
        margin-left: 16px;
        margin-right: 16px;
        .offer-card {
          cursor: pointer;
            border-radius: 3px;
            box-shadow: 2px 2px;
            width: 250px;
            display: inline-block;
            .offer-image {
                width: 100%;
            }
        }
    }

    .card-img-top {
      height: 50px;
    }

    .card {
        font-size: 0.8rem;
        .card-body, .card-footer, .card-sub-body {
          padding: 0.6rem 0.75rem;
        }
        .cert {
          color: $color-teal;
          float: right;
        }
        .lang {
          color: $color-dark-grey;
        }

        .card-body {
          background-color: #F5F5F5;
          padding: 1px;
          
        }

     .card-body  .card-redeem {
      padding: 1px;
        background: #F5F5F5;
        color:#666666;
        font-size:12px;
        padding-right: 5px;
        text-align:right;
      }


        .card-footer {
          background-color: $color-lite-grey;
          .subscriber {
            color: $color-teal;
          }
        }
      }
      .no-results {
        text-align: center;
      }
      .card-content {
        padding:15px;
        text-align:left;
      }
      .card-title {
        font-size: 16px;
        text-align: center; 
      }

      .wrapper {
        text-align: center;
    }
    
      .visit-store{
        float: center;
        border-radius: 40px;
        background-color:white;
        border-color: $color-red 1px;
      }
      .category-dd{
        float: right;
        cursor: pointer;
      }

      @media (min-width: 768px) {
      .giveMeEllipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-height: 16px;    
        height: 48px;
        -webkit-line-clamp: 3; /* Write the number of 
                              lines you want to be 
                              displayed */
    -webkit-box-orient: vertical;
     }
    }
}
