<div class="offers-list-container">
  <h3 class="offers-title text-center">
    Offers
    <div class="border-underline"></div>
  </h3>

  <div class="row">
    <div class="col-md-11">
      <div id="categories-filter-view" class="category-dd">

        <div class="category-dd">
          <mat-form-field>
            <mat-select [(ngModel)]="activeCategoryObj" (ngModelChange)="handleOffersTabChange()">
              <mat-option *ngFor="let category of offersCategoryList"
                          [value]="baseUrl + '/offers/' + city+ '/' +category.offer_category_name">
                <a [href]="baseUrl + '/offers/' + city + '/' + category.offer_category_name">
                  {{category.offer_display_name}}
                </a>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div>
        </div>
      </div>
    </div>

    <div class="offer-cards">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div class="row">
            <div class="col-xs-12 col-md-4 col-lg-3 mb-3" *ngFor="let offer of offersList">
              <div class="card shadow">
                <img class="card-img-top" [src]="offer.logo_url" [alt]="offer.offer_title" />
                <div class="card-body">
                  <div class="card-redeem">Redemptions: <span
                      class="tab now-showing">{{offer.total_number_of_redemption}}</span><span class="cert"></span>
                  </div>
                </div>
                <div class="card-content">
                  <div class="text-center">
                    <p class="card-title giveMeEllipsis">
                      {{offer.offer_title}}
                    </p>
                  </div>
                  <div class="wrapper">
                    <a target="_self"
                      [href]="baseUrl +'/business/'+ offer['business_city'] + '/' + offer['business_id'] + '/' + offer['urlBusinessName']"><button
                        type="button" class="btn view-more-btn mt-3">
                        Visit Store Page
                      </button></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
    </div>
  </div>
  <div id="no-results-view" class="no-results" style="display: none;">
    No results to show ..
  </div>
</div>
